<div id="lychee_issue_form_settings">
  <h2><%= l(:app_name) %></h2>
  <%= form_with url: lychee_issue_form_settings_path, method: :post do |f| %>
    <%= hidden_field_tag 'settings[is_using_kanban_dialog]', false %>
    <div>
      <%= check_box_tag 'settings[is_using_kanban_dialog]', true, @setting %>
      <%= label :settings_is_using_kanban_dialog, l('settings.use_kanban_dialog'), for: :settings_is_using_kanban_dialog %>
    </div>

    <%= f.submit l(:button_save) %>
  <% end %>
</div>
