<%= date_field_tag "custom_parameter[#{number_type}_filters][#{filter.item}][value][]", filter.value.try(:[], 0), id: "custom_parameter-#{number_type}-#{filter.item}-0" %>
<%= date_field_tag "custom_parameter[#{number_type}_filters][#{filter.item}][value][]", filter.value.try(:[], 1), id: "custom_parameter-#{number_type}-#{filter.item}-1" %>
<%= calendar_for("custom_parameter-#{number_type}-#{filter.item}-0") %>
<%= calendar_for("custom_parameter-#{number_type}-#{filter.item}-1") %>
