<%= date_field_tag "custom_parameter[#{number_type}_filters][#{filter.item}][value]", filter.value, id: "custom_parameter-#{number_type}-#{filter.item}" %>
<%= calendar_for("custom_parameter-#{number_type}-#{filter.item}") %>
