<%= select_tag "custom_parameter[#{number_type}_filters][#{filter.item}][value]",
               options_for_select(filter.options, selected: filter.value),
               required: true,
               multiple: filter.multiple? %>
