<%= l(:label_project_report_min) -%>: <%= text_field_tag "custom_parameter[#{number_type}_filters][#{filter.item}][value][]", filter.value.try(:[], 0), required: true %>
<%= l(:label_project_report_max) -%>: <%= text_field_tag "custom_parameter[#{number_type}_filters][#{filter.item}][value][]", filter.value.try(:[], 1), required: true %>
