.gravatar, .gravatar-child {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20%;
}
span.gravatar, span.gravatar-child {
  background: #00ab9f;
  color: #fff;
  text-align: center;
}
div.issue .gravatar, div.issue .gravatar-child {
  float: left;
  margin: 0 12px 6px 0;
}
h2 .gravatar, h3 .gravatar {
  margin-right: 4px;
}
h4 .gravatar {
  margin: -2px 4px -4px 0;
}
div.gravatar-with-child > .gravatar:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 20%;
  border: 2px solid rgba(255, 255, 255, 0.9);
}
div.gravatar-with-child > img.gravatar-child {
  background: #ffffdd;
}
td.username .gravatar {
  margin: 0 0.5em 0 0;
  vertical-align: top;
}
#activity dt .gravatar {
  float: left;
  margin: 0 1em 1em 0;
}
body.avatars-off div.journal {
  padding-left: 32px;
}
body.avatars-off div.journal h4 span.gravatar {
  margin-left: -32px;
}

#attachments_form.lychee_profile_icon .icon-only {
  background-position: 0% 50%;
  background-repeat: no-repeat;
  padding-left: 16px;
  display: inline-block;
  width: 0;
  height: 16px;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 8px;
  vertical-align: middle;
}

.preview-avatar.only-avatar span.gravatar {
  display: none;
}

.preview-avatar.only-default-avatar img.gravatar {
  display: none;
}

/* Redmine 4.1の対応 */
div.gravatar-with-child > .gravatar-child {
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 20%;
  border: 2px solid rgba(255, 255, 255, 0.9);
}
