#attachments_form > p {
  position: relative;
  min-height: 32px;
  padding-top: 15px;
}

#attachments_form > p > .gravatar {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 45px;
}

#attachments_form.lychee_profile_icon p {
  min-height: 38px;
}

.attachments_fields > span {
  margin-top: -2px;
}

#attachments_fields input.filename,
.attachments_fields input.filename,
.add_attachment input.file_selector {
  width: 75%;
}

@media screen and (max-width: 899px) {
  #attachments_form > p > .gravatar {
    position: static;
  }
}
