<% if (params[:controller] == 'projects') && (%w[copy new update settings].include?(params[:action])) %>
  <%= javascript_include_tag 'lychee_project_term_controls.js', plugin: 'lychee_project_term' %>
<% end %>
