<%= title l(:label_custom_field_linkage_settings) %>

<%= render partial: 'required_custom_fields/tabs' %>

<p><%=l(:text_invisible_custom_field_enumeration)%>:</p>

<%= form_tag({}, method: :get) do %>
  <p>
    <label>
      <%=l(:label_source_custom_field)%>:
      <%= select_tag 'source_id', options_from_collection_for_select(@key_value_lists, :id, :name, @source.try(:id)) %>
    </label>
    <label>
      <%=l(:label_target_custom_field)%>:
      <%= select_tag 'target_id', options_from_collection_for_select(@key_value_lists, :id, :name, @target.try(:id)) %>
    </label>
    <%= submit_tag l(:button_edit), name: nil %>
  </p>
<% end %>

<% if @source.present? && @target.present? && @source != @target %>
  <div class="click_hint icon icon-warning"><%=l(:label_click_menu_hint) %></div>
  <%= form_tag(bulk_update_invisible_custom_field_enumerations_path, method: :patch, class: :custom_field_linkage_setting) do %>
    <%= hidden_field_tag 'source_id', @source.id %>
    <%= hidden_field_tag 'target_id', @target.id %>
    <div class="autoscroll">
      <table id="invisible_relations" class="list">
        <thead>
          <tr>
            <th class="fixed_header"><%=l(:label_source_custom_field_list)%></th>
            <th class="fixed_header" colspan="<%= @target_enumerations.count %>"><%=l(:label_choice_invisible_custom_field_enumeration)%></th>
          </tr>
          <tr>
            <td class="fixed_name"></td>
            <% @target_enumerations.each do |enumeration| %>
              <td class="hascontextmenu columnmenu fixed_name" style="width: <%= 75 / @target_enumerations.count %>%;">
                <%= enumeration.name %>
              </td>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @source_enumerations.each do |source| %>
            <% parity = cycle('odd', 'even') %>
            <tr <%= parity %>">
              <td class="name hascontextmenu rowmenu fixed_source <%= parity %>"><%= source.name %></td>
              <% @target_enumerations.each do |target| %>
                <td>
                  <%= select_tag(
                    "invisible_custom_field_enumeration[#{source.id}][#{target.id}]",
                    options_for_select(
                      { l(:label_visible) => '0', l(:label_invisible) => '1' },
                      selected_value(source, target)
                    )
                  ) %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= submit_tag l(:button_save) %>
  <% end %>
<% end %>

<%= javascript_tag do %>
  const optionsForSelect = { visible: '<%= l(:label_visible) %>' , invisible: '<%= l(:label_invisible) %>' };
  const targetTable = $('#invisible_relations');
  if ($(targetTable) && $(targetTable).offset()) {
    const headerHeight = $(targetTable).offset().top;
    const buttonHeight = 30;
    const footerHeight = 30;
    const setAutoscrollHeight = function(){
      $('.autoscroll').css('height', window.innerHeight - headerHeight - buttonHeight - footerHeight);
    }
    $(setAutoscrollHeight);
    window.onresize = setAutoscrollHeight;
  }
<% end %>