<% content_for :header_tags do %>
  <% return unless @project %> <%# ページへのアクセス権限がない場合 %>
  <% if (params[:controller] == 'projects') && (params[:action] == 'settings') %>
    <script>
      <%# use the same version list order as in original Redmine view %>
      <%# https://github.com/redmine/redmine/blob/4.2.2/app/views/projects/settings/_versions.html.erb#L35 %>
      <%# https://github.com/redmine/redmine/blob/4.2.2/app/controllers/projects_controller.rb#L207 %>
      <% versions = Version.where(id: (@versions || @project.shared_versions).map(&:id)).sorted %>
      <%= render partial: 'projects/settings/all_versions_start_dates',
                 formats: [:js],
                 locals: {start_dates: versions.map { |v| format_date(v.fixed_start_date) }} %>
    </script>
  <% end %>
  <%= javascript_include_tag 'lychee_version_start_date.js', plugin: 'lychee_version_start_date' %>
<% end %>
