<% if @version.present? && ('versions' == params[:controller]) && %w[new edit create update].include?(params[:action]) %>
  <% fixed_start_date = @version.fixed_start_date || '' %>
  <p style='display: none;'>
    <%= label :version, :start_date %>
    <% if Redmine::VERSION.to_s.to_f < 3.3 %>
      <%= text_field :version, :start_date, size: 10, value: fixed_start_date %>
    <% else %>
      <%= date_field :version, :start_date, size: 10, value: fixed_start_date %>
    <% end %>
    <%= calendar_for('version_start_date') %>
  </p>
<% end %>
