<div class="contextual">
  <% if @query.persisted? && @query.editable_by?(User.current) %>
    <%= link_to l(:button_edit), edit_kanban_query_path(@query, project_id: @project, redirect_to: redirect_to, context: context), class: 'icon icon-edit' %>
    <%= delete_link kanban_query_path(@query, project_id: @project, redirect_to: redirect_to) %>
  <% end %>
</div>

<h2><%= h(@query.name) if @query.persisted? %></h2>

<%= form_tag({}, method: :get, id: 'query_form') do %>
  <div id="query_form_with_buttons" class="hide-when-print">
    <%= hidden_field_tag 'set_filter', '1' %>
    <%= hidden_field_tag 'context', context %>
    <%= hidden_field_tag 'redirect_to', redirect_to %>
    <div id="query_form_content">
      <fieldset id="filters" class="collapsible <%= query.new_record? ? "" : "collapsed" %>">
        <legend onclick="toggleFieldset(this);" class="icon icon-<%= @query.new_record? ? "expended" : "collapsed" %>"><%= l(:label_filter_plural) %></legend>
        <div style="<%= query.new_record? ? "" : "display: none;" %>">
          <%= render partial: 'queries/filters', locals: { query: query } %>
        </div>
      </fieldset>
      <% if configurable %>
        <%= hidden_field_tag 'c[]', ['_'] %>
        <fieldset id="options" class="collapsible collapsed">
          <legend class="icon icon-collapsed" onclick="toggleFieldset(this);">
            <%= l(:label_options) %>
          </legend>
          <div style="display: none;">
            <table>
              <tr>
                <td class="field"><%= l(:field_column_names) %></td>
                <td><%= render_query_columns_selection(@query) %></td>
              </tr>
              <tr>
                <td class="field">
                  <%= label_tag "sort_criteria_attribute_0", l(:label_sort)%>
                </td>
                <td>
                  <%= kanban_sort_criteria_select(query, "sort_criteria[0]") %>
                </td>
              </tr>
            </table>
          </div>
        </fieldset>
      <% else %>
        <hr/>
      <% end %>
    </div>
    <p class="buttons">
      <%= link_to_function l(:button_apply), '$("#query_form").submit()', class: 'icon icon-checked' %>
      <%= link_to l(:button_clear), { set_filter: 1, project_id: project }, class: 'icon icon-reload'  %>
      <% if controller_name != 'backlog' && query.new_record? && User.current.allowed_to?(:save_queries, project, global: true) %>
        <%= link_to_function l(:button_save), query_save_action(project), class: 'icon icon-save' %>
      <% end %>
    </p>
  </div>
<% end %>
