<div class="contextual">
  <a href="javascript:void(0)"
     class="task-kanban-icon"
     data-fullscreen
     data-fullscreen-label-start="<%= t('view.lychee_issue_board.exit_fullscreen') %>"
     data-fullscreen-label-exit="<%= t('view.lychee_issue_board.start_fullscreen') %>">
    <%= t('view.lychee_issue_board.start_fullscreen') %>
  </a>
</div>

<%= javascript_include_tag "fullscreen", plugin: :lychee_kanban %>
<%= stylesheet_link_tag "fullscreen", plugin: :lychee_kanban %>
