<div class="tabs">
  <% params.permit! %>
  <ul>
    <li>
      <%= link_to sort_criteria_to_ranked_tab(@query), params.merge(action: :ranked), current == 'ranked' ? { class: :selected } : {} %>
    </li>
    <li>
      <%= link_to t(:tab_assigned_kanban), params.merge(action: :assigned), current == 'assigned' ? { class: :selected } : {} %>
    </li>
    <li>
      <%= link_to t(:tab_burn_down), params.merge(action: :burn_down), current == 'burn_down' ? { class: :selected } : {} %>
    </li>
  </ul>
</div>
