<div id="tab-content-comments">
  <% setting_thumbnails_enabled = Setting.thumbnails_enabled? %>
  <% visible_journals = @issue.visible_journals_with_index.select do |journal|
    journal.notes? || (setting_thumbnails_enabled && journal_thumbnail_attachments(journal).any?)
  end %>
  <% visible_journals.reverse! if User.current.wants_comments_in_reverse_order? %>
  <% notes_addable = @issue.notes_addable? %>
  <% if visible_journals.count == 0 %>
    <div class="no-journals">
      <p> <%= t('view.parts.comments_and_journals.no_journals.comments') %> </p>
    </div>
  <% else %>
    <% visible_journals.each do |journal| %>

      <% # コメント（表示／編集領域） %>
      <% comment_selector = "journal-comment-#{journal.indice}" %>
      <div class="comment-input comment-input-edit journal-item journal-item-<%= journal.id %> item issue-item attribute editable <%= comment_selector %>"
        data-action="mousemove->popup#hideOtherJournalContextContent"
        data-issue-target="comment"
      >

        <%
          journal_user_avatar = avatar(journal.user, size: 20)
          journal_user_avatar = journal.user&.name[0] if journal.user && journal_user_avatar.length === 0
          editable = journal.notes?
          me_editable = journal.notes? && journal.editable_by?(User.current)
        %>
        <div class="note-header">
          <% if journal.user && journal.user != User.anonymous %>
            <div class="avatar">
                <div class="stamp"><%= journal_user_avatar %></div>
            </div>
          <% end %>
          <div class="meta">
            <div class="meta-left">
              <%= authoring(journal.created_on, journal.user, label: :label_updated_time_by) %>
              <%= render_journal_update_info(journal) if journal.respond_to?(:updated_by) %>
            </div>
            <div class="meta-right">
              <%= render partial: 'lychee_issue_form/issues/parts/comments_and_journals/context_menu',
                locals: {
                  journal: journal,
                  editable: editable,
                  me_editable: me_editable,
                  notes_addable: notes_addable,
                  comment_selector: comment_selector
                }
              %>
              <a href=<%= issue_path(@issue) %>?tab=history#note-<%= journal.indice %> target="_blank" >
                #<%= journal.indice %>
              </a>
            </div>
          </div>
        </div>

        <% # 表示 %>
        <% if journal.details.any? %>
          <div class="show-but-not-hide">
            <div class="<%= journal.private_notes? ? 'private-notes' : journal.notes.blank? ? 'details' : 'notes' %>">
              <ul class="details">
                <% non_destructive_details_to_strings(journal.visible_details).each do |string| %>
                  <li><%= string %></li>
                <% end %>
              </ul>
              <% if setting_thumbnails_enabled && (thumbnail_attachments = journal_thumbnail_attachments(journal)).any? %>
                <div class="thumbnails">
                  <% thumbnail_attachments.each do |attachment| %>
                    <div><%= thumbnail_tag(attachment) %></div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="show">
          <% unless journal.notes.blank? %>
            <div class="<%= journal.private_notes? ? 'private-notes' : journal.notes.blank? ? 'details' : 'notes' %>">
              <%= render_notes(@issue, journal, :reply_links => @issue.notes_addable?) %>
            </div>
          <% end %>
          <div class="item-date">
            <%= format_time(journal.created_on) %>
          </div>
        </div>

        <% # 編集 %>
        <div class="edit"
          data-controller="issue_item issue mode comment"
          data-action="
            keydown.enter->issue_item#eventKeydownEnter
            keydown.ctrl+enter->comment#updateComment
            keydown.meta+enter->comment#updateComment
            keydown.tab->issue_item#clickOutside
            keydown.esc->issue#resetEditModeWithQuerySelector
            issue_item:resetEditMode->issue#resetEditMode
            issue_item:setRadioControlChecked->issue#setRadioControlChecked
          "
          data-issue_item-force-disable-outside-click-value="true"
          data-issue_item-field-name-value="journal[notes]"
          data-issue_item-before-value="<%= journal.notes %>"
          data-issue-selector-param="<%= comment_selector %>"
          data-comment-journal-id-param="<%= journal.id %>"
          data-comment-target="edit"
        >
          <%= text_area_tag "comment", journal.notes, rows: 5, cols: 60, class: "wiki-edit", id: "journal_notes" %>
          <div class="comment-edit-properties">
            <% if @issue.safe_attribute? 'private_notes' %>
              <label>
                <%= check_box_tag :private_comment, true, journal.private_notes?, { class: 'journal_private_notes', name: 'private_comment' } %>
                <%= t('view.parts.comments.private_comment') %>
              </label>
            <% end %>
            <button class="cancel" data-action="click->issue#resetEditModeWithQuerySelector"
                data-issue-selector-param="<%= comment_selector %>">
              <%= t('view.parts.comments.cancel') %>
            </button>
            <button class="add" data-action="click->comment#updateComment" data-comment-journal-id-param="<%= journal.id %>">
              <%= t('view.parts.comments.update') %>
            </button>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>
</div>
