<div class="context-menus">
  <% if editable && notes_addable %>
    <button
      class="mini-context"
      data-controller="comment mode"
      data-action="click->comment#quoteComments"
      data-comment-journal-id-value="<%= journal.id %>"
      data-comment-journal-indice-value="<%= journal.indice %>"
    >
      <%== @svg_format_quote %>
    </button>
  <% end %>
  <% if me_editable %>
    <button class="mini-context"
      data-action="click->issue#hideShowWithQuerySelector"
      data-issue-selector-param="<%= comment_selector %>"
      data-issue-old-value-param="<%= journal.notes %>"
    >
      <%== @svg_edit %>
    </button>
  <% end %>
  <button class="mini-context journal-context"
    id="journal-context-<%= journal.id %>"
    data-action="click->popup#toggleJournalContextContent"
  >
    <%== @svg_more_horiz %>
  </button>
  <%= render partial: 'lychee_issue_form_template/popup_journal_context', locals: { journal: journal } %>
</div>
