<div id="tab-content-journals">
  <% visible_journals = @journals&.select { |journal| journal.details.any? } %>
  <% if visible_journals.nil? || visible_journals.count == 0 %>
    <div class="no-journals">
      <p> <%= t('view.parts.comments_and_journals.no_journals.journals') %> </p>
    </div>
  <% else %>
    <% visible_journals.each do |journal| %>
      <div class="item">
        <%
          # NOTE: プロパティ更新はコンテキストメニューなし
          journal_user_avatar = avatar(journal.user, size: 20)
          journal_user_avatar = journal.user&.name[0] if journal.user && journal_user_avatar.length === 0
        %>
        <div class="note-header">
          <% if journal.user && journal.user != User.anonymous %>
            <div class="avatar">
                <div class="stamp"><%= journal_user_avatar %></div>
            </div>
          <% end %>
          <div class="meta">
            <div class="meta-left">
              <%= authoring(journal.created_on, journal.user, label: :label_updated_time_by) %>
            </div>
            <div class="meta-right">
              <a href=<%= issue_path(@issue) %>#note-<%= journal.indice %> target="_blank" >
                #<%= journal.indice %>
              </a>
            </div>
          </div>
        </div>
        <div class="<%= journal.private_notes? ? 'private-details' : 'details' %>">
          <% if journal.details.any? %>
            <ul class="details">
              <% non_destructive_details_to_strings(journal.visible_details).each do |string| %>
                <li><%= string %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="item-date">
          <%= format_time(journal.created_on) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
