<p>
  <label for="settings_exporting"><%== t('levm_settings_exporting_html') %></label>
  <%= check_box_tag "settings[exporting]", "1", @settings["exporting"] %>
</p>

<p>
  <label for="settings_months_for_slope"><%= t('levm_label_months_for_slope') %></label>
  <%= text_field_tag 'settings[months_for_slope]', @settings['months_for_slope'] %>
  <span><%= t(:levm_label_months_statement) %></span>
</p>
<p>
  <label for="settings_allow_update_issue_from_time_entry"><%= t('levm_label_allow_update_issue_from_time_entry') %></label>
  <%= check_box_tag "settings[allow_update_issue_from_time_entry]", "1", @settings["allow_update_issue_from_time_entry"] %>
</p>
<p>
  <label for="settings_max_period_years"><%= t(:levm_label_max_period_years) %></label>
  <% default_years = Setting.available_settings['plugin_levm']['default']['max_period_years'] %>
  <%= number_field_tag 'settings[max_period_years]', @settings['max_period_years'].presence || default_years, min: 1 %>
  <span><%= t(:levm_label_years_statement) %></span>
  <em class="info"><%= t(:levm_hint_max_period_years_html) %></em>
</p>
