<%= form_for @indice_setting do |f| %>
  <%= error_messages_for 'indice_setting' %>
  <%= render_error_messages @indice_setting.issue_filters_error_messages unless @indice_setting.valid_issue_filters? %>
  <div class="box tabular">
    <p>
      <%= f.label :name do %>
        <%= IndiceSetting.human_attribute_name(:name) %>
        <span class="required">*</span>
      <% end %>
      <%= f.text_field :name, size: 60, required: true %>
    </p>
    <p>
      <%= f.label :description do %>
        <%= IndiceSetting.human_attribute_name(:description) %>
      <% end %>
      <%= f.text_field :description, size: 100 %>
    </p>
    <p>
      <%= f.label :indice_type %>
      <%= f.select :indice_type, options_for_select(indice_type_options, params[:indice_type] || f.object.indice_type) %>
    </p>
    <p id='custom-issue-filter' style="display: <%= (eac_module?(@indice_setting.calculate_module) || evm_module?(@indice_setting.calculate_module)) ? 'none' : 'block' %>">
      <%= render 'calculate_modules/filter', number_type: 'numerator', issue_filters: @indice_setting.issue_filters[:numerator], use_issue_filter: true %>
      <%= render 'calculate_modules/filter', number_type: 'denominator', issue_filters: @indice_setting.issue_filters[:denominator], use_issue_filter: @indice_setting.use_denominator_issue_filter? %>
    </p>
    <p>
      <%= f.label :calculation %>
      <%= f.select :calculate_module_id, indice_template_options(f.object.indice_type) %>
    </p>
    <p>
      <span id="description-area"><%= f.object.calculate_module.try(:description) %></span>
    </p>
    <div id="partial-area">
      <%= render f.object.calculate_module.try(:partial_template), indice_setting: f.object  if f.object.calculate_module.try(:partial_template).present? %>
    </div>
    <p>
      <%= f.label :bigger_better %>
      <%= f.select :bigger_better, options_for_select(
        t('bigger_better_values').invert,
        selected: f.object.signal_disabled? ? 'not_use' : f.object.bigger_better) %>
    </p>
    <p id="unit-string-area">
      <%= render 'unit_string', indice_setting: f.object %>
    </p>
    <p data-indice-setting-field>
      <label>
        <%= l(:label_project_report_indice_thresholds) -%><span class="required">*</span>
      </label>
      <span id='indice-setting-form-thresholds'>
        <span class="curled-box <%= f.object.bigger_better ? "bggr" : "bgre" %>"></span>
        <span>
          <%= f.text_field :upper_threshold, size: 5, required: true %>
        </span>
        <span><span class='indice-setting-unit-string'><%= f.object.unit_string %></span><%= l(:label_project_report_indice_matchers_gteq) -%></span>
        <br>
        <span class="curled-box bgye"></span>
        <span>
          <%= f.text_field :middle_threshold, size: 5, required: true %>
        </span>
        <span><span class='indice-setting-unit-string'><%= f.object.unit_string %></span><%= l(:label_project_report_indice_matchers_gteq) -%></span>
        <span id="upper_threshold"></span>
        <span><span class='indice-setting-unit-string'><%= f.object.unit_string %></span><%= l(:label_project_report_indice_matchers_lteq) -%></span>
        <br>
        <span class="curled-box <%= f.object.bigger_better ? "bgre" : "bggr" %>"></span>
        <span id="middle_threshold"></span>
        <span><span class='indice-setting-unit-string'><%= f.object.unit_string %></span><%= l(:label_project_report_indice_matchers_lteq) -%></span>
      </span>
    </p>
  </div>

  <%= f.submit l(:button_create) %>
<% end %>

<%= hidden_field_tag 'calculate_module_indice_settings_path', calculate_module_indice_settings_path %>
<%= hidden_field_tag 'indice_type_indice_settings_path', indice_type_indice_settings_path %>
<%= hidden_field_tag 'indice_setting_id', @indice_setting.id %>
<%= javascript_include_tag 'indice_setting', plugin: :lychee_project_report %>
<% include_calendar_headers_tags %>

<script>
  MathJax = {
    tex: {
      inlineMath: [ ['$','$'] ],
    }
  }
</script>
<%= javascript_include_tag 'tex-chtml.js', plugin: 'lychee_project_report' %>
