<style>
  .indice-settings-table-container {
    clear: both;
    overflow-x: auto;
    min-height: 150px;
  }
  table.indice-setting {
    overflow-y: visible; /* ヘッダーを固定する為に Redmineの table.list のスタイルを上書き */
  }
  table.indice-setting > thead {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  table.indice-setting tr th:nth-of-type(1), table.indice-setting tr td:nth-of-type(1) {
    position: sticky;
    left: 0;
    box-shadow: inset -1px 0px 0px #e4e4e4; /* 名称カラム右側のセパレーター */
  }
  table.indice-setting tr th {
    z-index: 1;
  }
  table.indice-setting tr td {
    z-index: 0;
  }
  table.indice-setting tr td:nth-of-type(1) {
    background-color: #fff;
    text-align: left;
    min-width: 15em;
  }
  table.indice-setting tr td:nth-of-type(2) {
    text-align: left;
    min-width: 15em;
  }
  table.indice-setting tr td:nth-of-type(4) {
    min-width: 8em;
  }
  table.indice-setting tr td:nth-of-type(5) {
    min-width: 8em;
  }
  table.indice-setting tr td:nth-of-type(11) {
    text-align: left;
    min-width: 2em;
  }
  table.indice-setting tr td:nth-of-type(12) {
    text-align: left;
    min-width: 2em;
  }
</style>

<div class="indice-settings-table-container">
  <table class="list indice-setting">
    <thead>
      <tr>
        <th><%= l(:field_indice_setting_name) -%></th>
        <th><%= l(:field_indice_setting_description) -%></th>
        <th><%= l(:field_indice_setting_calculation) -%></th>
        <th><%= l(:field_indice_setting_numerator) -%></th>
        <th><%= l(:field_indice_setting_denominator) -%></th>
        <th><%= l(:field_indice_setting_business_day) -%></th>
        <th><%= l(:field_indice_setting_include_parent_issues) -%></th>
        <th><%= l(:field_indice_setting_bigger_better) -%></th>
        <th><%= l(:field_indice_setting_upper_limit) -%></th>
        <th><%= l(:field_indice_setting_medium_limit) -%></th>
        <th><%= l(:field_indice_setting_unit_string) -%></th>
        <th></th>
    </thead>
    <tbody>
      <% locals[:indice_settings].each.with_index(1) do |indice_setting, indice| %>
        <tr class="<%= indice.odd? ? :odd : ""%>">
          <td><%= link_to indice_setting.name, edit_indice_setting_path(indice_setting) %></td>
          <td><%= indice_setting.description %></td>
          <td><%= indice_setting.calculate_module.try(:name) %></td>
          <td><%= custom_template?(indice_setting) ? fraction_name(indice_setting, :cf_numerator) : '-' %></td>
          <td><%= custom_template?(indice_setting) ? fraction_name(indice_setting, :cf_denominator) : '-' %></td>
          <td><%= custom_template?(indice_setting) ? business_day(indice_setting) : '-' %></td>
          <td><%= custom_template?(indice_setting) ? include_parent_issues(indice_setting) : '-' %></td>
          <td><%= indice_setting.signal_disabled? ? '-' : t('bigger_better_values')[indice_setting.bigger_better] %></td>
          <td><%= indice_setting.signal_disabled? ? '-' : indice_setting.upper_threshold %></td>
          <td><%= indice_setting.signal_disabled? ? '-' : indice_setting.middle_threshold %></td>
          <td><%= t('unit_string_values')[indice_setting.unit_string.to_s.to_sym] %></td>
          <td>
            <% if User.current.project_reports_globally_managable? %>
              <%= link_to l(:button_delete), indice_setting_path(indice_setting, indice_type: params[:tab]),
                method: :delete, data: { confirm: l(:indice_destroy_confirmation) } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_tag do %>
  var targetTable = 'table.indice-setting';
  var headerHeight = $(targetTable).offset().top;
  var footerHeight = $(document.body).outerHeight() - headerHeight - $(targetTable).outerHeight();
  var setAutoscrollHeight = function(){
    var windowHeight = window.innerHeight;
    $('.indice-settings-table-container').css('height', windowHeight - headerHeight - footerHeight - 20);
  }
  $(setAutoscrollHeight);
  window.onresize = setAutoscrollHeight;
<% end %>
