<% unless indice_setting.calculate_module.is_a?(CalculateModules::EvmCustomCost) || indice_setting.calculate_module.is_a?(CalculateModules::EvmCustomValue) %>
  <%= label :indice_setting, :unit_string %>
<% end %>
<span>
  <% if indice_setting.calculate_module.is_a?(CalculateModules::CustomFieldRatio) %>
    <%= select :indice_setting, :unit_string, options_for_select(
      t('unit_string_values').invert,
      selected: indice_setting.unit_string.to_s) %>
  <% else %>
    <%= t('unit_string_values').invert[indice_setting.unit_string] %>
    <%= hidden_field :indice_setting, :unit_string %>
  <% end %>
</span>
