<div class="contextual">
  <%= link_to l(:label_project_reports), project_reports_path %>
  <%= link_to l(:label_project_setting), edit_project_report_setting_path, class: 'icon icon-setting' %>
</div>
<h3><%= l(:label_indice_setting) -%></h3>
<% if User.current.project_reports_globally_managable? %>
  <div class="contextual">
    <%= link_to l(:label_project_report_new_indice), new_indice_setting_path %>
  </div>
<% end %>
<%= render 'table', locals: { indice_settings: @indice_settings } %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'lychee_project_report', plugin: :lychee_project_report %>
<% end %>
