<div class="contextual">
  <%= link_to l(:label_indice_setting_index), indice_settings_path %>
</div>
<h3><%= l(:label_indice_new) -%></h3>

<%= render 'form' %>

<%= stylesheet_link_tag "lychee_project_report", plugin: :lychee_project_report %>
