<%= labelled_form_for @issue_set do |f| %>
  <%= error_messages_for 'issue_set' %>
  <div class="box tabular">
    <div id="all_attributes">
      <p><%= f.text_field :name, size: 80, required: true %></p>
      <p>
        <%= f.label_for_field :description %>
        <%= f.text_area :description,
                         cols: 60,
                         rows: (@issue_set.description.blank? ? 10 : [[10, @issue_set.description.size / 50].max, 100].min),
                         accesskey: accesskey(:edit),
                         no_label: true %>
      </p>
      <% if User.current.admin? %>
        <p>
          <%= f.check_box :for_all_projects, data: {disables: '#projects_issue_sets_attributes input[type="checkbox"]'} %>
        </p>
        <div id="projects_issue_sets_attributes">
          <%= f.label_for_field :projects_issue_sets %>
          <% enabled_project_ids = @issue_set.projects_issue_sets.select(&:enabled?).map(&:project_id) %>
          <%= render_project_nested_lists(@projects) do |p| %>
            <%= check_box_tag 'lychee_issue_set[enabled_project_ids][]', p.id, enabled_project_ids.include?(p.id), id: "issue_set_project_ids_#{p.id}" %>
            <%= label_tag "issue_set_project_ids_#{p.id}", h(p), class: 'block project_name' %>
          <% end %>
          <%= hidden_field_tag('lychee_issue_set[enabled_project_ids][]', '', id: nil) %>
        </div>
      <% end %>
    </div>
  </div>

  <%= f.submit t(:button_save) %>
<% end %>
