<div class="contextual">
  <%= link_to t(:label_issue_new), new_lychee_issue_set_lychee_issue_template_path(@issue_set), class: 'icon icon-add' %>
</div>

<h3><%= t(:label_issue_plural) %></h2>

<%= form_tag({}, data: { cm_url: context_menu_lychee_issue_set_lychee_issue_templates_path(@issue_set) }) do %>
<table class="list issue-templates">
  <thead>
    <tr>
      <th class="checkbox hide-when-print"><%= check_box_tag 'check_all', '', false, class: 'toggle-selection' %></th>
      <th>#</th>
      <th><%= t(:field_tracker) %></th>
      <th><%= t(:field_subject) %></th>
      <th><%= t(:field_status) %></th>
      <th><%= t(:field_priority) %></th>
      <th><%= t(:field_estimated_hours) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody class='ui-sortable'>
    <% issue_list(@issue_set.issue_templates.sorted.includes(:tracker, :status, :priority)) do |issue_template, level| %>
      <tr id="issue_template-<%= issue_template.id %>"
          class="<%= cycle('odd', 'even') %> <%= issue_template.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %> hascontextmenu">
        <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", issue_template.id, false) %></td>
        <td class="id"><%= issue_template.id %></td>
        <td class="tracker"><%= issue_template.tracker %></td>
        <td class="subject"><%= link_to issue_template.subject, lychee_issue_set_lychee_issue_template_path(@issue_set, issue_template) %></td>
        <td class="status"><%= issue_template.status %></td>
        <td class="priority"><%= issue_template.priority %></td>
        <td class="estimated-hours"><%= issue_template.estimated_hours %></td>
        <td class="buttons">
          <%= content_tag(:span, '', class: 'icon-only icon-sort-handle sort-handle',
                          data: { reorder_url: lychee_issue_set_lychee_issue_template_update_position_path(@issue_set, issue_template),
                                 reorder_param: 'lychee_issue_templates_position' },
                          title: l(:button_sort)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= javascript_tag '$("table.issue-templates tbody").positionedItems()' %>

<%= context_menu(context_menu_lychee_issue_set_lychee_issue_templates_path(@issue_set)) %>
