<div>
  <table class="list issues">
    <thead>
      <tr>
        <th><%= l(:field_tracker) %></th>
        <th><%= l(:field_subject) %></th>
        <th><%= l(:field_status) %></th>
        <th><%= l(:field_priority) %></th>
        <th><%= l(:field_estimated_hours) %></th>
        <% @project.all_issue_custom_fields.each do |custom_field| %>
          <th><%= custom_field.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% issue_list(@issue_templates) do |issue_template, level| %>
        <tr id="issue_template-<%= issue_template.id %>" class="<%= cycle('odd', 'even') %> <%= issue_template.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
          <td class="tracker"><%= issue_template.tracker %></td>
          <td class="subject"><span><%= issue_template.subject %></span></td>
          <td class="status"><%= issue_template.status %></td>
          <td class="priority"><%= issue_template.priority %></td>
          <td class="estimated-hours"><%= issue_template.estimated_hours %></td>
          <% @project.all_issue_custom_fields.each do |custom_field| %>
            <td><%= issue_template.custom_value_for(custom_field) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
