<%= title(
  [t(:label_issue_set_plural), lychee_issue_sets_path],
  @issue_set.name
) %>

<%== render 'form' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'issue_sets', plugin: 'lychee_issue_set' %>
<% end %>
