<div class="contextual">
  <%= link_to t(:label_issue_set_new), new_lychee_issue_set_path, class: 'icon icon-add' %>
</div>

<h2><%= t(:label_issue_set_plural) %></h2>

<%# paddingとmarginはRedmineのapplication.cssの.boxのスタイルに合わせている %>
<div style="padding: 6px; margin-bottom: 10px;">
  <em class="info"><%= t(:text_lychee_issue_set_description_html) %></em>
</div>

<div class="autoscroll">
  <table class="list issue-sets">
    <thead>
      <tr>
        <th><%= t(:field_name) %></th>
        <th><%= t(:field_num_issues) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @issue_sets.each do |issue_set| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td class="name"><%= link_to issue_set.name, lychee_issue_set_path(issue_set) %></td>
          <td class="num-issue-templates"><%= issue_set.issue_templates.count %></td>
          <td class="buttons"><%= delete_link lychee_issue_set_path(issue_set), data: { confirm: t(:text_are_you_sure_for_issue_set) } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
