<%= stylesheet_link_tag 'issue_sets', plugin: 'lychee_issue_set' %>
<%= javascript_include_tag 'issue_sets', plugin: 'lychee_issue_set'%>

<% if @title_editable %>
  <%= error_messages_for 'issue_set' %>
<% end %>

<div class="contextual">
  <%= link_to t(:button_edit), edit_lychee_issue_set_path(@issue_set), class: 'icon icon-edit' %>
  <%= issue_set_delete_link lychee_issue_set_path(@issue_set) %>
</div>

<% if @title_editable %>
  <%= title(
    [t(:label_issue_set_plural), lychee_issue_sets_path],
    form_for(@issue_set) do |f| %>
      <%= f.text_field :name %>
      <%= f.submit t(:button_save) %>
      <%= hidden_field_tag :title_editable, 1 %>
    <% end %>
  <% ) %>
  <%# titleヘルパがhtmlタグ入りで<title>タグも出力してしまうため、@html_titleをリセットする %>
  <% @html_title = []; html_title(@issue_set.name) %>
<% else %>
  <%= title([t(:label_issue_set_plural), lychee_issue_sets_path], @issue_set.name) %>
<% end %>

<div class="issue-set">
  <div class="description">
    <p><strong><%= t(:field_description) %></strong></p>
    <div class="wiki"><%= textilizable @issue_set, :description %></div>
  </div>
</div>

<% unless @title_editable %>
  <%= form_with model: @issue_set, url: lychee_issue_set_update_template_titles_path(@issue_set.id), remote: false do |f| %>
    <div class="issue-replace", id="update-template-titles-form">
      <span> <%= t('issue_set_forms.form.prefix_form') %></span>
      <%= f.select :option, options_for_select(Lychee::IssueSet::TEMPLATE_FORMAT_SELECT_OPTIONS.map{|option| [t("issue_set_forms.form.option.#{option}"), option]}), {}, {id: 'issue_set_option'} %>

      <span id="option_replace_text"><%= t('issue_set_forms.form.description.replace') %></span>
      <%= f.text_field :replace_text, id: 'replace_text_form' %>

      <span id="option_insert_text" style="display: none;"><%= t('issue_set_forms.form.description.insert') %></span>

      <%= f.submit t(:button_execute)%>
      <p><%= t('issue_set_forms.form.execute_issues_title_description') %></p>
    </div>
  <% end %>
<% end %>

<%= render 'issue_templates', issue_templates: @issue_templates %>
