<% unless Setting.gravatar_enabled? %>
  <fieldset id="attachments_form" class="box tabular lychee_profile_icon">
    <legend><%= l(:label_user_icon) %></legend>
    <p>
      <%= label_tag l(:label_attachment_plural) %>
      <%= lychee_preview_avatar @user %>
      <%= render partial: 'lychee_profile_icon/attachments/form',
                          locals: {
                            saved_attachments: @user.lychee_user_icon.try(:attachments)
                          } %>
    </p>
  </fieldset>
  <%= javascript_tag do %>
  $(function(){
    $('.splitcontentleft fieldset:eq(0)').after($("#attachments_form"));
  });
  <% end %>
  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'my_account', plugin: 'lychee_profile_icon' %>
  <% end %>
<% end %>
