<%= render(partial: 'sidebar/hideButton_partial') %>

<% if sidebar_content? %>
  <style>
    #sidebarHandler {
      margin-right: 0;
    }

    #hideSidebarButton {
      position: static;
    }
  </style>

  <script>
    Backbone.$(function($) {
      var eventName = 'resize.sidebarHideWithLgc';
      var $window = $(window);
      var $content = $('#content');
      var $sidebarHandler = $('#sidebarHandler');

      var _hideSideBar = window.hideSideBar;
      window.hideSideBar = function() {
        _hideSideBar.call(this);
        $window.triggerHandler('resize');
      };

      $window.on(eventName, function() {
        $content.css('position', 'relative');
        $sidebarHandler.css({position: '', top: '', left: '', right: ''});
        offset = $sidebarHandler.offset();
        $content.css('position', 'static');

        $sidebarHandler.css({
          position: 'fixed',
          top: offset.top,
          left: offset.left,
          right: 'auto'
        });
      }).triggerHandler(eventName);
    });
  </script>
<% end %>
