<%= l(:text_issue_updated, :id => "##{@issue.id}", :author => @author) %>

<% details_to_strings(@journal_details, true).each do |string| -%>
<%= string %>
<% end -%>

<% @journals.each do |journal| %>
  <% if journal.notes? -%>
  <%= "(#{l(:field_private_notes)}) " if journal.private_notes? -%>
  <%= journal.notes %>
  <% end -%>
<% end %>

----------------------------------------
<%= render :partial => 'issue', :formats => [:text], :locals => { :issue => @issue, :user => @user, :issue_url => @issue_url } %>
