<%= l(:text_issue_updated, :id => link_to("##{@issue.id}", @issue_url), :author => h(@author)).html_safe %>
<hr />

<ul class="journal details">
<% details_to_strings(@journal_details, false, :only_path => false).each do |string| %>
  <li><%= string %></li>
<% end %>
</ul>

<% @journals.each do |journal| %>
  <% if journal.private_notes? %>
  (<%= l(:field_private_notes) %>)
  <% end %>
  <%= textilizable(journal, :notes, :only_path => false) %>
<% end %>
<hr />
<%= render :partial => 'issue', :formats => [:html], :locals => { :issue => @issue, :user => @user, :issue_url => @issue_url } %>
