<div class="details">
  <div class="details-box">
    <div class="details-title">
      <div class="message-tags-and-time-container">
        <div class="message-tags">[<%= t("label_#{tags}") %>]</div>
      </div>
      <div class="message-subject"><%= message.subject %></div>
    </div>
    <div class="details-content">
      <%== Rinku.auto_link(simple_format(message.description)) %>
    </div>
    <div class="details-bottom"></div>
  </div>
</div>
