<div class="lychee-message-box-header">
  <ul class="lychee-message-box-types">
    <li class="my-box <%= selected == :my_box ? 'selected' : 'not-selected' %>">
      <%= link_to(lychee_message_box_my_box_path, class: 'title') do %>
        <%= l(:label_my_box) %>
      <% end %>
      <span class="unread-badge"><%= badge_string(unread_my_box_messages.count) %></span>
    </li>
    <li class="information <%= selected == :information ? 'selected' : 'not-selected' %>">
      <%= link_to(lychee_message_box_information_path, class: 'title') do %>
        <%= l(:label_information) %>
      <% end %>
      <span class="unread-badge"><%= badge_string(unread_information_messages.count) %></span>
    </li>
    <% if User.current.admin? %>
      <li class="system_error <%= selected == :system_error ? 'selected' : 'not-selected' %>">
        <%= link_to(lychee_message_box_system_error_path, class: 'title') do %>
          <%= l(:label_system_error) %>
        <% end %>
        <span class="unread-badge"><%= badge_string(unread_system_error_messages.count) %></span>
      </li>
    <% end %>
    <li class="mark_as_read">
      <span>
        <%= link_to l(:mark_all_messages_as_read), mark_as_read_path, method: :post %>
      </span>
    </li>
  </ul>
</div>
