<div class="lychee-message-box-root <%= messages_type %>">
  <div class="inbox">
    <div class="message-box"
         data-error-message="<%= I18n.t(:label_ajax_error_message) %>"
         data-path="<%= messages_path %>"
         data-has-more-messages="<%= has_more_messages %>">
      <%= yield %>
    </div>
  </div>
  <div class="details not-selected">
    <%= t(:not_selected) %>
  </div>
</div>
