<% messages.each do |message| %>
  <div class="message <%= message.read_at ? '' : 'unread' %> <%= message.id.to_s == params[:message_id] ? 'current' : '' %>"
       data-id="<%= message.id %>"
       data-notified-at="<%= message.notified_at.iso8601(9) %>"
       data-path="<%= summary_message_path(message.id, tags) %>">
    <div class="title-and-time">
      <div class="tags-and-time">
        <div class="message-tags">[<%= t("label_#{tags}") %>]</div>
        <div class="message-notified-at">
          <%= format_time(message.notified_at) %>
        </div>
      </div>
      <div class="message-subject-wrap">
        <div class="unread-badge-wrap">
          <span class="unread-badge"></span>
        </div>
        <div class="message-subject"><%= message.subject %></div>
      </div>
      <div class="message-description">
        <%= message.description %>
      </div>
    </div>
  </div>
<% end %>
