.wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 120;
}

@media screen and (max-width: 899px) {
  .wrapper {
    margin-top: 64px;
  }
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.dialog {
  position: absolute;
  z-index: 110;
  cursor: auto;
  visibility: hidden;
}

.dialog.initialized {
  visibility: visible;
}

.anchor {
  position: absolute;
  top: 0;
  left: 0;
}
