<% if @issue.safe_attribute?('done_ratio') && Issue.use_field_for_done_ratio? %>
  <%= label :issue, :done_ratio %>
  <%= select :issue, :done_ratio, options_for_select((0..100).step(10).map { |r| ["#{r} %", r] }), { include_blank: t('label_no_change_option') } %>
<% end %>

<% if @issue.safe_attribute?('status_id') && Issue.use_status_for_done_ratio? %>
  <%= label :issue, :status_id %>
  <%= select :issue, :status_id, options_for_select(@issue.new_statuses_allowed_to.map { |status| [status.name, status.id] }), { include_blank: t('label_no_change_option') } %>
<% end %>
