<%= error_messages_for 'custom_field_category' %>

<div class="box tabular">
  <p><%= f.text_field :name, required: true %></p>

  <p>
    <%= label_tag t('label_custom_field') %>
    <span class="check_box_group">
      <%= collection_check_boxes(:custom_field_category, :custom_field_ids, @settable_custom_fields, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </span>
  </p>
</div>

<%= f.submit %>
