<%= title [t(:label_custom_field_category_plural), custom_field_categories_path], @custom_field_category.name %>

<%= labelled_form_for @custom_field_category do |f| %>
  <%== render 'form', f: f %>
<% end %>
