<div class="contextual">
  <%= link_to t(:label_custom_field_category_new), new_custom_field_category_path, class: 'icon icon-add' %>
</div>

<%= title t(:label_custom_field_category_plural) %>

<% if @custom_field_categories.present? %>
  <table class="list custom-field-categories">
    <thead>
      <tr>
        <th><%= t(:label_custom_field_category) %></th>
        <th><%= t(:label_custom_field_plural) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @custom_field_categories.each do |custom_field_category| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td class="name"><%= link_to custom_field_category.name, edit_custom_field_category_path(custom_field_category) %></td>
          <td class="custom-fields-count"><%= custom_field_category.custom_fields.count %></td>
          <td class="buttons">
            <%= reorder_handle_custom(custom_field_category, param: 'custom_field_category') %>
            <%= delete_link custom_field_category_path(custom_field_category) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= t(:label_no_data) %></p>
<% end %>

<% html_title t(:label_custom_field_category_plural) %>

<% if Lychee::CustomFieldCategory.respond_to?(:acts_as_positioned) %>
  <%= javascript_tag do %>
    $(function() { $("table.custom-field-categories tbody").positionedItems(); });
  <% end %>
<% end %>
