<h3 class="title"><%= l(:label_bulk_edit) %></h3>

<%= render partial: 'bulk_edit_form',
           locals: { project: project,
                     priorities: priorities,
                     categories: categories,
                     assignables: assignables,
                     core_fields: core_fields,
                     custom_fields: custom_fields }
%>

<p class="buttons">
  <%= submit_tag l(:button_submit), id: 'issue-template-bulk-edit-submit', data: { edited_issue_template_ids: edited_issue_template_ids.to_json } %>
  <%= link_to_function l(:button_cancel), "hideModal(this);" %>
</p>

<script type='text/javascript'>
$(document).ready(function() {
  $(document).on('change', 'input[data-disables]', function() {
    if ($(this).prop('checked')){
      $($(this).data('disables')).attr('disabled', true).val('');
    } else {
      $($(this).data('disables')).attr('disabled', false);
    }
  });

  $('input[data-disables]').trigger('change');
});
</script>
