<%= javascript_include_tag 'issue_template_bulk_edit', plugin: 'lychee_issue_set' %>

<div class="box tabular">
<fieldset class="attributes">
<legend><%= l(:label_change_properties) %></legend>

<div class="splitcontent">
<div class="splitcontentleft">
<p>
  <label for='issue_priority_id'><%= l(:field_priority) %></label>
  <%= select_tag('issue[priority_id]',
                 content_tag('option', l(:label_no_change_option), value: '') +
                   options_from_collection_for_select(priorities, :id, :name))
  %>
</p>

<% if core_fields.include?('assigned_to_id') %>
<p>
  <label for='issue_assigned_to_id'><%= l(:field_assigned_to) %></label>
  <%= select_tag('issue[assigned_to_id]',
                 content_tag('option', l(:label_no_change_option), value: '') +
                   content_tag('option', l(:label_nobody), value: 'none') +
                   principals_options_for_select(assignables))
  %>
</p>
<% end %>

<% if core_fields.include?('category_id') %>
  <p>
    <label for='issue_category_id'><%= l(:field_category) %></label>
    <%= select_tag('issue[category_id]',
                   content_tag('option', l(:label_no_change_option), value: '') +
                     content_tag('option', l(:label_none), value: 'none') +
                     options_from_collection_for_select(categories.order(:name), :id, :name))
    %>
  </p>
<% end %>

</div>

<div class="splitcontentright">

<% if core_fields.include?('start_date') %>
<p>
  <label for='issue_start_date'><%= l(:field_start_date) %></label>
  <%= date_field_tag 'issue[start_date]',
                     '',
                     size: 10
  %>
  <%= calendar_for('issue_start_date') %>
  <label class="inline">
    <%= check_box_tag 'issue[start_date]',
                      'none',
                      false,
                      id: 'issue[clear_start_date]',
                      data: { disables: '#issue_start_date' }
    %>
    <%= l(:button_clear) %>
  </label>
</p>
<% end %>

<% if core_fields.include?('due_date') %>
<p>
  <label for='issue_due_date'><%= l(:field_due_date) %></label>
  <%= date_field_tag 'issue[due_date]', '', :size => 10 %>
  <%= calendar_for('issue_due_date') %>
  <label class="inline">
    <%= check_box_tag 'issue[due_date]',
                      'none',
                      false,
                      id: 'issue[clear_due_date]',
                      data: { disables: '#issue_due_date' }
    %>
    <%= l(:button_clear) %>
  </label>
</p>
<% end %>

<% if core_fields.include?('actual_start_date') %>
<p>
  <label for='actual_start_date'><%= t(:field_actual_start_date) %></label>
  <%= date_field_tag 'issue[actual_start_date]',
                     '',
                     size: 10 %>
  <%= calendar_for('issue_actual_start_date') %>
  <label class="inline">
    <%= check_box_tag 'issue[actual_start_date]',
                      'none',
                      false,
                      id: 'issue[clear_actual_start_date]',
                      data: { disables: '#issue_actual_start_date' }
    %>
    <%= t(:button_clear) %>
  </label>
</p>
<% end %>

<% if core_fields.include?('actual_due_date') %>
<p>
  <label for='actual_due_date'><%= t(:field_actual_due_date) %></label>
  <%= date_field_tag 'issue[actual_due_date]', '', size: 10 %>
  <%= calendar_for('issue_actual_due_date') %>
  <label class="inline">
    <%= check_box_tag 'issue[actual_due_date]',
                      'none',
                      false,
                      id: 'issue[clear_actual_due_date]',
                      data: { disables: '#issue_actual_due_date' }
    %>
    <%= t(:button_clear) %>
  </label>
</p>
<% end %>

<% if core_fields.include?('estimated_hours') %>
<p>
  <label for='issue_estimated_hours'><%= l(:field_estimated_hours) %></label>
  <%= text_field_tag 'issue[estimated_hours]', '', size: 10 %>
  <label class="inline">
    <%= check_box_tag 'issue[estimated_hours]',
                      'none',
                      false,
                      id: 'issue[clear_estimated_hours]',
                      data: { disables: '#issue_estimated_hours' }
    %>
    <%= l(:button_clear) %>
  </label>
</p>
<% end %>

<% if core_fields.include?('done_ratio') && Issue.use_field_for_done_ratio? %>
<p>
  <label for='issue_done_ratio'><%= l(:field_done_ratio) %></label>
  <%= select_tag 'issue[done_ratio]',
                 options_for_select([[l(:label_no_change_option), '']] + (0..10).to_a.collect {|r| ["#{r*10} %", r*10] })
  %>
</p>
<% end %>

</div>
</div>

<% if custom_fields.present? %>
<div class="splitcontent">
  <div class="splitcontentleft">
    <% i = 0 %>
    <% split_on = (custom_fields.size / 2.0).ceil - 1 %>
    <% custom_fields.each do |custom_field| %>
      <p>
        <label><%= custom_field.name %></label>
        <%= custom_field_tag_for_bulk_edit('issue', custom_field, @project) %>
      </p>
      <% if i == split_on %>
        </div><div class="splitcontentright">
      <% end %>
      <% i += 1 %>
    <% end %>
  </div>
</div>
<% end %>

</fieldset>
</div>
