<div class="flash error">
  <p><%= t('.notification') %></p>
  <table class="list" style="color: #333;">
    <thead>
      <tr>
        <th><%= t('.issue_template_id') %></th>
        <th><%= t('.messages') %></th>
      </tr>
    </thead>
    <tbody>
      <%- errors_hash.each do |issue_template_id, messages| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= issue_template_id %></td>
          <td><%= messages.join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
