<%= form_for @issue_set,
             url: project_issue_set_path(@project, @issue_set),
             data: { cm_url: context_menu_project_issue_set_path(@project, @issue_set) } do |f| %>
  <%= hidden_field_tag :parent_id, params[:parent_id] %>
  <% available_custom_fields = @issue_set.enabled_custom_fileds(@project) %>
  <table class="list issues issue-form-table" id="issue-form-table-enable-scroll">
    <thead>
      <tr>
        <th class="checkbox hide-when-print"><%= check_box_tag 'check_all', '', false, class: 'toggle-selection' %></th>
        <th>#</th>
        <th><%= t(:field_tracker) %></th>
        <th><%= t(:field_subject) %></th>
        <th><%= t(:field_status) %></th>
        <th><%= t(:field_priority) %></th>
        <th><%= t(:field_description) %></th>
        <% if @issue_set.core_field?('category_id') %>
          <th><%= t(:field_category) %></th>
        <% end %>
        <% if @issue_set.core_field?('estimated_hours') %>
          <th><%= t(:field_estimated_hours) %></th>
        <% end %>
        <% if @issue_set.core_field?('assigned_to_id') %>
          <th><%= t(:field_assigned_to) %></th>
        <% end %>
        <% if @issue_set.core_field?('parent_issue_id') %>
          <th><%= t(:field_parent_issue) %></th>
        <% end %>
        <% if @issue_set.core_field?('start_date') %>
          <th><%= t(:field_start_date) %></th>
        <% end %>
        <% if @issue_set.core_field?('due_date') %>
          <th><%= t(:field_due_date) %></th>
        <% end %>
        <% if @issue_set.core_field?('done_ratio') %>
          <th><%= t(:field_done_ratio) %></th>
        <% end %>
        <% if @issue_set.core_field?('actual_start_date') %>
          <th><%= t(:field_actual_start_date) %></th>
        <% end %>
        <% if @issue_set.core_field?('actual_due_date') %>
          <th><%= t(:field_actual_due_date) %></th>
        <% end %>
        <% available_custom_fields.each do |custom_field| %>
          <th><%= custom_field.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% issue_index_id = 0 %>
      <% issue_list(@issue_set.issue_templates.sort_by(&:position)) do |issue_template, level| %>
        <tr class="hascontextmenu <%= cycle('odd', 'even') %>" data-issue-template-id="<%= issue_template.id %>">
          <%= f.fields_for :issue_templates, issue_template do |issue_template_f| %>
            <%= issue_template_f.hidden_field :exclude_in_issue_set_edit, data: { issue_template_id: issue_template.id } %>
            <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", issue_template.id, false) %></td>
            <td class="issue_id"><%= issue_template.id %></td>
            <td class="issue_tracker"><%= issue_template.tracker %></td>
            <td class="issue_subject"><%= issue_template.subject %></td>
            <td class="issue_status"><%= issue_template.status %></td>
            <td class="issue_priority"><%= issue_template_f.select :priority_id, IssuePriority.sorted.pluck(:name, :id) %></td>
            <td class="issue_description"><%= issue_template_f.text_area :description %></td>
            <% if @issue_set.core_field?('category_id') %>
              <td class="issue_category">
                <% if issue_template.core_field?('category_id')%>
                  <%= issue_template_f.select :category_id, @project.issue_categories.order(:name).pluck(:name, :id), include_blank: true %>
                <% end %>
              </td>
            <% end %>
            <% if @issue_set.core_field?('estimated_hours') %>
              <td class="issue_estimated_hours">
                <% if issue_template.core_field?('estimated_hours')%>
                  <%= issue_template_f.text_field :estimated_hours, size: 3 %> <%= t(:field_hours) %>
                <% end %>
              </td>
            <% end %>
            <% if @issue_set.core_field?('assigned_to_id') %>
              <td class="issue_assigned_to">
                <% if issue_template.core_field?('assigned_to_id')%>
                  <%= issue_template_f.select :assigned_to_id, principals_options_for_select(@project.assignable_users.to_a.sort, issue_template.assigned_to_id), :include_blank => true %>
                <% end %>
              </td>
            <% end %>
            <% if @issue_set.core_field?('parent_issue_id') %>
              <td class="issue_parent_issue">
                <% if issue_template.core_field?('parent_issue_id')%>
                  <%= issue_template_f.text_field :parent_id, size: 10, readonly: true %>
                <% end %>
              </td>
            <% end %>

            <% if @issue_set.core_field?('start_date') %>
              <td class="issue_start_date">
                <% if issue_template.core_field?('start_date')%>
                  <%= issue_template_f.date_field :start_date, value: issue_template.start_date, size: 10 %>
                  <%= calendar_for("lychee_issue_set_issue_templates_attributes_#{issue_index_id}_start_date") %>
                <% end %>
              </td>
            <% end %>
            <% if @issue_set.core_field?('due_date') %>
              <td class="issue_due_date">
                <% if issue_template.core_field?('due_date')%>
                  <%= issue_template_f.date_field :due_date, value: issue_template.due_date, size: 10 %>
                  <%= calendar_for("lychee_issue_set_issue_templates_attributes_#{issue_index_id}_due_date") %>
                <% end %>
              </td>
            <% end %>
            <% if @issue_set.core_field?('done_ratio') %>
              <td class="issue_done_ratio">
                <% if issue_template.core_field?('done_ratio')%>
                  <%= issue_template_f.select :done_ratio, options_for_select([[l(:label_no_change_option), '']] + (0..10).to_a.collect {|r| ["#{r*10} %", r*10] }, issue_template.done_ratio) %>
                <% end %>
              </td>
            <% end %>
            <% if @issue_set.core_field?('actual_start_date') %>
              <td class="issue_actual_start_date">
                <% if issue_template.core_field?('actual_start_date')%>
                  <%= issue_template_f.date_field :actual_start_date, value: issue_template.actual_start_date, size: 10 %>
                  <%= calendar_for("lychee_issue_set_issue_templates_attributes_#{issue_index_id}_actual_start_date") %>
                <% end %>
              </td>
            <% end %>
            <% if @issue_set.core_field?('actual_due_date') %>
              <td class="issue_actual_due_date">
                <% if issue_template.core_field?('actual_due_date')%>
                  <%= issue_template_f.date_field :actual_due_date, value: issue_template.actual_due_date, size: 10 %>
                  <%= calendar_for("lychee_issue_set_issue_templates_attributes_#{issue_index_id}_actual_due_date") %>
                <% end %>
              </td>
            <% end %>
            <% custom_fields = issue_template.available_custom_fields %>
            <% available_custom_fields.each do |custom_field| %>
              <% if custom_fields.include?(custom_field) %>
                <% custom_value = issue_template.custom_field_values.find {|v| v.custom_field_id == custom_field.id } %>
                <td class="<%= custom_field_tag_id('issue', custom_field) %>">
                  <%= extended_custom_field_tag(issue_template_f, custom_value, @project) %>
                </td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <% issue_index_id += 1 %>
      <% end %>
    </tbody>
  </table>
  <p>
    <%= label_tag :fixed_version_id, t(:field_fixed_version) %>
    <%= select_tag :fixed_version_id, version_options_for_select(@project.shared_versions.open.to_a.sort, selected: default_version_id), include_blank: true %>
  </p>
  <p>
    <%= label_tag :title, t(:label_character_string) %>
    <%= text_field_tag :title, params[:title] %>
  </p>
  <p>
    <span><%= t(:create_issues_title_description) %></span>
  </p>

  <%= f.submit t(:button_create) %>
<% end %>

<%= context_menu(context_menu_project_issue_set_path(@project, @issue_set)) %>
