$('#ajax-modal').html('<%= escape_javascript(render(partial: 'issue_forms/bulk_edit_modal',
                                                    locals: { project: @project,
                                                              priorities: @priorities,
                                                              categories: @categories,
                                                              assignables: @assignables,
                                                              core_fields: @core_fields,
                                                              custom_fields: @custom_fields,
                                                              edited_issue_template_ids: @edited_issue_template_ids })) %>');
showModal('ajax-modal', '90%');
