function excludeIssueTemplates(issueTemplateIds) {
  issueTemplateIds.forEach((issueTemplateId) => {
    $(`tr.hascontextmenu[data-issue-template-id="${issueTemplateId}"]`).addClass('exclude');
    $(`tr.hascontextmenu[data-issue-template-id="${issueTemplateId}"]`).find('input,select,textarea').attr('inert', true);
    $(`tr.hascontextmenu[data-issue-template-id="${issueTemplateId}"]`).find('input[name="ids[]"]').css('display', 'none').closest('td').attr('inert', true);
    $(`input[type="hidden"][data-issue-template-id="${issueTemplateId}"]`).val(true);
  });
}

$(function() {
  excludeIssueTemplates(<%= @issue_template_ids.inspect %>);
  contextMenuUnselectAll();
  contextMenuHide();
})
