function includeIssueTemplates(issueTemplateIds) {
  issueTemplateIds.forEach((issueTemplateId) => {
    $(`tr.hascontextmenu[data-issue-template-id="${issueTemplateId}"]`).removeClass('exclude');
    $(`tr.hascontextmenu[data-issue-template-id="${issueTemplateId}"]`).find('input,select,textarea').removeAttr('inert');
    $(`tr.hascontextmenu[data-issue-template-id="${issueTemplateId}"]`).find('input[name="ids[]"]').css('display', 'block').closest('td').removeAttr('inert');
    $(`input[type="hidden"][data-issue-template-id="${issueTemplateId}"]`).val(false);
  });
}

$(function() {
  includeIssueTemplates(<%= @issue_template_ids.inspect %>);
  contextMenuUnselectAll();
  contextMenuHide();
})
