<ul>
  <% if @exclusion_mode == :exclude %>
    <li>
      <%= context_menu_link l(:button_edit),
       bulk_edit_project_issue_set_path(@project, @issue_set, issue_template_ids: @issue_template_ids),
       remote: true,
       class: 'icon icon-edit' %>
    </li>
    <li>
      <%= context_menu_link l(:button_exclude),
       bulk_exclude_project_issue_set_path(@project, @issue_set, issue_template_ids: @issue_template_ids),
       remote: true,
       class: 'icon icon-issue-form-exclude' %>
    </li>
  <% elsif @exclusion_mode == :include %>
    <li>
      <%= context_menu_link l(:button_include),
       bulk_include_project_issue_set_path(@project, @issue_set, issue_template_ids: @issue_template_ids),
       remote: true,
       class: 'icon icon-add' %>
    </li>
  <% end %>
</ul>
