<%= stylesheet_link_tag 'issue_forms', plugin: 'lychee_issue_set' %>
<%= stylesheet_link_tag 'issue_sets', plugin: 'lychee_issue_set' %>
<%= javascript_include_tag 'sync_date_controls', plugin: 'lychee_issue_set' %>

<h2>
  <% if @parent.present? %>
    <%= t('label_create_subtasks_from_issue_set') %>
  <% else %>
    <%= t('label_create_issues_from_issue_set') %>
  <% end %>
</h2>

<% if @parent.present? %>
  <p>
    <%= "#{t(:field_parent_issue)}: " %>
    <%= link_to_issue(@parent) %>
  </p>
<% end %>

<p>
  <%= label_tag :issue_set_id, t(:label_issue_set) %>
  <%= select_tag :issue_set_id, options_for_select(@project.enabled_issue_sets.map { |issue_set| [issue_set.name, issue_set.id, 'data-url' => edit_project_issue_set_path(@project, issue_set, parent_id: @parent)] }, selected: @issue_set.id), id: 'js-select-issue-set' %>
</p>

<% if @issue_set.description.present? %>
  <div class="issue-set">
    <div class="description">
      <div class="wiki"><%= textilizable @issue_set, :description %></div>
    </div>
  </div>
<% end %>

<%== @error_table %>

<% if @issue_set.issue_templates.present? %>
  <%== render 'form' %>
<% else %>
  <p class="nodata">
    <%= t(:label_no_data) %>
  </p>
<% end %>

<script>
  $(function() {
    $('#js-select-issue-set').on('change', function() {
      window.location = $('option:selected', this).data('url');
    });
    // workaround for <Redmine-3.3 ( see also redmine/redmine@c418fab )
    if (!$.fn.datepickerFallback) {
      $.fn.datepickerFallback = $.fn.datepicker;
    }
  });
</script>

<%= javascript_include_tag('overwrite_context_menu', plugin: 'lychee_issue_set') %>
<%= stylesheet_link_tag('overwrite_context_menu', plugin: 'lychee_issue_set') %>
