.container {
  color: #169;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
}

.container > * {
  vertical-align: middle;
}

.container:hover {
  color: #c61a1a;
  text-decoration: underline;
}

.icon {
  margin-right: 2px;
}
