.dropdownItem a {
  color: #666;
  display: block;
  padding: 4px 12px;
  text-decoration: none;
}

.dropdownItem a:hover {
  background: #eee;
}

.dropdownItem a:active {
  background: #ddd;
}

.dropdownItemChildren {
  padding-left: 24px;
}
