<h2><%= t('label_lrm_time_management_setting') %></h2>
<%= form_tag(update_lrm_time_management_setting_path, method: :put) do |f| %>
  <div class='box tabular settings'>
    <p>
      <%= label_tag 'setting_use_time_management_work_plans', t('use_time_management_work_plans') %>
      <%= hidden_field_tag 'setting[use_time_management_work_plans]', '0' %>
      <%= check_box_tag 'setting[use_time_management_work_plans]', '1', Lrm::TimeManagementSetting.use_time_management_work_plans? %>
    </p>
  </div>
  <%= submit_tag t(:button_save) %>
<% end %>
