<div
  id="time-management-root"
  data-ltm-root-path="<%= time_management_index_path %>"
  data-endpoints="<%= JSON.dump(@endpoints) %>"
  data-paths="<%= JSON.dump(@paths) %>"
  data-labels="<%= JSON.dump(@labels) %>"
  data-query-options="<%= JSON.dump(@query_options) %>"
  data-permissions="<%= JSON.dump(@permissions) %>"
  data-holidays="<%= JSON.dump(@holidays) %>"
  data-current-user-id="<%= User.current.id %>"
  data-locale="<%= ::I18n.locale %>"
  data-issues-limit="<%= LycheeTimeManagement::Settings.issues_limit %>"
  data-bookmarked-project-ids="<%= User.current.try(:bookmarked_project_ids) || [] %>"
>
</div>

<%= stylesheet_link_tag 'lychee_time_management', plugin: :lychee_time_management %>
<%= lychee_time_management_javascript_include_tag 'calendar' %>
<% html_title(t(:label_time_management)) %>
