<% html_title t(:label_work_time) %>

<div
  id="time-management-root"
  data-root-path="<%= home_path %>"
  data-non-working-weekdays="<%= JSON.dump(@non_working_week_days) %>"
  data-holidays="<%= JSON.dump(@holidays) %>"
  data-closing-day="<%= LycheeTimeManagement::Settings.closing_day %>"
  data-current-user="<%= JSON.dump(@current_user) %>"
  data-target-users="<%= JSON.dump(@editable_log_time_users) %>"
  data-labels="<%= JSON.dump(@labels) %>"
  data-required-fields="<%= JSON.dump(Setting.timelog_required_fields) %>"
  data-required-custom-field-exists="<%= JSON.dump(@required_custom_field_exists) %>"
  data-indirect-time-entry-permissions="<%= JSON.dump(LycheeTimeManagement::Permissions.for_table_mode(User.current, User.current)) %>"
  data-timespan-format="<%= JSON.dump(Setting.timespan_format) %>"
>
</div>

<%= stylesheet_link_tag 'table_mode', plugin: :lychee_time_management %>
<%= lychee_time_management_javascript_include_tag 'table' %>
<% include_calendar_headers_tags %>
