<%= form_tag(action: :edit, tab: :message_box_notifications) do %>
  <%# https://github.com/redmine/redmine/blob/5.0.1/app/views/settings/_notifications.html.erb#L12-L19 %>
  <fieldset class="box" id="message_box_notified_events"><legend><%= l(:text_select_message_box_notifications) %></legend>
    <%= hidden_field_tag 'settings[plugin_lychee_message_box][notified_events][]', '' %>
    <% LycheeMessageBox::Notifiable.all.each do |notifiable| %>
      <%= message_box_notification_field(notifiable) %>
      <br />
    <% end %>
    <p><%= check_all_links('message_box_notified_events') %></p>
  </fieldset>
  <%= submit_tag(l(:button_save)) %>
<% end %>
<%= stylesheet_link_tag('settings', plugin: :lychee_message_box) %>
