<%
  @permitted_projects = permissions_with_projects
  @has_wiki_project_ids = pages_present_wikis.pluck(:project_id)
%>

<% if LycheeProjectView.less_than_redmine_4_1? %>
  <%= form_tag(projects_path, method: :get, id: 'query_form') do %>
    <%= render partial: 'queries/query_form' %>
  <% end %>
<% end %>

<% if @entries.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <% if LycheeProjectView.less_than_redmine_4_1? %>
    <%= render partial: 'lychee_project_view/list', locals: { entries: @entries } %>
  <% else %>
    <%= render partial: 'list', locals: { entries: @entries } %>
  <% end %>
<% end %>

<%
  # publicのLycheeProjectView::ProjectQueryをログインしてないユーザが使った場合、
  # LycheeProjectView::ProjectQueryには可能なdisplay_typeがlychee_project_viewしかないので
  # display_typeが表示できません。
  # display_typeの変更、適用を可能にするため::ProjectQueryの`available_display_types_tags`を表示します。
%>
<% unless User.current.logged? %>
  <div id='dummy_display_type_radio_button_group'>
    <span class="field"><label for='display_type'><%= l(:label_display_type) %></label></span>
    <%= available_display_types_tags(ProjectQuery.new) %>
  </div>
<% end %>

<%= link_to_export_csv 'CSV', {}, class: 'export_csv', onclick: "showModal('csv-export-options', '350px'); return false;" %>
<%= javascript_tag do %>
  $(function(){
    $('#list-definition').show();
    $('.other-formats').append($('.export_csv').parent());

    $('#list-definition').before($('#dummy_display_type_radio_button_group'));
    $("#display_type_list").prop('checked', true);
  });
<% end %>
