.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contentHeader {
  align-items: flex-end;
  display: flex;
  margin-bottom: 4px;
  justify-content: space-between;
}

.new {
  margin: 0 0 4px;
}
