<% if @issues.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <% if @kanban_option.backlog_point_enabled %>
    <div id="burn_down_type_wrap">
      <%= select_tag 'burn_down_type',
                    options_from_kanban_option_for_select(@kanban_option, params[:type]) %>
    </div>
  <% end %>
  <div id="target-content">
    <canvas id="myChart"></canvas>
  </div>

  <%= stylesheet_link_tag 'burn_down_chart.css', plugin: :lychee_kanban %>
  <%= javascript_include_tag 'Chart.min.js', plugin: :lychee_kanban %>
  <%= javascript_include_tag 'burn_down_chart.js', plugin: :lychee_kanban %>
  <%= javascript_tag do %>
    $(function(){
      BurnDownChart.init(Chart,
                         document.getElementById("myChart"),
                         {
                           labels: <%= @date_labels %>,
                           datasets: <%= @chart_dataset.to_json.html_safe %>,
                           burnDownType: '<%= @kanban_option.burn_down_type_name %>'
                         },
                         {
                           schedule_label: '<%= t('view.burn_down.chart.schedule_label') %>',
                           actual_label: '<%= t('view.burn_down.chart.actual_label') %>',
                           burn_down_types: {
                             tickets:  '<%= t('active_record.attributes.kanban_option.burn_down_types.tickets') %>',
                             workload: '<%= t('active_record.attributes.kanban_option.burn_down_types.workload') %>',
                             points: '<%= t('active_record.attributes.kanban_option.burn_down_types.points') %>',
                           }
                         },
                         $('#burn_down_type'));
    });
  <% end %>
<% end %>
