<%= content_tag :div,
  id: 'target-content',
  data: {
    queries: @query.filters.to_json,
    kanban_type: current_tab,
    redmine_version: Redmine::VERSION.to_s.to_f,
    redmine_state: redmine_state } do %>
  <div id="ajax-indicator"><span><%= l(:label_loading) %></span></div>
<% end %>
<%== render partial: 'lychee_issue_board/bundlejs' %>
