<%== render partial: 'lychee_issue_board/fullscreen' %>

<h2><%= t(:kanban) %></h2>

<div id="task-kanban-queryForm">
  <%== render partial: 'lychee_issue_board/filter', locals: {
    project: @project,
    query: @query,
    redirect_to: :project_kanban_index,
    configurable: current_tab != 'burn_down',
    context: :kanban
  } %>
</div>

<%== render partial: 'lychee_issue_board/tab', locals: { current: current_tab } %>

<% content_for :sidebar do %>
  <%= render_sidebar_queries %>
<% end %>

<%= javascript_tag do %>
  <%# redmine の keyDownイベントは無効にする. kanban 側で制御したいから %>
  $(document).off('keydown', 'form textarea');
<% end %>

<% if current_tab == 'burn_down' %>
  <%== render partial: 'burn_down' %>
<% else %>
  <%== render partial: 'kanban' %>
<% end %>
