.favorite-project-button {
  background-image: url(../images/unfavorited.png);
}

.favorite-project-button.favorited {
  background-image: url(../images/favorited.png);
}

.lpv-contextual-favorite-button-container {
  display: inline;
}
