body.controller-projects .query-totals {
  margin-top: -2.3em;
}

.favorite-project-button {
  cursor: pointer;
}

.favorite-project-button {
  background-image: url(../images/unfavorited.png);
}

.favorite-project-button.favorited {
  background-image: url(../images/favorited.png);
}

#projects-index {
  column-width: auto;
  -webkit-column-width: auto;
  -moz-column-width: auto;
}

h3 .tree-expander-expanded,
table.favorite-projects tr.project td.name .tree-expander-expanded {
  background: url(../images/expanded.png) top right no-repeat;
  width: 20px;
  height: 20px;
  margin: 2px 0;
  flex: 0 0 auto;
}

h3 .tree-expander-collapsed,
table.favorite-projects tr.project td.name .tree-expander-collapsed {
  background: url(../images/collapsed.png) top right no-repeat;
  width: 20px;
  height: 20px;
  margin: 2px 0;
  flex: 0 0 auto;
}

table.favorite-projects tr.project.idnt td.name .tree-expander-no-children {
  background-image: none;
  width: 20px;
  height: 20px;
  margin: 2px 0;
  flex: 0 0 auto;
  cursor: default;
}

table.favorite-projects {
  border-bottom: none;
}

table.favorite-projects tbody td {
  border-bottom: 1px solid #e4e4e4;
}

h3 .tree-expander-expanded,
h3 .tree-expander-collapsed,
table.favorite-projects .tree-expander-expanded,
table.favorite-projects .tree-expander-collapsed,
table.favorite-projects .tree-expander-no-children {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

table.favorite-projects .favorite-project-button {
  display: none;
}

table.favorite-projects .icon-user {
  margin-left: 4px;
}

table.list td.quick_links {
  text-align: left;
}

/* Redmine 4.0以下の対応 */
table.favorite-projects tr.project.idnt td.name { background-image: none; }
table.favorite-projects tr.project.idnt td.name span { padding: 0; }
table.favorite-projects tr.project.idnt-1 td.name { padding-left: 24px; }
table.favorite-projects tr.project.idnt-2 td.name { padding-left: 40px; }
table.favorite-projects tr.project.idnt-3 td.name { padding-left: 56px; }
table.favorite-projects tr.project.idnt-4 td.name { padding-left: 72px; }
table.favorite-projects tr.project.idnt-5 td.name { padding-left: 88px; }
table.favorite-projects tr.project.idnt-6 td.name { padding-left: 104px; }
table.favorite-projects tr.project.idnt-7 td.name { padding-left: 120px; }
table.favorite-projects tr.project.idnt-8 td.name { padding-left: 136px; }
table.favorite-projects tr.project.idnt-9 td.name { padding-left: 152px; }
#options .hidden { display: none; }

table.list.projects tr.group {
  cursor: pointer;
}
table.list.projects tr.group .toggle-all{
  color: #aaa;
  font-size: 80%;
  display: none;
  float: right;
  margin-right: 4px;
}
table.list.projects tr.group:hover .toggle-all {
  display:inline;
}
