.quick-links > a, .quick-links > a:link, .quick-links > a:visited  {
  outline: none;  /* prevents dotted line when link is active */
  height: 18px;
  background-size: 18px 18px;
  padding-left: 18px;
}

/* begin: for using with redmine-3.1.x
 *        replace with 'icon icon-only' in 3.3.x */
a.icon-quick-link {
  background-position: 0% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 8px;
  vertical-align: text-bottom;
}
/* end: for using with redmine-3.1.x */

.icon-quick-link-wiki {
  background-image: url(../images/icon_base_wiki.png);
}

.icon-quick-link-roadmap {
  background-image: url(../images/icon_base_roadmap.png);
}

.icon-quick-link-gantt {
  background-image: url(../images/icon_base_gantt.png);
}

.icon-quick-link-issues {
  background-image: url(../images/icon_base_issues.png);
}

.icon-quick-link-settings {
  background-image: url(../images/icon_base_settings.png);
}

.icon-quick-link-lgc {
  background-image: url(../images/icon_lychee_gantt.png);
}

.icon-quick-link-levm {
  background-image: url(../images/icon_lychee_evm.png);
}

.icon-quick-link-lychee_kanban {
  background-image: url(../images/icon_lychee_backlog.png);
}

.icon-quick-link-kanban {
  background-image: url(../images/icon_lychee_kanban.png);
}

.icon-quick-link-lychee_ccpm {
  background-image: url(../images/icon_lychee_ccpm.png);
}

.icon-quick-link-lychee_project_report {
  background-image: url(../images/icon_lychee_project_report.png);
}

.icon-quick-link-lychee_project_dashboard {
  background-image: url(../images/icon_lychee_project_dashboard.png);
}