table.list td.settings-row-name {
  text-align: left;
}

.settings-row-quick-links > span {
  outline: none;
  display: inline-block;
  height: 18px;
  background-size: 18px 18px;
  vertical-align: middle;
  padding-left: 18px;
}

.icon-only::after {
  content: "\00a0";
}
