.container {
  color: #fff;
  display: flex;
  font-size: 0.75rem;
  font-weight: bold;
}

.status {
  background-color: #2e5b63;
  box-sizing: border-box;
  min-width: 240px;
  padding: 0.25rem 1rem;
  text-align: center;
  flex-grow: 1;
  width: 0;
}

.status + .status {
  border-left: solid 1px #aaa;
}

.empty {
  background-color: #2e5b63;
  border-right: solid 1px #aaa;
  max-width: 16px;
  min-width: 16px;
}
