.container {
  padding: 0.75rem 0.125rem;
  border-top: #ddd solid  1px;
  border-bottom: #ddd solid  1px;
}

.header {
  align-items: center;
  display: flex;
}

.header > * + * {
  margin-left: 0.5rem;
}

.label {
  font-weight: bold;
  padding-left: 0.5rem;
}

.spent-hours {
  padding-left: 1rem;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
}

.container .icon {
  background: url("@/images/time_add.png") 50% 50% no-repeat;
}

.container.editing .icon {
  background: url("@/images/cancel.png") 50% 50% no-repeat;
}

.form {
  border: solid 1px #ccc;
  padding: 0.25rem;
}

.form select {
  background-color: #eee;
  border: #ccc 1px solid;
  height: 1.5rem;
  max-width: 10rem;
}

.form select[multiple] {
  height: auto;
}

.row {
  align-items: center;
  display: flex;
}

.row > * + * {
  margin-left: 0.25rem;
}

.hours {
  align-items: center;
  display: flex;
}

.hours > input {
  width: 2rem;
}

.hours > * + * {
  margin-left: 0.125rem;
}

.spent_on input {
  width: 6rem;
}

.activity_id {
  max-width: 10rem;
}

.comments {
  display: flex;
}

.comments textarea {
  flex-grow: 1;
}

.custom_field {
  align-items: center;
  display: flex;
  padding: 0.125rem 0.25rem;
}

.custom_field + .custom_field {
  border-top: solid 1px #ccc;
}

.custom_field:nth-child(even) {
  background-color: #f2f2f2;
}

.custom_field label {
  font-weight: bold;
  width: 6rem;
}

.custom_field label + * {
  max-width: 15rem;
}

.custom_field textarea {
  flex-grow: 1;
}

.action {
  padding: 0.5rem 0.25rem;
  text-align: right;
}

.submit {
  background-color: #666;
  border: none rgba(0, 0, 0, 0);
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 8px;
}

.required > label::after,
.required > span::after {
  content: '*';
  color: red;
}
