<p>
  <label for="import_mapping_actual_start_date"><%= t(:field_actual_start_date) %></label>
  <%= mapping_select_tag @import, 'actual_start_date' %>
</p>
<p>
  <label for="import_mapping_actual_due_date"><%= t(:field_actual_due_date) %></label>
  <%= mapping_select_tag @import, 'actual_due_date' %>
</p>
