<div id="dialog-content-header">
  <%= render partial: 'lychee_issue_form/issues/parts/header' %>
</div>
<%= error_messages_for 'issue' %>
<div id="dialog-content-columns">
  <div id="dialog-content-column-left" data-resize-target="otherside">
    <%= render partial: 'lychee_issue_form/issues/parts/property' %>
  </div>
  <div id="dialog-content-column-right" data-resize-target="inside">
    <div class="handle-inside hideView"
      data-resize-target="insideKnob"
      data-action="mousedown->resize#startInsideDrag mousemove->resize#whileInsideDrag mouseup->resize#endInsideDrag">
      <%== @svg_resize %>
    </div>
    <div id="tab-buttons">
      <button role="full-tab" aria-selected="true"  tabIndex="0"  aria-controls="tab-comments_and_journals" id="btn-comments_and_journals"
        data-tab-target="tabSectionFull"
        data-action="click->tab#changeSection">
        <%= t('view.tab.comments_and_journals') %>
      </button>
      <% if enable_time_entry_tab(@issue.project) %>
        <button role="full-tab" aria-selected="false" tabIndex="-1" aria-controls="tab-time_entries" id="btn-time_entries"
          data-tab-target="tabSectionFull"
          data-action="click->tab#changeSection">
          <%= t('view.tab.time_entries') %>
        </button>
      <% end %>
      <button role="full-tab" aria-selected="false" tabIndex="-1" aria-controls="tab-descendants" id="btn-descendants"
        data-tab-target="tabSectionFull"
        data-action="click->tab#changeSection">
        <%= t('view.tab.descendants') %>
      </button>
    </div>
    <div aria-labelledby="btn-comments_and_journals" id="tab-comments_and_journals" class="lif-tab-content" data-tab-target="sectionFull">
      <%= render partial: 'lychee_issue_form/issues/parts/comments_and_journals' %>
    </div>
    <% if enable_time_entry_tab(@issue.project) %>
      <div aria-labelledby="btn-time_entries" id="tab-time_entries" class="lif-tab-content hideView" data-tab-target="sectionFull">
        <%= render partial: 'lychee_issue_form/issues/parts/time_entries' %>
      </div>
    <% end %>
    <div aria-labelledby="btn-descendants" id="tab-descendants" class="lif-tab-content hideView" data-tab-target="sectionFull">
      <%= render partial: 'lychee_issue_form/issues/parts/descendants' %>
    </div>
  </div>
</div>
