<div id="dialog-content-header">
  <%= render partial: 'lychee_issue_form/issues/parts/header' %>
</div>
<%= error_messages_for 'issue' %>
<div id="dialog-content-columns">
  <div id="dialog-content-column-single">
    <div id="tab-buttons">
      <button role="half-tab" aria-selected="true" tabIndex="0" aria-controls="tab-property" id="btn-property"
        data-tab-target="tabSectionHalf"
        data-action="click->tab#changeSection">
        <%= t('view.tab.property') %>
      </button>
      <% if @issue.id %>
        <button role="half-tab" aria-selected="false" tabIndex="-1" aria-controls="tab-comments_and_journals" id="btn-comments_and_journals"
          data-tab-target="tabSectionHalf"
          data-action="click->tab#changeSection">
          <%= t('view.tab.comments_and_journals') %>
        </button>
        <% if enable_time_entry_tab(@issue.project) %>
          <button role="half-tab" aria-selected="false" tabIndex="-1" aria-controls="tab-time_entries" id="btn-time_entries"
            data-tab-target="tabSectionHalf"
            data-action="click->tab#changeSection">
            <%= t('view.tab.time_entries') %>
          </button>
        <% end %>
        <button role="half-tab" aria-selected="false" tabIndex="-1" aria-controls="tab-descendants" id="btn-descendants"
          data-tab-target="tabSectionHalf"
          data-action="click->tab#changeSection">
          <%= t('view.tab.descendants') %>
        </button>
      <% end %>
    </div>
    <div aria-labelledby="btn-property" id="tab-property" class="lif-tab-content" data-tab-target="sectionHalf">
      <%= render partial: 'lychee_issue_form/issues/parts/property' %>
    </div>
    <% if @issue.id %>
      <div aria-labelledby="btn-comments_and_journals" id="tab-comments_and_journals" class="lif-tab-content hideView" data-tab-target="sectionHalf">
        <%= render partial: 'lychee_issue_form/issues/parts/comments_and_journals' %>
      </div>
      <% if enable_time_entry_tab(@issue.project) %>
        <div aria-labelledby="btn-time_entries" id="tab-time_entries" class="lif-tab-content hideView" data-tab-target="sectionHalf">
          <%= render partial: 'lychee_issue_form/issues/parts/time_entries' %>
        </div>
      <% end %>
      <div aria-labelledby="btn-descendants" id="tab-descendants" class="lif-tab-content hideView" data-tab-target="sectionHalf">
        <%= render partial: 'lychee_issue_form/issues/parts/descendants' %>
      </div>
    <% end %>
  </div>
</div>
