<%= render partial: 'lychee_issue_form_template/svgs' %>

<div id="open-mode" hidden>new</div>
<div id="issue-id" data-destroy-confirm-message="<%= I18n.t('text_are_you_sure') %>" data-close-confirm-message="<%= I18n.t('view.content.confirmation') %>" hidden><%= @issue.id %></div>
<div id="project-path" hidden><%= project_path(1).gsub(/\/projects\/.*/, '/projects/') %></div>
<div id="project-identifier" hidden><%= @issue.project.identifier %></div>
<div id="user-path" hidden><%= user_path(1).gsub(/\/users\/.*/, '/users/') %></div><div id="version-path" hidden><%= version_path(1).gsub(/\/versions\/.*/, '/versions/') %></div>
<div id="issue-path" hidden><%= issue_path(1).gsub(/\/issues\/.*/, '/issues/') %></div>
<div id="is-attributes-editable" hidden><%= @issue.attributes_editable? %></div>
<div id="message-attachment-too-big" hidden><%= l(:error_attachment_too_big, :max_size => number_to_human_size(Setting.attachment_max_size.to_i.kilobytes)) %></div>
<div id="attachment-max-size" hidden><%= Setting.attachment_max_size.to_i.kilobytes %></div>
<div id="attachment-max-human-size" hidden><%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes) %></div>
<div id="message-validation-file-name" hidden><%= t("view.parts.attach_files.validation_file_name") %></div>
<div id="message-validation-max-attach-files-count-at-once" hidden><%= t("view.parts.attach_files.error_attachments_too_many", max_number_of_files: 10) %></div>
<div id="attachment-allowed-extension" hidden><%= Setting.attachment_extensions_allowed %></div>
<div id="attachment-denied-extension" hidden><%= Setting.attachment_extensions_denied %></div>
<div id="message-validation-file-extension" hidden><%= l(:error_attachment_extension_not_allowed) %></div>
<div id="actual-date" data-actual-date-installed="<%= actual_date_installed? %>" hidden></div>
<div id="issue-status-closed" data-issue-status-closed="<%= issue_status_closed_by_id(@issue).to_json.camelize(:lower) %>" hidden></div>
<div id="tracker-default-status-id" data-tracker-default-status-id="<%= @issue.tracker.default_status.id %>" hidden></div>
<div id="request-url"
      data-fixed-url='<%= /(.*)\/lychee_issue_form/.match(request.fullpath).to_a.first %>'
      data-fixed-issues-url='<%= "#{/(.*)\/lychee_issue_form/.match(request.fullpath).to_a.first}/issues" %>'
      data-fixed-journals-url='<%= "#{/(.*)\/lychee_issue_form/.match(request.fullpath).to_a.first}/journals" %>'
      data-fixed-time-entries-url='<%= "#{/(.*)\/lychee_issue_form/.match(request.fullpath).to_a.first}/time_entries" %>'
      data-file-upload-url='<%= uploads_path(:format => 'js') %>'
      hidden>
</div>
<div id="viewHalf" data-tab-target="viewHalf" data-issue-target="viewHalf" class="view-mode">
  <form id="new" onsubmit="return false;">
    <%= render partial: 'half' %>
  </form>
</div>
<div id="open-mode-meta" hidden></div>
<div id="edit-issue-id" hidden><%= @edit_issue_id %></div>
<% if checklist_installed? %>
  <div id="checklist-local-mode" hidden><%= @checklist_view_model.local_mode? %></div>
<% end %>

<div class="handle-outside"
  data-resize-target="outsideKnob"
  data-action="mousedown->resize#startOutsideDrag mousemove->resize#whileOutsideDrag mouseup->resize#endOutsideDrag">
  <%== @svg_resize %>
</div>

<div id="dialog-footer" data-issue-target="footer" data-tab-target="footer" data-resize-target="outside" style="display: flex;">
  <div class="create-issue non-edit-all" style="text-align: left;">
    <button id="create-issue"
      data-action="click->issue#create"
      data-issue-sequential-param="false">
      <div class="label"><%= t('view.new.footer.button_create') %></div>
    </button>
    <button id="sequential-create-issue"
      data-action="click->issue#create"
      data-issue-sequential-param="true"
      hidden
    >
      <div class="label"><%= t('view.new.footer.button_create_and_continue') %></div>
    </button>
  </div>
  <div class="create-issue edit-all" style="text-align: left;" hidden>
    <button id="create-issue"
      data-action="click->issue#create"
      data-issue-sequential-param="false">
      <div class="label"><%= t('view.new.footer.button_save') %></div>
    </button>
  </div>
  <% if @issue.safe_attribute? 'is_private' %>
    <div class="issue_is_private" style="text-align: right; margin: 0 20px 0 auto;">
      <label>
        <input type="checkbox" id="issue_is_private" name="issue[is_private]" <%= "checked" if @issue.is_private? %>><%= t('view.new.footer.field_is_private') %>
      </label>
    </div>
  <% end %>
  <input type="hidden" id="issue-default-status" value="<%= @issue.default_status.id %>">
</div>
