<%= render partial: 'lychee_issue_form_template/svgs' %>

<div id="open-mode" hidden>edit</div>
<div id="issue-id" data-destroy-confirm-message="<%= I18n.t('text_are_you_sure') %>" data-close-confirm-message="<%= I18n.t('view.content.confirmation') %>" hidden><%= @issue.id %></div>
<div id="project-path" hidden><%= project_path(1).gsub(/\/projects\/.*/, '/projects/') %></div>
<div id="user-path" hidden><%= user_path(1).gsub(/\/users\/.*/, '/users/') %></div>
<div id="version-path" hidden><%= version_path(1).gsub(/\/versions\/.*/, '/versions/') %></div>
<div id="issue-path" hidden><%= issue_path(1).gsub(/\/issues\/.*/, '/issues/') %></div>
<div id="is-attributes-editable" hidden><%= @issue.attributes_editable? %></div>
<div id="message-attachment-too-big" hidden><%= l(:error_attachment_too_big, :max_size => number_to_human_size(Setting.attachment_max_size.to_i.kilobytes)) %></div>
<div id="attachment-max-size" hidden><%= Setting.attachment_max_size.to_i.kilobytes %></div>
<div id="message-validation-file-name" hidden><%= t("view.parts.attach_files.validation_file_name") %></div>
<div id="message-validation-max-attach-files-count-at-once" hidden><%= t("view.parts.attach_files.error_attachments_too_many", max_number_of_files: 10) %></div>
<div id="attachment-allowed-extension" hidden><%= Setting.attachment_extensions_allowed %></div>
<div id="attachment-denied-extension" hidden><%= Setting.attachment_extensions_denied %></div>
<div id="message-validation-file-extension" hidden><%= l(:error_attachment_extension_not_allowed) %></div>
<div id="actual-date" data-actual-date-installed="<%= actual_date_installed? %>" hidden></div>
<div id="issue-status-closed" data-issue-status-closed="<%= issue_status_closed_by_id(@issue).to_json.camelize(:lower) %>" hidden></div>
<div id="tracker-default-status-id" data-tracker-default-status-id="<%= @issue.tracker.default_status.id %>" hidden></div>
<div id="request-url"
      data-fixed-url='<%= /(.*)\/lychee_issue_form/.match(request.fullpath).to_a.first %>'
      data-fixed-issues-url='<%= "#{/(.*)\/lychee_issue_form/.match(request.fullpath).to_a.first}/issues" %>'
      data-fixed-journals-url='<%= "#{/(.*)\/lychee_issue_form/.match(request.fullpath).to_a.first}/journals" %>'
      data-fixed-time-entries-url='<%= "#{/(.*)\/lychee_issue_form/.match(request.fullpath).to_a.first}/time_entries" %>'
      hidden>
</div>
<div id="viewFull" data-tab-target="viewFull" data-issue-target="viewFull" class="view-mode">
  <%= render partial: 'full' %>
</div>
<div id="viewHalf" data-tab-target="viewHalf" data-issue-target="viewHalf" class="view-mode">
  <%= render partial: 'half' %>
</div>
<% if checklist_installed? %>
  <div id="checklist-local-mode" hidden><%= @checklist_view_model.local_mode? %></div>
<% end %>

<div class="handle-outside hideView"
  data-resize-target="outsideKnob"
  data-action="mousedown->resize#startOutsideDrag mousemove->resize#whileOutsideDrag mouseup->resize#endOutsideDrag">
  <%== @svg_resize %>
</div>

<div id="dialog-footer" data-issue-target="footer" data-tab-target="footer" data-resize-target="outside">
  <% if @issue.is_private? %>
    <span id="lif-badge-private" class="badge badge-private private"><%= l(:field_is_private) %></span>
  <% else %>
    <span id="lif-badge-private"></span>
  <% end %>

  <button class="watch" id="watch"><div class="svg"><%== @svg_star %></div> <div class="label"><%= t('view.show.footer.watch') %></div></button>

  <% if @issue.safe_attribute?('is_private') && @issue.attributes_editable? %>
    <button class="context" id="context" data-action="click->popup#toggleMenuContent"><%== @svg_more_horiz %></button>
  <% end %>
</div>

<%= render partial: 'lychee_issue_form_template/popup_menu', locals: { is_private: @issue.is_private? } %>
