$('#list_organizations').html('<%= escape_javascript(render partial: 'lychee_groups/projects/settings/members/table', locals: { project: @project, member_by_group: inherited_member_by_group(@project) }) %>');
hideOnLoad();

<% if @members.present? && @members.all? { |m| m.valid? } %>
  hideModal();
  <% @members.each do |member| %>
    console.log("#member-<%= member.id %>");
    $("#member-<%= member.id %>").effect("highlight");
  <% end %>
<% elsif @members.present? %>
  <% errors = @members.collect {|m| m.errors.full_messages}.flatten.uniq.join(', ') %>
  alert('<%= raw(escape_javascript(l(:notice_failed_to_save_members, errors: errors))) %>');
<% end %>
