$("<%= "#member-#{@member.id}-inherited-#{params[:inherited]}-roles" %>").hide();
$("<%= "#member-#{@member.id}-inherited-#{params[:inherited]}-form" %>").html("<%= escape_javascript(render partial: 'members/edit') %>");
