$('#list_organizations').html('<%= escape_javascript(render partial: 'lychee_groups/projects/settings/members/table', locals: { project: @project, member_by_group: inherited_member_by_group(@project) }) %>');
hideOnLoad();
$("[data-member-id='<%= @member.id %>']").effect("highlight");
