<%= javascript_tag do %>
var operatorLabels = <%= raw_json Query.operators_labels %>;
var operatorByType = <%= raw_json Query.operators_by_filter_type %>;
var availableFilters = <%= raw_json lrm_filter.available_filters_as_json %>;
var labelDayPlural = <%= raw_json l(:label_day_plural) %>;
<% if respond_to?(:queries_filter_path) %>
  var filtersUrl = <%= raw_json queries_filter_path(:project_id => nil, :type => 'IssueQuery') %>;
<% end %>

$(document).ready(function(){
  initFilters();
  <% lrm_filter.filters.each do |field, options| %>
    addFilter("<%= field %>", <%= raw_json lrm_filter.operator_for(field) %>, <%= raw_json lrm_filter.values_for(field) %>);
  <% end %>
});
<% end %>
<% if respond_to?(:queries_filter_path) %>
  <table id="filters-table">
  </table>
  <div class="add-filter">
    <%= label_tag('add_filter_select', l(:label_filter_add)) %>
    <%= select_tag 'add_filter_select', filters_options_for_select(lrm_filter), :name => nil %>
  </div>
<% else %>
  <table style="width:100%">
    <tr>
      <td>
        <table id="filters-table">
        </table>
      </td>
      <td class="add-filter">
        <%= label_tag('add_filter_select', l(:label_filter_add)) %>
        <%= select_tag 'add_filter_select', filters_options_for_select(lrm_filter), :name => nil %>
      </td>
    </tr>
  </table>
<% end %>

<%= hidden_field_tag 'f[]', '' %>
<% include_calendar_headers_tags %>
