<% content_for :header_tags do %>
  <%= stylesheet_link_tag('monthrangepicker.css', plugin: 'lrm') %>
  <%= javascript_include_tag('moment.min.js', plugin: 'lrm') %>
  <%= javascript_include_tag('monthrangepicker.js', plugin: 'lrm') %>
  <%= javascript_include_tag('lrm_monthrangepicker.js', plugin: 'lrm') %>
<% end %>

<fieldset class="collapsible">
  <legend onclick="toggleFieldset(this);" class="icon icon-expended"><%= t(:label_query) %></legend>
  <div>
    <%== render partial: 'lrm_queries/saved_queries', locals: { current_query: query } %>
  </div>
</fieldset>
<%= form_tag(target_path, id: 'query-form', method: :get, data: { url: target_path }) do %>
  <fieldset id="filters" class="collapsible">
    <legend onclick="toggleFieldset(this);" class="icon icon-expended"><%= l(:label_filter_plural) %></legend>
    <div>
      <%= render partial: 'lrm/shared/filters', locals: { lrm_filter: @query.lrm_filter } %>
    </div>
  </fieldset>

  <fieldset id="condition" class="collapsible">
    <legend onclick="toggleFieldset(this);" class="icon icon-expended"><%= t(:condition) %></legend>
    <div>
      <%= hidden_field_tag :set_filter, '1' %>
      <%= hidden_field_tag :time_series, query.time_series %>
      <%= hidden_field_tag :target_day, params[:target_day] %>
      <% params.fetch(:group_keys, []).each do |group_key| %>
        <%= hidden_field_tag 'group_keys[]', group_key, id: nil %>
      <% end %>

      <table>
        <tr>
          <td class="search-condition-left-area">
            <div>
              <%= label_tag :period, t(:period) %>
              <span>
                <%= send date_field_tag_method, :from_date, @query.from_date, size: 10 %>
                <%= calendar_for 'from_date' %>
              </span>
              <span>
                〜
              </span>
              <span>
                <%= send date_field_tag_method, :to_date, @query.to_date, size: 10 %>
                <%= calendar_for 'to_date' %>
              </span>
              <a data-lrm-monthdatepicker-button
                 data-lrm-monthdatepicker-language="<%= current_language %>"
                 data-lrm-monthdatepicker-from-date="#from_date"
                 data-lrm-monthdatepicker-to-date="#to_date"
                 href="#"><%= l(:set_condition_period_by_month) %></a>
            </div>

            <div class="apply-buttons-time-series">
              <label><%= t("time_series") %></label>
              <% %w(day week month).each do |series| %>
                <% if query.time_series == series %>
                  <span><%= t("time_series_options.#{series}") %></span>
                <% else %>
                  <%= link_to t("time_series_options.#{series}"), params.permit!.merge(time_series: series) %>
                <% end %>
              <% end %>
            </div>
            <% if Redmine::Plugin.installed?(:lychee_time_management) && User.current.allowed_to?(:time_management, nil, global: true) %>
              <div class="checkbox-include-indirect-works">
                <%= hidden_field_tag 'include_indirect_works', '0', id: nil %>
                <%= check_box_tag 'include_indirect_works', '1', query.include_indirect_works %>
                <label for="include_indirect_works">
                  <% if Lrm::TimeManagementSetting.use_time_management_work_plans? %>
                    <%= t('include_indirect_works_both') %>
                  <% else %>
                    <%= t('include_indirect_works') %>
                  <% end %>
                </label>
              </div>
            <% end %>
          </td>

          <td class="search-condition-apply-button-area">
            <%= link_to t(:button_apply), '#', class: 'icon icon-checked', id: 'submit-form' %>
          </td>
        </tr>
      </table>
    </div>
  </fieldset>
<% end %>

<script>
  $("#submit-form").on("click", function() {
    $("#query-form").submit();
    $('#indicator').show();
  });
</script>
