<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'lpt', plugin: 'lpt' %>
<% end %>

<%= render 'show_templatable', project: @project %>
<% if @project.new_record? %>
  <script>
    $(function(){
      $('.box:first').before("<%= j render 'show_template_project_select' %>")
    });
  </script>
  <%= javascript_include_tag 'select_template_from', plugin: 'lpt' %>
  <% include_calendar_headers_tags %>
<% end %>
