<fieldset class="box tabular">
  <legend><%= t('label_template_project_select') %></legend>
  <%= hidden_field_tag 'select_template_from_path', select_template_from_path %>
  <%= hidden_field_tag 'change_project_parent_path', change_project_parent_path %>
  <p>
    <label for='template_from'><%= t('template_from') %></label>
    <% templatables = Project.templatables(params[:parent_id]) %>
    <%= select_tag 'template_from', options_from_collection_for_select(templatables, :id, :name, params[:template_from]), prompt: l('not_use_template_prompt') %>
  </p>
  <p>
    <label for='base_date'><%= t('field_lpt_project_base_date') %></label>
    <%= radio_button_tag 'base_date', 'start_date', true%><%= label_tag 'base_date_start_date', l('field_lpt_project_start_date'), class: 'label_base_date_start_date', title: l('field_lpt_project_start_date_title') %>
    <%= radio_button_tag 'base_date', 'due_date'%><%= label_tag 'base_date_due_date', l('field_lpt_project_due_date'), class: 'label_base_date_due_date', title: l('field_lpt_project_due_date_title')%>
    <br />
    <%= send date_field_tag_method, 'project_start_date', params[:project_start_date], size: 10 %>
    <%= calendar_for('project_start_date') %>
    <%= send date_field_tag_method, 'project_due_date', params[:project_due_date], size: 10 %>
    <%= calendar_for('project_due_date') %>
  </p>
</fieldset>
