<p>
  <label for='templatable'><%= l('templatable') %></label>
  <%# check_box_tag は未チェック時にパラメーターを送らないため、hidden_field_tag を使用 %>
  <%= hidden_field_tag 'project[project_templatable_attributes][templatable]', false %>
  <%= check_box_tag 'project[project_templatable_attributes][templatable]', true, project.templatable?, id: 'templatable' %>
  <%
    sharing_options = options_for_select(
      ProjectTemplatable::SHARING::CONDITIONS.map { |s| [l("project_template_sharing.#{s}"), s] },
      selected: project.template_sharing
    )
    sharing_html_options = {
      id: 'sharing',
      disabled: !project.templatable?
    }
  %>
  <%#
    テンプレートとして使用ONで登録後、プロジェクト設定からOFFに変更すると、コンボがdisabledの状態になるため、
    共有範囲の選択肢が初期値である「制限しない」に戻されてしまうので、hidden_field_tagを併用する
  %>
  
  <%= label_tag 'sharing', l('label_project_template_sharing'), class: 'label_sharing' %>
  <%= hidden_field_tag 'project[project_templatable_attributes][sharing]', project.template_sharing %>
  <%= select_tag 'project[project_templatable_attributes][sharing]', sharing_options, sharing_html_options %>
</p>

<%= javascript_tag do %>
  $(document).on('change', '#templatable', function () {
    $('#sharing').prop('disabled', !this.checked);
  });
<% end %>
