#top-menu .lychee-message-box-icon.unread:before {
  content: url('../images/mail_orange.svg');
}
#top-menu .lychee-message-box-icon:before {
  content: url('../images/mail_white.svg');
  margin-right: 3px;
}

.flyout-menu .lychee-message-box-icon.unread:before {
  content: url('../images/mail_orange.svg');
}
.flyout-menu .lychee-message-box-icon:before {
  content: url('../images/mail_white.svg');
  transform: scale(1.5);
  padding-left: 4px;
  display: inline-block;
}
