@media screen and (min-width: 900px) {
  #header {
    display: none;
  }
}

.controller-lychee_message_box_my_boxes.action-show #content,
.controller-lychee_message_box_informations.action-show #content {
  padding: 10px 0 0;
}

.lychee-message-box-header {
  padding-left: 12px;
}

.lychee-message-box-header h2 {
  display: inline;
}

.lychee-message-box-types {
  display: flex;
  margin: 0;
  padding: 0;
}

.lychee-message-box-types > li {
  list-style: none;
  padding: 0px 12px 10px;
}

.lychee-message-box-types > li.selected {
  border-bottom: 2px solid #085A79;
}

.lychee-message-box-types > li.selected .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #116699;
}

.lychee-message-box-types > li.not-selected .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
}

.lychee-message-box-types > li .unread-badge {
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f2f2f2;
  font-size: 8px;
}

.lychee-message-box-types > li .unread-badge:empty {
  display: none;
}

.lychee-message-box-types a,
.lychee-message-box-types span {
  color: #999;
}

.lychee-message-box-types .selected a,
.lychee-message-box-types .selected span {
  color: black;
}

.lychee-message-box-types > li.mark_as_read {
  padding-left: 12px;
}

.lychee-message-box-types > li.mark_as_read a {
  color: #116699;
}

.lychee-message-box-root {
  border: solid 1px #AAA;
  border-bottom: none;
  display: flex;
  height: calc(100vh - 82px);
  min-height: 560px;
}

.lychee-message-box-root .space {
  flex: none;
  width: 12px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.lychee-message-box-root .inbox {
  flex: none;
  max-width: 30%;
}

.lychee-message-box-root .message-box {
  overflow-y: auto;
  height: calc(100%);
}

.lychee-message-box-root .message {
  cursor: pointer;
  padding: 0.5rem 0;
  margin: 0 8px;
}

.lychee-message-box-root .message + .message {
  border-top: solid 1px #eee;
}

.lychee-message-box-root .message-tags-and-time-container {
  display: flex;
}

.lychee-message-box-root .message-tags {
  flex: auto;
}

.lychee-message-box-root .message-notified-at {
  flex: none;
}

.lychee-message-box-root .message-tags,
.lychee-message-box-root .message-subject,
.lychee-message-box-root .message-description {
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lychee-message-box-root .message .title-and-time:hover {
  background-color: #F2F2F2;
}

.lychee-message-box-root .message.unread .title-and-time:hover {
  background-color: #F0F2F3;
}

.lychee-message-box-root .message .tags-and-time {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
}

.lychee-message-box-root .message .tags-and-time .message-tags,
.lychee-message-box-root .message .tags-and-time .message-notified-at {
  font-size: 80%;
  color: #66828C;
}

.lychee-message-box-root .message .tags-and-time .message-tags {
  margin-right: 0.5rem;
}

.lychee-message-box-root .message .tags-and-time .message-notified-at {
  text-align: right;
}

.lychee-message-box-root > .details {
  flex: auto;
  min-width: 0;
}

.lychee-message-box-root > .details.not-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: solid 1px #ccc;
  font-size: 1.3em;
  color: #66828C;
}

.lychee-message-box-root .details-box {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-left: solid 1px #ccc;
}

.lychee-message-box-root .details-title {
  padding: 16px;
  align-items: baseline;
  background-color: #fff;
}

.lychee-message-box-root .details-title .message-tags,
.lychee-message-box-root .details-title .message-subject,
.lychee-message-box-root .details-title .message-notified-at {
  font-weight: normal;
}

.lychee-message-box-root .details-title .message-tags,
.lychee-message-box-root .details-title .message-notified-at {
  color: #888;
}

.lychee-message-box-root .details-title .message-subject {
  margin-top: 0.25rem;
  margin-left: 0;
  font-size: 14px;
  color: #333;
}

.lychee-message-box-root .details-title .message-notified-at {
  text-align: right;
  font-size: 80%;
  color: #aaa;
}

.lychee-message-box-root .details-content {
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  word-break: break-word;
}

.lychee-message-box-root.issue_update .details-content .notes-wrap > div + div {
  margin-top: 1em;
}

.lychee-message-box-root.issue_update .balloon {
  background: #D7F2FC;
  padding: 1px 1em;
  position: relative;
  border-radius: 10px;
}

.lychee-message-box-root.issue_update .balloon p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.lychee-message-box-root.issue_update .others .balloon:before {
  left: -15px; /* = border-widthのleft+right */
  top: 0.5rem;
  position: absolute;
  content: '';
  border-style: solid;
  border-width: 5px 10px 5px 5px;
  border-color: transparent #d5effe transparent transparent;
}

.lychee-message-box-root.issue_update .mine .balloon:before {
  right: -15px; /* = border-widthのleft+right */
  top: 0.5rem;
  position: absolute;
  content: '';
  border-style: solid;
  border-width: 5px 5px 5px 10px;
  border-color: transparent transparent transparent #d5effe;
}

.lychee-message-box-root.issue_update .others.note-details .balloon,
.lychee-message-box-root.issue_update .mine.note-details .balloon {
  border: 1px solid #E6EAEC;
  background-color: #fff;
}

.lychee-message-box-root.issue_update .others.note-details .balloon:before,
.lychee-message-box-root.issue_update .mine.note-details .balloon:before {
  border: none;
}

.lychee-message-box-root.issue_update .note-all .details {
  margin: 0.5em 0 0 0;
  padding: 1em 1em 1em 2em;
  border-radius: 10px;
  background-color: #fff;
}

.lychee-message-box-root.issue_update .note-details .details {
  padding-left: 1em;
}

.lychee-message-box-root.issue_update .mine .avatar-and-balloon {
  display: flex;
  justify-content: flex-end;
}

.lychee-message-box-root.issue_update .others .avatar-and-balloon {
  display: flex;
  justify-content: flex-start;
}

.lychee-message-box-root.issue_update .others > div > span {
  margin-right: 5px;
}

.lychee-message-box-root.issue_update .message-tags li {
  display: inline;
}

.lychee-message-box-root.issue_update .message-tags li + li:before {
  content: '>>';
  margin: 3px;
}

.lychee-message-box-root .message {
  display: flex;
}

.lychee-message-box-root .message .title-and-time {
  flex: 1;
  overflow-x: hidden;
  padding: 8px;
  border-radius: 8px;
}

.lychee-message-box-root .message .message-subject-wrap,
.lychee-message-box-root .message .message-description {
  margin-top: 0.25rem;
  font-size: 12px;
}

.lychee-message-box-root .message .message-subject-wrap {
  display: flex;
  padding-left: 0;
}

.lychee-message-box-root .message .unread-badge-wrap {
  flex-shrink: 0;
  width: 16px;
}

.lychee-message-box-root .message .message-description {
  padding-left: 16px;
}

.lychee-message-box-root .message.unread .message-tags {
  font-weight: bold;
  color: #002E40;
}

.lychee-message-box-root .message.unread .unread-badge {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #015CC8;
  vertical-align: baseline;
}

.lychee-message-box-root .message.unread .message-subject {
  font-weight: bold;
  color: #116699;
}

.lychee-message-box-root .message.unread .message-description {
  color: #002E40;
}

.lychee-message-box-root .message.current .title-and-time {
  background-color: #DDE9EE;
}

.lychee-message-box-root .message.current .message-tags,
.lychee-message-box-root .message.current .message-subject,
.lychee-message-box-root .message.current .message-description {
  color: #66828C;
}

.lychee-message-box-root.issue_update .details .name-and-time {
  margin-bottom: 0.2rem;
  font-size: 10px;
  color: #999;
}

.lychee-message-box-root.issue_update .details .mine .name-and-time {
  text-align: right;
}

.lychee-message-box-root.issue_update .details .others .balloon {
  margin-left: 10px;
}

.lychee-message-box-root.issue_update .details-bottom {
  padding: 16px;
  background-color: #fff;
}

.lychee-message-box-root.issue_update .details-bottom #issue-form {
  display: flex;
}

.lychee-message-box-root.issue_update .details textarea {
  flex-grow: 1;
  width: 100%;
  margin-right: 0.5em;
  padding: 0.5em;
  border-color: #aaa;
  border-radius: 10px;
  font-size: 1.2em;
  resize: none;
}

.lychee-message-box-root.issue_update .details input[type='submit'] {
  flex-shrink: 0;
  height: 32px;
  background-color: #085A79;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.2em;
}

.lychee-message-box-root.plugin_update .details-content p {
  white-space: pre-line;
}
