.simplecolorpicker .color[data-color] {
  width: 16px;
  border: 1px solid #ccc;
}

.simplecolorpicker .color[data-color=""] {
  display: block;
  line-height: 0;
  margin: 0;
  border: 0;
  pointer-events: none;
}
