.controller-issue_statuses.action-index td.name {
  display: flex;
  align-items: center;
}

.controller-issue_statuses.action-index td.name .color-icon {
  content: " ";
  display: inline-block;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 1px solid #888;
  border-radius: 2px;
  margin-right: 2px;
}
