<div style="display: none;">
  <div id="list_organizations">
    <%= render partial: 'lychee_groups/projects/settings/members/table', locals: { project: project, member_by_group: member_by_group } %>
  </div>
</div>
<%= javascript_tag do %>
  $(function(){
    $('#tab-content-members').append($("#list_organizations"));
    $('#tab-content-members > .nodata, #tab-content-members > .list.members').remove();
  })
<% end %>
