<h2><%= l(:label_import_issue_sets) %></h2>

<div class="flash error">
  <ul>
    <li><%= @error_message %>
  </ul>
</div>

<%= form_tag(imports_lychee_issue_sets_path) do %>
  <%= hidden_field_tag :confirm, true %>
  <%= hidden_field_tag :content, @json %>
  <p>
    <%= l(:text_confirmation_overwriting_import) %>
  </p>
  <p>
    <%= submit_tag l(:label_import).html_safe + " &#187;".html_safe, :name => nil %>
  </p>
<% end %>
