<h2><%= l(:label_import_issue_sets) %></h2>

<% if @error_messages&.any? %>
  <div class="flash error">
    <ul>
      <% @error_messages.each do |message| %>
        <li><%= message %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag(imports_lychee_issue_sets_path, multipart: true) do %>
  <fieldset class="box">
    <legend><%= l(:label_select_file_to_import) %> (JSON)</legend>
    <p>
      <%= file_field_tag 'file' %>
    </p>
  </fieldset>
  <p><%= submit_tag l(:label_import).html_safe + " &#187;".html_safe, :name => nil %></p>
<% end %>
