<script>
!function($) {
  $('.tabular').removeClass('tabular box');

  $(document).on('submit', 'form', function() {
    selectAllOptions("selected_columns");
  });
}(jQuery);
</script>

<fieldset class="box">
  <legend><%= t('lgc.settings.default_columns') %></legend>
  <%= render_query_columns_selection(
    Lgc::IssueQuery.new(column_names: @settings['column_names']),
    name: 'settings[column_names]'
  ) %>
</fieldset>

<fieldset class="box">
  <legend><%= t('lgc.settings.debug') %></legend>
  <%= hidden_field_tag 'settings[debug]', '0', id: nil %>
  <label>
    <%= check_box_tag 'settings[debug]', '1', @settings['debug'] == '1' %>
    <%= t('lgc.settings.enable_debug') %>
  </label>
</fieldset>

<% if Gem::Specification.find_all_by_name('stackprof') %>
<fieldset class="box">
  <%= hidden_field_tag 'settings[use_stackprof]', '0' %>
  <label>
    <%= check_box_tag 'settings[use_stackprof]', '1', @settings['use_stackprof'] == '1' %>
    プロファイラを有効にする
  </label>
</fieldset>
<% end %>
