<fieldset id="lychee_manufacturing_settings" class="box tabular">
  <legend><%= t('lychee_manufacturing_settings.title') %></legend>
  <p>
    <%= form.check_box :lychee_manufacturing_enable %><%= t('lychee_manufacturing_settings.label_enable') %>
    <em class="info"><%= t('lychee_manufacturing_settings.text_enable') %></em>
  </p>
</fieldset>
<%= stylesheet_link_tag 'lgc/settings', plugin: :lgc %>
<%= javascript_tag do %>
  $(function(){
    if($('#project_modules').length >= 1){
      $('#project_modules').after($('#lychee_manufacturing_settings'));
    }else{
      // For Redmine 3.4
      $("#modules-form input[type='submit']").parent('p').before($('#lychee_manufacturing_settings'));
    }
  });
<% end %>
