<h2>
  <%= t("label_threshold_settings") %>
</h2>

<% html_title(t(:label_threshold_settings), t(:label_resource_management)) -%>

<%= error_messages_for *@setting %>

<%= form_for @setting, url: update_threshold_settings_path, method: :put do |f| %>
  <table class="list users">
    <thead>
      <tr>
        <th><%= t("label_threshold_item") %></th>
        <th><%= t("label_threshold") %></th>
      </tr>
    </thead>
    <tbody>
      <tr class='odd'>
        <td>
          <%= f.label :afford %>
        </td>
        <td>
          <%= f.text_field :afford %>
        </td>
      </tr>
      <tr class='even'>
        <td>
          <%= f.label :overwork %>
        </td>
        <td>
          <%= f.text_field :overwork %>
        </td>
      </tr>
      <tr class='odd'>
        <td>
          <%= f.label :overwork_for_planned %>
        </td>
        <td>
          <%= f.text_field :overwork_for_planned %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= submit_tag t("button_save") %>
<% end %>
