<% if @tracker.present? && ('trackers' == params[:controller]) && ['new', 'create', 'edit', 'update'].include?(params[:action]) %>
<style type="text/css">
.lychee_issue_board__tracker_options__color-preview {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
  border: 1px solid #a9a9a9;
}
</style>

<fieldset class="box" id="tracker_lychee_issue_board_tracker_options">
  <legend><%= l(:lychee_issue_board) %></legend>
  <p>
    <%= label_tag :tracker_lychee_issue_board_tracker_option_attributes_color, t(:field_tracker_lychee_issue_board_tracker_option_attributes_color) %>
    <%= lychee_issue_board_tracker_color_preview_field %>
    <%= select_tag 'tracker[lychee_issue_board_tracker_option_attributes][color]', options_for_select_lychee_issue_board_tracker_color(), onchange: 'onChangeLycheeIssueBoardOptionsColor(event)' %>
    <%= hidden_field_tag 'tracker[lychee_issue_board_tracker_option_attributes][workflow]', @tracker.lychee_issue_board_tracker_option&.workflow %>
  </p>
</fieldset>

<script type="text/javascript">
function onChangeLycheeIssueBoardOptionsColor(value) {
  var color = value.target.value;
  var $color_preview = $('span[for=tracker_lychee_issue_board_tracker_option_attributes_color]');
  $color_preview.css('background-color', color);
};

$(document).ready(function(){
  var $project_ids_field = $('#tracker_project_ids');
  var $lychee_issue_board_options_field = $('#tracker_lychee_issue_board_tracker_options');
  $project_ids_field.after($lychee_issue_board_options_field);
})
</script>
<% end %>
