<%=
  # 上書きされるのはSettings.plugin_lychee_time_management全体なので、ここに出ないフィールドの値も含めないといけない
  lychee_time_management_settings_hidden_fields(LycheeTimeManagement::Settings.all.slice(:issues_limit), "settings")
%>

<p>
  <%= hidden_field_tag 'settings[table_mode]', nil, id: :settings_table_mode %>
  <%= label_tag :settings_calendar_mode, t(:label_ltm_calendar_mode) %>
  <%= check_box_tag nil, nil, !LycheeTimeManagement::Settings.table_mode?, id: :settings_calendar_mode %>
</p>

<p class="calendar_mode_setting">
  <%= label_tag "settings_start_for_derived_work_plan", t(:label_start_for_derived_work_plan) %>
  <%= select_tag 'settings[start_for_derived_work_plan][hour]',
    options_for_select(LycheeTimeManagement::Settings::HOUR_OPTIONS, selected: LycheeTimeManagement::Settings.start_for_derived_work_plan[:hour]) %>
  :
  <%= select_tag 'settings[start_for_derived_work_plan][minute]',
    options_for_select(LycheeTimeManagement::Settings::MINUTE_OPTIONS, selected: LycheeTimeManagement::Settings.start_for_derived_work_plan[:minute]) %>
</p>

<p class="table_mode_setting">
  <%= label_tag "settings_closing_day", t(:label_closing_day) %>
  <%= select_tag 'settings[closing_day]',
    options_for_select(LycheeTimeManagement::Settings::CLOSING_DAY_OPTIONS.map { |label, value| [t(label), value]}, selected: LycheeTimeManagement::Settings.closing_day) %>
</p>
<p class="table_mode_setting">
  <%= hidden_field_tag 'settings[enable_working_hours]', '0', id: nil %>
  <%= label_tag 'settings_enable_working_hours', t(:label_enable_working_hours_option) %>
  <%= check_box_tag 'settings[enable_working_hours]', '1', LycheeTimeManagement::Settings.enable_working_hours? %>
</p>

<%= javascript_tag do %>
  (() => {
    const settingsCalendarModeNode = document.querySelector('#settings_calendar_mode');
    const settingsTableModeNode = document.querySelector('#settings_table_mode');
    const calendarModeSettingNodes = document.querySelectorAll('.calendar_mode_setting');
    const tableModeSettingNodes = document.querySelectorAll('.table_mode_setting');

    const displayNode = (node) => node.style.display = '';
    const hideNode = (node) => node.style.display = 'none';

    const setTableMode = (nextModeIsTable) => {
      if (nextModeIsTable) {
        settingsTableModeNode.value = '1';
        calendarModeSettingNodes.forEach(hideNode);
        tableModeSettingNodes.forEach(displayNode);
      }
      else {
        settingsTableModeNode.value = '0';
        calendarModeSettingNodes.forEach(displayNode);
        tableModeSettingNodes.forEach(hideNode);
      }
    };

    settingsCalendarModeNode.addEventListener('click', () => setTableMode(!settingsCalendarModeNode.checked));
    setTableMode(<%= LycheeTimeManagement::Settings.table_mode? %>);
  })();
<% end %>
