<%= error_messages_for 'issue_template' %>

<div class="box tabular">
  <div>
    <p><%= f.select :tracker_id, Tracker.sorted.pluck(:name, :id), required: true %></p>
    <p><%= f.text_field :subject, size: 80, required: true %></p>
    <p><%= t(:create_issues_title_description) %></p>
    <p>
      <%= f.label_for_field :description %>
      <span id="issue_template_description_and_toolbar">
        <%= f.text_area :description,
                        cols: 60,
                        rows: (issue_template.description.blank? ? 10 : [[10, issue_template.description.size / 50].max, 100].min),
                        accesskey: accesskey(:edit),
                        class: 'wiki-edit',
                        no_label: true %>
      </span>
    </p>
    <%= wikitoolbar_for 'lychee_issue_template_description' %>

    <div id="attributes" class="attributes">
      <div class="splitcontent">
        <div class="splitcontentleft">
          <p><%= f.select :status_id, issue_template.new_statuses_allowed_to.map { |s| [s.name, s.id] }, required: true %></p>
          <p><%= f.select :priority_id, IssuePriority.sorted.pluck(:name, :id), required: true %></p>
        </div>
        <div class="splitcontentright">
          <% if issue_template.core_field?('parent_issue_id')%>
            <p><%= f.text_field :parent_id, size: 10, label: :field_issue_template_parent %></p>
            <%= javascript_tag "observeAutocompleteField('lychee_issue_template_parent_id', '#{escape_javascript lychee_issue_templates_auto_completes_path(issue_set_id: issue_set, issue_template_id: params[:id])}')" %>
          <% end %>
          <% if issue_template.core_field?('estimated_hours')%>
            <p><%= f.text_field :estimated_hours, size: 3 %> <%= t(:field_hours) %></p>
          <% end %>
        </div>
      </div>
    </div>

    <% if LycheeIssueSet::checklist_installed? %>
      <div id="checklist_for_new" class="lc-my-2" style="display: flex">
        <label style="display: flex"><%= t("view.checklist") %></label>
        <div id="checklist_wrapper" style="display: inline-block; flex: 1">
          <%=  render 'lychee_checklist/checklist', vm: @checklist_view_model %>
        </div>
        <%= hidden_field_tag "__lychee_checklist_data", "[]" %>
    </div>
    <% end %>

    <% if Issue.new.safe_attribute? 'custom_field_values' %>
      <%== render partial: 'form_custom_fields' %>
    <% end %>
  </div>
</div>

<style>
 @media screen and (max-width:899px) {
   #checklist_for_new {
     flex-direction: column;
   }
   #checklist_for_new > label {
     padding-left: 0px;
     justify-content: flex-start;
     margin-bottom: 4px;
   }
 }
 @media screen and (min-width:900px) {
   #checklist_for_new {
     flex-direction: row;
   }
   #checklist_for_new > label {
     padding-left: 180px;
     justify-content: flex-end;
     margin-top: 4px;
     margin-bottom: 4px;
   }
   #checklist_for_new > #checklist_wrapper {
     margin-left: 4px;
   }
</style>

<script>
  $(function() {
    function updateIssueTemplateFrom(url, el) {
      $('#all_attributes input, #all_attributes textarea, #all_attributes select').each(function() {
        $(this).data('valuebeforeupdate', $(this).val());
      });
      return $.ajax({
        url: url,
        type: 'GET',
        data: $('#issue-template-form').serialize()
      });
    }

    $('#lychee_issue_template_tracker_id').on('change', function() {
      var url = '<%= issue_template.new_record? ? new_lychee_issue_set_lychee_issue_template_path(issue_set, format: :js) : edit_lychee_issue_set_lychee_issue_template_path(issue_set, issue_template, format: :js) %>'
      updateIssueTemplateFrom(url, this);
    });
  });
</script>
