<% custom_field_values_full_width, custom_field_values = partition_custom_fields_by_full_width %>

<% if custom_field_values.present? %>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <% split_on = (custom_field_values.size / 2.0).ceil - 1 %>
      <% custom_field_values.each.with_index do |value, i| %>
        <p><%= custom_field_tag_with_label :issue_template, value, required: false %></p>
        <% if i == split_on %>
          </div><div class="splitcontentright">
        <% end -%>
      <% end -%>
    </div>
  </div>
<% end %>

<% custom_field_values_full_width.each do |value| %>
  <p><%= custom_field_tag_with_label :issue_template, value, required: false %></p>
  <%= wikitoolbar_for "issue_template_custom_field_values_#{value.custom_field_id}" if value.custom_field.try(:full_text_formatting?) %>
<% end %>
