<div class="contextual">
  <%= toggle_link l(:button_add), 'new-relation-form', { focus: :relation_issue_to_id } %>
</div>

<p><strong><%=l(:label_related_issues)%></strong></p>

<% if @relations.present? %>
  <form>
    <table class="list issues">
      <% @relations.each do |relation| %>
        <% other_issue_template = relation.other_issue_template(@issue_template) %>
        <tr class="issue-template hascontextmenu <%= other_issue_template.css_classes %>" id="relation-<%= relation.id %>">
        <td class="subject" style="width: 50%">
          <%= relation.to_s(@issue_template) { |other| link_to_issue_set_issue_template(@issue_set, other) }.html_safe %>
        </td>
        <td class="buttons"><%= link_to(l(:label_relation_delete),
                                        lychee_issue_set_lychee_issue_template_relation_path(@issue_set, @issue_template, relation),
                                        method: :delete,
                                        data: { confirm: l(:text_are_you_sure) },
                                        title: l(:label_relation_delete),
                                        class: 'icon-only icon-link-break'
                                       ) %></td>
        </tr>
      <% end %>
    </table>
  </form>
<% end %>

<%= form_for @relation, {
                 as: :relation,
                 url: lychee_issue_set_lychee_issue_template_relations_path(@issue_set, @issue_template, @relation),
                 method: :post,
                 html: { id: 'new-relation-form', style: 'display: none;' }
               } do |f| %>
  <%= render partial: 'issue_template_relations/form', locals: { f: f }%>
<% end %>
