<ul>
  <li>
    <%= context_menu_link l(:button_delete),
          lychee_issue_set_lychee_issue_templates_path(@issue_set, ids: @issue_template_ids),
          method: :delete,
          data: { confirm: l(:text_are_you_sure) },
          class: 'icon icon-del' %>
  </li>
</ul>
