<%= title(
  [t(:label_issue_set_plural), lychee_issue_sets_path],
  [@issue_set.name, lychee_issue_set_path(@issue_set)],
  [@issue_template.subject, lychee_issue_set_lychee_issue_template_path(@issue_set, @issue_template)]
) %>

<div id="all_attributes">
  <%= labelled_form_for [@issue_set, @issue_template], html: { id: 'issue-template-form' } do |f| %>
    <%== render partial: 'form', locals: { f: f, issue_set: @issue_set, issue_template: @issue_template } %>
    <%= f.submit t(:button_edit) %>
  <% end %>
</div>
