replaceIssueFormWith('<%=
  escape_javascript(
    labelled_form_for([@issue_set, @issue_template], html: { id: 'issue-template-form' }) do |f|
      concat(render partial: 'form', locals: { f: f, issue_set: @issue_set, issue_template: @issue_template })
      concat(f.submit t(:button_create))
      concat(f.submit t(:button_create_and_continue), name: 'continue')
    end
  )
%>');
