<%= stylesheet_link_tag 'issue_templates', plugin: 'lychee_issue_set' %>

<div class="contextual">
  <%= link_to l(:button_edit), edit_lychee_issue_set_lychee_issue_template_path(@issue_set, @issue_template), class: 'icon icon-edit' %>
  <%= delete_link lychee_issue_set_lychee_issue_templates_path(@issue_set, id: @issue_template) %>
</div>

<%= title [l(:label_issue_set_plural), lychee_issue_sets_path], [@issue_set.name, lychee_issue_set_path(@issue_set)], @issue_template.subject %>
<div class="issue-template details">
  <div class="subject">
    <%= @issue_template.subject %>
  </div>

  <div class="attributes">
    <div class="splitcontent">
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label"><%= l(:field_status) %>:</div>
          <div class="value"><%= h(@issue_template.status.name) %></div>
        </div>
        <div class="priority attribute">
          <div class="label"><%= l(:field_priority) %>:</div>
          <div class="value"><%= h(@issue_template.priority.name) %></div>
        </div>
      </div>
      <div class="splitcontentright">
        <% if @issue_template.estimated_hours.present? %>
          <div class="estimated-hours attribute">
            <div class="label"><%= l(:field_estimated_hours) %>:</div>
            <div class="value"><%= l_hours_short(@issue_template.estimated_hours) %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%== issue_set_render_custom_fields(@issue_template) %>
  <%== issue_set_render_full_custom_fields(@issue_template) %>

  <% if @issue_template.description? %>
    <hr />
    <div class="description">
      <p><strong><%=l(:field_description)%></strong></p>
      <div class="wiki">
        <%= textilizable @issue_template, :description %>
      </div>
    </div>
  <% end %>

  <% if LycheeIssueSet::checklist_installed? %>
    <hr />
    <p><strong><%= t("view.checklist") %></strong></p>
    <%=  render 'lychee_checklist/checklist', vm: @checklist_view_model %>
    <%= hidden_field_tag "__lychee_checklist_data", "[]" %>
  <% end %>

  <hr />
  <div id="issue_template_tree">
    <div class="contextual">
      <%= link_to t(:button_add), new_lychee_issue_set_lychee_issue_template_path(@issue_set, parent_id: @issue_template.id) %>
    </div>
    <p><strong><%=l(:label_subtask_plural)%></strong></p>
    <% unless @issue_template.leaf? %>
      <form>
        <table class="list issue-templates">
          <% issue_list(@issue_template.descendants.sort_by(&:lft)) do |child, level| %>
            <tr class="issue-templates issue-template-<%= child.id %> <%= child.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
              <td class="subject">
                <%= link_to("#{child.tracker} ##{child.id}", lychee_issue_set_lychee_issue_template_path(@issue_set, child)) %>
                <%= h(": #{child.subject}") %>
              </td>
              <td class="status"><%= child.status %></td>
            </tr>
          <% end %>
        </table>
      </form>
    <% end %>
  </div>

  <hr />
  <div id="relations">
    <%= render 'relations' %>
  </div>
</div>
