var tableBody = $('table.issue-templates tbody');
<% if @error %>
  alert('<%= t(:issue_template_sort_error) %>');
  tableBody.sortable("cancel");
<% else %>
  var tableBodyHtml = $("<%= j(render partial: 'lychee_issue_sets/issue_templates') %>").find('tbody').html();
  tableBody.html(tableBodyHtml);
<% end %>
