<div id="lgc-queryForm" class="lgc-queryForm" style="display:none;">
  <div class="contextual">
    <span class="lgc-savedQuery-parts">
      <% if @query.persisted? && @query.editable_by?(User.current) %>
        <%= link_to t(:button_edit), edit_lgc_query_path(@query, project_id: @project.try(:id)), class: 'icon icon-edit' %>
        <%= delete_link lgc_query_path(@query, project_id: @project.try(:id)) %>
        <span class="lgc-separator__vertical"></span>
      <% end %>
    </span>

    <div class="lgc-popover">
      <% if Lgc.export_disabled? %>
        <span class="icon icon-save"
              data-infotip="<%= t('lgc.feature_available_in_paid_licensed_plans') %>"
              data-infotip-open-delay="0"
              data-infotip-position="bottom">PDF</span>

      <% else %>
        <a href="javascript:void(0)" class="icon icon-save" data-popover-to="download">PDF</a>
        <form class="lgc-download-form lgc-popover-item" data-popover="download">
          <table class="lgc-form-table lgc-download-options">
            <tr class="lgc-download-options-pageSize">
              <th><%= label_tag :page_size, t('lgc.page_size') %></th>
              <td><%= select_tag :page_size, options_for_select(pdf_page_sizes) %></td>
            </tr>

            <tr class="lgc-download-options-orientation">
              <th><%= label_tag :orientation, t('lgc.orientation') %></th>
              <td><%= select_tag :orientation, options_for_select(pdf_orientations) %></td>
            </tr>

            <tr class="lgc-download-options-margin">
              <th><%= label_tag :margin, t('lgc.margin') %></th>
              <td>
                <%= link_to t('button_show'), 'javascript:void(0)', data: { toggle: 'margin' } %>

                <div class='lgc-download-options-margin-fields' data-toggle-id="margin">
                  <% %w[ top right left bottom ].each do |corner| # レイアウトしやすいように[上, 右, 左, 下]の順で配置 %>
                    <div class="lgc-download-options-margin-<%= corner %>">
                      <%= number_field_tag "margin_#{corner}", pdf_margin_of(corner) %><span class="lgc-unit">mm</span>
                    </div>
                  <% end %>
                </div>
              </td>
            </tr>

            <tr class="lgc-download-options-scale">
              <th><%= label_tag :scale_factor, t('lgc.scale_factor') %></th>
              <td><%= number_field_tag :scale_factor, pdf_scale_factor, min: pdf_min_scale_factor, style: 'width:5em;' %>%</td>
            </tr>

            <tr class="lgc-download-options-header-left">
              <th><%= label_tag :header_left, t('lgc.header_left') %></th>
              <td><%= text_area_tag :header_left, pdf_default_options[:pdf_header_left], class: "lgc-download-options-header", rows: 3 %></td>
            </tr>

            <tr class="lgc-download-options-header-center">
              <th><%= label_tag :header_center, t('lgc.header_center') %></th>
              <td><%= text_area_tag :header_center, pdf_default_options[:pdf_header_center], class: "lgc-download-options-header", rows: 3 %></td>
            </tr>

            <tr class="lgc-download-options-header-right">
              <th><%= label_tag :header_right, t('lgc.header_right') %></th>
              <td><%= text_area_tag :header_right, pdf_default_options[:pdf_header_right], class: "lgc-download-options-header", rows: 3 %></td>
            </tr>

            <tr class="lgc-download-options-project-name-display">
              <th><%= label_tag :draw_project_name, t('lgc.project_name_display') %></th>
              <td>
                <%= hidden_field_tag :draw_project_name, '0', id: nil %>
                <%= check_box_tag :draw_project_name, '1', true %>
                <%= label_tag :draw_project_name, t('lgc.display') %>
              </td>
            </tr>

            <tr class="lgc-download-options-date-label-display">
              <th><%= label_tag :draw_date, t('lgc.date_label_display') %></th>
              <td>
                <%= hidden_field_tag :draw_date, '0', id: nil %>
                <%= check_box_tag :draw_date, '1', true %>
                <%= label_tag :draw_date, t('lgc.display') %>
              </td>
            </tr>
          </table>

          <div class="lgc-form-field lgc-download-submit">
            <%=
              submit_tag(
                t('lgc.download_a_pdf'),
                data: (Alm.rails5_or_later? ? { disable_with: false } : {})
              )
            %>
          </div>
        </form>
      <% end %>
    </div>

    <span class="lgc-separator__vertical"></span>

    <%= render(partial: 'lgc/pro/query_form/header_buttons') if lgc_pro? %>
    <%= lgc_call_hook(:view_query_form_head_buttons_after_download) %>

    <span class="lgc-separator__vertical"></span>

    <a href="javascript:void(0)"
       class="lgc-icon"
       data-fullscreen
       data-fullscreen-label-start="<%= t('lgc.exit_fullscreen') %>"
       data-fullscreen-label-exit="<%= t('lgc.start_fullscreen') %>"></a>
  </div>

  <h2><%= t(:label_lgc) %><% if @query.persisted? %><span class="lgc-savedQuery-parts">: <%= h(@query.name) %></span><% end %></h2>

  <form id="query_form" class="lgc-queryForm-form lgc-query-form">
    <div class="lgc-queryForm-form-inner">
      <%= hidden_field_tag :id, @query.id, id: nil %>
      <%= hidden_field_tag :parallel_view, @query.parallel_view? ? 1 : 0, id: nil %>

      <fieldset id="filters" class="collapsible <%= @query.new_record? ? '' : 'collapsed' %>">
        <legend onclick="toggleFieldset(this);" class="icon icon-<%= @query.new_record? ? "expended" : "collapsed" %>"><%= t(:label_filter_plural) %></legend>
        <div style="<%= @query.new_record? ? '' : 'display: none;' %>">
          <%= render partial: 'queries/filters', locals: {query: @query} %>
        </div>
      </fieldset>

      <fieldset class="collapsible collapsed">
        <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= t(:label_options) %></legend>
        <div style="display: none">
          <fieldset class="lgc-form-fieldset__inlineBlock">
            <legend><%= t(:label_related_issues) %></legend>
            <label>
              <%= check_box_tag :draw_relations, '1', @query.draw_relations? %>

              <% [IssueRelation::TYPE_BLOCKS, IssueRelation::TYPE_PRECEDES].each do |rel| %>
                <span class="lgc-queryForm-relation" data-type="<%= rel %>"></span>
                <%= t(IssueRelation::TYPES[rel][:name]) %>
              <% end %>
            </label>
          </fieldset>

          <fieldset class="lgc-form-fieldset__inlineBlock">
            <legend><%= t(:label_gantt_progress_line) %></legend>
            <label>
              <%= check_box_tag :draw_progress_line, '1', @query.draw_progress_line? %>
              <%= t(:label_display) %>
            </label>
          </fieldset>

          <% if @project.present? %>
            <fieldset class="lgc-form-fieldset__inlineBlock">
              <legend><%= t('lgc.label_main_and_ancestors_projects') %></legend>
              <label>
                <%= check_box_tag :show_main_and_ancestors_projects, '1', @query.show_main_and_ancestors_projects? %>

                <%= t(:label_display) %>
              </label>
            </fieldset>
          <% end %>

          <fieldset class="lgc-form-fieldset__inlineBlock">
            <legend><%= t('lgc.label_ancestor_issues') %></legend>
            <label>
              <input type="hidden" name="with_ancestors" value="0">
              <%= check_box_tag :with_ancestors, '1', @query.with_ancestors? %>
              <%= t(:label_display) %>
            </label>
          </fieldset>

          <fieldset class="lgc-form-fieldset__inlineBlock">
            <legend><%= t('lgc.label_annotations') %></legend>
            <label>
              <%= check_box_tag :draw_annotations, '1', @query.draw_annotations? %>
              <%= t(:label_display) %>
            </label>
            <label>
              (<%= text_field_tag :annotation_after_date, @query.annotation_after_date, class: 'lgc-form-date' %>)
            </label>
          </fieldset>

          <%= render(partial: 'lgc/pro/query_form/options') if lgc_pro? %>
          <%= lgc_call_hook(:view_query_form_options, {query: @query}) %>

          <fieldset class="lgc-form-fieldset__inlineBlock">
            <legend><%= t('lgc.label_empty_versions') %></legend>
            <label>
              <%= check_box_tag :show_empty_versions, '1', @query.show_empty_versions?, data: { bind: 'show_empty_versions' } %>
              <%= t(:label_display) %>
            </label>
          </fieldset>

          <fieldset class="lgc-form-fieldset__inlineBlock">
            <legend><%= t(:field_status_color) %></legend>
            <label>
              <input type="hidden" name="draw_status_color" value="0">
              <%= check_box_tag :draw_status_color, '1', @query.draw_status_color?, data: { bind: 'draw_status_color' } %>
              <%= t(:label_display) %>
            </label>
          </fieldset>

          <fieldset class="lgc-form-fieldset__inlineBlock">
            <legend><%= t(:setting_non_working_week_days) %></legend>
            <label>
              <input type="hidden" name="show_non_working_days" value="0">
              <%= check_box_tag :show_non_working_days, '1', @query.show_non_working_days?, data: { bind: 'show_non_working_days' } %>
              <%= t(:label_display) %>
            </label>
          </fieldset>
        </div>
      </fieldset>

      <fieldset class="collapsible collapsed">
        <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= t('lgc.displayed_columns') %></legend>
        <div style="display: none;">
          <table>
            <tr>
              <td><%= t(:field_column_names) %></td>
              <td><%= render_query_columns_selection(@query) %></td>
            </tr>

            <tr>
              <td><label for='group_by'><%= l(:field_group_by) %></label></td>
              <td><%= select_tag(:group_by, options_for_select(
                @query.groupable_columns.collect {|c| [c.caption, c.name.to_s]},
                @query.group_by
              ), id: nil, include_blank: true) %></td>
            </tr>
          </table>
        </div>
      </fieldset>

      <fieldset class="collapsible collapsed">
        <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= t(:label_sort) %></legend>
        <div style="display: none;">
          <% 3.times do |i| %>
            <div class="lgc-sort-criteria">
              <%= i + 1 %>:
              <%= select_tag "sort_criteria[#{i}][]", options_for_select([[]] + query_sort_criteria_columns_options(@query), @query.sort_criteria_key(i)), id: nil %>
              <%= select_tag "sort_criteria[#{i}][]", options_for_select([[], [t(:label_ascending), 'asc'], [t(:label_descending), 'desc']], @query.sort_criteria_order(i)), id: nil %>
            </div>
          <% end %>

          <label>
            <%= hidden_field_tag 'keep_tree_structure', '0' %>
            <%= check_box_tag 'keep_tree_structure', '1', @query.keep_tree_structure? %>
            <%= t('lgc.keep_tree_structure')  %>
          </label>

          <br>
          <label>
            <%= hidden_field_tag 'manually_sort', '0' %>
            <%= check_box_tag 'manually_sort', '1', @query.manually_sort? %>
            <%= t('lgc.manually_sort')  %>
          </label>
        </div>
      </fieldset>

      <ul class="contextual buttons lgc-queryForm-zoom-selection">
        <% zooms.each do |hash| %>
          <li><label><%= radio_button_tag(:zoom, hash[:zoom], @query.zoom == hash[:zoom].to_s) %><%= hash[:caption] %></label></li>
        <% end %>
      </ul>

      <p class="buttons">
        <span class="lgc-queryForm-dateRange">
          <label>
            <%= number_field_tag :months, @query.months, class: 'lgc-queryForm-months', min: 1 %>
            <%= t(:label_months_from) %>
          </label>

          <%= select_month(@query.month, {prefix: 'month', discard_type: true}, id: nil) %>
          <%= select_year(@query.year, {prefix: 'year', discard_type: true}, id: nil) %>
        </span>

        <%= lgc_call_hook(:view_query_form_after_date_range, {query: @query}) %>

        <input type="hidden" name="set_filter" value="1">

        <a class="icon icon-checked" href="javascript:void(0)" data-trigger="apply"><%= t(:button_apply) %></a>
        <a class="icon icon-reload" href="?set_filter=1" data-trigger="clear"><%= t(:button_clear) %></a>
        <a class="icon icon-save" href="<%= @project ? new_project_lgc_query_path(@project) : new_lgc_query_path %>" data-trigger="save"><%= t(:button_save) %></a>
      </p>
    </div>

    <div class="lgc-queryForm-opener">
      <span><%= image_tag 'changeset.png', size: '16x16' %></span>
    </div>
  </form>
</div>
