<% html_title t(:label_lgc) %>
<% heads_for_wiki_formatter %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'context_menu' %>
  <% if Rails.env.production? %>
    <%= stylesheet_link_tag 'lgc.min', plugin: 'lgc' %>
  <% else %>
    <%= stylesheet_link_tag 'lgc', plugin: 'lgc' %>
  <% end %>
  <%= javascript_include_tag 'fullscreen', plugin: 'lgc' %>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'issues/sidebar' %>
<% end %>

<% if Rails.env.production? %>
  <%= javascript_include_tag 'vendor.min', 'lgc.min', plugin: 'lgc' %>
<% else %>
  <%= javascript_include_tag 'vendor', 'lgc', plugin: 'lgc' %>
<% end %>

<script>
  window.datepickerOptions = datepickerOptions || {};
  datepickerOptions.showWeek = false;
</script>
<%= render partial: 'lgc/query_form', locals: {project: @project} %>

<div id="lgc-root"></div>

<%= render(partial: 'lgc/pro/activation') if lgc_pro? %>

<%= lgc_call_hook(:before_start) %>

<script>
<%# Redmine 3.4で追加されたremoteタイプのフィルタに対応 %>
<% if respond_to?(:queries_filter_path) %>
  var filtersUrl = <%=raw_json queries_filter_path(project_id: @query.project.try(:id), type: 'IssueQuery') %>;
<% end %>

Backbone.$(function($) {
  LGC.start({
    today: "<%= today %>",
    nonWorkingWeekDays: <%= non_working_week_days_json %>,
    selectableProjects: <%= selectable_projects_json %>,
    mainProjectId: <%= @project.try(:id).to_json %>,
    translation: <%= translation_json %>,
    urls: <%= urls_json %>,
    permission: <%= permission_json %>,
    parentIssueDates: "<%= Setting.respond_to?(:parent_issue_dates) ? Setting.parent_issue_dates : 'derived' %>",
    crossProjectIssueRelations: <%= Setting.cross_project_issue_relations == '1' %>,
    sortableColumns: <%= @query.sort_criteria_columns.map(&:name).to_json.html_safe %>,
    availableTrackers: <%= available_trackers_json %>,
    closedStatusIds: <%= closed_status_ids_json %>,
    extensions: <%= extensions_json %>,
    collapsedRowIdentifiers: <%= @query.collapsed_row_identifiers.present? ? @query.collapsed_row_identifiers.html_safe : 'null' %>,
    maxFileSize: <%= Setting.attachment_max_size.to_i.kilobytes.to_json.html_safe %>,
    maxFileSizeToHuman: <%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes).to_json.html_safe %>,
    commentsSorting: <%= User.current.pref[:comments_sorting].to_json.html_safe %>,
    hoursPerDay: "<%= Lgc.hours_per_day %>",
    dateFormat: "<%= date_format %>"
  });
});
</script>

<%= lgc_call_hook(:after_start) %>
