<% custom_field_values_full_width = custom_field_values.select { |value| value.custom_field.try(:full_width_layout?) } %>
<% custom_field_values -= custom_field_values_full_width %>
<% contentleft_size = custom_field_values.count.divmod(2).sum %>

<div class="splitcontent" style="<%= display_style %>">
  <div class="splitcontentleft">
    <% custom_field_values.to(contentleft_size - 1).each do |value| %>
      <p><%= custom_field_tag_with_label :issue, value, required: issue.required_attribute?(value.custom_field_id) %></p>
    <% end %>
  </div>
  <div class="splitcontentright">
    <% custom_field_values.from(contentleft_size).each do |value| %>
      <p><%= custom_field_tag_with_label :issue, value, required: issue.required_attribute?(value.custom_field_id) %></p>
    <% end %>
  </div>
</div>

<div style="<%= display_style %>">
  <% custom_field_values_full_width.each do |value| %>
    <p><%= custom_field_tag_with_label :issue, value, required: issue.required_attribute?(value.custom_field_id) %></p>
  <% end %>
</div>
