<% if controller_name == 'issues' && action_name != 'index' && User.current.logged? %>
  <%= javascript_include_tag 'js.cookie.min', plugin: :lychee_custom_field %>
  <%= javascript_include_tag 'collapsable_categories', plugin: :lychee_custom_field %>
  <%= stylesheet_link_tag 'collapsable_categories', plugin: :lychee_custom_field %>
<% end %>
<% if controller_name == 'invisible_custom_field_enumerations' && User.current.logged? %>
  <%= stylesheet_link_tag 'invisible_relations_table', plugin: :lychee_custom_field %>
  <%= javascript_include_tag 'relations_context_menu', plugin: :lychee_custom_field %>
<% end %>