<% custom_field_values_full_width = custom_field_values.select { |value| value.custom_field.try(:full_width_layout?) } %>
<% custom_field_values -= custom_field_values_full_width %>
<% contentleft_size = custom_field_values.count.divmod(2).sum %>

<div class="splitcontent" style="<%= display_style %>">
  <div class="splitcontentleft">
    <% custom_field_values.to(contentleft_size - 1).each do |value| %>
      <div class="cf_<%= value.custom_field.id %> attribute">
        <div class="label"><%= custom_field_name_tag(value.custom_field) %>:</div>
        <%#= Redmine 4.0 以下(本体側で custom_field_value_tag メソッド未実装)では対応不要 %>
        <div class="value"><%= respond_to?(:custom_field_value_tag) ? custom_field_value_tag(value) : show_value(value) %></div>
      </div>
    <% end %>
  </div>
  <div class="splitcontentleft"><%#= styleのためredmineのtypoに合わせている %>
    <% custom_field_values.from(contentleft_size).each do |value| %>
      <div class="cf_<%= value.custom_field.id %> attribute">
        <div class="label"><%= custom_field_name_tag(value.custom_field) %>:</div>
        <%#= Redmine 4.0 以下(本体側で custom_field_value_tag メソッド未実装)では対応不要 %>
        <div class="value"><%= respond_to?(:custom_field_value_tag) ? custom_field_value_tag(value) : show_value(value) %></div>
      </div>
    <% end %>
  </div>
</div>
<div style="<%= display_style %>">
  <% custom_field_values_full_width.each do |value| %>
    <div class="cf_<%= value.custom_field.id %> attribute">
      <div class="label"><%= custom_field_name_tag(value.custom_field) %>:</div>
      <%#= Redmine 4.0 以下(本体側で custom_field_value_tag メソッド未実装)では対応不要 %>
      <div class="value"><%= respond_to?(:custom_field_value_tag) ? custom_field_value_tag(value) : show_value(value) %></div>
    </div>
  <% end %>
</div>
