<%
  all_cf_values = issue.visible_custom_field_values.reject do |cf_value|
                    cf_value.custom_field.try(:full_width_layout?) &&
                    cf_value.custom_field.field_format == 'text' &&
                    cf_value.value.blank?
                  end
%>
<%= render 'lychee_custom_field/view_issues_custom_fields',
           view_type: 'show',
           all_cf_values: all_cf_values,
           issue: issue %>
<% if all_cf_values.count > 0 %>
  <script>
    $(function() {
      $('.issue .attributes').children('.splitcontent').last().remove();
      $('#categorized-custom-values-show').children().appendTo('.issue .attributes');
      $('#categorized-custom-values-show').remove();
    });
  </script>
<% end %>
