<% if custom_field.type_name == :label_issue_plural %>
  <p>
    <%= label_tag t(:label_custom_field_category) %>
    <%= select_tag :lychee_custom_field_category_id, options_from_collection_for_select(Lychee::CustomFieldCategory.sorted, :id, :name, params[:lychee_custom_field_category_id] || custom_field.category.try(:id)), include_blank: true %>
  </p>
<% end %>
