<% all_cf_values = issue.visible_custom_field_values %>
<% all_full_width_cf_values = all_cf_values.select { |value| value.custom_field.try(:full_width_layout?) } %>
  <script>
    $(function() {
<% all_full_width_cf_values.each do |value| %>
     $(".issue").children("div.cf_<%= value.custom_field.id %>").remove();
<% end %>
    });
  </script>
