<% copy_all_kvs_values_if_empty(issue.project) %>
<% all_cf_values = issue.editable_custom_field_values %>
<% date_custom_fields_ids = all_cf_values.map(&:custom_field).collect { |cf| cf.id if cf.field_format == 'date' }.compact %>
<% custom_field_values_full_width = all_cf_values.select { |value| value.custom_field.try(:full_width_layout?) && value.custom_field.try(:full_text_formatting?) } %>
<%= render 'lychee_custom_field/view_issues_custom_fields',
           view_type: 'form',
           all_cf_values: all_cf_values,
           issue: issue %>
<% if all_cf_values.count > 0 %>
  <script>
    $(function() {
      function lychee_cf_insideIDs(selected, ids) {
        return selected.map(function(v) { return parseInt(v) }).some(function(v) { return ids.indexOf(v) !== -1 });
      }

      function lychee_cf_makeSelectBoxRequired(selected, id, allIds) {
        // same markup for both dropdown and checkboxes types of selectors
        var label = $("[name^='issue[custom_field_values][" + id + "]']").closest('p').find('label').first();
        var required = label.find('.required');
        if (lychee_cf_insideIDs(selected, allIds)) {
          required.length ? required.show() : label.append('<span class="required">*</span>');
        } else {
          required.hide();
        }
      }

      function lychee_cf_redrawSelectBoxes(selected, allKeys, allEnumerations, visibleEnumerations) {
        var enumerations = allEnumerations;
        if (lychee_cf_insideIDs(selected, allKeys)) {
          // TODO: fix for multi-selection
          enumerations = visibleEnumerations[parseInt(selected)];
        }
        if (!enumerations) {
          // add empty array (= no visible elements) for every select box
          enumerations = {};
          Object.keys(allEnumerations).forEach(function(selectBoxId) {
            enumerations[selectBoxId] = [];
          });
        };
        Object.keys(enumerations).forEach(function(selectId) {
          selectBox = $('select#issue_custom_field_values_' + selectId);
          lastSelected = selectBox.val();
          selectBox.empty();
          selectBox.append('<option value>&nbsp;</option>');
          $.each(enumerations[selectId], function(i, item) {
            $(selectBox).append($('<option>', { value: item.value, text: item.text }));
          });
          var visibleIds = enumerations[selectId].map(function(v) { return v.value; });
          if (lastSelected && $.inArray(parseInt(lastSelected), visibleIds) > -1){
            selectBox.val(lastSelected);
          }
        });
      }

      function lychee_cf_redrawRadioButtons(selected, allKeys, allEnumerations, visibleEnumerations) {
        var enumerations = allEnumerations;
        if (lychee_cf_insideIDs(selected, allKeys)) {
          // TODO: fix for multi-selection
          enumerations = visibleEnumerations[parseInt(selected)];
        }

        Object.keys(enumerations).forEach(function(selectId) {
          radioButtonGroup = document.querySelectorAll(`input[name="issue[custom_field_values][${selectId}]"][type="radio"]`)
          if (!radioButtonGroup.length) return;

          const checkedValues = Array.from(radioButtonGroup).filter(el => el.checked).map(el => Number(el.value))

          // initialize
          parent_el = radioButtonGroup[0].closest('span')
          Array.from(parent_el.children).filter(el=>el.children[0].value).forEach((el) => { $(el).remove() })
          // set enable values
          enumerations[selectId].forEach((item) => {
            $(parent_el).append($('<label style>')).find('label:last').append(
              $('<input>', { type: 'radio', name: `issue[custom_field_values][${selectId}]`, value: item.value, checked: (checkedValues.includes(item.value) ? true : false) })
            ).append(` ${item.text}`);
          })
        });
      }

      // workaround for <Redmine-3.3 ( see also redmine/redmine@c418fab )
      if (!$.fn.datepickerFallback) {
        $.fn.datepickerFallback = $.fn.datepicker;
      }
      $('#attributes').children('p').remove();
      $('#attributes').find('.splitcontent').eq(1).remove();
      $('#categorized-custom-values-form').children().appendTo('#attributes');

      var dateCustomFieldIds = <%= raw json_escape(date_custom_fields_ids.to_json) %>;
      dateCustomFieldIds.forEach(function(id) {
        $("#issue_custom_field_values_" + id).addClass('date').datepickerFallback(datepickerOptions);
      });

      var cfEnumerationsForChange = <%= raw json_escape(custom_fields_enumerations_for_change(issue).to_json) %>;
      cfEnumerationsForChange.forEach(function(cf) {
        function changeView(selected, cf_id = null) {
          if (!selected) {
            return;
          }
          if (cf_id && cf_id !== cf.id) {
            return;
          }
          cf.required_cf_ids.forEach(function (required_cf_id) {
              lychee_cf_makeSelectBoxRequired(selected,
                                              required_cf_id.cf_id,
                                              required_cf_id.cf_enumeration_ids);
          });
          var allEnumerations = Object.keys(cf.all_enumerations).map(function(e) {
            return cf.all_enumerations[e];
          })[0];
          if (allEnumerations) {
            lychee_cf_redrawSelectBoxes(selected,
                                        Object.keys(cf.all_enumerations).map(function(v) { return parseInt(v) }),
                                        allEnumerations,
                                        cf.visible_enumerations);

            lychee_cf_redrawRadioButtons(selected,
                                        Object.keys(cf.all_enumerations).map(function(v) { return parseInt(v) }),
                                        allEnumerations,
                                        cf.visible_enumerations);
          }
        }
        $('.enumeration_cf.check_box_group input[type=radio]').on('change', function() {
          var hasIdMatch = $(this).attr('name').match(/issue\[custom_field_values\]\[(\d+)\]/);
          if (!hasIdMatch[1]) return false;
          changeView([$(this).val()], Number(hasIdMatch[1]));
        });
        $('.enumeration_cf.check_box_group input[type=checkbox]').on('change', function() {
          var selected = [];
          $('.enumeration_cf.check_box_group input[type=checkbox]:checked').each(function() {
            var hasIdMatch = $(this).attr('name').match(/issue\[custom_field_values\]\[(\d+)\]\[\]/);
            if (!hasIdMatch[1]) return false;
            selected.push($(this).val());
          });
          changeView(selected, Number(hasIdMatch[1]));
        }).get();
        $('#issue_custom_field_values_' + cf.id).on('change', function() {
          var selected = $(this).val();
          if (!$(this).attr('multiple')) selected = [selected];
          changeView(selected, cf.id);
        }).trigger('change');
      });
      $('#categorized-custom-values-form').remove();
      var wikiToolbar;
      <% custom_field_values_full_width.each do |value| %>
        wikiToolbar = new jsToolBar(document.getElementById('issue_custom_field_values_<%= value.custom_field_id %>'));
        wikiToolbar.setHelpLink('/help/ja/wiki_syntax_<%=j Setting.text_formatting %>.html');
        wikiToolbar.setPreviewUrl('<%=j preview_issue_path(project_id: issue. project, issue_id: issue.id) %>');
        wikiToolbar.draw();
      <% end %>
    });
  </script>
<% end %>
