<div id="categorized-custom-values-<%= view_type -%>" style="display: block;">
  <%= render "lychee_custom_field/#{view_type}_custom_fields",
               issue: issue,
               display_style: '',
               custom_field_values: all_cf_values.select { |cfv| cfv.custom_field.in?(uncategorized_custom_fields) },
               category: nil %>
  <% Lychee::CustomFieldCategory.sorted.includes(:custom_fields).each do |category| %>
    <% cf_fields = category.custom_fields %>
    <% next if cf_fields.blank? %>
    <% category_cf_values = all_cf_values.select { |cfv| cfv.custom_field.in?(cf_fields) } %>
    <% next if category_cf_values.count == 0 %>
    <fieldset id="category-<%= category.id %>" class="collapsible <%= collapsed?(category) ? 'collapsed' : '' %>">
      <legend class="icon icon-<%= collapsed?(category) ? 'collapsed' : 'expended' %>"><%= category.name %></legend>
      <%== render "lychee_custom_field/#{view_type}_custom_fields",
                  issue: issue,
                  category: category,
                  display_style: collapsed?(category) ? 'display: none' : '',
                  custom_field_values: category_cf_values %>
    </fieldset>
  <% end %>
  <hr class="categories-end" />
</div>
