<% setting = Setting.plugin_lychee_kanban %>
<p style="display: none;">
  <%= label_tag 'settings[issues_limit]', t(:field_settings_plugin_lychee_kanban_issues_limit) %>
  <%= text_field_tag 'settings[issues_limit]', setting[:issues_limit], size: 6 %>
</p>
<p>
  <%= label_tag 'settings[auto_reload_seconds]', t(:field_settings_plugin_lychee_kanban_auto_reload_seconds) %>
  <%= text_field_tag 'settings[auto_reload_seconds]', LycheeKanban::Settings.auto_reload_seconds, size: 6 %>
</p>
