.root {
  min-height: 25px;
  box-sizing: border-box;
  margin: 5px;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.root input[type="text"] {
  flex: auto;
}

.close_button {
  float: right;
  cursor: pointer;
}
