<% if project.memberships.any? %>
  <table class="list members">
    <thead>
      <tr>
        <th><%= l(:label_user) %> / <%= l(:label_group) %></th>
        <th><%= l(:label_role_plural) %></th>
        <th style="width:15%"></th>
        <%= call_hook(:view_projects_settings_members_table_header, project: project) %>
      </tr>
    </thead>
    <tbody>
      <% collapsible_memberships_tree(project.memberships.includes(:principal, :member_roles), member_by_group) do |member, level, status, parent_id| %>
        <% next if member.principal.is_a?(User) && member.principal.group_ids.any? { |group_id| member_by_group.keys.include?(group_id) } %>

        <tr id="<%= "member-#{member.id}" %>"
            class="member <%= level > 0 ? "idnt idnt-#{level}" : 'root' %>"
            data-member-id="<%= member.id %>"
            data-parent-id="<%= parent_id %>">
          <td class="name icon icon-<%= member.principal.class.name.downcase %>">
            <%= content_tag('span', nil, class: "tree-expander tree-expander-#{status}") %>
            <%= link_to_user member.principal %>
          </td>
          <td class="roles">
            <span id="<%= "member-#{member.id}-roles" %>"><%= member.roles.sort.collect(&:to_s).join(', ') %></span>
            <div id="<%= "member-#{member.id}-form" %>"></div>
          </td>
          <td class="buttons">
            <%= link_to l(:button_edit), edit_membership_path(member), remote: true, class: 'icon icon-edit' %>
            <%= delete_link membership_path(member), remote: true, data: (!User.current.admin? && member.include?(User.current) ? { confirm: l(:text_own_membership_delete_confirmation)} : {}) if member.deletable? %>
          </td>
          <%= call_hook(:view_projects_settings_members_table_row, { project: project, member: member}) %>
        </tr>
        <% Array(member_by_group[member.principal.id]).each do |inherited_member| %>
          <tr id="<%= "member-#{inherited_member.id}-inherited-#{member.id}" %>"
              class="member idnt <%= level > 0 ? "idnt-#{level + 1}" : 'idnt-1' %>"
              data-member-id="<%= inherited_member.id %>"
              data-parent-id="<%= member.id %>">
            <td class="name icon icon-user">
              <%= link_to_user inherited_member.user %>
            </td>
            <td class="roles">
              <span id="<%= "member-#{inherited_member.id}-inherited-#{member.id}-roles" %>"><%= inherited_member.roles.sort.collect(&:to_s).join(', ') %></span>
              <div id="<%= "member-#{inherited_member.id}-inherited-#{member.id}-form" %>"></div>
            </td>
            <td class="buttons">
              <%= link_to l(:button_edit), edit_membership_path(inherited_member, inherited: member), remote: true, class: 'icon icon-edit' %>
            </td>
            <%= call_hook(:view_projects_settings_members_table_row, { project: project, member: inherited_member}) %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
