<% if @project.module_enabled?('lychee_issue_set') %>
  <li id="create-issues-from-issue-set" style="display: none;">
    <%= link_to t('label_create_issues_from_issue_set'), edit_project_issue_set_path(@project, @project.enabled_issue_sets.first) %>
  </li>

  <script>
    $(function(){
      var issuePluralSelector = "#sidebar h3:contains('<%= l(:label_issue_plural) %>')";
      if($(issuePluralSelector).length <= 0){
        $('#sidebar').prepend($('<ul>')).prepend($('<h3>', { text: '<%= l(:label_issue_plural) %>' }));
      }

      var $ul = $(issuePluralSelector).next('ul');
      $('#create-issues-from-issue-set').appendTo($ul).show();
    });
  </script>
<% end %>
