<% if @project.module_enabled?('lychee_issue_set') && User.current.allowed_to?(:add_issues, @project) %>
  <hr>
  <div class="create-subtasks-from-issue-set">
    <div class="contextual">
      <%= link_to t(:button_add), edit_project_issue_set_path(@project, @project.enabled_issue_sets.first, parent_id: @issue.id) %>
    </div>

    <p>
      <strong><%= t(:label_create_subtasks_from_issue_set) %></strong>
    </p>
  </div>
<% end %>
