<% if User.current.allowed_to?(:issue_set_manage, project) %>
  <li class="create_issue_set"><%= context_menu_link t(:label_issue_set_create), create_issue_set_lychee_issue_sets_path(ids: params[:ids]), data: { confirm: t(:text_confirmation_create_issue_set_from_issues) } %></li>

  <%= javascript_tag do %>
    $(function() {
      $('.create_issue_set').insertAfter($('#context-menu').find('.icon-fav-off, .icon-fav').parent());
    });
  <% end %>
<% end %>
