<%- # なんかうまく動作しない : http://www.redmine.org/issues/13456 -%>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'alm_common', plugin: 'alm' %>
<% end %>

<%= javascript_include_tag 'stickyfloat', plugin: 'alm' %>
<%= javascript_tag do %>
  $(document).ready(function() {
    $('#lychee-warning').stickyfloat({ duration: 200, stickToBottom: true });
  });
<% end %>

<% if LycheePlugin.license.try(:show_warning?) %>
  <div id="lychee-warning" class="lychee-warning" style="position:absolute;left: 0;z-index:9999;">
    <div class="lychee-popup" style="padding:5px;border: 1px solid #819FF7;margin: 10px;background-color: #E0F2F7">
      <% if LycheePlugin.license.expired_on.present? %>
        <%= t(:text_trial_will_expire, expired_on: LycheePlugin.license.expired_on) %>
      <% else %>
        <%= t(:text_license_not_authenticated) %>
      <% end %>
    </div>
  </div>
<% end %>
