.root {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.header,
.pointDetails {
  color: #fff;
  display: flex;
  height: 32px;
}

.header {
  background-color: #2e5b63;
}

.root.close .header {
  background-color: #3d3d3d;
}

.pointDetails {
  align-items: center;
  background-color: #2e6d80;
  font-weight: bold;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

.root.close .pointDetails {
  background-color: #737373;
}

.container {
  flex-grow: 1;
  position: relative;
}

.containerFluid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.addIcon,
.menuIcon {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-width: 32px;
}

.addIcon:focus,
.menuIcon:focus,
.addIcon:hover,
.menuIcon:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.addIcon:active,
.menuIcon:active {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.headerBody {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
}

.dropdownContent {
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 13px;
  list-style: none;
  margin: 0;
  right: 0;
  padding: 0;
  position: absolute;
  top: 32px;
  z-index: 10;
}

.dropdownItem a {
  color: #666;
  display: block;
  padding: 4px 12px;
  text-decoration: none;
}

.dropdownItem a:hover {
  background: #eee;
}

.dropdownItem a:active {
  background: #ddd;
}

.dropdownItem .danger {
  color: #f00;
}

.backlog .headerBody {
  cursor: move;
}

.title {
  flex-grow: 1;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.estimatePoint {
  font-size: 14px;
  margin-left: 2px;
  margin-right: 2px;
}

.total {
  display: flex;
  align-items: center;
}

.totalCircle {
  background-color: #fff;
  padding: 2px 16px;
  color: #2e6d80;
  margin-right: 8px;
  font-size: 14px;
  border-radius: 12px;
}

.total.over .totalCircle {
  background-color: #ffd0d0;
}

.dropdown {
  position: relative;
}

.footer {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.quick {
  min-height: 25px;
  margin: 5px;
  display: flex;
  align-items: center;
}
