<% if AuthSourceSaml.any?  %>
  <div id="redirect_to_auth_request_box">
    <%= select_tag 'redirect_to_auth_request', options_for_select(auth_source_saml_authn_request_options(AuthSourceSaml.all)) %>
    <%= link_to t(:account_use_sign_in), nil, id: :link_to_authn_request %>
  <div>

  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'lychee_saml_auth.css', plugin: 'lychee_saml_auth' %>
  <% end %>
  <%= javascript_tag do %>
    $(function(){
      if($('#login-form table').length >= 1){
        $('#login-form table').append(
          $('<tr>').append(
            $('<td>', { colspan: 2 }).append($('#redirect_to_auth_request_box'))
          )
        )
      }else{
        $('#login-form').append($('#redirect_to_auth_request_box'));
      }
      $('#link_to_authn_request').on('click', function(){
        location.href = $('#redirect_to_auth_request').val();

        return false;
      });
    });
  <% end %>
<% end %>
