<% if row_name.present? %>
  <div class="project-report-name"><%= row_name %></div>
<% end %>
<div class="contextual">
  <% if row.pending? && version.blank? %>
    <%= select_tag :version_report_link,
          options_for_select(project.shared_versions.open.sort.map{ |version|
            [version.name, project_version_current_report_path(project, version)]
    }),
    prompt: l(:label_version_reports) %>
  <% else %>
    <%= link_to l(:label_project_reports), project_current_report_path(project) %>
  <% end %>
  <% if row.pending? && show_recalculate %>
    <%= link_to(l(:field_reporting_recalculate), recalculate_path(project, version, params.permit(:layout_id, :shared)), method: :post, class: 'icon icon-reload') %>
  <% end %>
  <%= link_to l(:label_history), report_histories_path(project, version), class: 'icon icon-time' %>
</div>

<%= stylesheet_link_tag "lychee_project_report", plugin: :lychee_project_report, media: :all %>
<%= javascript_include_tag "lychee_project_report", plugin: :lychee_project_report %>
