<div class="contextual" style="float: left">
  <% if can_create %>
    <%= content_tag :a, t(:label_create_new_report), class: 'icon icon-add', id: 'add-report' %>
  <% end %>
</div>

<div id='no-layouts-message' style="margin-top: 60px; text-align: center">
  <h2><%= t(:label_no_reports) %></h2>
</div>

<%= javascript_tag do %>
  $('#add-report').on('click', function() {
    $.ajax({
      url: '<%= create_layout_url %>',
      type: 'post',
      complete: function(jqXHR) {
        const layoutId = jqXHR.responseJSON.id;
        // Defined in project_reports/show.html.erb
        LycheeProjectReport.onLayoutCreated({ id: layoutId, editMode: true });
      }
    });
  });
<% end %>
