<div class="contextual">
  <%= link_to t(:label_report_for, name: report_target_name(@project, @version)), current_report_path(@project, @version) %>
</div>
<div style="display: none;" data-project-report-project="<%= project_path(@project) %>"></div>
<div style="display: none;" data-project-report-version="<%= @version&.id %>"></div>

<% if @version.present? %>
  <h3><%= l(:label_report_history_for, name: @version.name) -%></h3>
<% else %>
  <h3><%= l(:label_project_report_history) -%></h3>
<% end %>

<% if @reports.present? %>
  <div>
    <canvas id="report-graph"></canvas>
  </div>
<% end %>
<div class="clearfix" id="index3">
  <div class="column">
    <table id="report-table" class="minilist">
      <tbody>
        <tr>
          <th><%= l(:field_reporting_label_date) -%></th>
          <th><%= l(:field_reporting_label_name) -%></th>
          <% @indices.each do |index| %>
            <th><%= index.name %></th>
          <% end %>
        </tr>
        <% @reports.each do |report| %>
          <tr>
            <td><%= link_to report_path(@project, report, @version) do %><%= I18n.l(report.date, format: :reported_on) %><% end %></td>
            <td class="report-name" data-date="<%= report.date %>"><%= report.record_name %></td>
              <% @indices.each do |index| %>
              <td>
                <% result = @results_by_report_and_index[[report, index]] %>
                <% if result&.result.present? %>
                  <% change_from_previous = result.change_from_previous %>
                  <span class="symbol bg <%= result.decision %>"></span>
                  <%= report_result_value(result.result, result.unit_string, precision: 1) -%>
                  <% if change_from_previous.present? %>
                    <span class="projectReportValueChange <%= arrow_style_with_result(change_from_previous, result.indice_setting.bigger_better) %>">
                      <%= report_result_value(change_from_previous.to_f.abs, result.unit_string, precision: 1) -%>
                    </span>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br/>
<% if @reports.present? %>
  <span class="pagination"><%= pagination_links_full @pages, @count %></span>
<% end %>

<%= javascript_tag do -%>
  var projectReportGraphConfig = {
    xAxesLabel: '<%= l(:field_history_graph_x) -%>',
    yAxesLabel: '<%= l(:field_history_graph_y) -%>'
  };
<% end %>

<%= stylesheet_link_tag "lychee_project_report", plugin: :lychee_project_report %>
<%= javascript_include_tag "Chart.min.js", plugin: :lychee_project_report %>
<%= javascript_include_tag "project_report_history_graph", plugin: :lychee_project_report %>
<%= javascript_include_tag "project_report_name_edit", plugin: :lychee_project_report %>
<%= javascript_include_tag "style", plugin: :lychee_project_report %>
<%= javascript_include_tag "lychee_project_report", plugin: :lychee_project_report %>
