<%= render 'header',
  row: @project_report.record,
  row_name: @project_report.record_name,
  project: @project,
  version: @version,
  show_recalculate: true
%>

<% if @version.present? %>
  <h3><%= t(:label_report_for, name: @version.name) -%></h3>
<% else %>
  <h3><%= l(:label_project_report) -%></h3>
<% end %>

<div class="clearfix" id="index2">
  <div class="column">
    <%= render 'old_layout/about',
      project: @project,
      version: @version,
      reported_on: @project_report.date,
      pending: @project_report.pending?,
      last_reported_on: @project_report.previous&.date %>
  </div>
  <div class="column" style="border: solid 1px #fff;">
  </div>
  <div class="column">
    <%= render 'old_layout/comment',
      project: @project,
      periodic_report_row: @project_report.record %>
  </div>
  <% @project_report.results.for_indices(@indices).in_index_order.each do |result| %>
    <%= render 'old_layout/report',
      project: @project,
      periodic_report: result.result_record %>
  <% end %>
</div>

<%= javascript_include_tag "style", plugin: :lychee_project_report %>
