<%= render 'header',
  row: @project_report.record,
  row_name: @project_report.record_name,
  project: @project,
  version: @version,
  show_recalculate: @layout.present?
%>

<% permissions = frontend_permissions(User.current, @layout, @project_report) %>

<% if @layout %>
  <%= content_tag :div, "",
    id: "project-report",
    data: {
      project_identifier: @project.identifier,
      urls: {
        root: home_path,
        layout: layout_path(@layout),
        newLayout: project_report_layouts_path(project_report_id: @project_report.id),
        panels: layout_panels_path(@project_report, @layout),
        createSharedLayout: project_report_layout_create_shared_layout_path(@layout),
        renderIssues: render_lychee_project_report_project_issues_path(@project),
      },
      allowed_panels: allowed_panels(@project),
      language: I18n.locale,
      permissions: permissions,
      available_layouts: @report_layouts.own_layouts.map { |l|
        {
          id: l.id,
          name: l.name,
          shared: l.copied_from_shared_layout,
          params: { layout_id: l.id }
        }
      },
      available_shared_layouts: @report_layouts.shared_layouts.map { |l|
        {
          id: l.id,
          name: l.name,
          shared: true,
          params: { layout_id: l.id, shared: true }
        }
      },
      current_layout_id: @layout.id,
      current_layout_shared: @layout.is_a?(ProjectReportSharedLayout) || @layout.copied_from_shared_layout,
      reported_on: format_date(params[:date]),
      start_in_edit_mode: params[:edit_mode].present?,
      next_report_date: "#{format_date(@project.next_report_date)}(#{day_letter(@project.next_report_date.cwday)})",
    }
  %>

  <%= built_stylesheet_link_include_tag "bundle", plugin: :lychee_project_report, media: :all %>
  <%= built_javascript_include_tag "bundle", plugin: :lychee_project_report %>
<% else %>
  <%= render 'no_layout',
    create_layout_url: project_report_layouts_path(project_report_id: @project_report.id),
    can_create: permissions.include?('createLayout')
  %>
<% end %>


<%= javascript_tag do %>
  const LycheeProjectReport = {
    onLayoutCreated: function(params) {
      const parameters = params || {};
      // IE11対応するため、URLSearchParams使えない
      let searchParams = "message=" + (parameters.message || "create_success");
      if (parameters.id) {
        searchParams += ("&layout_id=" + parameters.id.toString())
      }
      if (parameters.shared) {
        searchParams += "&shared=true"
      }
      if (parameters.editMode) {
        searchParams += "&edit_mode=true"
      }
      window.location.href = '<%= report_flash_path(@project, @version) %>' + "?" + searchParams;
    }
  };
<% end %>
