<%= error_messages_for 'levm_query' %>

<%= form_for([@project, @levm_query]) do |f| %>
  <div class="box">
    <div class="tabular">
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, size: 80 %>
      </p>

      <p>
        <%= f.label :visibility %>
        <label class="block">
          <%= radio_button :levm_query, :visibility, Query::VISIBILITY_PRIVATE %>
          <%= l(:label_visibility_private) %>
        </label>
        <label class="block">
          <%= radio_button :levm_query, :visibility, LevmQuery::VISIBILITY_PUBLIC %>
          <%= l(:label_visibility_public) %>
        </label>
        <label class="block">
          <%= radio_button :levm_query, :visibility, LevmQuery::VISIBILITY_ROLES %>
          <%= l(:label_visibility_roles) %>:
        </label>
        <% Role.givable.sorted.each do |role| %>
          <label class="block role-visibility">
          <%= check_box_tag 'levm_query[role_ids][]', role.id, @levm_query.roles.include?(role), id: nil %> <%= role.name %></label>
        <% end %>
        <%= hidden_field_tag 'levm_query[role_ids][]', '' %>
      </p>

      <p>
        <%= f.label l(:field_is_for_all) %>
        <%= check_box_tag 'levm_query[query_is_for_all]',
                          1,
                          @levm_query.project.nil?,
                          class: (User.current.admin? ? '' : 'disable-unless-private') %>
      </p>
    </div>
    <fieldset id="field_type">
      <legend><%= l(:field_type) %></legend>
      <p><%= f.select :evm_type, options_for_select_levm_type(@levm_query.evm_type) %></p>
    </fieldset>
    <fieldset id="field_condition">
      <legend><%= l(:field_condition) %></legend>
      <p id="levm-target">
        <%= label_tag('evm_target', t(:field_version)) %>
        <%= f.select :evm_targets,
                    options_for_select_levm_targets(@project, @levm_query.evm_targets),
                    {},
                    { multiple: true, class: 'levm_select2' } %>
      </p>
      <% if @project.plot_lgc_milestone? %>
        <p id="levm-milestones">
          <%= label_tag('evm_milestones', t('lgc.milestone')) %>
          <%= select_tag 'levm_query[evm_milestones]',
                        options_for_select_lgc_milestones(@project, @levm_query.evm_milestones),
                        { multiple: true, class: 'levm_select2' } %>
        </p>
      <% end %>
      <p>
        <span id="former-date" style="display: none;"><!-- TODO: only for baseline chart -->
          <%= label_tag('evm_ym_before', t(:field_base_date_former)) %>
          <%= f.text_field :evm_date1, size: 10 %><%= calendar_for('levm_query_evm_date1') %>
        </span>
        <span>
          <%= label_tag('evm_ym', t(:field_base_date), id: "base-date") %>
          <%= label_tag('evm_ym_after', t(:field_base_date_latter), id: "latter-date", style: "display: none;") %>
          <%= f.text_field :evm_date2, size: 10 %><%= calendar_for('levm_query_evm_date2') %>
        </span>
      </p>
    </fieldset>
  </div>

  <%= f.hidden_field :project_id %>
  <%= f.submit l(:button_save) %>
<% end %>
