<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'levm', plugin: 'levm' %>
  <%= javascript_include_tag 'levm', plugin: 'levm' %>
<% end %>

<h3><%= l(:label_query) -%></h3>

<%= render 'form' %>
