.attachments_fields input.filename,
#existing-attachments .filename {
  width: 160px;
}

.icon-fullscreen-start {
  background-image: url('../images/fullscreen-start.png');
}
.icon-fullscreen-exit {
  background-image: url('../images/fullscreen-exit.png');
}
.icon-association-chart {
  background-image: url('../images/association-chart.png');
}

.lac-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lac-chart-container {
  position: relative;
  overflow: auto;
  overflow-y: hidden;
  z-index: 10;
  outline: none;
  -moz-user-select: none;
  user-select: none;
}

#lac-chart-relations {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/**
 * Chart
 */
#lac-chart {
  position: relative;
  padding: 20px 0;
}

#lac-chart ul {
  clear: left;
  margin: 0 0 0 80px;
  padding: 40px 0 0;
  list-style-type: none;
  word-break: break-all;
}

#lac-chart > ul {
  margin: 0 !important;
  padding: 0 !important;
}

#lac-chart li {
  display: table;
  margin-top: 40px;
}

#lac-chart li:first-child {
  margin-top: 0;
}

.lac-chart-item {
  position: relative;
  z-index: 1;
  float: left;
  width: 220px;
  margin-bottom: 10px;
}

.lac-chart-relations {
  margin-left: 300px; /* 220 + 80 */
}

.lac-chart-relations .lac-chart-item.lac-chart-item--no-other-issues {
  float: none;
}

.lac-chart-other-end {
  clear: both;
}

.lac-editable-toggle {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 16px;
  height: 16px;
  padding: 5px;
  background: url(../../../images/edit.png) 50% 50% no-repeat;
  cursor: pointer;
}

.lac-chart-item:hover .lac-editable-toggle {
  display: inline-block;
}

.lac-chart-item[data-editing='1'] .lac-editable-toggle {
  display: inline-block;
  background-image: url(../../../images/cancel.png);
}

.lac-create-issue {
  display: none;
  position: absolute;
  top: 3px;
  right: 24px;
  width: 16px;
  height: 16px;
  padding: 5px;
  background: url(../../../images/add.png) 50% 50% no-repeat;
  cursor: pointer;
}

.lac-chart-item:hover .lac-create-issue {
  display: inline-block;
}

.lac-chart-item[data-editing='1'] .lac-create-issue {
  display: none;
}

.lac-chart-item > a,
.lac-chart-item-editor,
.lac-chart-item-unrelated > a {
  display: block;
  padding: 10px;
  border: 1px solid #acacac;
  border-radius: 3px;
  color: inherit;
  font-size: 10px;
}

.lac-chart-item[data-type='issue'] > a,
.lac-chart-item-unrelated > a {
  border-color: #8f9b79;
  background: #cfddb5;
}

.lac-chart-item.lac-current > a {
  padding: 9px;
  border: 2px solid #a6b28e;
  background: #e5edd7;
}

.lac-chart-item[data-type='changeset'] > a {
  border-color: #7997a8;
  background: #c0daeb;
}

.lac-chart-item[data-type='other'] > a {
  border-color: #b59c94;
  background: #f2e6e3;
}

.lac-chart-item.lac-relatable-from > a,
.lac-chart-item.lac-relatable-to > a,
.lac-chart-item-unrelated.lac-relatable-to > a {
  padding: 8px;
  border-width: 3px;
  border-style: dashed;
}

[data-closed='true'] .lac-chart-tracker {
  color: #999;
  text-decoration: line-through;
}

.lac-chart-tracker,
.lac-chart-meta,
.lac-chart-subject,
.lac-chart-rev {
  font-weight: bold;
  word-wrap: break-word;
}

.lac-chart-tracker,
.lac-chart-meta,
.lac-chart-rev {
  margin-bottom: 1px;
}

.lac-chart-status {
  margin-top: 10px;
}

.lac-chart-item-editor {
  background: #fff;
}

.lac-chart-item-editor .lac-text {
  width: 90%;
}

.lac-chart-item-editor input,
.lac-chart-item-editor select,
.lac-chart-item-editor textarea {
  max-width: calc(100% - 5px);
}

.lac-chart-item-editor .submit {
  margin-top: 5px;
  text-align: right;
}

.lac-chart-item-scrolling {
  overflow-y: auto;
  height: 430px;
}

/**
 * Chart zooms
 */
.lac-chart-zoom {
  float: left;
  margin-right: 10px;
}

.lac-chart-zoom .lac-disabled {
  text-decoration: none;
  color: #999;
  cursor: default;
}

[data-chart-zoom='2'] .lac-chart-item {
  width: 180px;
  font-size: 0.9em;
}

[data-chart-zoom='2'] .lac-chart-relations {
  margin-left: 235px; /* 180 + 55 */
}

[data-chart-zoom='1'] .lac-chart-item {
  width: 160px;
  font-size: 0.7em;
}

[data-chart-zoom='1'] .lac-chart-relations {
  margin-left: 200px; /* 160 + 40 */
}

/**
 * Modal
 */
#lac-modal {
  display: none;
}

.lac-modal-overlay {
  opacity: 0.85;
  filter: alpha(opacity=85);
  background-color: #000;
  z-index: 1001;
}

.lac-modal-container {
  display: table;
  z-index: 1002;
}

.lac-modal-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

*:first-child + html .lac-modal-content {
  /* IE 7 */
  margin-top: 100px;
}

.lac-modal-content-body {
  display: inline-block;
  width: 650px;
  text-align: left;
}

/**
 * Relations
 */
.lac-relatable-items {
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  height: 450px;
}

.lac-relatable-items .lac-chart-item {
  float: right;
  margin-bottom: 0;
  width: 320px;
}

.lac-relatable-items .lac-chart-item:first-child {
  position: relative;
  float: left;
  width: 220px;
}

.lac-relatable-items .lac-chart-item:first-child:after {
  position: absolute;
  top: 50%;
  left: 253px;
  content: '';
  margin-top: -20px;
  border: 20px solid transparent;
  border-left-color: #696969;
}

.lac-relatable-items a {
  text-decoration: none;
  cursor: default;
}

.lac-relatable-types ul {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  list-style-type: none;
  height: auto;
  line-height: 2;
  overflow: hidden;
}

.lac-relatable-types li {
  float: left;
  margin-right: 5px;
  padding: 5px 12px;
  border: 1px solid #afafaf;
  border-radius: 3px;
  background: #fff;
  cursor: default;
}

.lac-relatable-types li:hover {
  border: 1px solid #628db6;
  background: #eef5fd;
}

.lac-relatable-types li.cancel {
  float: right;
  margin-right: 0;
}

.lac-relatable-types li input {
  width: 6em;
  font-size: 0.9em;
}

/**
 * Unrelated Issue search
 */

.lac-unrelated-issues {
  padding-left: 90px;
  overflow-y: auto;
  height: 430px;
}

.lac-issues-list {
  padding-right: 10px;
}

.lac-issues-list .lac-chart-item-unrelated {
  margin-top: 5px;
  margin-bottom: 5px;
}

/**
 * Download
 */
.lac-downloads {
  position: relative;
  float: left;
  margin-right: 10px;
}

.lac-downloads .le-popover:after,
.lac-downloads .le-popover:before {
  left: 40px;
}

/**
 * Legend
 */
.lac-legend {
  position: relative;
  float: left;
  margin-right: 10px;
}

.lac-legend .le-popover {
  width: 300px;
  left: -125px;
}

.lac-legend .le-popover:after,
.lac-legend .le-popover:before {
  left: 150px;
}

.lac-legend img,
.lac-legend span {
  vertical-align: middle;
}

.lac-legend dl {
  margin: 0;
  line-height: 20px;
}

.lac-legend dt {
  float: left;
  clear: left;
  margin: 5px 7px 0 0;
}

.lac-legend dd {
  margin: 5px 0 0 47px;
}

.lac-legend dt:first-child,
.lac-legend dt:first-child + dd {
  margin-top: 0;
}

.lac-modal-content #add_filter_select {
  max-width: 100px;
}

/**
 * Fullscreen
 */
button[data-fullscreen] {
  float: left;
}
