/**
 * Flash message
 */
.le-flash {
	position: fixed;
	width: 100%;
	z-index: 1001;
}

.le-flash .flash {
	margin: 8px;
}

.le-flash div.flash {
	background-position: 8px 50%;
}

/**
 * Fullscreen
 */
.le-header {
	position: relative;
}

.le-header-menu {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: .5em;
}

.le-fullscreen #header,
.le-fullscreen #association_chart_query_form fieldset,
.le-fullscreen #association_chart_query_form .buttons,
.le-fullscreen #sidebar {
	display: none;
}

.le-fullscreen #association_chart_query_form {
	float: none;
	text-align: right;
}

.le-fullscreen #content {
	width: auto;
}

/**
 * Popover
 */
.le-popover {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: 10px;
	padding: 8px;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #FFF;
	z-index: 1001;
}

.le-popover:after,
.le-popover:before {
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 20px;
	content: "";
	border: solid transparent;
}

.le-popover:after {
	border-bottom-color: #FFF;
	border-width: 6px;
	border-bottom-width: 8px;
}

.le-popover:before {
	border-bottom-color: #CCC;
	border-width: 8px;
	border-bottom-width: 10px;
	margin-left: -2px;
}
