<%= t(:text_issue_added_from_issue_set, author: @author) %>

----------------------------------------
<% @issues.each do |issue| %>
  <%= "#{issue.tracker.name} ##{issue.id}: #{issue.subject} (#{issue_url(issue)})" %>
<% end %>
