<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'backlog.css', plugin: :lychee_kanban %>
<% end %>

<%= javascript_tag do %>
  <%# redmine の keyDownイベントは無効にする. kanban 側で制御したいから %>
  $(document).off('keydown', 'form textarea');
<% end %>

<%== render partial: 'lychee_issue_board/fullscreen' %>

<h2><%= t(:backlog) %></h2>

<div id="task-kanban-queryForm">
  <%== render partial: 'lychee_issue_board/filter', locals: {
    project: @project,
    query: @query,
    redirect_to: :project_backlog_index,
    configurable: true,
    context: :backlog
  } %>
</div>

<% content_for :sidebar do %>
  <div id="velocity"></div>
  <%= render_sidebar_queries %>
<% end %>

<div id="wrapper-target-content">
  <%= content_tag :div,
    id: 'target-content',
    data: {
      queries: @query.filters.to_json,
      redmine_version: Redmine::VERSION.to_s.to_f,
      redmine_state: redmine_state } do %>
    <div id="ajax-indicator"><span><%= l(:label_loading) %></span></div>
  <% end %>
</div>

<%== render partial: 'lychee_issue_board/bundlejs' %>
