<p>
  <%= hidden_field_tag 'custom_field[used_in_project_report]', '0', id: nil %>
  <%= label_tag :custom_field_used_in_project_report, t(:field_used_in_project_report) %>
  <%= check_box_tag 'custom_field[used_in_project_report]', '1', custom_field.used_in_project_report? %>
</p>
<%= javascript_tag do %>
$(function() {
  var inputVisible = $('#custom_field_visible');

  if (inputVisible) {
    var inputUsedInProjectReport = $('#custom_field_used_in_project_report');
    inputUsedInProjectReport.change(function() {
      if ($(this).prop('checked')) {
        inputVisible.prop('checked', true);
      }
    });

    inputVisible.change(function() {
      if (!$(this).prop('checked')) {
        inputUsedInProjectReport.prop('checked', false);
      }
    });
  }
});
<% end %>
