<%= simple_format t('message.settings_description') %>
<%
  @tracker_options = Tracker.all.map do |tracker|
    LycheeIssueBoardTrackerOption.find_or_initialize_by tracker_id: tracker.id
  end
%>
<style>
  #tab-content-kanban {
    height: 100%;
  }
</style>
<%= form_tag({ controller: 'lychee_issue_board_tracker_options', action: :update, tab: :kanban }, { method: :put }) do |f| %>
  <%= content_tag :div,
    id: 'target-content',
    style: 'height: 100%',
    data: {
      kanban_type: 'settings',
      redmine_version: Redmine::VERSION.to_s.to_f,
      redmine_state: '{}',
      trackers: Tracker.all.map { |i|
        {
          id: i.id,
          name: i.name,
          workflow: i.lychee_issue_board_tracker_option&.workflow,
          color: i.lychee_issue_board_tracker_option&.color,
        }
      }.to_json,
      button_save: l(:button_save),
    } do %>
  <div id="ajax-indicator"><span><%= l(:label_loading) %></span></div>
  <% end %>
<% end %>
<%== render partial: 'lychee_issue_board/bundlejs' %>
