<fieldset class="box">
  <legend><%= l('active_record.models.kanban_option') %></legend>
  <div>
    <table>
      <tbody>
        <tr>
          <td>
            <%= label_tag "backlog_default_sprint_period",
              simple_format( l('view.kanban_options.backlog.default_sprint_period') )%>
          </td>
          <td>
            <span>
              <%= f.select :backlog_default_sprint_period,
                selectable_backlog_default_sprint_period %>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <%= label_tag "backlog_point_enabled", simple_format( l('view.kanban_options.backlog.point_enabled') )%>
          </td>
          <td>
            <span>
              <%= f.check_box :backlog_point_enabled, { checked: kanban_option.backlog_point_enabled }, :true, :false %>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <%= label_tag "visible_subproject", simple_format( l('view.kanban_options.backlog.visible_subproject') )%>
          </td>
          <td>
            <span>
              <%= f.check_box :visible_subproject, { checked: kanban_option.visible_subproject }, :true, :false %>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</fieldset>
<%= render partial: 'lychee_issue_board/settings/display_issue_attributes', locals: { f: f, type: 'backlog' } %>
