<% name = "#{type}_display_issue_attributes" %>
<%= f.hidden_field name, { multiple: true, value: '' } %>
<fieldset class="box">
  <legend><%= l('view.settings.description_available_kanban_display_issue_attributes')%></legend>
  <div style="display: flex; flex-wrap: wrap; white-space: nowrap; margin: 0 -4px 8px;">
    <% KanbanOption::AVAILABLE_DISPLAY_ISSUE_ATTRIBUTES.each do |attribute| %>
      <div style="display: flex; align-items: center; margin: 2px 4px">
        <% selected_attributes = @kanban_option.try(name) || [] %>
        <%= f.check_box name, { multiple: true, checked: selected_attributes.include?(attribute) }, attribute, nil %>
        <%= label_tag "kanban_option[#{name}][#{attribute}]", l("field_#{attribute}") %>
      </div>
    <% end %>
  </div>
  <fieldset style="border-bottom: 0; border-right: 0; border-left: 0;">
    <legend><%= l('label_custom_field') %></legend>
    <% projects_custom_fields_options = build_projects_custom_fields_options @project, type %>
    <div style="display: flex; flex-wrap: wrap; white-space: nowrap; margin: 0 -14px;">
      <%= f.fields_for "#{type}_projects_custom_fields_options", projects_custom_fields_options do |field| %>
        <div style="display: flex; align-items: center; margin: 2px 4px">
          <% custom_field = field.object.custom_field %>
          <%= field.hidden_field :lychee_issue_board_custom_field_option_id %>
          <%= field.check_box :display, {}, :true, :false %>
          <%= field.label :display, custom_field.name %>
        </div>
      <% end %>
    </div>
  </fieldset>
</fieldset>
