<% @kanban_option = KanbanOption.find_or_initialize_by(project: @project) %>
<%= form_for [@project, @kanban_option] do |f| %>
  <%= render partial: 'lychee_issue_board/settings/kanban_display_users' %>
  <% if @project.enabled_modules.map(&:name).include?('lychee_agile') %>
    <fieldset id="kanban" class="collapsible">
      <legend onclick="toggleFieldset(this);" class="icon icon-expended">【<%= l(:kanban) %>】</legend>
      <div>
        <%= render partial: 'lychee_issue_board/settings/kanban', locals: { f: f, kanban_option: @kanban_option } %>
      </div>
    </fieldset>
  <% end %>
  <% if @project.enabled_modules.map(&:name).include?('lychee_backlog') %>
    <fieldset id="backlog" class="collapsible">
      <legend onclick="toggleFieldset(this);" class="icon icon-expended">【<%= l(:backlog) %>】</legend>
      <div>
        <%= render partial: 'lychee_issue_board/settings/backlog', locals: { f: f, kanban_option: @kanban_option } %>
      </div>
    </fieldset>
  <% end %>
  <%= f.submit l(:button_save) %>
<% end %>
