<fieldset class="box">
  <legend><%= l('active_record.models.kanban_option') %></legend>
  <div>
    <table>
      <tbody>
        <tr>
          <td>
            <%= label_tag "display_workload", simple_format( l('view.kanban_options.display_workload.label') )%>
          </td>
          <td>
            <span>
              <%= f.check_box :display_workload, { checked: kanban_option.display_workload }, :true, :false %>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="margin: 12px;"></div>
    <fieldset style="border-bottom: 0; border-right: 0; border-left: 0;">
      <legend style="color: #999; font-weight: bold;"><%= l('active_record.models.kanban_default_filter') %></legend>
      <div>
        <%= render partial: 'lychee_issue_board/settings/kanban_default_filter', locals: { f: f } %>
      </div>
    </fieldset>
    <fieldset style="border-bottom: 0; border-right: 0; border-left: 0;">
      <legend style="color: #999; font-weight: bold;"><%= l(:burn_down) %></legend>
      <div>
        <table>
          <tbody>
            <tr>
              <td>
                <%= label_tag "burn_down_type", simple_format( l('active_record.attributes.kanban_option.burn_down_type') )%>
              </td>
              <td>
                <span><%= f.select :burn_down_type, localed_burn_down_type_select %></span>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag "cb_burn_down_ideal_line_type",
                              simple_format( l('active_record.attributes.kanban_option.burn_down_ideal_line_type') )%>
              </td>
              <td>
                <span><%= f.select :burn_down_ideal_line_type, localed_burn_down_ideal_line_type_select %></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
  </div>
</fieldset>
<%= render partial: 'lychee_issue_board/settings/display_issue_attributes', locals: { f: f, type: 'kanban' } %>
