<fieldset class="box kanban-display-users">
  <legend><%= l('view.settings.description_selected_kanban_display_users') %></legend>
  <div>
    <%= render_query_columns_selection(@project, name: 'kanban_display_users_member_ids') %>
  </div>
</fieldset>
