<% kanban_default_filter = @project.kanban_default_filter || @project.build_kanban_default_filter %>
<%= f.fields_for :kanban_default_filter, kanban_default_filter do |kdf| %>
  <% @query = IssueQuery.new(project: @project, filters: kanban_default_filter.filters) %>
  <% @query.filters = {} if kanban_default_filter.filters.blank? %>
  <%== render partial: 'queries/filters', locals: { query: @query } %>
<% end %>
