<fieldset class="box">
  <legend><%= l('label_custom_field') %></legend>
  <div style="display: flex; align-items: baseline; flex-wrap: wrap; margin: 0 -5px;">
    <%= f.fields_for :lychee_issue_board_projects_custom_fields_options, projects_custom_fields_options do |field| %>
      <div style="margin: 0 5px; white-space: nowrap;">
        <% custom_field = field.object.custom_field %>
        <%= field.hidden_field :lychee_issue_board_custom_field_option_id %>
        <%= field.check_box :display, {}, :true, :false %>
        <%= custom_field.name %>
      </div>
    <% end %>
  </div>
</fieldset>
