<% setting = Setting.plugin_lychee_kanban %>
<p>
  <%= label_tag 'settings[plugin_lychee_kanban][issues_limit]', t(:field_settings_plugin_lychee_kanban_issues_limit) %>
  <%= text_field_tag 'settings[plugin_lychee_kanban][issues_limit]', setting[:issues_limit], size: 6 %>
</p>
<p style="display: none;">
  <%= label_tag 'settings[plugin_lychee_kanban][auto_reload_seconds]', t(:field_settings_plugin_lychee_kanban_auto_reload_seconds) %>
  <%= text_field_tag 'settings[plugin_lychee_kanban][auto_reload_seconds]', LycheeKanban::Settings.auto_reload_seconds, size: 6 %>
</p>
<script type="text/javascript">
$(document).ready(function(){
  var $gannt_items_limit_field = $('#settings_gantt_items_limit').parent();
  var $lychee_kanban_issues_limit_field = $('#settings_plugin_lychee_kanban_issues_limit').parent();
  $gannt_items_limit_field.after($lychee_kanban_issues_limit_field);
  var $lychee_kanban_auto_reload_seconds_field = $('#settings_plugin_lychee_kanban_auto_reload_seconds').parent();
  $lychee_kanban_issues_limit_field.after($lychee_kanban_auto_reload_seconds_field);
})
</script>
