<% html_title t(:label_lychee_gantt_chart) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined' %>
<% end %>

<div id="lgc-root"></div>

<%= render partial: "lychee_gantt_chart/include_scripts/#{Rails.env}", locals: { name: 'src/main.tsx' } %>

<script type="module">
  startLycheeGanttChart(
    document.getElementById('lgc-root'),
    <%= LycheeGantt::CurrentUserResource.new(User.current, self).to_json.html_safe %>,
    <%= LycheeGantt::ApiClientConfigResource.new(nil, self).to_json.html_safe %>,
    <%= LycheeGantt::SettingsResource.new(@project, self).to_json.html_safe %>
  )
</script>
