/* stylelint-disable */
/*
 * Redmineのプラグイン「sidebar_hide」による表示切り替えへの対応
 * https://www.redmine.org/plugins/sidebar_hide
 */
#sidebar {
  position: static !important;
}

#content.sidebar_hidden #target-content.sidebar_open,
#main.nosidebar #target-content.sidebar_open {
  margin-right: calc(25% - 20px);
}

#content:not(.sidebar_hidden) #target-content.sidebar_open:not([data-kanban-type="ranked"]),
#content.sidebar_hidden #target-content:not([data-kanban-type="ranked"]) {
  padding-right: 28px;
}

@media (max-width: 921px) {
  html:not(.flyout-is-active) #content #target-content.sidebar_open {
    margin-right: 250px;
  }

  #content:not(.sidebar_hidden) #target-content:not([data-kanban-type="ranked"]) {
    padding-right: 28px;
  }
}

/* バックログの縦幅をフレキシブルにするための設定 */
.controller-backlog #content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.controller-backlog #content .contextual {
  display: inline-block;
  position: absolute;
  right: 10px;
}

/* themes with sidebar */
/* Bleuclairテーマ(Redmica), Farend(basic, fancy) */
.theme-Farend.basic.controller-backlog #content #sidebar-switch-panel,
.theme-Farend.fancy.controller-backlog #content #sidebar-switch-panel,
.theme-Bleuclair.controller-backlog #content #sidebar-switch-panel {
  position: absolute;
  left: auto;
  right: 4px;
  top: 16px;
}

/* Bleuclairテーマ(Redmica), Farend(basic, fancy) */
.theme-Farend.basic.controller-backlog #content .contextual,
.theme-Farend.fancy.controller-backlog #content .contextual,
.theme-Bleuclair.controller-backlog #content .contextual {
  right: 35px;
}

.controller-backlog #wrapper-target-content {
  flex-grow: 1;
  position: relative;
  margin-bottom: -10px;
  min-height: 480px;
}

.controller-backlog #target-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* ReactJS Datepikcer のカスタマイズ */
.react-datepicker__close-icon::after {
  background-color: transparent;
  color: #666;
}

.react-datepicker__input--autofilled[name="actual_start_date"],
.react-datepicker__input--autofilled[name="actual_due_date"] {
  background-color: #fc9;
}

.react-datepicker__navigation {
  height: 0;
  width: 0;
}

/* React-DnD の共通スタイル定義 */
.react-dnd--hovered,
.react-dnd--highlighted.react-dnd--hovered {
  background-color: #fafa4c;
}

.react-dnd--highlighted {
  background-color: #ffc;
}

/* 全画面モード有効化時用の対応 */
.task-kanban-is-fullscreen .sidebar > div {
  top: 103px !important;
}

.task-kanban-is-fullscreen #content #target-content {
  margin-right: 24px;
  padding-right: 0 !important;
}

.task-kanban-is-fullscreen #content #target-content[data-kanban-type="ranked"] {
  margin-right: 0;
}

.task-kanban-is-fullscreen #content #target-content.sidebar_open {
  margin-right: calc(25% + 12px);
}

@media (max-width: 921px) {
  .task-kanban-is-fullscreen #content #target-content.sidebar_open:not([data-kanban-type="ranked"]) {
    padding-right: 24px !important;
  }
}

/* 固定ヘッダー用の対応 */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#wrapper {
  overflow: unset !important;
}

#content {
  min-width: 0;
  flex-basis: 0px;
  overflow-x: visible;
}

@media (max-width: 899px) {
  .flyout-menu {
    display: none;
  }
  .flyout-is-active .flyout-menu {
    display: block;
  }
}
/* stylelint-enable */
