<script type="module">
  import RefreshRuntime from 'http://<%= request.host %>:8060/@react-refresh'
  RefreshRuntime.injectIntoGlobalHook(window)
  window.$RefreshReg$ = () => {}
  window.$RefreshSig$ = () => (type) => type
  window.__vite_plugin_react_preamble_installed__ = true
</script>
<script type="module" src="http://<%= request.host %>:8060/@vite/client"></script>
<script type="module" src="http://<%= request.host %>:8060/<%= entry %>"></script>
