<div id="root" class="tailwind"></div>
<%= render Rails.env, plugin_id: 'lychee_project_dashboard', entry: 'src/main.tsx' %>
<script type="module">
  LycheeProjectDashboard.start(document.getElementById('root'), <%= {
    baseURL: Redmine::Utils.relative_url_root,
    manageable: User.current.allowed_to?(:manage_dashboard, @project),
    projectId: @project.identifier,
    importableProjects: @project.importable_projects.map { |project| project.as_json(only: %i[identifier name]) },
    locales: {
      dashboard: t('label_dashboard'),
      fieldTracker: t('field_tracker'),
      fieldStatus: t('field_status'),
      fieldPriority: t('field_priority'),
      fieldAssignedTo: t('field_assigned_to'),
      fieldCategory: t('field_category'),
      noData: t('label_no_data'),
      buttonSave: t('button_save'),
      buttonCancel: t('button_cancel'),
    },
  }.to_json.html_safe %>)
</script>
