<h2>
  <%= t("label_resource_management_settings") %>
</h2>

<% html_title(t(:label_resource_management_settings), t(:label_resource_management)) -%>

<ul>
  <li><%= link_to t("label_distributed_workloads"), distributed_workloads_path %></li>
  <li><%= link_to t("label_threshold_settings"), threshold_settings_path %></li>
  <% if Redmine::Plugin.installed?(:lychee_time_management) %>
  <%# TODO enable in future %>
    <!--
      <li><%#= link_to t("label_lrm_time_management_setting"), lrm_time_management_setting_path %></li>
    -->
  <% end %>
</ul>
