<%= l(:text_complete_precede_issues) %>

----------------------------------------
<%
  locals = { issue: @issue, issue_url: @issue_url }
  if Redmine::VERSION::STRING >= '4.0'
    locals[:user] = @user
  else
    locals[:users] = [@user]
  end
%>
<%= render partial: 'issue', formats: [:text], locals: locals %>
