<% if controller_name == 'gantts' && action_name == 'show' %>
  <%= javascript_include_tag 'lychee_workdays_gantts', plugin: 'lychee_workdays' %>
  <% gantt_days = (@gantt.date_from .. @gantt.date_to).to_a %>

  <%= javascript_tag do %>
    LycheeWorkdaysGantts.setRestDay(
      <%= gantt_days.size %>,
      <%= LycheeRestDay.between(@gantt.date_from, @gantt.date_to).map do |lychee_rest_day|
            gantt_days.index(lychee_rest_day.day)
          end %>
    )
  <% end %>
<% end %>
