.container {
  display: inline-flex;
  position: relative;
}

.trigger {
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 2px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.dropdown {
  position: absolute;
  right: 0;
  margin-top: 2px;
  z-index: 15;
  width: 240px;
  border-radius: 2px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 2px 2px rgba(170, 170, 170, 0.4);
}

.dropdown .list {
  display: flex;
  flex-wrap: wrap;
}
