<%
  @permitted_projects ||= permissions_with_projects
  @has_wiki_project_ids ||= pages_present_wikis.pluck(:project_id)
%>
<% if available_favorite_projects.empty? %>
  <p class="list projects favorite-projects nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list projects favorite-projects odd-even <%= @query.try(:css_classes) %>" data-tree-name="<%= LpvProjectFavorite::TREE_NAME::FAVORITE_PROJECTS %>">
    <thead>
      <tr>
        <% @query.default_columns.each do |column| %>
          <%= column_header_without_sort(@query, column) %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% collapsible_project_tree(available_favorite_projects,
                                  collapsed_list(available_favorite_projects,
                                                 LpvProjectFavorite::TREE_NAME::FAVORITE_PROJECTS)) do |project, level, status, parent_project| %>
        <tr class="<%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %> tree-<%= status %>" data-project-id="<%= project.id %>" data-parent-id="<%= parent_project.try(:id) %>">
          <% @query.default_columns.each do |column| %>
            <%= content_tag('td', class: column.css_classes) do %>
              <%= content_tag('span', nil, class: "tree-expander tree-expander-#{status}") if column.name == :name %>
              <%= column_content(column, project) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
