<h3 class="title"><%= l(:label_user_new) %></h3>

<%= form_for(@cost_group, url: cost_group_users_path(cost_group_id: @cost_group), remote: true, method: :post) do |f| %>
  <%= render partial: 'new_form' %>
  <p class="buttons">
    <%= submit_tag l(:button_add) %>
    <%= submit_tag l(:button_cancel), name: nil, onclick: "hideModal(this);", type: 'button' %>
  </p>
<% end %>
