<fieldset class="box">
  <legend><%= label_tag "user_search", l(:label_user_search) %></legend>
  <p><%= text_field_tag 'user_search', nil %></p>
  <%= javascript_tag "observeSearchfield('user_search', null, '#{ escape_javascript autocomplete_for_user_cost_group_path(@cost_group) }')" %>

  <div id="users">
    <%= render_users_for_new_cost_group_users(@cost_group) %>
  </div>
</fieldset>
