hideModal();
$('#users-content').html('<%= escape_javascript(render partial: 'cost_groups/users', locals: { cost_group: @cost_group }) %>');
<% @users.each do |user| %>
  $('#user-<%= user.id %>').effect("highlight");
<% end %>
