<% if User.current.allowed_to?(:manage_lgc_plans, @project) %>
  <div class="lgc-popover">
    <a href="javascript:void(0)"
       class="icon lgc-icon lgc-icon-baseline"
       data-popover-to="plan"><%= t('lgc.plan') %></a>

    <div class="lgc-plan lgc-popover-item" data-popover="plan">
      <form class="lgc-plan-form">
        <div class="lgc-form-field">
          <%= label_tag 'plan[name]', t(:field_name) %>:<br>
          <%= text_field_tag 'plan[name]', nil, style: 'width:100%' %>
        </div>

        <div class="lgc-form-field lgc-form-field__r">
          <%= submit_tag t('lgc.save_plan') %>
        </div>
      </form>

      <div class="lgc-plan-list">
        <table>
          <tbody>
          <% plans.each do |plan| %>
            <tr class="<%= cycle('odd', 'even') %>" data-id="<%= plan.id %>">
              <td><%= plan.name %></td>
              <td><a href="<%= project_lgc_plan_path(plan.project, plan, format: :json) %>"><i class="icon icon-del"></i></a></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
