<% if @project %>
  <fieldset class="lgc-form-fieldset__inlineBlock">
    <legend><%= t(:label_critical_path) %></legend>
    <label for="draw_critical_path">
      <%= check_box_tag :draw_critical_path, '1', @query.draw_critical_path? %>
      <%= t(:label_display) %>
    </label>
    <label for="calc_multiple_critical_paths">
      <%= check_box_tag :calc_multiple_critical_paths, '1', @query.calc_multiple_critical_paths? %>
      <%= t(:label_calc_multiple_critical_paths) %>
    </label>
  </fieldset>
<% end %>

<% if User.current.allowed_to?(:view_lgc_planning_line, @project) %>
  <fieldset class="lgc-form-fieldset__inlineBlock">
    <legend><%= t('lgc.planning_line') %></legend>
    <label>
      <%= select_tag :plan_id, options_from_collection_for_select(plans, :id, :name, @query.plan_id), include_blank: true %>
    </label>
  </fieldset>
<% end %>

<% if User.current.allowed_to?(:view_lgc_milestones, @project) %>
  <fieldset class="lgc-form-fieldset__inlineBlock">
    <legend><%= t('lgc.milestone') %></legend>
    <label>
      <%= check_box_tag :draw_milestones, '1', @query.draw_milestones? %>
      <%= t(:label_display) %>
    </label>
  </fieldset>
<% end %>
