<div id="<%= id %>" class="fever_chart">
  <% if model.ccpm_buffer_days(@project) <= 0 %>
    <div class="fever_chart_no_buffer_days"><%= t(:message_no_buffer_days, name: model.name) %></div>
  <% else %>
    <%= high_chart("#{id}_high_chart", fever_chart) %>
  <% end %>
</div>
