<%= stylesheet_link_tag 'lychee_ccpm', media: 'all', plugin: 'lychee_ccpm' %>
<%= javascript_include_tag 'lychee_ccpm', plugin: 'lychee_ccpm' %>

<h3><%= t(:label_fever_chart) %></h3>
<h4><%= t(:label_project) %></h4>
<% @project_fever_charts.each.with_index do |(project, fever_chart), index| %>
  <%= render partial: 'fever_charts/fever_chart', locals: {id: "project_fever_chart_#{index}", model: project, fever_chart: fever_chart} %>
<% end %>

<% if @version_fever_charts %>
  <h4><%= t(:label_version) %></h4>
  <% @project.shared_versions.where.not(status: :closed).order(effective_date: :asc).each.with_index do |version, index| %>
    <% next if version.ccpm_buffer_days(@project) <= 0 %>
    <%= render partial: 'fever_chart', locals: {id: "version_fever_chart_#{index}", model: version, fever_chart: @version_fever_charts[version.id]} %>
  <% end %>
<% end %>
