<div class="objects-selection">
  <div id="lychee_organization_principals">
    <% collapsible_principals_tree(principals, users_by_group) do |principal, level, status, parent_id| %>
      <div class="organization <%= level > 0 ? "idnt idnt-#{level}" : 'root' %>"
           data-principal-id="<%= principal.id %>"
           data-parent-id="<%= parent_id %>">
        <%= content_tag('span', nil, class: "tree-expander tree-expander-#{status}") %>
        <%= principals_check_box_tags('membership[user_ids][]', [principal]) %>
      </div>
      <% if users_by_group[principal.id] %>
        <div class="organization idnt <%= level > 0 ? "idnt-#{level + 1}" : 'idnt-1' %>"
             data-parent-id="<%= principal.id %>">
          <%= principals_check_box_tags('membership[user_ids][]', users_by_group[principal.id].to_a) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<span class="pagination">
  <%= pagination_links_full(principal_pages, principal_count, per_page_links: false) do |text, parameters, options|
        link_to(text, autocomplete_project_memberships_path(project, parameters.merge(q: params[:q], format: 'js')), remote: true)
      end %>
</span>
