<div id="tab-content-files">
  <% if @issue.editable? || @issue.new_record? %>
    <div class="add-file file-input-drop-area">
      <label>
        <input
          id="file-input"
          class="file-input"
          type="file"
          name="resume"
          data-controller="attachment mode"
          data-action="change->attachment#addFiles"
          multiple
          hidden
        >
        <span class="label">
          <%= t("view.parts.attach_files.add_field_placeholder") %>
        </span>
      </label>
    </div>
    <div class="attachment-max-size">
      <%= l(:label_max_size) %>: <%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes) %>
    </div>
    <div class="add-files-template hideView">
      <div class="added-file-name">
      </div>
      <div class="flex">
        <input
          class="added-file-description"
          placeholder="<%= t("view.parts.attach_files.description_placeholder") %>"
          data-controller="attachment mode"
          data-action="
            keydown.esc->attachment#cancelAddFiles
            keydown.ctrl+enter->attachment#uploadFiles
            keydown.meta+enter->attachment#uploadFiles
          "
        >
        <button
          class="added-file-delete"
          title="<%= t("view.parts.attach_files.mini_context.delete") %>"
          data-controller="attachment mode"
          data-action="attachment#deleteAddFile"
        >
          <%== @svg_delete %>
        </button>
      </div>
    </div>
    <div id="add-files-name">
    </div>
    <div class="btn-area">
      <div class="buttons-area">
        <button
          id="btn-upload-cancel"
          class="btn-files-add-cancel cancel hideView"
          data-controller="attachment mode"
          data-action="click->attachment#cancelAddFiles"
        >
          <label><%= t("view.parts.attach_files.cancel") %></label>
        </button>
        <button
          id="btn-upload"
          class="btn-files-add update hideView"
          data-controller="attachment mode"
          data-action="click->attachment#uploadFiles"
        >
          <label><%= t("view.parts.attach_files.update") %></label>
        </button>
      </div>
    </div>
  <% end %>
  <div class="item-attach">
    <table class="attach_files">
      <% @issue.attachments.each do |attachment| %>
        <tr>
          <td class="attach-left">
            <div class="show">
              <p class="filename"><%= link_to attachment.filename, attachment_path(attachment.id), target: :_blank, rel: "noopener noreferrer" %></p>
              <p class="description"><%= attachment.description %></p>
            </div>
            <div class="edit file-info" hidden>
              <input
                type='text'
                class="filename"
                name="attachment[<%= attachment.id %>][filename]"
                value="<%= attachment.filename %>"
                data-controller="attachment mode"
                data-action="
                  keydown.ctrl+enter->attachment#updateFileInfo
                  keydown.meta+enter->attachment#updateFileInfo
                  keydown.esc->attachment#resetFileInfo
                "
                data-attachment-file-id-value="<%= attachment.id %>"
                data-attachment-before-file-name-value="<%= attachment.filename %>"
                data-attachment-before-file-description-value="<%= attachment.description %>"
              >
              <input
                type='text'
                class="description"
                name="attachment[<%= attachment.id %>][description]"
                placeholder="<%= t("view.parts.attach_files.description_placeholder") %>"
                value="<%= attachment.description %>"
                data-controller="attachment mode"
                data-action="
                  keydown.ctrl+enter->attachment#updateFileInfo
                  keydown.meta+enter->attachment#updateFileInfo
                  keydown.esc->attachment#resetFileInfo
                "
                data-attachment-file-id-value="<%= attachment.id %>"
                data-attachment-before-file-name-value="<%= attachment.filename %>"
                data-attachment-before-file-description-value="<%= attachment.description %>"
              >
            </div>
            <div class="meta">
              <p class="size"><%== @svg_attach_file %> <%= number_to_human_size(attachment.filesize) %></p>
              <p class="date"><%== @svg_alarm_add %> <%= format_time(attachment.created_on) %></p>
              <p class="author"><%== @svg_person %> <%= attachment.author.name %></p>
            </div>
            <div class="info" hidden>
              <div class="id"><%= attachment.id %></div>
              <div class="digest"><%= attachment.digest %></div>
            </div>
            <div class="edit update-buttons" hidden>
              <div class="right-area" >
                <div class="buttons-area">
                  <button
                    class="cancel"
                    data-controller="attachment mode"
                    data-action="attachment#resetFileInfo"
                    data-attachment-before-file-name-value="<%= attachment.filename %>"
                    data-attachment-before-file-description-value="<%= attachment.description %>"
                  >
                    <label><%= t("view.parts.attach_files.cancel") %></label>
                  </button>
                  <button
                    class="update"
                    data-controller="attachment mode"
                    data-action="attachment#updateFileInfo"
                    data-attachment-file-id-value="<%= attachment.id %>"
                  >
                    <label><%= t("view.parts.attach_files.update") %></label>
                  </button>
                </div>
              </div>
            </div>

          </td>
          <td class="attach-right">
            <div class="context-menus">
              <button
                class="mini-context"
                title="<%= t("view.parts.attach_files.mini_context.download") %>"
              >
              <%= link_to download_named_attachment_path(id: attachment.id, filename: attachment.filename) do %>
                <%== @svg_download %>
              <% end %>
              </button>
              <% if @issue.editable? %>
                <button
                  class="mini-context"
                  title="<%= t("view.parts.attach_files.mini_context.edit") %>"
                  data-controller="attachment mode"
                  data-action="attachment#editFileInfo"
                  data-attachment-file-id-value="<%= attachment.id %>"
                >
                  <%== @svg_edit %>
                </button>
                <button
                  class="mini-context"
                  title="<%= t("view.parts.attach_files.mini_context.delete") %>"
                  data-controller="attachment mode"
                  data-action="attachment#deleteFile"
                  data-attachment-file-id-value="<%= attachment.id %>"
                  data-attachment-delete-confirm-message-value="<%= I18n.t('text_are_you_sure') %>"
                >
                  <%== @svg_delete %>
                </button>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
