<div id="tab-content-comments_and_journals">
  <% if @issue.notes_addable? %>
    <div
      id="comment-input"
      class="comment-input comment-add"
    >
      <div
        class="notify comment-add-notify"
        data-comment-target="notify"
        data-action="click->comment#showCommentEditor"
      >
        <label>
          <span class="label"><%= t('view.parts.comments.notify') %></span>
        </label>
      </div>
      <div
        class="edit hideView comment-add-edit"
        data-comment-target="edit"
      >
        <div
          data-action="
            keydown.ctrl+enter->comment#postComment
            keydown.meta+enter->comment#postComment
            keydown.esc->comment#showCommentAddNotifier
          "
        >
          <%= text_area_tag "note", nil, cols: 60, rows: 5, class: "wiki-edit issue_notes" %>
        </div>
        <div class="comment-properties">
          <% if @issue.safe_attribute? 'private_notes' %>
            <label>
              <input type="checkbox" id="issue_private_notes" class="issue_add_private_notes" name="private_comment"><%= t('view.parts.comments.private_comment') %>
            </label>
          <% end %>
          <button
            class="cancel"
            data-action="click->comment#showCommentAddNotifier"
          >
            <%= t('view.parts.comments.cancel') %>
          </button>
          <button
            class="add"
            data-action="click->comment#postComment"
          >
            <%= t('view.parts.comments.add') %>
          </button>
        </div>
      </div>
    </div>
  <% end %>
  <div class="controls">
    <div class="filter">
      <label><%= t('view.parts.comments_and_journals.filter') %>: </label>
      <select class="dropdown-simple journals-filter" data-action="change->mode#changeJournalMode">
        <option value="all"><%= t('view.parts.comments_and_journals.filter_modes.all') %></option>
        <option value="comments"><%= t('view.parts.comments_and_journals.filter_modes.comments') %></option>
        <option value="journals"><%= t('view.parts.comments_and_journals.filter_modes.journals') %></option>
      </select>
    </div>
  </div>
  <div id="filter-all" class="filter-sections">
    <%= render partial: 'lychee_issue_form/issues/parts/comments_and_journals/all' %>
  </div>
  <div id="filter-comments" class="filter-sections hideView">
    <%= render partial: 'lychee_issue_form/issues/parts/comments_and_journals/comments' %>
  </div>
  <div id="filter-journals" class="filter-sections hideView">
    <%= render partial: 'lychee_issue_form/issues/parts/comments_and_journals/journals' %>
  </div>
</div>
