<div id="tab-content-related_tickets">
  <div class="item-tasks">
    <%
      subtasks_grouped = @issue.descendants.visible.joins(:status).select(:is_closed, :id).group(:is_closed).reorder(:is_closed).count(:id)
      subtasks_grouped.transform_keys! {|k| ActiveModel::Type::Boolean.new.cast(k)}
      open_subtasks = subtasks_grouped[false].to_i
      closed_subtasks = subtasks_grouped[true].to_i
      all_subtasks = open_subtasks + closed_subtasks
      tasks = @issue.descendants.visible.preload(:status, :priority, :tracker, :assigned_to).sort_by(&:lft)
    %>
    <div class="stats">
      <b><%= t('view.parts.descendants.subtask') %></b>
      <span class="count"><%= all_subtasks %></span>
      <span class="closed"><%= t('view.parts.descendants.count.closed') %><%= closed_subtasks %></span>
      <span class="open"><%= t('view.parts.descendants.count.open') %><%= open_subtasks %></span>
    </div>
    <div class="tasks">
      <table>
        <% tasks.each do |task| %>
          <tr>
            <td class="tasks-left<%= task.closed? ? " closed-task" : "" %>">
              <div class="bar-holder"><div class="bar" style="width: <%= task.done_ratio %>%;">&nbsp;</div></div>
              <p class="subject"><%= link_to issue_url(task), target: '_blank' do %><%= task.tracker.name %> #<%= task.id %> : <%= task.subject %><% end %></p>
              <p>
                <%== @svg_ticket_edit %> <%= task.status.name %>
                <%== @svg_person %> <%= task.assigned_to&.name  %>
                <%= task.start_date %> » <%= task.due_date %>
              </p>
            </td>
            <td class="tasks-right<%= task.closed? ? " closed-task" : "" %>">
              <button class="mini-context" id="ticket-context-<%= task.id %>" data-action="click->popup#toggleTicketContextContent"><%== @svg_more_horiz %></button>
              <%= render partial: 'lychee_issue_form_template/popup_ticket_context', locals: { task: task } %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="item-task-stats">
    <%
      open_count = 0
      closed_count = 0
      @relations.map do |relation|
        open_count += 1 unless relation.issue_from.closed?
        closed_count += 1 if relation.issue_from.closed?
      end
      all_count = open_count + closed_count
    %>
    <div class="stats">
      <b><%= t('view.parts.descendants.related_subtask') %></b>
      <span class="count"><%= all_count %></span>
      <span class="closed"><%= t('view.parts.descendants.count.closed') %><%= closed_count %></span>
      <span class="open"><%= t('view.parts.descendants.count.open') %><%= open_count %></span>
    </div>
  </div>
  <%
    [
      { type: IssueRelation::TYPE_RELATES, label: t('view.parts.descendants.types.relates'), help: false },
      { type: IssueRelation::TYPE_FOLLOWS, label: t('view.parts.descendants.types.follows'), help: true },
      { type: IssueRelation::TYPE_PRECEDES, label: t('view.parts.descendants.types.precedes'), help: false },
      { type: IssueRelation::TYPE_BLOCKS, label: t('view.parts.descendants.types.blocks'), help: false },
      { type: IssueRelation::TYPE_BLOCKED, label: t('view.parts.descendants.types.blocked'), help: false },
      { type: IssueRelation::TYPE_DUPLICATES, label: t('view.parts.descendants.types.duplicates'), help: false },
      { type: IssueRelation::TYPE_DUPLICATED, label: t('view.parts.descendants.types.duplicated'), help: false },
      { type: IssueRelation::TYPE_COPIED_FROM, label: t('view.parts.descendants.types.copied_from'), help: false },
      { type: IssueRelation::TYPE_COPIED_TO, label: t('view.parts.descendants.types.copied_to'), help: false },
    ].each do |kv|
  %>
    <div class="item-tasks">
      <%
        tasks = @relations.map { |relation| relation.issue_from if relation.relation_type === kv[:type] }.compact
        task_count = tasks.length
      %>
      <div class="stats">
        <div class="stats-left">
          <b><%= kv[:label] %></b>
          <span class="count"><%= task_count %></span>
        </div>
        <div class="stats-right">
          <% if kv[:help] %><div class="help" id="<%= kv[:type] %>" data-action="click->popup#toggleHelpContent"><%== @svg_help %></div><% end %>
        </div>
        <% if kv[:help] %><%= render partial: 'lychee_issue_form_template/popup_help', locals: { type: kv[:type] } %><% end %>
      </div>
      <div class="tasks">
        <table>
          <% tasks.each do |task| %>
            <tr>
              <td class="tasks-left<%= task.closed? ? " closed-task" : "" %>">
                <div class="bar-holder"><div class="bar" style="width: <%= task.done_ratio %>%;">&nbsp;</div></div>
                <p class="project"><%= task&.project&.name %></p>
                <p class="subject"><%= link_to issue_url(task), target: '_blank' do %><%= task.tracker.name %> #<%= task.id %> : <%= task.subject %><% end %></p>
                <p>
                  <%== @svg_ticket_edit %> <%= task.status.name %>
                  <%== @svg_person %> <%= task.assigned_to&.name %>
                  <%= task.start_date %> » <%= task.due_date %>
                </p>
              </td>
              <td class="tasks-right<%= task.closed? ? " closed-task" : "" %>">
                <button class="mini-context" id="ticket-context-<%= task.id %>" data-action="click->popup#toggleTicketContextContent"><%== @svg_more_horiz %></button>
                <%= render partial: 'lychee_issue_form_template/popup_ticket_context', locals: { task: task } %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>
