<% status_color = @issue.status.lychee_issue_status_color.try(:color) || '#116699' %>
<h4>
  <div class="attribute">
    <% if @issue.id %>
      <%= link_to issue_url(@issue), target: '_blank', id: 'lif-issue_id' do %>#<%= @issue.id %><% end %>
    <% elsif @edit_issue_id %>
      <%= "##{@edit_issue_id}" %>
    <% end %>
    <div class="issue-item"
      data-issue-target="item"
      data-action="click->issue#hideShow"
    >
      <div class="show">
        <span class="tracker-name" id="lif-issue_tracker_name"><%= @issue.tracker.name %></span>
      </div>
      <div class="edit"
        data-controller="issue_item mode"
        data-action="
          click:outside->issue_item#clickOutside
          keydown.enter->issue_item#eventKeydownEnter
          keydown.tab->issue_item#eventKeydownEnter
        "
        data-issue_item-field-name-value="issue[tracker_id]"
        data-issue_item-before-value="<%= @issue.tracker.id %>"
      data-label="<%= t('view.parts.property.tracker') %>"
      data-attribute-name="tracker_id"
        hidden
      >
        <%=
          select_tag 'issue[tracker]',
            @trackers ? options_from_collection_for_select(@trackers, :id, :name, { :selected => @issue.tracker.id }) : '-',
            include_blank: false,
            data: { action: 'change->issue#eventSelectChange' },
            class: lif_disable_control(@issue, 'tracker_id')
        %>
      </div>
    </div>
  </div>
</h4>
<h3 title="<%= @issue.subject %>" class="subject attribute">
  <div class="issue-item"
    data-issue-target="item"
    data-action="click->issue#hideShow"
  >
    <div class="show" id="lif-issue_subject">
      <%= @issue.subject %>
    </div>
    <div class="edit"
      data-controller="issue_item mode"
      data-action="
        click:outside->issue_item#clickOutside
        keydown.enter->issue_item#eventKeydownEnter
        keydown.tab->issue_item#eventKeydownEnter
      "
      data-issue_item-field-name-value="issue[subject]"
      data-issue_item-before-value="<%= @issue.subject %>"
      data-label="<%= t('view.parts.property.subject') %>"
      data-attribute-name="subject"
      hidden
    >
      <input type='text' name="issue[subject]" id="issue_subject" value="<%= @issue.subject %>" placeholder="<%= t('view.new.header.subject_placeholder') %>" class="<%= lif_disable_control(@issue, 'subject') %>">
    </div>
  </div>
</h3>
