<input type="hidden" id="issue_id">
<input type="hidden" id="bypass" value="false">
<% unless @issue.disabled_core_fields.include?('description') %>
  <div class="lif-description attribute">
    <div class="header">
      <div class="left">
        <h5>
          <%= t('view.parts.property.description') %>
          <%= @issue.required_attribute?('description') ? " <span class=\"required\">*</span>".html_safe : "" %>
        </h5>
      </div>
      <div
        class="right"
        data-controller="comment mode"
        data-action="click->comment#quoteComments"
      >
        <%= @svg_format_quote if @issue.description.present? %>
      </div>
    </div>
    <div class="text">
      <div class="issue-item <%= @issue.safe_attribute?('description') ? 'editable' : 'not-editable' %>"
        data-issue-target="item"
        data-action="click->issue#hideShow"
      >
        <div class="show">
          <%= textilizable(@issue, :description, :attachments => @issue.attachments) %>
        </div>
        <div class="edit"
          data-controller="issue_item issue mode"
          data-action="
            click:outside->issue_item#clickOutside
            keydown.enter->issue_item#eventKeydownEnter
            keydown.ctrl+enter->issue_item#clickOutside
            keydown.meta+enter->issue_item#clickOutside
            keydown.tab->issue_item#clickOutside
            keydown.esc->issue_item#resetItem
            issue_item:resetEditMode->issue#resetEditMode
            issue_item:setRadioControlChecked->issue#setRadioControlChecked
          "
          data-issue_item-field-name-value="issue[description]"
          data-issue_item-before-value="<%= @issue.description %>"
          data-label="<%= t('view.parts.property.description') %>"
          data-attribute-name="description"
          hidden
        >
        <%= text_area_tag "issue_description", @issue.description, cols: 60, class: "wiki-edit #{lif_disable_control(@issue, 'description')}" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="fields">
  <dl class="project attribute">
    <dt><%= t('view.parts.property.project') %> <span class="required">*</span></dt>
    <dd>
      <div class="issue-item type_project <%= @issue.safe_attribute?('project_id') ? 'editable' : 'not-editable' %>"
        data-issue-target="item"
        data-action="click->issue#hideShow"
      >
        <div class="show">
          <% if @issue.id %>
            <%= link_to project_path(@issue.project), target: '_blank' do %><%= @issue&.project&.name %><% end %>
          <% end %>
        </div>
        <div class="edit"
          data-controller="issue_item mode"
          data-action="
            click:outside->issue_item#clickOutside
            keydown.tab->issue_item#clickOutside
            keydown.enter->issue_item#eventKeydownEnter
            keydown.esc->issue_item#resetItem
            issue_item:resetEditMode->issue#resetEditMode
            issue_item:setRadioControlChecked->issue#setRadioControlChecked
          "
          data-issue_item-field-name-value="issue[project_id]"
          data-issue_item-before-value="<%= @issue.project_id %>"
          data-label="<%= t('view.parts.property.project') %>"
          data-attribute-name="project_id"
          hidden
        >
          <%=
          select_tag 'issue[project]',
            options_from_collection_for_select(@allowed_projects, :id, :name, { :selected => @issue.project_id }),
            data: { action: 'change->issue#eventSelectChange' },
            class: lif_disable_control(@issue, 'project_id')
          %>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="status attribute">
    <dt>
      <%= t('view.parts.property.status') %> <span class="required">*</span>
      <% if @allowed_statuses.any? {|s| s.try(:description).present? } %>
        <span class="lif-status-description-icon"
          title="<%== l(:label_open_issue_statuses_description) %>"
          data-action="click->issue#eventOpenModal"
        >
        <%== @svg_help %>
        </span>
        <span id="lif_statuses_description" hidden>
          <div class="lif-modal">
            <button class="lif-modal-close" data-action="click->issue#eventCloseModal">✕</button>
            <dl>
            <% @allowed_statuses.each do |issue_status| %>
              <% if issue_status.try(:description).present? %>
                <dt><%= issue_status.name %></dt>
                <dd><%= issue_status.description %></dd>
              <% end %>
            <% end %>
            </dl>
          </div>
        </span>
      <% end %>
    </dt>
    <dd>
      <div class="issue-item <%= @issue.safe_attribute?('status_id') ? 'editable' : 'not-editable' %>"
        data-issue-target="item"
        data-action="click->issue#hideShow"
      >
        <div class="show">
          <%= @issue.status %>
        </div>
        <div class="edit"
          data-controller="issue_item mode"
          data-action="
            click:outside->issue_item#clickOutside
            keydown.tab->issue_item#clickOutside
            keydown.enter->issue_item#eventKeydownEnter
            keydown.esc->issue_item#resetItem
            issue_item:resetEditMode->issue#resetEditMode
            issue_item:setRadioControlChecked->issue#setRadioControlChecked
          "
          data-issue_item-field-name-value="issue[status_id]"
          data-issue_item-before-value="<%= @issue.status_id %>"
          data-label="<%= t('view.parts.property.status') %>"
          data-attribute-name="status_id"
          hidden
        >
          <%= select_tag 'issue[status]',
            options_from_collection_for_select(@allowed_statuses, :id, :name, { :selected => @issue.status_id }),
            data: { action: 'change->issue#eventSelectChange' },
            class: lif_disable_control(@issue, 'status_id')
          %>
        </div>
      </div>
    </dd>
  </dl>
  <% unless @issue.disabled_core_fields.include?('assigned_to_id') %>
    <dl class="assigned-to attribute">
      <dt>
        <%= t('view.parts.property.assigned_to') %>
        <%= @issue.required_attribute?('assigned_to_id') ? " <span class=\"required\">*</span>".html_safe : "" %>
      </dt>
      <dd>
        <div class="issue-item type_user <%= @issue.safe_attribute?('assigned_to_id') ? 'editable' : 'not-editable' %>"
          data-issue-target="item"
          data-action="click->issue#hideShow"
        >
          <div class="show">
          <% if @issue.assigned_to %>
            <%= link_to user_url(@issue.assigned_to), target: '_blank' do %>
              <%= @issue.assigned_to&.name %>
            <% end %>
          <% else %>
            -
          <% end %>
          </div>
          <div class="edit"
            data-controller="issue_item issue mode"
            data-action="
              click:outside->issue_item#clickOutside
              keydown.tab->issue_item#clickOutside
              keydown.enter->issue_item#eventKeydownEnter
              keydown.esc->issue_item#resetItem
              issue_item:resetEditMode->issue#resetEditMode
              issue_item:setRadioControlChecked->issue#setRadioControlChecked
            "
            data-issue_item-field-name-value="issue[assigned_to_id]"
            data-issue_item-before-value="<%= @issue.assigned_to_id %>"
            data-label="<%= t('view.parts.property.assigned_to') %>"
            data-attribute-name="assigned_to_id"
            hidden
          >
            <%= select_tag 'issue[assigned_to]',
              options_from_collection_for_select(@assignables, :id, :name, { :selected => @issue.assigned_to_id }),
              include_blank: true,
              class: lif_disable_control(@issue, 'assigned_to_id')
            %>
          </div>
        </div>
      </dd>
    </dl>
  <% end %>
  <dl class="priority attribute">
    <dt>
      <%= t('view.parts.property.priority') %>
      <span class="required">*</span>
    </dt>
    <dd>
      <div class="issue-item <%= @issue.safe_attribute?('priority_id') ? 'editable' : 'not-editable' %>"
        data-issue-target="item"
        data-action="click->issue#hideShow"
      >
        <div class="show">
          <%= @issue.priority&.name || '-' %>
        </div>
        <div class="edit"
          data-controller="issue_item issue mode"
          data-action="
            click:outside->issue_item#clickOutside
            keydown.tab->issue_item#clickOutside
            keydown.enter->issue_item#eventKeydownEnter
            keydown.esc->issue_item#resetItem
            issue_item:resetEditMode->issue#resetEditMode
            issue_item:setRadioControlChecked->issue#setRadioControlChecked
          "
          data-issue_item-field-name-value="issue[priority_id]"
          data-issue_item-before-value="<%= @issue.priority_id %>"
          data-label="<%= t('view.parts.property.priority') %>"
          data-attribute-name="priority_id"
          hidden
        >
          <%= select_tag 'issue[priority]',
            options_from_collection_for_select(@priorities, :id, :name, { :selected => @issue.priority_id }),
            class: lif_disable_control(@issue, 'priority_id')
          %>
        </div>
      </div>
    </dd>
  </dl>
  <% unless @issue.disabled_core_fields.include?('category_id') %>
    <dl class="category attribute">
      <dt>
        <%= t('view.parts.property.category') %>
        <%= @issue.required_attribute?('category_id') ? " <span class=\"required\">*</span>".html_safe : "" %>
      </dt>
      <dd>
        <div class="issue-item <%= @issue.safe_attribute?('category_id') ? 'editable' : 'not-editable' %>"
          data-issue-target="item"
          data-action="click->issue#hideShow"
        >
          <div class="show">
            <%= @issue.category&.name || '-' %>
          </div>
          <div class="edit"
            data-controller="issue_item issue mode"
            data-action="
              click:outside->issue_item#clickOutside
              keydown.tab->issue_item#clickOutside
              keydown.enter->issue_item#eventKeydownEnter
              keydown.esc->issue_item#resetItem
              issue_item:resetEditMode->issue#resetEditMode
              issue_item:setRadioControlChecked->issue#setRadioControlChecked
            "
            data-issue_item-field-name-value="issue[category_id]"
            data-issue_item-before-value="<%= @issue.category_id %>"
            data-label="<%= t('view.parts.property.category') %>"
            data-attribute-name="category_id"
            hidden
          >
            <%=
              select_tag 'issue[category]',
                @categories ? options_from_collection_for_select(@categories, :id, :name, { :selected => @issue.category&.id }) : '-',
                include_blank: true,
                class: lif_disable_control(@issue, 'category_id')
            %>
          </div>
        </div>
      </dd>
    </dl>
  <% end %>
  <% unless @issue.disabled_core_fields.include?('fixed_version_id') %>
    <dl class="fixed-version attribute">
      <dt>
        <%= t('view.parts.property.fixed_version') %>
        <%= @issue.required_attribute?('fixed_version_id') ? " <span class=\"required\">*</span>".html_safe : "" %>
      </dt>
      <dd>
        <div class="issue-item type_version <%= @issue.safe_attribute?('fixed_version_id') ? 'editable' : 'not-editable' %>"
          data-issue-target="item"
          data-action="click->issue#hideShow"
        >
          <div class="show">
            <%= link_to_version(@issue.fixed_version, target: '_blank') %>
          </div>
          <div class="edit"
            data-controller="issue_item issue mode"
            data-action="
              click:outside->issue_item#clickOutside
              keydown.tab->issue_item#clickOutside
              keydown.enter->issue_item#eventKeydownEnter
              keydown.esc->issue_item#resetItem
              issue_item:resetEditMode->issue#resetEditMode
              issue_item:setRadioControlChecked->issue#setRadioControlChecked
            "
            data-issue_item-field-name-value="issue[fixed_version_id]"
            data-issue_item-before-value="<%= @issue.fixed_version_id %>"
            data-label="<%= t('view.parts.property.fixed_version') %>"
            data-attribute-name="fixed_version_id"
            hidden
          >
            <%=
              select_tag 'issue[fixed_version]',
                @versions ? options_from_collection_for_select(@versions, :id, :name, { :selected => @issue.fixed_version&.id }) : '-',
                include_blank: true,
                class: lif_disable_control(@issue, 'fixed_version_id')
            %>
          </div>
        </div>
      </dd>
    </dl>
  <% end %>
  <% unless @issue.disabled_core_fields.include?('parent_issue_id') %>
    <dl class="parent attribute">
      <dt>
        <%= t('view.parts.property.parent') %>
        <%= @issue.required_attribute?('parent_issue_id') ? " <span class=\"required\">*</span>".html_safe : "" %>
      </dt>
      <dd>
        <div class="issue-item type_issue <%= @issue.safe_attribute?('parent_issue_id') ? 'editable' : 'not-editable' %>"
          data-issue-target="item"
          data-action="click->issue#hideShow"
        >
          <div class="show">
            <% if @issue.parent.present? %>
              <%= link_to issue_url(@issue.parent), target: '_blank' do %>#<%= @issue.parent_id %> <%= @issue.parent.subject %><% end %>
            <% else %>
              -
            <% end %>
          </div>
          <div class="edit"
            data-controller="issue_item issue mode"
            data-action="
              click:outside->issue_item#clickOutside
              keydown.tab->issue_item#clickOutside
              keydown.enter->issue_item#eventKeydownEnter
              keydown.esc->issue_item#resetItem
              issue_item:resetEditMode->issue#resetEditMode
              issue_item:setRadioControlChecked->issue#setRadioControlChecked
            "
            data-issue_item-field-name-value="issue[parent_issue_id]"
            data-issue_item-before-value="<%= @issue.parent_id %>"
            data-label="<%= t('view.parts.property.parent') %>"
            data-attribute-name="parent_issue_id"
            hidden
          >
            <input size="10"
              type="text"
              class="ui-autocomplete-input oncomplete autocomplete parent-id-auto-complete <%= lif_disable_control(@issue, 'parent_issue_id') %>"
              data-controller="issue_item"
              data-action="keydown->issue_item#parentIdAutoComplete"
              data-issue_item-field-id-param="parent-id-auto-complete"
              data-issue_item-url-param="<%= auto_complete_issues_url(project_id: @issue.project, scope: Setting.cross_project_subtasks, status: @issue.closed? ? 'c' : 'o', issue_id: @issue.id) %>"
              autocomplete="off"
              id="issue_parent_issue_id"
              name="issue[parent_issue_id]"
              value="<%= @issue.parent_id %>"
            />
          </div>
      </dd>
    </dl>
  <% end %>
  <% if Redmine::Plugin.installed?(:lychee_kanban) %>
    <% unless @issue.disabled_core_fields.include?('blocking') %>
      <div class="kanban-option-blocking hideView">
        <dl class="blocking attribute">
          <dt>
            <%= t(:field_blocking) %>
          </dt>
          <dd>
            <div class="issue-item <%= @issue.safe_attribute?('lychee_issue_board_issue_option_attributes') ? 'editable' : 'not-editable' %>"
              data-issue-target="item"
              data-action="click->issue#hideShow"
            >
              <% is_blocking = @issue&.lychee_issue_board_issue_option&.blocking %>
              <div class="show">
                <%= is_blocking ? t(:general_text_Yes) : t(:general_text_No)%>
              </div>
              <div class="edit"
                data-controller="issue_item mode"
                data-action="
                  click:outside->issue_item#clickOutside
                  keydown.tab->issue_item#clickOutside
                  keydown.enter->issue_item#eventKeydownEnter
                  keydown.esc->issue_item#resetItem
                  issue_item:resetEditMode->issue#resetEditMode
                  issue_item:setRadioControlChecked->issue#setRadioControlChecked
                "
                data-issue_item-field-name-value="issue[lychee_issue_board_issue_option_attributes][blocking]"
                data-issue_item-before-value="<%= is_blocking %>"
                data-label="<%= t(:field_blocking) %>"
                data-attribute-name="lychee_issue_board_issue_option.blocking"
                hidden
              >
                <%= select_tag "issue[lychee_issue_board_issue_option_attributes][blocking]",
                  options_for_select( [["#{t(:general_text_No)}", false], ["#{t(:general_text_Yes)}", true]], is_blocking),
                  class: lif_disable_control(@issue, 'lychee_issue_board_issue_option.blocking')
                %>
              </div>
            </div>
          </dd>
        </dl>
      </div>
    <% end %>
    <div class="kanban-option-point hideView">
      <dl class="point attribute">
        <dt>
          <%= t(:field_issue_point) %>
        </dt>
        <dd>
          <% point = @issue&.lychee_issue_board_issue_option&.point %>
          <div class="issue-item type_string <%= @issue.safe_attribute?('lychee_issue_board_issue_option_attributes') ? 'editable' : 'not-editable' %>"
            data-issue-target="item"
            data-action="click->issue#hideShow"
          >
            <div class="show">
              <%= point %>
            </div>
            <div class="edit"
              data-controller="issue_item mode"
              data-action="
                click:outside->issue_item#clickOutside
                keydown.tab->issue_item#clickOutside
                keydown.enter->issue_item#eventKeydownEnter
                keydown.esc->issue_item#resetItem
                issue_item:resetEditMode->issue#resetEditMode
              "
              data-issue_item-field-name-value="issue[lychee_issue_board_issue_option_attributes][point]"
              data-issue_item-before-value="<%= point %>"
              data-label="<%= t(:field_issue_point) %>"
              data-attribute-name="lychee_issue_board_issue_option.point"
              hidden
            >
              <input size="10"
                type="text"
                autocomplete="off"
                id="issue_lychee_issue_board_issue_option_attributes_point"
                name="issue[lychee_issue_board_issue_option_attributes][point]"
                value="<%= point %>"
              />
            </div>
          </div>
        </dd>
      </dl>
    </div>
  <% end %>
</div>
<div class="date-fields">
  <% unless @issue.disabled_core_fields.include?('start_date') %>
    <dl class="start-date attribute dl-max-width">
      <dt>
        <%= t('view.parts.property.start_date') %>
        <%= @issue.required_attribute?('start_date') ? " <span class=\"required\">*</span>".html_safe : "" %>
      </dt>
      <dd>
        <div class="issue-item <%= @issue.safe_attribute?('start_date') ? 'editable' : 'not-editable' %>"
          data-issue-target="item"
          data-action="click->issue#hideShow"
        >
          <div class="unit">
            <%== @svg_caneldar_month %>
          </div>
          <div class="show">
            <%= @issue.start_date %>
          </div>
          <div class="edit"
            data-controller="issue_item issue mode"
            data-action="
              click:outside->issue_item#clickOutside
              keydown.tab->issue_item#clickOutside
              keydown.enter->issue_item#eventKeydownEnter
              keydown.esc->issue_item#resetItem
              issue_item:resetEditMode->issue#resetEditMode
              issue_item:setRadioControlChecked->issue#setRadioControlChecked
            "
            data-issue_item-field-name-value="issue[start_date]"
            data-issue_item-before-value="<%= @issue.start_date %>"
            data-label="<%= t('view.parts.property.start_date') %>"
            data-attribute-name="start_date"
            hidden
          >
            <input type="date"
              id="issue_start_date"
              name="issue[start_date]"
              class="date <%= lif_disable_control(@issue, 'start_date') %>"
              size="8"
              value="<%= @issue.start_date %>"
              data-action="change->issue_item#controlTypicalValidation">
          </div>
        </div>
      </dd>
    </dl>
  <% end %>
  <span>»</span>
  <% unless @issue.disabled_core_fields.include?('due_date') %>
    <dl class="due-date attribute dl-max-width">
      <dt>
        <%= t('view.parts.property.due_date') %>
        <%= @issue.required_attribute?('due_date') ? " <span class=\"required\">*</span>".html_safe : "" %>
      </dt>
      <dd>
        <div class="issue-item <%= @issue.safe_attribute?('due_date') ? 'editable' : 'not-editable' %>"
          data-issue-target="item"
          data-action="click->issue#hideShow"
        >
          <div class="unit">
            <%== @svg_caneldar_month %>
          </div>
          <div class="show">
            <%= @issue.due_date %>
          </div>
          <div class="edit"
            data-controller="issue_item issue mode"
            data-action="
              click:outside->issue_item#clickOutside
              keydown.tab->issue_item#clickOutside
              keydown.enter->issue_item#eventKeydownEnter
              keydown.esc->issue_item#resetItem
              issue_item:resetEditMode->issue#resetEditMode
              issue_item:setRadioControlChecked->issue#setRadioControlChecked
            "
            data-issue_item-field-name-value="issue[due_date]"
            data-issue_item-before-value="<%= @issue.due_date %>"
            data-label="<%= t('view.parts.property.due_date') %>"
            data-attribute-name="due_date"
            hidden
          >
            <input type="date"
              id="issue_due_date"
              name="issue[due_date]"
              class="date <%= lif_disable_control(@issue, 'due_date') %>"
              size="10"
              value="<%= @issue.due_date %>"
              data-action="change->issue_item#controlTypicalValidation">
          </div>
        </div>
      </dd>
    </dl>
  <% end %>
</div>
<% if Redmine::Plugin.installed?(:lad) %>
  <div class="date-fields">
    <% unless @issue.disabled_core_fields.include?('actual_start_date') %>
      <dl class="actual-start-date attribute dl-max-width">
        <dt>
          <%= t('view.parts.property.actual_start_date') %>
          <%= @issue.required_attribute?('actual_start_date') ? " <span class=\"required\">*</span>".html_safe : "" %>
        </dt>
        <dd>
          <div class="issue-item <%= @issue.safe_attribute?('actual_start_date') ? 'editable' : 'not-editable' %>"
            data-issue-target="item"
            data-action="click->issue#hideShow"
          >
            <div class="unit">
              <%== @svg_caneldar_month %>
            </div>
            <div class="show" id="actual_start_date">
              <%= @issue.try(:actual_start_date).present? ? @issue.actual_start_date : '-' %>
            </div>
            <div class="edit"
              data-controller="issue_item issue mode"
              data-action="
                click:outside->issue_item#clickOutside
                keydown.tab->issue_item#clickOutside
                keydown.enter->issue_item#eventKeydownEnter
                keydown.esc->issue_item#resetItem
                issue_item:resetEditMode->issue#resetEditMode
                issue_item:setRadioControlChecked->issue#setRadioControlChecked
              "
              data-issue_item-field-name-value="issue[actual_start_date]"
              data-issue_item-before-value="<%= @issue.actual_start_date %>"
              data-label="<%= t('view.parts.property.actual_start_date') %>"
              data-attribute-name="actual_start_date"
              hidden
            >
              <input type="date"
                name="issue[actual_start_date]"
                class="date <%= lif_disable_control(@issue, 'actual_start_date') %>"
                id="issue_actual_start_date"
                size="10"
                value="<%= @issue.try(:actual_start_date) %>"
                data-action="change->issue_item#controlTypicalValidation">
            </div>
          </div>
        </dd>
      </dl>
    <% end %>
    <span>»</span>
    <% unless @issue.disabled_core_fields.include?('actual_due_date') %>
      <dl class="actual-due-date attribute dl-max-width">
        <dt>
          <%= t('view.parts.property.actual_due_date') %>
          <%= @issue.required_attribute?('actual_due_date') ? " <span class=\"required\">*</span>".html_safe : "" %>
        </dt>
        <dd>
          <div class="issue-item <%= @issue.safe_attribute?('actual_due_date') ? 'editable' : 'not-editable' %>"
            data-issue-target="item"
            data-action="click->issue#hideShow"
          >
          <div class="unit">
            <%== @svg_caneldar_month %>
          </div>
          <div class="show" id="actual_due_date">
            <%= @issue.try(:actual_due_date).present? ? @issue.actual_due_date : '-' %>
            </div>
            <div class="edit"
              data-controller="issue_item issue mode"
              data-action="
                click:outside->issue_item#clickOutside
                keydown.tab->issue_item#clickOutside
                keydown.enter->issue_item#eventKeydownEnter
                keydown.esc->issue_item#resetItem
                issue_item:resetEditMode->issue#resetEditMode
                issue_item:setRadioControlChecked->issue#setRadioControlChecked
              "
              data-issue_item-field-name-value="issue[actual_due_date]"
              data-issue_item-before-value="<%= @issue.actual_due_date %>"
              data-label="<%= t('view.parts.property.actual_due_date') %>"
              data-attribute-name="actual_due_date"
              hidden
            >
              <input type="date"
                name="issue[actual_due_date]"
                class="date <%= lif_disable_control(@issue, 'actual_due_date') %>"
                id="issue_actual_due_date"
                size="10"
                value="<%= @issue.try(:actual_due_date) %>"
                data-action="change->issue_item#controlTypicalValidation">
            </div>
          </div>
        </dd>
      </dl>
    <% end %>
  </div>
<% end %>
<div class="horizon-fields">
  <% unless @issue.disabled_core_fields.include?('estimated_hours') %>
    <dl class="estimated-hours attribute">
      <dt>
        <%= t('view.parts.property.estimated_hours') %>
        <%= @issue.required_attribute?('estimated_hours') ? " <span class=\"required\">*</span>".html_safe : "" %>
      </dt>
      <dd>
        <div class="issue-item <%= @issue.safe_attribute?('estimated_hours') ? 'editable' : 'not-editable' %>"
          data-issue-target="item"
          data-action="click->issue#hideShow" >
          <div class="show">
            <%= @issue.estimated_hours.present? ? format_hours(@issue.estimated_hours) : '-' %>
          </div>
          <div class="unit">
            <%= t('view.parts.property.hours_unit') %>
          </div>
          <div class="edit"
            data-controller="issue_item issue mode"
            data-action="
              click:outside->issue_item#clickOutside
              keydown.tab->issue_item#clickOutside
              keydown.enter->issue_item#eventKeydownEnter
              keydown.esc->issue_item#resetItem
              issue_item:resetEditMode->issue#resetEditMode
              issue_item:setRadioControlChecked->issue#setRadioControlChecked
            "
            data-issue_item-field-name-value="issue[estimated_hours]"
            data-issue_item-before-value="<%= @issue.estimated_hours %>"
            data-label="<%= t('view.parts.property.estimated_hours') %>"
            data-attribute-name="estimated_hours"
            hidden
          >
          <input type='text' id="issue_estimated_hours" name="issue[estimated_hours]" value="<%= format_hours(@issue.estimated_hours) %>" class="<%= lif_disable_control(@issue, 'estimated_hours') %>"> <%= t('view.parts.property.hours_unit') %>
          </div>
        </div>
      </dd>
    </dl>
  <% end %>
  <% unless @issue.disabled_core_fields.include?('remaining_estimate') %>
    <dl class="remaining-estimate attribute">
      <dt>
        <%= t('view.parts.property.remaining_estimate') %>
        <%= @issue.required_attribute?('remaining_estimate') ? " <span class=\"required\">*</span>".html_safe : "" %>
      </dt>
      <dd>
        <div class="issue-item <%= @issue.safe_attribute?('remaining_estimate') ? 'editable' : 'not-editable' %>"
          data-issue-target="item"
          data-action="click->issue#hideShow" >
          <div class="show">
            <%= @issue.try(:remaining_estimate).present? ? format_hours(@issue.remaining_estimate) : '-' %>
          </div>
          <div class="unit">
            <%= t('view.parts.property.hours_unit') %>
          </div>
          <div class="edit"
            data-controller="issue_item issue mode"
            data-action="
              click:outside->issue_item#clickOutside
              keydown.tab->issue_item#clickOutside
              keydown.enter->issue_item#eventKeydownEnter
              keydown.esc->issue_item#resetItem
              issue_item:resetEditMode->issue#resetEditMode
              issue_item:setRadioControlChecked->issue#setRadioControlChecked
            "
            data-issue_item-field-name-value="issue[remaining_estimate]"
            data-issue_item-before-value="<%= @issue.try(:remaining_estimate) %>"
            data-label="<%= t('view.parts.property.remaining_estimate') %>"
            data-attribute-name="remaining_estimate"
            hidden
          >
          <input type='text' id="issue_remaining_estimate" name="issue[remaining_estimate]" value="<%= format_hours(@issue.try(:remaining_estimate)) %>" class="<%= lif_disable_control(@issue, 'remaining_estimate') %>"> <%= t('view.parts.property.hours_unit') %>
          </div>
        </div>
      </dd>
    </dl>
  <% end %>
  <% unless @issue.disabled_core_fields.include?('done_ratio') %>
    <dl class="done-ratio attribute">
      <dt>
        <%= t('view.parts.property.done_ratio') %>
        <%= @issue.required_attribute?('done_ratio') ? " <span class=\"required\">*</span>".html_safe : "" %>
      </dt>
      <dd>
        <div class="issue-item <%= @issue.safe_attribute?('done_ratio') ? 'editable' : 'not-editable' %>"
          data-issue-target="item"
          data-action="click->issue#hideShow" >
          <div class="show">
            <div class="flex">
              <div class="bar-holder"><div class="bar" style="width: <%= @issue.done_ratio %>%;">&nbsp;</div></div>
              <span class="bar-label"><%= @issue.done_ratio %>%</span>
            </div>
          </div>
          <div class="edit"
            data-controller="issue_item issue mode"
            data-action="
              click:outside->issue_item#clickOutside
              keydown.tab->issue_item#clickOutside
              keydown.enter->issue_item#eventKeydownEnter
              keydown.esc->issue_item#resetItem
              issue_item:resetEditMode->issue#resetEditMode
              issue_item:setRadioControlChecked->issue#setRadioControlChecked
            "
            data-issue_item-field-name-value="issue[done_ratio]"
            data-issue_item-before-value="<%= @issue.done_ratio %>"
            data-label="<%= t('view.parts.property.done_ratio') %>"
            data-attribute-name="done_ratio"
            hidden
          >
            <% if @issue.safe_attribute?('done_ratio') && Issue.use_field_for_done_ratio? %>
              <%=
                select_tag 'issue[done_ratio]',
                  options_for_select((0..10).to_a.collect {|r| ["#{r*10} %", r*10] }, { :selected => @issue.done_ratio }),
                  class: lif_disable_control(@issue, 'done_ratio')
              %>
            <% end %>
          </div>
        </div>
      </dd>
    </dl>
  <% end %>
</div>
<% if checklist_installed? %>
  <div class="fields">
    <dl><dt><%= t('view.checklist') %></dt></dl>
    <% if @checklist_view_model.local_mode? %>
      <%= hidden_field_tag "__lychee_checklist_data", "[]" %>
    <% end %>
    <%= render partial: 'lychee_checklist/checklist', locals: { vm: @checklist_view_model } %>
  </div>
<% end %>
<div class="fields attachment_files ">
  <dl><dt><%= t('view.parts.property.files') %></dt></dl>
  <%= render partial: 'lychee_issue_form/issues/parts/attach_files' %>
</div>
<div class="fields">
  <% if lif_lcf_allowed?(@project) %>
    <% enums_for_change = lif_enumerations_for_change(@project, @issue) %>
  <% end %>
  <% @issue.visible_custom_field_values.each do |custom_field_value| %>
    <%
      custom_field = custom_field_value.custom_field
      enums = custom_field.enumerations
      lcf_enums = lif_lcf_allowed?(@project) ? enums_for_change.find { |enum| enum[:id] == custom_field.id } : nil
      text_value = ''
      if custom_field_value.value.is_a?(Array)
        results = []
        custom_field_value.value.each { |cfv| results.push enums.find { |e| e.id.to_i === cfv.to_i } }
        text_value = results.compact.join(", ")
      else
        text_value = custom_field_value.value
      end
    %>
    <dl class="enumeration_cf cf_<%= custom_field_value.custom_field.id %> attribute">
      <% is_cf_required = @issue.required_attribute?(custom_field_value.custom_field_id) || custom_field.is_required? %>
      <dt><%= custom_field_value.custom_field.name %><%= is_cf_required ? " <span class=\"required\">*</span>".html_safe : "" %></dt>
      <dd>
        <% is_cf_editable = @issue.editable_custom_fields.include?(custom_field) && @issue.safe_attribute?('custom_field_values') %>
        <div class="issue-item type_<%= custom_field.field_format %> <%= is_cf_editable ? 'editable' : 'not-editable' %>"
          data-issue-target="item"
          data-action="click->issue#hideShow" >
          <div class="show">
            <%= custom_field_value_tag(custom_field_value) %>
          </div>
          <div class="edit"
            data-controller="issue_item issue mode"
            data-action="
              click:outside->issue_item#clickOutside
              keydown.tab->issue_item#clickOutside
              keydown.enter->issue_item#eventKeydownEnter
              keydown.ctrl+enter->issue_item#clickOutside
              keydown.meta+enter->issue_item#clickOutside
              keydown.esc->issue_item#resetItem
              issue_item:resetEditMode->issue#resetEditMode
              issue_item:setRadioControlChecked->issue#setRadioControlChecked
              issue_item:showTarget->issue#showTarget
            "
            data-issue_item-field-name-value="issue[custom_field_values][<%= custom_field.id %>]"
            data-issue_item-before-value="<%= custom_field_value.value %>"
            data-issue_item-lcf-required-value="<%= lcf_enums ? lcf_enums[:required_cf_ids].to_json : [] %>"
            data-issue_item-lcf-all-value="<%= lcf_enums ? lcf_enums[:all_enumerations].to_json : {} %>"
            data-issue_item-lcf-visible-value="<%= lcf_enums ? lcf_enums[:visible_enumerations].to_json : {} %>"
            data-label="<%= custom_field.name %>"
            data-attribute-name="<%= custom_field.name %>"
            tabIndex="0"
            hidden
          >
          <% if custom_field.field_format == "attachment" %>
            <% if controller.action_name == 'new' %>
              <%= custom_field_tag :issue, custom_field_value %>
            <% else %>
            <form data-issue-target="item">
              <%= custom_field_tag :issue, custom_field_value %>
            </form>
            <% end %>
          <% else %>
            <%= lif_custom_field_tag(
                  prefix: :issue,
                  custom_value: custom_field_value,
                  data: lif_custom_field_data(@project, custom_field),
                  css: lif_disable_control(@issue, custom_field.id.to_s))
            %>
          <% end %>
          </div>
        </div>
      </dd>
    </dl>
  <% end %>
</div>
