<div id="tab-content-time_entries">
  <% time_entries = @issue.time_entries.order(created_on: :desc) %>
  <% if User.current.allowed_to?(:view_time_entries, @issue.project) %>
    <div class="total">
      <span class="label"><%= t('view.parts.time_entries.spent_hours') %> : </span>
      <span class="value"><%= l_hours_short(@issue.spent_hours) %></span>
      <span class="label"><%= t('view.parts.time_entries.total_spent_hours') %> : </span>
      <span class="value">
        <%= issue_spent_hours_details(@issue) %>
      </span>
    </div>
  <% end %>
  <div class="messages"></div>
  <% if User.current.allowed_to?(:log_time, @issue.project) %>
    <%= render partial: 'lychee_issue_form/issues/parts/time_entry_form' %>
  <% end %>

  <% if time_entries.empty? %>
    <div class="item">
      <%= tag.p(t(:label_no_data), class: 'nodata')  %>
    </div>
  <% end %>
  <% time_entries.each_with_index do |time_entry, index| %>
    <% if time_entry.visible?(User.current) %>
      <div class="item">
        <%
          time_entry_user_avatar = avatar(time_entry.user, size: 20)
          time_entry_user_avatar = time_entry.user&.name[0] if time_entry_user_avatar.length === 0
        %>
        <div class="avatar"><div class="stamp"><%= time_entry_user_avatar %></div></div>
        <div class="meta">
          <div class="meta-left"><%= authoring(time_entry.created_on, time_entry.user, label: :label_added_time_by) %></div>
          <div class="meta-right">
            <% if time_entry.editable_by?(User.current) %>
              <div class="context-menus">
                <form action="<%= edit_time_entry_path(time_entry) %>" method="get" target="_blank">
                  <button class="mini-context"><%== @svg_edit %></button>
                </form>
                <button id="timelog-delete-<%= time_entry.id %>" class="mini-context" data-controller="time_entry mode" data-action="click->time_entry#delete"><%== @svg_delete %></button>
              </div>
            <% end %>
          </div>
        </div>
        <div class="notes">
          <p class="meta">
            <%= time_entry.activity.name %>：<%= l_hours_short(time_entry.hours) %>
            <%# 以下は暫定措置。デザインは後ほど決めるとのこと %>
            &nbsp;&nbsp;&nbsp;&nbsp;<%= t('view.parts.time_entry.spent_on') %>：<%= time_entry.spent_on %>
          </p>
          <p class="comments"><%= time_entry.comments %></p>
        </div>
        <div class="item-date">
          <%= format_time(time_entry.created_on) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
