<form name="timelogForm" class="tab-content-time_entries-form" onsubmit="return false;">
  <input name="time_entry[user_id]" type="hidden" value="<%= User.current&.id %>">
  <div>
    <dl
      class="attribute time-entry-form-spent-on"
      data-attribute-key="spent_on"
      data-attribute-name="<%= t('view.parts.time_entry.spent_on') %>"
    >
      <dt><%= t('view.parts.time_entry.spent_on') %> <span class="required">*</span></dt>
      <dd>
        <input size="10" value="<%= User.current.today %>" type="date" name="time_entry[spent_on]" id="time_entry_spent_on" class="date">
      </dd>
    </dl>
    <dl
      class="attribute time-entry-form-activity-id"
      data-attribute-key="activity_id"
      data-attribute-name="<%= t('view.parts.time_entry.activity') %>"
    >
      <dt><%= t('view.parts.time_entry.activity') %> <span class="required">*</span></dt>
      <dd>
        <%
          options = activity_collection_for_select_options(@time_entry)
        %>
        <%= select "time_entry", "activity_id", options %>
      </dd>
    </dl>
    <dl
      class="attribute time-entry-form-hours"
      data-attribute-key="hours"
      data-attribute-name="<%= t('view.parts.time_entry.hours') %>"
    >
      <dt><%= t('view.parts.time_entry.hours') %> <span class="required">*</span></dt>
      <dd>
        <input size="6" type="text" value="" name="time_entry[hours]" id="time_entry_hours">
        <%= t('view.parts.time_entry.hours_unit') %>
      </dd>
    </dl>
    <dl
      class="attribute time-entry-form-comments"
      data-attribute-key="comments"
      data-attribute-name="<%= t('view.parts.time_entry.comments') %>"
    >
      <dt><%= t('view.parts.time_entry.comments') %></dt>
      <dd>
        <input size="100" maxlength="1024" type="text" value="" name="time_entry[comments]" id="time_entry_comments">
      </dd>
    </dl>
    <% cf_values = @time_entry.editable_custom_field_values %>
    <%= tag.hr if cf_values.any? %>
    <% cf_values.each do |cf_value| %>
      <dl
        class="attribute time-entry-form-cf_<%= cf_value.custom_field.id %>"
        data-attribute-key="<%= cf_value.custom_field.name %>"
        data-attribute-name="<%= cf_value.custom_field.name %>"
      >
        <dt><%= cf_value.custom_field.name %><%= cf_value.custom_field.is_required? ? " <span class=\"required\">*</span>".html_safe : "" %></dt>
        <dd><%= custom_field_tag :time_entry, cf_value %></dd>
      </dl>
    <% end %>
  </div>

  <input
    type="submit"
    name="record_button"
    value="<%= t('view.parts.time_entry.record_button') %>"
    data-controller="time_entry mode"
    data-action="click->time_entry#record"
  >
</form>
