<%= render partial: 'lychee_issue_form_template/svgs' %>

<div id="is_using_kanban_dialog" hidden><%= Setting.plugin_lychee_issue_form[:is_using_kanban_dialog] %></div>

<div class="lychee-issue-form__container_half"
  data-controller="issue tab resize popup comment mode attachment"
  data-issue-target="hideable issueFormContainer"
  data-tab-target="issueFormContainer"
  data-resize-target="outside"
  hidden>
  <div class="content"
    data-issue-target="hideable"
    hidden>
    <div class="dialog">
      <div id="dialog-content" data-has-validation-errors="false">
        <%
          # この中身は Stimulus (issue_controller.js#fetchIssueHtml) 経由で描画される
          # View はこちら: zapp/views/lychee_issue_form/issues/show.html.erb
        %>
      </div>
      <div class="dialog-toggle-view">
        <button id="tab-half" class="deactive switch-view" data-tab-target="tabViewHalf" data-action="click->tab#changeView">
          <div class="svg" id="tab-half" data-action="click->tab#changeView"><%== @svg_panel_close %></div>
          <div class="label" id="tab-half" data-action="click->tab#changeView"><%= t('view.content.switch_menu.half') %></div>
        </button>
        <button id="tab-full" class="active switch-view" data-tab-target="tabViewFull" data-action="click->tab#changeView">
          <div class="svg" id="tab-full" data-action="click->tab#changeView"><%== @svg_panel_open %></div>
          <div class="label" id="tab-full" data-action="click->tab#changeView"><%= t('view.content.switch_menu.full') %></div>
        </button>
      </div>
      <button class="dialog-close" data-action="issue#hideTarget">✕</button>
    </div>
  </div>
</div>

<%= render partial: 'lychee_issue_form_template/notification' %>
