<%= stylesheet_link_tag 'ticket', plugin: :lychee_issue_form %>
<%= stylesheet_link_tag 'progress_bar', plugin: :lychee_issue_form %>
<%= stylesheet_link_tag 'popup_menu', plugin: :lychee_issue_form %>
<%= stylesheet_link_tag 'popup_help', plugin: :lychee_issue_form %>
<%= stylesheet_link_tag 'popup_ticket_context', plugin: :lychee_issue_form %>
<%= stylesheet_link_tag 'resizebar', plugin: :lychee_issue_form %>
<%= stylesheet_link_tag 'notification', plugin: :lychee_issue_form %>
<%= stylesheet_link_tag 'validation_errors', plugin: :lychee_issue_form %>
<% if Rails.env.production? %>
  <%= javascript_include_tag 'bundle', plugin: :lychee_issue_form %>
<% else %>
  <%= javascript_include_tag "//#{request.host}:8110/webpack/bundle.js" %>
<% end%>
<%= javascript_include_tag 'attachments' %>
