<div id="notification">
  <div id="notification-icon"><%== @svg_alert_badge %></div>
  <div id="notification-container"><span id="notification-content"></span></div>
</div>

<div id="flash-notice">
  <%= image_tag 'notice.svg', plugin: 'lychee_issue_form' %>
  <span id="flash-notice-content"></span>
</div>
