<% if type === IssueRelation::TYPE_FOLLOWS %>
  <div class="popup-help hideView" data-popup-target="help" id="<%= IssueRelation::TYPE_FOLLOWS %>-content">
    <div class="help-left">
      <%= image_tag asset_path(t('view.parts.descendants.helps.follows.image_path')) %>
    </div>
    <div class="help-right">
      <h4><%== t('view.parts.descendants.helps.follows.title').html_safe %></h4>
      <p><%= t('view.parts.descendants.helps.follows.description') %></p>
    </div>
  </div>
<% end %>