<div
  id="journal-context-<%= journal.id %>-content"
  data-popup-target="journalContext"
  class="popup-journal-context hideView"
>
  <ul>
    <li>
      <button
        data-controller="comment"
        data-action="click->comment#copyObjectUrlLink"
        data-comment-object-url-param="<%= issue_url(journal.issue, anchor: "note-#{journal.indice}", only_path: false) %>">
        <%== @svg_link %> <div class="label"><%= t('view.popup_context_content.copy_link') %></div>
      </button>
    </li>
    <% if journal.notes? && journal.editable_by?(User.current) %>
    <li class="danger">
      <button
        id="journal-delete-<%= journal.id %>"
        data-controller="comment mode"
        data-action="click->comment#delete"
      >
        <%== @svg_delete_danger %> <div class="label"><%= t('view.popup_context_content.delete') %></div>
      </button>
    </li>
    <% end %>
  </ul>
</div>
