<div id="popup" data-popup-target="menu" class="hideView">
  <ul>
    <li class="copy">
      <button>
        <%== @svg_content_copy %> <div class="label"><%= t('view.popup_menu.content_copy') %></div>
      </button>
    </li>
    <li class="issue-association-chart">
      <button>
        <div class="svg"><%== @svg_lan %></div> <div class="label"><%= t('view.popup_menu.lan') %></div>
      </button>
    </li>
    <li class="toggle-private">
      <button data-controller="issue_option mode" data-action="click->issue_option#handleChangePrivate" data-is-private=<%= is_private %>>
        <div class="svg"><%== @svg_private_connectivity %></div> <div class="label"><%= is_private ? t('view.popup_menu.public_connectivity') : t('view.popup_menu.private_connectivity') %></div>
      </button>
    </li>
    <li class="separate"></li>
    <li class="label">
      <div class="label"><%= t('view.popup_menu.export') %></div>
    </li>
    <li class="export-atom">
      <button>
        <div class="svg"><%== @svg_download %></div> <div class="label"><%= t('view.popup_menu.export_type.atom') %></div>
      </button>
    </li>
    <li class="export-pdf">
      <button>
        <div class="svg"><%== @svg_download %></div> <div class="label"><%= t('view.popup_menu.export_type.pdf') %></div>
      </button>
    </li>
    <li class="separate"></li>
    <li class="danger delete">
      <button>
        <%== @svg_delete_danger %> <div class="label"><%= t('view.popup_menu.delete') %></div>
      </button>
    </li>
  </ul>
</div>
