<div id="ticket-context-<%= task.id %>-content" data-popup-target="ticketContext" class="popup-ticket-context hideView">
  <ul>
    <li>
      <button>
        <%== @svg_edit %> <div class="label"><%= t('view.popup_context_content.content_copy') %></div>
      </button>
    </li>
    <li>
      <button class="empty_svg">
        <div class="label-short"><%= t('view.popup_context_content.status') %></div><span class="tail">›</span>
      </button>
    </li>
    <li>
      <button class="empty_svg">
        <div class="label-short"><%= t('view.popup_context_content.tracker') %></div><span class="tail">›</span>
      </button>
    </li>
    <li>
      <button class="empty_svg">
        <div class="label-short"><%= t('view.popup_context_content.priority') %></div><span class="tail">›</span>
      </button>
    </li>
    <li>
      <button class="empty_svg">
        <div class="label-short"><%= t('view.popup_context_content.assigned_to') %></div><span class="tail">›</span>
      </button>
    </li>
    <li>
      <button class="empty_svg">
        <div class="label-short"><%= t('view.popup_context_content.done_ratio') %></div><span class="tail">›</span>
      </button>
    </li>
    <li>
      <button class="empty_svg">
        <div class="label-short"><%= t('view.popup_context_content.watcher') %></div><span class="tail">›</span>
      </button>
    </li>
    <li>
      <button>
        <%== @svg_star %> <div class="label"><%= t('view.popup_context_content.watch') %></div>
      </button>
    </li>
    <li>
      <button class="empty_svg">
        <div class="label-short"><%= t('view.popup_context_content.create_new_ticket_set') %></div>
      </button>
    </li>
    <li>
      <button>
        <%== @svg_alarm_add %> <div class="label"><%= t('view.popup_context_content.record_time') %></div>
      </button>
    </li>
    <li>
      <button>
        <%== @svg_add_circle %> <div class="label"><%= t('view.popup_context_content.add_related_ticket') %></div>
      </button>
    </li>
    <li>
      <button>
        <%== @svg_content_copy %> <div class="label"><%= t('view.popup_context_content.copy') %></div>
      </button>
    </li>
    <li>
      <button>
        <%== @svg_link_off %> <div class="label"><%= t('view.popup_context_content.unlink') %></div>
      </button>
    </li>
    <li class="separate"></li>
    <li class="danger">
      <button>
        <%== @svg_delete_danger %> <div class="label"><%= t('view.popup_context_content.delete') %></div>
      </button>
    </li>
  </ul>
</div>