<%
  svg_star_d = 'M4.63343 10.2667L7.0001 8.86668L9.36677 10.3L8.7001 7.63335L10.8001 5.80001L8.03343 5.56668L7.0001 2.96668L5.93343 5.50001L3.16676 5.70001L5.26676 7.50001L4.63343 10.2667ZM7.0001 10.6667L3.86676 12.5667C3.7001 12.6667 3.56676 12.7 3.4001 12.6667C3.23343 12.6333 3.1001 12.6 3.0001 12.5C2.86676 12.4 2.8001 12.3 2.73343 12.1667C2.66676 12.0333 2.66676 11.8667 2.7001 11.7L3.53343 8.13335L0.766764 5.73335C0.633431 5.63335 0.533431 5.50001 0.500098 5.33335C0.466764 5.20001 0.466764 5.03335 0.500098 4.90001C0.533431 4.76668 0.600098 4.63335 0.733431 4.53335C0.866764 4.43335 1.0001 4.36668 1.2001 4.36668L4.83343 4.03335L6.23343 0.666679C6.3001 0.500012 6.4001 0.366679 6.53343 0.300012C6.66676 0.233346 6.8001 0.200012 6.96676 0.200012C7.13343 0.200012 7.26677 0.233346 7.4001 0.300012C7.53343 0.366679 7.63343 0.500012 7.7001 0.666679L9.1001 4.03335L12.7668 4.36668C12.9334 4.36668 13.0668 4.43335 13.2001 4.53335C13.3334 4.63335 13.4001 4.76668 13.4334 4.90001C13.4668 5.03335 13.4668 5.20001 13.4334 5.33335C13.4001 5.50001 13.3001 5.60001 13.1668 5.73335L10.4001 8.13335L11.2334 11.7C11.2668 11.8667 11.2668 12.0333 11.2001 12.1667C11.1334 12.3 11.0668 12.4333 10.9334 12.5C10.8001 12.6 10.6668 12.6333 10.5334 12.6667C10.4001 12.7 10.2334 12.6333 10.0668 12.5667L7.0001 10.6667Z'
  @svg_star = '<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_star_d + '" fill="#637982"/></svg>'.html_safe

  svg_more_horiz_d = 'M1.08343 1.98333C0.816764 1.98333 0.586209 1.88611 0.391764 1.69166C0.19732 1.49722 0.100098 1.26666 0.100098 0.999996C0.100098 0.722218 0.19732 0.488885 0.391764 0.299996C0.586209 0.111107 0.816764 0.0166626 1.08343 0.0166626C1.3501 0.0166626 1.58343 0.111107 1.78343 0.299996C1.98343 0.488885 2.08343 0.716663 2.08343 0.98333C2.08343 1.26111 1.98343 1.49722 1.78343 1.69166C1.58343 1.88611 1.3501 1.98333 1.08343 1.98333ZM6.01676 1.98333C5.73899 1.98333 5.50287 1.88611 5.30843 1.69166C5.11399 1.49722 5.01676 1.26666 5.01676 0.999996C5.01676 0.722218 5.11399 0.488885 5.30843 0.299996C5.50287 0.111107 5.73343 0.0166626 6.0001 0.0166626C6.27788 0.0166626 6.51121 0.111107 6.7001 0.299996C6.88899 0.488885 6.98343 0.716663 6.98343 0.98333C6.98343 1.26111 6.88899 1.49722 6.7001 1.69166C6.51121 1.88611 6.28343 1.98333 6.01676 1.98333ZM10.9168 1.98333C10.639 1.98333 10.4029 1.88611 10.2084 1.69166C10.014 1.49722 9.91676 1.26666 9.91676 0.999996C9.91676 0.722218 10.014 0.488885 10.2084 0.299996C10.4029 0.111107 10.639 0.0166626 10.9168 0.0166626C11.1945 0.0166626 11.4307 0.111107 11.6251 0.299996C11.8195 0.488885 11.9168 0.716663 11.9168 0.98333C11.9168 1.26111 11.8195 1.49722 11.6251 1.69166C11.4307 1.88611 11.1945 1.98333 10.9168 1.98333Z'
  @svg_more_horiz = '<svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_more_horiz_d + '" fill="#002E40"/></svg>'.html_safe

  svg_panel_close_d_1 = 'M11.9333 9.46668L9.7333 7.26668C9.59997 7.13335 9.59997 6.93335 9.7333 6.80001L11.9333 4.60001C12.1333 4.40001 12.5333 4.53335 12.5333 4.86668V9.26668C12.5333 9.53335 12.2 9.66668 11.9333 9.46668Z'
  svg_panel_close_d_2 = 'M8.66675 0.666687H2.66675C1.53341 0.666687 0.666748 1.53335 0.666748 2.66669V11.3334C0.666748 12.4667 1.53341 13.3334 2.66675 13.3334H8.66675M2.00008 11.3334V2.66669C2.00008 2.33335 2.26675 2.00002 2.66675 2.00002H7.33342V12H2.66675C2.26675 12 2.00008 11.7334 2.00008 11.3334Z'
  @svg_panel_close = '<svg width="14" height="14" id="tab-half" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_panel_close_d_1 + '" fill="#637982"/><path d="' + svg_panel_close_d_2 + '" fill="#637982"/></svg>'.html_safe

  svg_panel_open_d = 'M11.3334 0.666687H8.00008H2.66675C1.53341 0.666687 0.666748 1.53335 0.666748 2.66669V11.3334C0.666748 12.4667 1.53341 13.3334 2.66675 13.3334H8.00008H11.3334C12.4667 13.3334 13.3334 12.4667 13.3334 11.3334V2.66669C13.3334 1.53335 12.4667 0.666687 11.3334 0.666687ZM2.00008 11.3334V2.66669C2.00008 2.33335 2.26675 2.00002 2.66675 2.00002H7.33342V12H2.66675C2.26675 12 2.00008 11.7334 2.00008 11.3334ZM12.0001 11.3334C12.0001 11.7334 11.7334 12 11.3334 12H8.66675V2.00002H11.3334C11.7334 2.00002 12.0001 2.26669 12.0001 2.66669V11.3334Z'
  @svg_panel_open = '<svg width="14" height="14" id="tab-full" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_panel_open_d + '" fill="#637982"/></svg>'.html_safe

  @svg_resize = '<svg width="26" height="42" viewBox="0 0 26 42" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_1024_5455)">
    <rect x="6" y="5" width="14" height="30" rx="4" fill="white" shape-rendering="crispEdges"/>
    <path d="M10.9711 25.0022C10.6405 25.0022 10.3537 24.8831 10.1107 24.6449C9.86762 24.4067 9.74609 24.1175 9.74609 23.7772C9.74609 23.4369 9.86519 23.1477 10.1034 22.9095C10.3416 22.6713 10.6308 22.5522 10.9711 22.5522C11.3114 22.5522 11.6006 22.6713 11.8388 22.9095C12.077 23.1477 12.1961 23.4369 12.1961 23.7772C12.1961 24.1175 12.077 24.4067 11.8388 24.6449C11.6006 24.8831 11.3114 25.0022 10.9711 25.0022ZM15.0253 25.0022C14.685 25.0022 14.3957 24.8831 14.1576 24.6449C13.9194 24.4067 13.8003 24.1175 13.8003 23.7772C13.8003 23.4369 13.9194 23.1477 14.1576 22.9095C14.3957 22.6713 14.685 22.5522 15.0253 22.5522C15.3655 22.5522 15.6548 22.6713 15.893 22.9095C16.1312 23.1477 16.2503 23.4369 16.2503 23.7772C16.2503 24.1175 16.1312 24.4067 15.893 24.6449C15.6548 24.8831 15.3655 25.0022 15.0253 25.0022ZM10.9711 21.2105C10.6405 21.2105 10.3537 21.0939 10.1107 20.8605C9.86762 20.6272 9.74609 20.3355 9.74609 19.9855C9.74609 19.655 9.86519 19.3706 10.1034 19.1324C10.3416 18.8942 10.6308 18.7751 10.9711 18.7751C11.3114 18.7751 11.6006 18.8942 11.8388 19.1324C12.077 19.3706 12.1961 19.655 12.1961 19.9855C12.1961 20.3355 12.077 20.6272 11.8388 20.8605C11.6006 21.0939 11.3114 21.2105 10.9711 21.2105ZM15.0253 21.2105C14.685 21.2105 14.3957 21.0939 14.1576 20.8605C13.9194 20.6272 13.8003 20.3355 13.8003 19.9855C13.8003 19.655 13.9194 19.3706 14.1576 19.1324C14.3957 18.8942 14.685 18.7751 15.0253 18.7751C15.3655 18.7751 15.6548 18.8942 15.893 19.1324C16.1312 19.3706 16.2503 19.655 16.2503 19.9855C16.2503 20.3355 16.1312 20.6272 15.893 20.8605C15.6548 21.0939 15.3655 21.2105 15.0253 21.2105ZM10.9711 17.4335C10.6405 17.4335 10.3537 17.3144 10.1107 17.0762C9.86762 16.838 9.74609 16.5487 9.74609 16.2085C9.74609 15.8779 9.86519 15.5935 10.1034 15.3553C10.3416 15.1171 10.6308 14.998 10.9711 14.998C11.3114 14.998 11.6006 15.1196 11.8388 15.3626C12.077 15.6057 12.1961 15.8925 12.1961 16.223C12.1961 16.5536 12.077 16.838 11.8388 17.0762C11.6006 17.3144 11.3114 17.4335 10.9711 17.4335ZM15.0253 17.4335C14.685 17.4335 14.3957 17.3144 14.1576 17.0762C13.9194 16.838 13.8003 16.5487 13.8003 16.2085C13.8003 15.8779 13.9194 15.5935 14.1576 15.3553C14.3957 15.1171 14.685 14.998 15.0253 14.998C15.3655 14.998 15.6548 15.1196 15.893 15.3626C16.1312 15.6057 16.2503 15.8925 16.2503 16.223C16.2503 16.5536 16.1312 16.838 15.893 17.0762C15.6548 17.3144 15.3655 17.4335 15.0253 17.4335Z" fill="#002E40"/>
    <rect x="6.5" y="5.5" width="13" height="29" rx="3.5" stroke="#AFBBC0" shape-rendering="crispEdges"/>
    </g>
    <defs>
    <filter id="filter0_d_1024_5455" x="0" y="0" width="26" height="42" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="1"/>
    <feGaussianBlur stdDeviation="3"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1024_5455"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1024_5455" result="shape"/>
    </filter>
    </defs>
    </svg>'.html_safe

  svg_content_copy_d = 'M4.43314 12.7667C3.9998 12.7667 3.63314 12.6 3.33314 12.3C3.03314 12 2.86647 11.6333 2.86647 11.2V2.2C2.86647 1.76666 3.03314 1.4 3.33314 1.1C3.63314 0.799998 3.9998 0.633331 4.43314 0.633331H11.4665C11.8998 0.633331 12.2665 0.799998 12.5665 1.1C12.8665 1.4 13.0331 1.8 13.0331 2.2V11.2333C13.0331 11.6667 12.8665 12.0333 12.5665 12.3333C12.2665 12.6333 11.8998 12.8 11.4665 12.8L4.43314 12.7667ZM1.86647 15.3667C1.43314 15.3667 1.06647 15.2 0.766471 14.9C0.466471 14.6 0.299805 14.2333 0.299805 13.8V4.66667C0.299805 4.43333 0.366471 4.26666 0.533138 4.1C0.699805 3.96667 0.866471 3.86666 1.0998 3.86666C1.33314 3.86666 1.4998 3.93333 1.66647 4.1C1.7998 4.26666 1.8998 4.43333 1.8998 4.66667V13.7667H8.86647C9.0998 13.7667 9.26647 13.8333 9.43314 14C9.5998 14.1333 9.66647 14.3333 9.66647 14.5667C9.66647 14.8 9.5998 14.9667 9.43314 15.1333C9.2998 15.3 9.0998 15.3667 8.86647 15.3667H1.86647Z'
  @svg_content_copy = '<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_content_copy_d + '" fill="#637982"/></svg>'.html_safe

  svg_lan_d = 'M2.00003 15.05C1.61392 15.05 1.28684 14.9159 1.01878 14.6479C0.750727 14.3798 0.616699 14.0527 0.616699 13.6666V11.45C0.616699 11.0638 0.750727 10.7368 1.01878 10.4687C1.28684 10.2006 1.61392 10.0666 2.00003 10.0666H2.7167V8.88328C2.7167 8.45273 2.87017 8.08398 3.17712 7.77703C3.48406 7.47009 3.85281 7.31662 4.28337 7.31662H6.3167V5.93328H5.60003C5.21392 5.93328 4.88684 5.79926 4.61878 5.5312C4.35073 5.26315 4.2167 4.93606 4.2167 4.54995V2.33328C4.2167 1.94717 4.35073 1.62009 4.61878 1.35203C4.88684 1.08398 5.21392 0.949951 5.60003 0.949951H8.40003C8.78614 0.949951 9.11323 1.08398 9.38128 1.35203C9.64934 1.62009 9.78337 1.94717 9.78337 2.33328V4.54995C9.78337 4.93606 9.64934 5.26315 9.38128 5.5312C9.11323 5.79926 8.78614 5.93328 8.40003 5.93328H7.68337V7.31662H9.7167C10.1473 7.31662 10.516 7.47009 10.8229 7.77703C11.1299 8.08398 11.2834 8.45273 11.2834 8.88328V10.0666H12C12.3861 10.0666 12.7132 10.2006 12.9813 10.4687C13.2493 10.7368 13.3834 11.0638 13.3834 11.45V13.6666C13.3834 14.0527 13.2493 14.3798 12.9813 14.6479C12.7132 14.9159 12.3861 15.05 12 15.05H9.28337C8.89725 15.05 8.57017 14.9159 8.30212 14.6479C8.03406 14.3798 7.90003 14.0527 7.90003 13.6666V11.45C7.90003 11.0638 8.03406 10.7368 8.30212 10.4687C8.57017 10.2006 8.89725 10.0666 9.28337 10.0666H9.90003V8.68328H4.10003V10.0666H4.7167C5.10281 10.0666 5.42989 10.2006 5.69795 10.4687C5.966 10.7368 6.10003 11.0638 6.10003 11.45V13.6666C6.10003 14.0527 5.966 14.3798 5.69795 14.6479C5.42989 14.9159 5.10281 15.05 4.7167 15.05H2.00003Z'
  @svg_lan = '<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_lan_d + '" fill="#637982"/></svg>'.html_safe

  svg_private_connectivity_d = 'M7.99974 9.9498C6.73307 9.9498 5.64418 9.54147 4.73307 8.7248C3.82196 7.90814 3.27752 6.89425 3.09974 5.68314H1.26641C1.06641 5.68314 0.89974 5.61647 0.766406 5.48314C0.633073 5.3498 0.566406 5.18869 0.566406 4.9998C0.566406 4.81092 0.633073 4.6498 0.766406 4.51647C0.89974 4.38314 1.06641 4.31647 1.26641 4.31647H3.09974C3.27752 3.10536 3.82196 2.09147 4.73307 1.2748C5.64418 0.458138 6.73307 0.0498047 7.99974 0.0498047C9.26641 0.0498047 10.3553 0.458138 11.2664 1.2748C12.1775 2.09147 12.722 3.10536 12.8997 4.31647H14.7497C14.9386 4.31647 15.0997 4.38314 15.2331 4.51647C15.3664 4.6498 15.4331 4.81092 15.4331 4.9998C15.4331 5.18869 15.3664 5.3498 15.2331 5.48314C15.0997 5.61647 14.9386 5.68314 14.7497 5.68314H12.8997C12.722 6.89425 12.1775 7.90814 11.2664 8.7248C10.3553 9.54147 9.26641 9.9498 7.99974 9.9498ZM6.78307 7.2498H9.23307C9.41085 7.2498 9.56363 7.19147 9.69141 7.0748C9.81918 6.95814 9.88307 6.7998 9.88307 6.5998V4.73314C9.88307 4.54425 9.82196 4.38592 9.69974 4.25814C9.57752 4.13036 9.42196 4.06647 9.23307 4.06647H9.21641V3.51647C9.21641 3.18314 9.09974 2.89147 8.86641 2.64147C8.63307 2.39147 8.33863 2.26647 7.98307 2.26647C7.64974 2.26647 7.36641 2.39147 7.13307 2.64147C6.89974 2.89147 6.78307 3.18869 6.78307 3.53314V4.06647H6.76641C6.58863 4.06647 6.43585 4.13036 6.30807 4.25814C6.18029 4.38592 6.11641 4.54425 6.11641 4.73314V6.5998C6.11641 6.78869 6.18029 6.94425 6.30807 7.06647C6.43585 7.18869 6.59418 7.2498 6.78307 7.2498ZM7.99974 6.23314C7.83307 6.23314 7.69696 6.18036 7.59141 6.0748C7.48585 5.96925 7.43307 5.83314 7.43307 5.66647C7.43307 5.4998 7.48585 5.36092 7.59141 5.2498C7.69696 5.13869 7.83307 5.08314 7.99974 5.08314C8.16641 5.08314 8.30529 5.13869 8.41641 5.2498C8.52752 5.36092 8.58307 5.4998 8.58307 5.66647C8.58307 5.83314 8.52752 5.96925 8.41641 6.0748C8.30529 6.18036 8.16641 6.23314 7.99974 6.23314ZM7.38307 4.06647V3.5498C7.38307 3.36092 7.44141 3.19703 7.55807 3.05814C7.67474 2.91925 7.82196 2.8498 7.99974 2.8498C8.17752 2.8498 8.32474 2.91925 8.44141 3.05814C8.55807 3.19703 8.61641 3.36092 8.61641 3.5498V4.06647H7.38307Z'
  @svg_private_connectivity = '<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_private_connectivity_d + '" fill="#637982"/></svg>'.html_safe

  svg_download_d = 'M6.99992 9.13334C6.89992 9.13334 6.79992 9.10001 6.69992 9.06667C6.59992 9.03334 6.53325 8.96667 6.43325 8.90001L3.73325 6.20001C3.56659 6.03334 3.49992 5.86667 3.49992 5.63334C3.49992 5.43334 3.59992 5.23334 3.73325 5.06667C3.86659 4.90001 4.06659 4.83334 4.26659 4.83334C4.46659 4.83334 4.66659 4.90001 4.83325 5.06667L6.16659 6.43334V1.26667C6.16659 1.03334 6.23325 0.866675 6.39992 0.700008C6.56659 0.533341 6.73325 0.466675 6.96659 0.466675C7.19992 0.466675 7.36659 0.533341 7.53325 0.700008C7.66659 0.866675 7.76659 1.03334 7.76659 1.26667V6.43334L9.13325 5.06667C9.29992 4.90001 9.46659 4.83334 9.69992 4.83334C9.89992 4.83334 10.0999 4.90001 10.2333 5.06667C10.3999 5.23334 10.4666 5.40001 10.4666 5.63334C10.4666 5.86667 10.3999 6.03334 10.2333 6.20001L7.53325 8.90001C7.46659 8.96667 7.36659 9.03334 7.26659 9.06667C7.19992 9.10001 7.09992 9.13334 6.99992 9.13334ZM2.39992 13.1333C1.96659 13.1333 1.59992 12.9667 1.29992 12.6667C0.999919 12.3667 0.833252 11.9667 0.833252 11.5333V9.20001C0.833252 8.96667 0.899919 8.80001 1.06659 8.63334C1.23325 8.46667 1.39992 8.40001 1.63325 8.40001C1.86659 8.40001 2.03325 8.46667 2.19992 8.63334C2.36659 8.80001 2.43325 8.96667 2.43325 9.20001V11.5667H11.5999V9.20001C11.5999 8.96667 11.6666 8.80001 11.8333 8.63334C11.9999 8.46667 12.1666 8.40001 12.3999 8.40001C12.6333 8.40001 12.7999 8.46667 12.9666 8.63334C13.0999 8.80001 13.1999 8.96667 13.1999 9.20001V11.5667C13.1999 12 13.0333 12.3667 12.7333 12.7C12.4333 13 12.0666 13.1667 11.6333 13.1667H2.39992V13.1333Z'
  @svg_download = '<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_download_d + '" fill="#000"/></svg>'.html_safe

  svg_delete_d = 'M7.00008 8.2L8.46675 9.66666C8.60008 9.8 8.76675 9.86666 8.96675 9.86666C9.16675 9.86666 9.33342 9.8 9.46675 9.66666C9.60008 9.53333 9.66675 9.36666 9.66675 9.16666C9.66675 8.96666 9.60008 8.8 9.46675 8.66666L8.00008 7.2L9.46675 5.7C9.60008 5.56666 9.66675 5.4 9.66675 5.2C9.66675 5 9.60008 4.83333 9.46675 4.7C9.33342 4.56666 9.16675 4.5 8.96675 4.5C8.76675 4.5 8.60008 4.56666 8.46675 4.7L7.00008 6.16666L5.56675 4.7C5.43341 4.56666 5.26675 4.5 5.06675 4.5C4.86675 4.5 4.70008 4.56666 4.53341 4.7C4.40008 4.83333 4.33341 5 4.33341 5.2C4.33341 5.4 4.40008 5.56666 4.53341 5.7L6.00008 7.2L4.53341 8.66666C4.40008 8.8 4.33341 8.96666 4.33341 9.16666C4.33341 9.36666 4.40008 9.53333 4.53341 9.66666C4.70008 9.8 4.86675 9.86666 5.03341 9.86666C5.20008 9.86666 5.40008 9.8 5.53341 9.66666L7.00008 8.2ZM3.20008 13.4C2.76675 13.4 2.40008 13.2333 2.06675 12.9333C1.73341 12.6333 1.60008 12.2667 1.60008 11.8333V2.63333H1.43341C1.20008 2.63333 1.03341 2.56666 0.866748 2.4C0.733415 2.26666 0.666748 2.06666 0.666748 1.86666C0.666748 1.63333 0.733415 1.46666 0.900081 1.3C1.03341 1.13333 1.23341 1.06666 1.46675 1.06666H4.53341C4.53341 0.833329 4.60008 0.666663 4.76675 0.499996C4.90008 0.333329 5.10008 0.266663 5.33342 0.266663H8.66675C8.90008 0.266663 9.06675 0.333329 9.23342 0.499996C9.40008 0.666663 9.46675 0.833329 9.46675 1.06666H12.5334C12.7667 1.06666 12.9334 1.13333 13.1001 1.3C13.2334 1.46666 13.3334 1.63333 13.3334 1.86666C13.3334 2.1 13.2667 2.26666 13.1001 2.43333C12.9334 2.56666 12.7667 2.66666 12.5334 2.66666H12.3667V11.8667C12.3667 12.3 12.2001 12.6667 11.9001 12.9667C11.6001 13.2667 11.2001 13.4333 10.8001 13.4333H3.20008V13.4Z'
  @svg_delete = '<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_delete_d + '" fill="#A50000"/></svg>'.html_safe

  svg_calendar_month_d = 'M6.99974 8.93288C6.76641 8.93288 6.59974 8.86621 6.46641 8.69954C6.33307 8.56621 6.23307 8.36621 6.23307 8.16621C6.23307 7.93288 6.29974 7.76621 6.46641 7.63288C6.59974 7.49954 6.79974 7.39954 6.99974 7.39954C7.23307 7.39954 7.39974 7.46621 7.53307 7.63288C7.66641 7.76621 7.76641 7.96621 7.76641 8.16621C7.76641 8.39954 7.69974 8.56621 7.53307 8.69954C7.39974 8.86621 7.23307 8.93288 6.99974 8.93288ZM4.33307 8.93288C4.09974 8.93288 3.93307 8.86621 3.79974 8.69954C3.66641 8.56621 3.56641 8.36621 3.56641 8.16621C3.56641 7.93288 3.63307 7.76621 3.79974 7.63288C3.93307 7.49954 4.13307 7.39954 4.33307 7.39954C4.56641 7.39954 4.73307 7.46621 4.86641 7.63288C4.99974 7.76621 5.09974 7.96621 5.09974 8.16621C5.09974 8.39954 5.03307 8.56621 4.86641 8.69954C4.73307 8.86621 4.56641 8.93288 4.33307 8.93288ZM9.66641 8.93288C9.46641 8.93288 9.29974 8.86621 9.13307 8.69954C8.96641 8.56621 8.89974 8.36621 8.89974 8.16621C8.89974 7.93288 8.96641 7.76621 9.13307 7.63288C9.29974 7.49954 9.46641 7.39954 9.66641 7.39954C9.86641 7.39954 10.0664 7.46621 10.1997 7.63288C10.3664 7.76621 10.4331 7.96621 10.4331 8.16621C10.4331 8.39954 10.3664 8.56621 10.1997 8.69954C10.0664 8.86621 9.89974 8.93288 9.66641 8.93288ZM6.99974 11.5995C6.76641 11.5995 6.59974 11.5329 6.46641 11.3662C6.33307 11.1995 6.23307 11.0329 6.23307 10.8329C6.23307 10.6329 6.29974 10.4329 6.46641 10.2995C6.59974 10.1662 6.79974 10.0662 6.99974 10.0662C7.23307 10.0662 7.39974 10.1329 7.53307 10.2995C7.66641 10.4329 7.76641 10.6329 7.76641 10.8329C7.76641 11.0329 7.69974 11.1995 7.53307 11.3662C7.39974 11.5329 7.23307 11.5995 6.99974 11.5995ZM4.33307 11.5995C4.09974 11.5995 3.93307 11.5329 3.79974 11.3662C3.66641 11.1995 3.56641 11.0329 3.56641 10.8329C3.56641 10.6329 3.63307 10.4329 3.79974 10.2995C3.93307 10.1662 4.13307 10.0662 4.33307 10.0662C4.56641 10.0662 4.73307 10.1329 4.86641 10.2995C4.99974 10.4329 5.09974 10.6329 5.09974 10.8329C5.09974 11.0329 5.03307 11.1995 4.86641 11.3662C4.73307 11.5329 4.56641 11.5995 4.33307 11.5995ZM9.66641 11.5995C9.46641 11.5995 9.29974 11.5329 9.13307 11.3662C8.96641 11.1995 8.89974 11.0329 8.89974 10.8329C8.89974 10.6329 8.96641 10.4329 9.13307 10.2995C9.29974 10.1662 9.46641 10.0662 9.66641 10.0662C9.86641 10.0662 10.0664 10.1329 10.1997 10.2995C10.3664 10.4329 10.4331 10.6329 10.4331 10.8329C10.4331 11.0329 10.3664 11.1995 10.1997 11.3662C10.0664 11.5329 9.89974 11.5995 9.66641 11.5995ZM2.13307 14.5662C1.69974 14.5662 1.33307 14.3995 1.03307 14.0995C0.733073 13.7995 0.566406 13.4329 0.566406 12.9995V2.96621C0.566406 2.53288 0.733073 2.16621 1.03307 1.83288C1.33307 1.53288 1.69974 1.36621 2.13307 1.36621H3.06641V0.366211H4.43307V1.36621H9.53307V0.366211H10.8997V1.36621H11.8331C12.2664 1.36621 12.6331 1.53288 12.9664 1.83288C13.2664 2.13288 13.4331 2.49954 13.4331 2.96621V12.9995C13.4331 13.4329 13.2664 13.7995 12.9664 14.0995C12.6664 14.3995 12.2997 14.5662 11.8331 14.5662H2.13307ZM2.13307 12.9995H11.8331V5.99954H2.13307V12.9995Z'
  @svg_caneldar_month = '<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_calendar_month_d + '" fill="#637982"/></svg>'.html_safe

  svg_attach_file_d = 'M4.66804 15.1333C3.52259 15.1333 2.54709 14.7386 1.74154 13.9491C0.935981 13.1596 0.533203 12.1988 0.533203 11.0667V3.71667C0.533203 2.89556 0.820492 2.19583 1.39507 1.6175C1.96966 1.03917 2.66605 0.75 3.48424 0.75C4.31354 0.75 5.01514 1.03917 5.58904 1.6175C6.16293 2.19583 6.44987 2.90111 6.44987 3.73333V10.3833C6.44987 10.8833 6.27765 11.3083 5.9332 11.6583C5.58876 12.0083 5.16376 12.1833 4.6582 12.1833C4.15265 12.1833 3.73043 12 3.39154 11.6333C3.05265 11.2667 2.8832 10.8222 2.8832 10.3V3.68333H3.9332V10.35C3.9332 10.5708 4.00434 10.7594 4.14662 10.9156C4.28891 11.0719 4.4628 11.15 4.66829 11.15C4.87379 11.15 5.04709 11.0747 5.1882 10.924C5.32931 10.7733 5.39987 10.5931 5.39987 10.3833V3.71667C5.39987 3.18333 5.21376 2.73333 4.84154 2.36667C4.46931 2 4.01654 1.81667 3.4832 1.81667C2.94987 1.81667 2.49709 2 2.12487 2.36667C1.75265 2.73333 1.56654 3.18333 1.56654 3.71667V11.0942C1.56654 11.9422 1.86863 12.6552 2.4728 13.2331C3.07698 13.811 3.80754 14.1 4.66447 14.1C5.53251 14.1 6.26654 13.8083 6.86654 13.2248C7.46654 12.6413 7.76654 11.92 7.76654 11.0609V3.68333H8.81654V11.05C8.81654 12.1821 8.41148 13.1457 7.60137 13.9407C6.79125 14.7358 5.81347 15.1333 4.66804 15.1333Z'
  @svg_attach_file = '<svg width="9" height="15" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_attach_file_d + '" fill="#637982"/></svg>'.html_safe

  svg_alarm_add_d = 'M7.00013 8.85834C7.14596 8.85834 7.26263 8.8 7.35013 8.7125C7.4668 8.625 7.49596 8.47917 7.49596 8.3625V7.10834H8.75013C8.89596 7.10834 9.01263 7.05 9.1293 6.9625C9.24596 6.84584 9.27513 6.72917 9.27513 6.58334C9.27513 6.4375 9.2168 6.32084 9.1293 6.23334C9.0418 6.11667 8.89596 6.0875 8.7793 6.0875H7.5543V4.8625C7.5543 4.71667 7.49596 4.57084 7.40846 4.48334C7.32096 4.39584 7.17513 4.3375 7.0293 4.3375C6.88346 4.3375 6.7668 4.39584 6.6793 4.48334C6.56263 4.57084 6.53346 4.71667 6.53346 4.83334V6.05834H5.33763C5.1918 6.05834 5.04596 6.11667 4.95846 6.20417C4.8418 6.29167 4.81263 6.4375 4.81263 6.58334C4.81263 6.72917 4.87096 6.84584 4.95846 6.9625C5.04596 7.07917 5.1918 7.10834 5.33763 7.10834H6.56263V8.33334C6.56263 8.47917 6.62096 8.625 6.70846 8.7125C6.70846 8.8 6.8543 8.85834 7.00013 8.85834ZM7.00013 12.1833C6.2418 12.1833 5.51263 12.0375 4.81263 11.7458C4.1418 11.4542 3.5293 11.0458 3.03346 10.55C2.53763 10.0542 2.1293 9.44167 1.83763 8.77084C1.54596 8.1 1.40013 7.37084 1.40013 6.58334C1.40013 5.825 1.54596 5.09584 1.83763 4.39584C2.1293 3.69584 2.53763 3.1125 3.03346 2.61667C3.5293 2.12084 4.1418 1.7125 4.81263 1.42084C5.48346 1.12917 6.21263 0.983338 7.00013 0.983338C7.75846 0.983338 8.48763 1.12917 9.18763 1.42084C9.85846 1.7125 10.471 2.12084 10.9668 2.64584C11.4626 3.17084 11.871 3.75417 12.1626 4.425C12.4543 5.09584 12.6001 5.825 12.6001 6.6125C12.6001 7.4 12.4543 8.12917 12.1626 8.8C11.871 9.47084 11.4626 10.0833 10.9376 10.5792C10.4126 11.075 9.8293 11.4833 9.15846 11.775C8.48763 12.0667 7.75846 12.1542 7.00013 12.1833ZM1.40013 2.87917C1.28346 2.96667 1.1668 3.025 1.02096 3.025C0.87513 3.025 0.758464 2.96667 0.641797 2.85C0.52513 2.73334 0.466797 2.64584 0.466797 2.5C0.466797 2.35417 0.52513 2.2375 0.61263 2.12084L2.5668 0.254171C2.71263 0.166671 2.8293 0.108337 2.97513 0.108337C3.12096 0.108337 3.23763 0.166671 3.3543 0.254171C3.4418 0.370837 3.50013 0.487504 3.50013 0.633337C3.50013 0.779171 3.4418 0.895838 3.3543 0.983338L1.40013 2.87917ZM12.6001 2.85L10.646 0.983338C10.5585 0.895838 10.5001 0.779171 10.5001 0.633337C10.5001 0.487504 10.5585 0.370837 10.646 0.254171C10.7335 0.166671 10.8501 0.108337 10.996 0.108337C11.1418 0.108337 11.2585 0.166671 11.3751 0.254171L13.3293 2.12084C13.4168 2.20834 13.4751 2.325 13.4751 2.47084C13.4751 2.61667 13.4168 2.73334 13.3293 2.85C13.2418 2.96667 13.096 3.025 12.9793 3.025C12.8626 3.025 12.7168 2.96667 12.6001 2.85Z'
  @svg_alarm_add = '<svg width="14" height="15" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_alarm_add_d + '" fill="#637982"/></svg>'.html_safe

  svg_ticket_edit_d_1 = 'M5.83333 9.9667L5.9 9.26669C5.93333 8.96669 6.06667 8.66669 6.3 8.46669L11.0667 3.70003C11.3333 3.43336 11.6667 3.30003 12.0333 3.30003C12.4 3.30003 12.7333 3.43336 13 3.70003L13.4 4.10003C13.5667 4.00003 13.7667 3.96669 13.9667 3.96669V1.96669C13.9667 1.23336 13.3667 0.633362 12.6333 0.633362H4.83333V1.46669H3.83333V0.633362H1.33333C0.6 0.633362 0 1.23336 0 1.96669V3.96669C0.733333 3.96669 1.33333 4.56669 1.33333 5.30003C1.33333 6.03336 0.733333 6.63336 0 6.63336V8.63336C0 9.36669 0.6 9.9667 1.33333 9.9667H3.83333V9.13336H4.83333V9.9667H5.83333ZM3.83333 2.90003H4.83333V4.5667H3.83333V2.90003ZM3.83333 7.70003V6.03336H4.83333V7.70003H3.83333Z'
  svg_ticket_edit_d_2 = 'M8.59999 11.2L7.13333 11.3667C6.83333 11.4 6.56666 11.1333 6.59999 10.8333L6.76666 9.36668C6.76666 9.26668 6.83333 9.16668 6.89999 9.10002L11.7 4.33335C11.9 4.13335 12.2 4.13335 12.3667 4.33335L13.6667 5.63335C13.8667 5.83335 13.8667 6.13335 13.6667 6.30002L8.89999 11.0667C8.83333 11.1333 8.73333 11.1667 8.59999 11.2Z'
  @svg_ticket_edit = '<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_ticket_edit_d_1 + '" fill="#637982"/><path d="' + svg_ticket_edit_d_2 + '" fill="#637982"/></svg>'.html_safe

  svg_person_d = 'M6.00006 6.76665C5.1334 6.76665 4.4334 6.49999 3.90006 5.93332C3.36673 5.36665 3.10006 4.69999 3.10006 3.83332C3.10006 2.96665 3.36673 2.26665 3.90006 1.73332C4.4334 1.19999 5.1334 0.933319 6.00006 0.933319C6.86673 0.933319 7.56673 1.19999 8.10006 1.73332C8.6334 2.26665 8.9334 2.96665 8.9334 3.83332C8.9334 4.69999 8.66673 5.39999 8.10006 5.93332C7.56673 6.49999 6.86673 6.76665 6.00006 6.76665ZM1.80006 12.9667C1.36673 12.9667 1.00007 12.8 0.700065 12.5C0.400065 12.2 0.266732 11.8333 0.233398 11.4V10.9667C0.233398 10.4667 0.366732 10.0333 0.600065 9.66665C0.866732 9.29999 1.16673 8.99999 1.60006 8.83332C2.36673 8.49999 3.10006 8.23332 3.8334 8.06665C4.56673 7.89999 5.26673 7.79999 6.00006 7.79999C6.7334 7.79999 7.46673 7.89999 8.16673 8.06665C8.86673 8.23332 9.60006 8.49999 10.3667 8.83332C10.8001 8.99999 11.1334 9.29999 11.3667 9.66665C11.6334 10.0333 11.7667 10.4667 11.7667 10.9667V11.4C11.7667 11.8333 11.6001 12.2 11.3001 12.5C11.0001 12.8 10.6334 12.9667 10.1667 12.9667H1.80006Z'
  @svg_person = '<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_person_d + '" fill="#637982"/></svg>'.html_safe

  svg_help_d = 'M8.03464 11.8837C8.23464 11.8837 8.41241 11.8059 8.56797 11.6504C8.72352 11.4948 8.8013 11.3171 8.8013 11.1171C8.8013 10.9059 8.72352 10.7254 8.56797 10.5754C8.41241 10.4254 8.23464 10.3504 8.03464 10.3504C7.82352 10.3504 7.64297 10.4254 7.49297 10.5754C7.34297 10.7254 7.26797 10.9059 7.26797 11.1171C7.26797 11.3171 7.34297 11.4948 7.49297 11.6504C7.64297 11.8059 7.82352 11.8837 8.03464 11.8837ZM8.01797 5.26706C8.31797 5.26706 8.56241 5.35317 8.7513 5.52539C8.94019 5.69761 9.03464 5.9115 9.03464 6.16706C9.03464 6.35595 8.97908 6.54761 8.86797 6.74206C8.75686 6.9365 8.57352 7.13372 8.31797 7.33372C8.02908 7.58928 7.79575 7.86428 7.61797 8.15872C7.44019 8.45317 7.3513 8.71706 7.3513 8.95039C7.3513 9.09484 7.40964 9.21428 7.5263 9.30872C7.64297 9.40317 7.77908 9.45039 7.93464 9.45039C8.09019 9.45039 8.22908 9.40039 8.3513 9.30039C8.47352 9.20039 8.56241 9.0615 8.61797 8.88372C8.66241 8.69483 8.73741 8.52261 8.84297 8.36706C8.94852 8.2115 9.09575 8.05595 9.28464 7.90039C9.58464 7.65595 9.80964 7.38928 9.95964 7.10039C10.1096 6.8115 10.1846 6.48928 10.1846 6.13372C10.1846 5.5115 9.99852 5.01428 9.6263 4.64206C9.25408 4.26984 8.75686 4.08372 8.13464 4.08372C7.67908 4.08372 7.26519 4.17817 6.89297 4.36706C6.52075 4.55595 6.2013 4.81706 5.93464 5.15039C5.83464 5.28372 5.79852 5.4365 5.8263 5.60872C5.85408 5.78095 5.92352 5.90595 6.03464 5.98372C6.19019 6.08372 6.35408 6.11706 6.5263 6.08372C6.69852 6.05039 6.84575 5.95595 6.96797 5.80039C7.1013 5.63372 7.25964 5.50317 7.44297 5.40872C7.6263 5.31428 7.81797 5.26706 8.01797 5.26706ZM8.0013 15.0837C7.0013 15.0837 6.07075 14.9032 5.20964 14.5421C4.34852 14.1809 3.59852 13.6837 2.95964 13.0504C2.32075 12.4171 1.82075 11.6671 1.45964 10.8004C1.09852 9.93372 0.917969 9.00039 0.917969 8.00039C0.917969 7.00039 1.09852 6.06984 1.45964 5.20872C1.82075 4.34761 2.32075 3.59761 2.95964 2.95872C3.59852 2.31984 4.34852 1.81706 5.20964 1.45039C6.07075 1.08372 7.0013 0.900391 8.0013 0.900391C8.97908 0.900391 9.89853 1.08372 10.7596 1.45039C11.6207 1.81706 12.3707 2.31984 13.0096 2.95872C13.6485 3.59761 14.1569 4.34761 14.5346 5.20872C14.9124 6.06984 15.1013 7.00039 15.1013 8.00039C15.1013 9.00039 14.9124 9.93372 14.5346 10.8004C14.1569 11.6671 13.6485 12.4171 13.0096 13.0504C12.3707 13.6837 11.6207 14.1809 10.7596 14.5421C9.89853 14.9032 8.97908 15.0837 8.0013 15.0837Z'
  @svg_help = '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_help_d + '" fill="#637982"/></svg>'.html_safe

  svg_edit_d = 'M12.2834 4.03334L10.0834 1.83334L10.7167 1.18334C10.939 0.961117 11.2112 0.850006 11.5334 0.850006C11.8556 0.850006 12.1445 0.966673 12.4001 1.20001L12.9501 1.73334C13.2056 1.97778 13.3195 2.26112 13.2917 2.58334C13.264 2.90556 13.139 3.17778 12.9167 3.40001L12.2834 4.03334ZM11.6001 4.71667L3.11675 13.2H0.916748V11L9.38341 2.53334L11.6001 4.71667Z'
  @svg_edit = '<svg width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_edit_d + '" fill="#002E40"/></svg>'.html_safe

  svg_delete_d = 'M7.00008 8.2L8.46675 9.66666C8.60008 9.8 8.76675 9.86666 8.96675 9.86666C9.16675 9.86666 9.33342 9.8 9.46675 9.66666C9.60008 9.53333 9.66675 9.36666 9.66675 9.16666C9.66675 8.96666 9.60008 8.8 9.46675 8.66666L8.00008 7.2L9.46675 5.7C9.60008 5.56666 9.66675 5.4 9.66675 5.2C9.66675 5 9.60008 4.83333 9.46675 4.7C9.33342 4.56666 9.16675 4.5 8.96675 4.5C8.76675 4.5 8.60008 4.56666 8.46675 4.7L7.00008 6.16666L5.56675 4.7C5.43341 4.56666 5.26675 4.5 5.06675 4.5C4.86675 4.5 4.70008 4.56666 4.53341 4.7C4.40008 4.83333 4.33341 5 4.33341 5.2C4.33341 5.4 4.40008 5.56666 4.53341 5.7L6.00008 7.2L4.53341 8.66666C4.40008 8.8 4.33341 8.96666 4.33341 9.16666C4.33341 9.36666 4.40008 9.53333 4.53341 9.66666C4.70008 9.8 4.86675 9.86666 5.03341 9.86666C5.20008 9.86666 5.40008 9.8 5.53341 9.66666L7.00008 8.2ZM3.20008 13.4C2.76675 13.4 2.40008 13.2333 2.06675 12.9333C1.73341 12.6333 1.60008 12.2667 1.60008 11.8333V2.63333H1.43341C1.20008 2.63333 1.03341 2.56666 0.866748 2.4C0.733415 2.26666 0.666748 2.06666 0.666748 1.86666C0.666748 1.63333 0.733415 1.46666 0.900081 1.3C1.03341 1.13333 1.23341 1.06666 1.46675 1.06666H4.53341C4.53341 0.833329 4.60008 0.666663 4.76675 0.499996C4.90008 0.333329 5.10008 0.266663 5.33342 0.266663H8.66675C8.90008 0.266663 9.06675 0.333329 9.23342 0.499996C9.40008 0.666663 9.46675 0.833329 9.46675 1.06666H12.5334C12.7667 1.06666 12.9334 1.13333 13.1001 1.3C13.2334 1.46666 13.3334 1.63333 13.3334 1.86666C13.3334 2.1 13.2667 2.26666 13.1001 2.43333C12.9334 2.56666 12.7667 2.66666 12.5334 2.66666H12.3667V11.8667C12.3667 12.3 12.2001 12.6667 11.9001 12.9667C11.6001 13.2667 11.2001 13.4333 10.8001 13.4333H3.20008V13.4Z'
  @svg_delete = '<svg width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_delete_d + '" fill="#002E40"/></svg>'.html_safe
  @svg_delete_danger = '<svg width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_delete_d + '" fill="#A50000"/></svg>'.html_safe

  svg_add_circle_d = 'M7.04391 10.0042C7.1985 10.0042 7.32683 9.95459 7.42308 9.85834C7.51933 9.76209 7.56891 9.63376 7.56891 9.47917V7.58334H9.49391C9.63975 7.58334 9.76225 7.53376 9.8585 7.43751C9.95475 7.34126 10.0043 7.21292 10.0043 7.05834C10.0043 6.90376 9.95475 6.77542 9.8585 6.67917C9.76225 6.58292 9.63391 6.53334 9.47933 6.53334H7.56891V4.50626C7.56891 4.36042 7.51933 4.23792 7.42308 4.14167C7.32683 4.04542 7.1985 3.99584 7.04391 3.99584C6.88933 3.99584 6.761 4.04542 6.66475 4.14167C6.5685 4.23792 6.51891 4.36626 6.51891 4.52084V6.53334H4.50641C4.36058 6.53334 4.23808 6.58292 4.14183 6.67917C4.04558 6.77542 3.996 6.90376 3.996 7.05834C3.996 7.21292 4.04558 7.34126 4.14183 7.43751C4.23808 7.53376 4.36641 7.58334 4.521 7.58334H6.51891V9.49376C6.51891 9.63959 6.5685 9.76209 6.66475 9.85834C6.761 9.95459 6.88933 10.0042 7.04391 10.0042ZM7.01475 13.1979C6.131 13.1979 5.3085 13.0404 4.55016 12.7254C3.79183 12.4104 3.13558 11.9729 2.58141 11.4217C2.02725 10.8675 1.59266 10.2113 1.27475 9.45292C0.956829 8.69459 0.802246 7.87209 0.802246 6.98834C0.802246 6.12209 0.959746 5.31417 1.27475 4.56167C1.58975 3.80917 2.02725 3.15292 2.58141 2.59292C3.13558 2.03292 3.79183 1.58959 4.55016 1.26876C5.3085 0.947923 6.131 0.787506 7.01475 0.787506C7.881 0.787506 8.68891 0.947923 9.44433 1.26876C10.1997 1.58959 10.8531 2.03001 11.4131 2.59001C11.9731 3.15001 12.4106 3.80626 12.7343 4.55876C13.0522 5.31126 13.2127 6.12501 13.2127 7.00001C13.2127 7.87501 13.0522 8.69167 12.7314 9.45001C12.4106 10.2083 11.9702 10.8646 11.4102 11.4188C10.8502 11.9729 10.1939 12.4075 9.44141 12.7225C8.68891 13.0375 7.881 13.1979 7.01475 13.1979Z'
  @svg_add_circle = '<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="' + svg_add_circle_d + '" fill="#637982"/></svg>'.html_safe

  @svg_link_off = '<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.7209 6.52499L7.72923 5.51874H8.7209C8.85701 5.51874 8.97611 5.56735 9.07819 5.66457C9.18027 5.76179 9.23131 5.87846 9.23131 6.01457C9.23131 6.15068 9.18027 6.26978 9.07819 6.37186C8.97611 6.47394 8.85701 6.52499 8.7209 6.52499ZM11.1709 8.9604L10.0917 7.9104C10.5778 7.8229 10.9716 7.60415 11.273 7.25415C11.5744 6.90415 11.7251 6.50068 11.7251 6.04374C11.7251 5.48957 11.5452 5.03262 11.1855 4.6729C10.8258 4.31318 10.3737 4.13332 9.82923 4.13332H8.41465C8.2202 4.13332 8.05736 4.06769 7.92611 3.93644C7.79486 3.80519 7.72923 3.64235 7.72923 3.4479C7.72923 3.25346 7.79486 3.08818 7.92611 2.95207C8.05736 2.81596 8.2202 2.7479 8.41465 2.7479H9.81465C10.748 2.7479 11.5306 3.06631 12.1626 3.70311C12.7945 4.33992 13.1105 5.12012 13.1105 6.04374C13.1105 6.70485 12.9209 7.2979 12.5417 7.8229C12.1626 8.3479 11.7056 8.72707 11.1709 8.9604ZM11.273 11.7896L1.16673 1.71249C1.05979 1.60554 1.00388 1.48401 0.999023 1.3479C0.994162 1.21179 1.05007 1.0854 1.16673 0.968736C1.27368 0.861791 1.3952 0.808319 1.53132 0.808319C1.66743 0.808319 1.79382 0.861791 1.91048 0.968736L12.0167 11.075C12.1237 11.1819 12.1771 11.301 12.1771 11.4323C12.1771 11.5635 12.1237 11.6826 12.0167 11.7896C11.9098 11.9062 11.7858 11.9646 11.6449 11.9646C11.5039 11.9646 11.3799 11.9062 11.273 11.7896ZM5.80423 9.28124H4.18548C3.25215 9.28124 2.46951 8.96526 1.83757 8.33332C1.20562 7.70137 0.889648 6.9236 0.889648 5.99999C0.889648 5.2611 1.09625 4.61457 1.50944 4.0604C1.92263 3.50624 2.45979 3.11735 3.1209 2.89374L4.31673 4.08957H4.18548C3.63131 4.08957 3.17437 4.26943 2.81465 4.62915C2.45493 4.98887 2.27507 5.44582 2.27507 5.99999C2.27507 6.55415 2.45493 7.0111 2.81465 7.37082C3.17437 7.73054 3.63131 7.9104 4.18548 7.9104H5.80423C5.99868 7.9104 6.16395 7.97603 6.30007 8.10728C6.43618 8.23853 6.50423 8.40137 6.50423 8.59582C6.50423 8.79026 6.43618 8.95311 6.30007 9.08436C6.16395 9.21561 5.99868 9.28124 5.80423 9.28124ZM6.75215 6.52499H5.29381C5.14798 6.52499 5.02402 6.47637 4.92194 6.37915C4.81986 6.28193 4.76882 6.15554 4.76882 5.99999C4.76882 5.84443 4.81743 5.71804 4.91465 5.62082C5.01187 5.5236 5.13826 5.47499 5.29381 5.47499H5.70215L6.75215 6.52499Z" fill="#637982"/></svg>'.html_safe
  @svg_format_quote ='<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.8668 11.8C11.4815 11.8 11.1907 11.6444 10.9944 11.3333C10.7982 11.0222 10.7779 10.6944 10.9334 10.35L11.5834 8.95H10.0501C9.61649 8.95 9.24698 8.79729 8.94157 8.49188C8.63614 8.18646 8.48343 7.81694 8.48343 7.38333V5.1C8.48343 4.6618 8.63614 4.28836 8.94157 3.97968C9.24698 3.671 9.61649 3.51666 10.0501 3.51666H12.3334C12.7716 3.51666 13.1451 3.671 13.4537 3.97968C13.7624 4.28836 13.9168 4.6618 13.9168 5.1V8.53333C13.9168 8.64444 13.9029 8.75442 13.8751 8.86326C13.8473 8.97212 13.8112 9.07881 13.7668 9.18333L12.8168 11.2C12.7279 11.3889 12.5987 11.5361 12.4292 11.6417C12.2597 11.7472 12.0722 11.8 11.8668 11.8ZM5.48343 11.8C5.0992 11.8 4.80592 11.6444 4.6036 11.3333C4.40126 11.0222 4.38343 10.6944 4.5501 10.35L5.2001 8.95H3.66676C3.23315 8.95 2.86364 8.79729 2.55821 8.49188C2.2528 8.18646 2.1001 7.81694 2.1001 7.38333V5.1C2.1001 4.6618 2.2528 4.28836 2.55821 3.97968C2.86364 3.671 3.23315 3.51666 3.66676 3.51666H5.9501C6.38371 3.51666 6.75323 3.671 7.05865 3.97968C7.36406 4.28836 7.51677 4.6618 7.51677 5.1V8.53333C7.51677 8.64444 7.50565 8.75555 7.48343 8.86666C7.46121 8.97777 7.42788 9.08333 7.38343 9.18333L6.43343 11.2C6.34454 11.3889 6.21534 11.5361 6.04583 11.6417C5.87632 11.7472 5.68885 11.8 5.48343 11.8Z" fill="#002E40"/></svg>'.html_safe
  @svg_link = '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.66644 11.7333C3.59977 11.7333 2.73311 11.3667 1.99977 10.6667C1.26644 9.96666 0.933105 9.06666 0.933105 8C0.933105 6.93333 1.29977 6.06666 1.99977 5.33333C2.69977 4.6 3.59977 4.23333 4.66644 4.23333H6.53311C6.76644 4.23333 6.93311 4.3 7.09977 4.46666C7.23311 4.63333 7.33311 4.8 7.33311 5.03333C7.33311 5.26666 7.26644 5.43333 7.09977 5.6C6.93311 5.76666 6.76644 5.83333 6.53311 5.83333H4.66644C4.03311 5.83333 3.49977 6.03333 3.09977 6.46666C2.69977 6.9 2.49977 7.36666 2.46644 8C2.46644 8.63333 2.66644 9.16666 3.09977 9.56666C3.53311 9.96666 4.03311 10.2 4.66644 10.2H6.53311C6.76644 10.2 6.93311 10.2667 7.09977 10.4333C7.23311 10.6 7.33311 10.7667 7.33311 11C7.33311 11.2333 7.26644 11.4 7.09977 11.5667C6.93311 11.7 6.76644 11.8 6.53311 11.8H4.66644V11.7333ZM5.73311 8.6C5.56644 8.6 5.39977 8.53333 5.29977 8.43333C5.19977 8.33333 5.13311 8.16666 5.13311 8C5.13311 7.83333 5.19977 7.66666 5.29977 7.56666C5.39977 7.46666 5.56644 7.4 5.73311 7.4H10.2664C10.4331 7.4 10.5998 7.46666 10.6998 7.56666C10.7998 7.66666 10.8664 7.83333 10.8664 8C10.8664 8.16666 10.7998 8.33333 10.6998 8.43333C10.5998 8.53333 10.4331 8.6 10.2664 8.6H5.73311ZM9.49977 11.7333C9.26644 11.7333 9.06644 11.6667 8.93311 11.5C8.76644 11.3333 8.69977 11.1667 8.69977 10.9333C8.69977 10.7 8.76644 10.5333 8.93311 10.3667C9.06644 10.2333 9.26644 10.1333 9.49977 10.1333H11.3331C11.9664 10.1333 12.4998 9.93333 12.8998 9.5C13.2998 9.1 13.5331 8.56666 13.4998 7.93333C13.4998 7.3 13.2998 6.76666 12.8998 6.36666C12.4998 5.96666 11.9664 5.73333 11.3331 5.73333H9.49977C9.26644 5.73333 9.06644 5.66666 8.93311 5.5C8.79977 5.33333 8.69977 5.16666 8.69977 4.93333C8.69977 4.7 8.76644 4.53333 8.93311 4.36666C9.06644 4.2 9.26644 4.13333 9.49977 4.13333H11.3331C12.3998 4.13333 13.2664 4.5 13.9998 5.23333C14.7331 5.96666 15.0998 6.86666 15.0998 7.9C15.0998 8.93333 14.7331 9.83333 13.9998 10.5667C13.2664 11.3 12.3664 11.6333 11.3331 11.6333H9.49977V11.7333Z" fill="#002E40"/></svg>'.html_safe

  @svg_alert_badge = '<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99622 11.75C8.26562 11.75 8.48644 11.668 8.65866 11.5041C8.83088 11.3401 8.91699 11.1235 8.91699 10.8541C8.91699 10.5847 8.83225 10.3611 8.66276 10.1833C8.49326 10.0055 8.27381 9.91666 8.00442 9.91666C7.73502 9.91666 7.51421 10.0054 7.34199 10.183C7.16977 10.3606 7.08366 10.5841 7.08366 10.8535C7.08366 11.1229 7.1684 11.3397 7.33789 11.5038C7.50739 11.6679 7.72684 11.75 7.99622 11.75ZM8.05324 8.79999C8.27352 8.79999 8.45866 8.7243 8.60866 8.57291C8.75866 8.42152 8.83366 8.2361 8.83366 8.01666V5.08333C8.83366 4.86388 8.75769 4.67847 8.60574 4.52708C8.45379 4.37569 8.26767 4.29999 8.04741 4.29999C7.82713 4.29999 7.64199 4.37569 7.49199 4.52708C7.34199 4.67847 7.26699 4.86388 7.26699 5.08333V8.01666C7.26699 8.2361 7.34296 8.42152 7.49491 8.57291C7.64686 8.7243 7.83297 8.79999 8.05324 8.79999ZM8.00706 15.0833C7.01959 15.0833 6.09667 14.8995 5.23831 14.5319C4.37993 14.1643 3.62891 13.6587 2.98526 13.0151C2.3416 12.3714 1.83598 11.6207 1.46839 10.7631C1.10079 9.9054 0.916992 8.98236 0.916992 7.99396C0.916992 7.00555 1.10079 6.08174 1.46839 5.22254C1.83598 4.36334 2.34073 3.6144 2.98264 2.97573C3.62455 2.33704 4.37475 1.83141 5.23324 1.45884C6.09172 1.08628 7.01563 0.899994 8.00497 0.899994C8.99431 0.899994 9.91923 1.08585 10.7797 1.45756C11.6403 1.82926 12.3894 2.33372 13.0273 2.97093C13.6651 3.60814 14.1701 4.35745 14.5422 5.21888C14.9143 6.08029 15.1003 7.00585 15.1003 7.99556C15.1003 8.98456 14.914 9.90815 14.5415 10.7663C14.1689 11.6245 13.6633 12.3738 13.0246 13.014C12.3859 13.6543 11.6369 14.1592 10.7774 14.5289C9.91797 14.8985 8.99452 15.0833 8.00706 15.0833Z" fill="#CB0000"/></svg>'
%>
