.icon {
  color: #fff;
  background-color: #00ab9f;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

img.icon {
  background-color: #fff;
}
