.head {
  display: flex;
  justify-content: flex-end;
  height: 24px;
}

.new {
  margin: 4px 0 4px;
}

.sticky {
  background-color: #fff;
  top: 0;
  z-index: 99;
}

@media screen and (max-width: 899px) {
  .sticky {
    top: 64px;
  }

  :global(.task-kanban-is-fullscreen) .sticky {
    top: 0;
  }
}
