<h2><%= l(:label_query_new) %></h2>

<%= form_tag(project_kanban_queries_path(@project)) do %>
  <%= hidden_field_tag 'redirect_to', @redirect_to %>
  <%= hidden_field_tag 'c[]', ['_'] %>
  <%== render partial: 'queries/form', locals: { query: @query } %>
  <%= render partial: 'kanban_queries/sort_criteria', locals: { query: @query } %>
  <%= submit_tag l(:button_save) %>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'replace_sort_criteria_selector', plugin: :lychee_kanban %>
<% end %>
