<li>
  <span class="sort-handle ui-icon ui-icon-arrowthick-2-n-s ui-sortable-handle"></span>
  <%= hidden_field_tag "per_project_enumerations[#{enumeration.id}][position]", index, class: :position %>
  <%= text_field_tag "per_project_enumerations[#{enumeration.id}][name]", enumeration.name, size: 40 %>
  <%= hidden_field_tag "per_project_enumerations[#{enumeration.id}][active]", 1 %>
  <% if enumerations.count > 1 %>
    <%= delete_link destroy_possible_enumeration_path(project, custom_field, enumeration.position) %>
  <% end %>
</li>
