.container {
  border: 1px solid #333;
  border-radius: 0.25rem;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  margin: 0 0.25rem;
  color: #fff;
  font-size: 0.75rem;
  background-color: #aaa;
}

.container.dragging {
  background-color: #ccc;
}
