#label_buffer_consumption_rate {
  height: 150px;
  width: 200px;
  padding-left: 0;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.buffer_cunsumption_rate_td {
  width: 200px;
  text-align: right;
}

.label_start {
  text-align: right;
}

.graph_description {
  text-align: center;
  width: 120px;
}

.sample_graph {
  width: 140px;
}

.graph_guide_danger {
  color: #ff5c68;
}

.graph_guide_warning {
  color: #fffa8f;
}

.graph_guide_safe {
  color: #83bd93;
}

.ccpm_term_setting {
  display: inline-block;
  width: 400px;
  line-height: 24px;
  text-indent: 1em;
}

.ccpm_setting_header {
  font-weight: bold;
}

.buffer_days {
  display: inline-block;
  text-align: right;
}

.fever_chart_sample {
  text-align: center;
}

#tab-content-ccpm input[type="date"] {
  width: 165px;
}

.fever_chart {
  display: inline-block;
  width: 500px;
  height: 400px;
  margin-right: 50px;
  word-break: break-all;
}

.fever_chart_no_buffer_days {
  height: 360px;
  margin-left: 20px;
  overflow: hidden;
}

.highcharts-title {
  line-height: 1.4;
  max-height: 45px;
  overflow: hidden;
  text-align: justify;
  width: 64%;
  white-space: normal !important;
}

.highcharts-title::after{
  content: '...';
  position: absolute;
  right: 14px;
  top: 25px;
  -ms-wrap-flow: start;
}

@supports (-webkit-line-clamp: 2) {
 .highcharts-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .highcharts-title::before, .highcharts-title::after {
    content: normal;
  }
}

.highcharts-tooltip > span {
  padding: 1px;
}
