.root {
  width: 250px;
  min-height: 25px;
  box-sizing: border-box;
  padding: 2px;
  background-color: lightsteelblue;
  display: flex;
  flex-direction: column;
}

.root input[type="text"] {
  flex: auto;
}

.close_button {
  float: right;
  cursor: pointer;
}
