<p>
  <label><%= t(:label_ltm_google_account_connection) %></label>
  <% if @revoked %>
    <%= t(:text_revoked_google_account_connection, id: @google_account_identifier)%>
    <br>
    <%= link_to t(:label_reconnect_ltm_with_google_account), initiate_oauth_flow_ltm_google_calendar_syncs_path, class: 'icon icon-reload' %>
  <% else %>
    <%= t(:text_connected_with_google_account, id: @google_account_identifier)%>
    <br>
    <%= link_to t(:button_revoke_access), ltm_google_calendar_syncs_path, method: :delete, class: 'icon icon-del', data: { confirm: t(:text_are_you_sure) } %>
  <% end %>
</p>

<p>
  <label><%= t(:label_ltm_connected_google_calendar) %></label>
  <%= select_google_calendar(@google_calendars, @selected_google_calendar, disabled: @revoked) %>
  <% if !@revoked && @selected_google_calendar.present? && @google_calendars.none? { |calendar|  calendar['id'] == @selected_google_calendar } %>
    <br>
    <span class="icon icon-warning"><%= t(:text_cannot_access_connected_google_calendar) %></span>
  <% end %>
</p>
