<% if request.format.html? %>
  <%= javascript_include_tag('jquery.simplecolorpicker.js', plugin: :lgc) %>
  <%= stylesheet_link_tag('jquery.simplecolorpicker.css', plugin: :lgc) %>
<% end %>

<% if Rails.env.production? %>
  <%= javascript_include_tag('lgc_pro.min', plugin: :lgc) %>
<% else %>
  <%= javascript_include_tag('lgc_pro', plugin: :lgc) %>
<% end %>

<script>
LGC.Pro.activate({
  permissions: <%= {
    managePlans: User.current.allowed_to?(:manage_lgc_plans, @project),
    viewPlans: User.current.allowed_to?(:view_lgc_planning_line, @project),
    manageMilestonesByProjectId: manage_milestones_by_project_id,
    viewMilestonesByProjectId: view_milestones_by_project_id
  }.to_json.html_safe %>,

  milestoneColors: <%= Lgc::Milestone.color_options.to_json.html_safe %>
})
</script>
