<%= content_tag :span, nil, id: 'column-legend-descriptions', data: {
  descriptions: Hash[IssueQuery::LEVM_COLUMN_NAMES.map { |column| [column, t("title_#{column}")] }]
} %>

<%= javascript_include_tag 'column_legend', plugin: 'lychee_issues_evm' %>
