<% if params[:by_lrm] %>
  <%= javascript_tag do %>
    $(function(){
      $('table.issues tbody tr').each(function(){
        if(parseInt($(this).find('.total_spent_hours').text()) > parseInt($(this).find('.estimated_hours').text())){
          $(this).css('background-color', '#ffe3e3')
        }
      });
    });
  <% end %>
<% end %>
