<% if current_page?(controller: 'groups', action: 'index') && Group.lychee_manufacturing_machine %>
  <%= javascript_tag do %>
    $(function(){
      $("#group-<%= Group.lychee_manufacturing_machine.id %> .icon-del").hide();
    });
  <% end %>
<% end %>
<% if current_page?(controller: 'custom_fields', action: 'index') && IssueCustomField.lychee_manufacturing_worker %>
  <%= javascript_tag do %>
    $(function(){
      $("a.icon-del[href='/custom_fields/<%= IssueCustomField.lychee_manufacturing_worker.id %>']").hide();
    });
  <% end %>
<% end %>
