<table class="list enabled_indice_settings">
  <tbody>
    <% tab[:positions].sorted.each do |position| %>
      <tr>
        <td><%= position.indice_setting.name %></td>
        <td class="buttons">
          <%= reorder_handle(position, url: enabled_report_indice_setting_path(position, type: tab[:name]), param: 'enabled_report_indice_setting') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# 長い指標名でも画面からはみ出さないように強制的に折り返す。
    tableを<div class="autoscroll">でくくると横スクロールできるようになるが、
    ハンドルを下にドラッグしたときに無限スクロールしてしまうのでここでは避ける。 %>
<style>
  table.enabled_indice_settings {
    word-break: break-all;
  }
</style>
