<div class="contextual">
  <%= link_to l(:label_project_reports), project_reports_path %>
  <% if User.current.project_reports_globally_managable? %>
    <%= link_to l(:label_indice_setting), indice_settings_path, class: 'icon icon-setting' %>
  <% end %>
</div>
<h3>
  <%= link_to l(:label_project_setting), edit_project_report_setting_path(tab: :project) %> > <%= l(:field_setting_sort_indices) %>
</h3>
<%=
  render_tabs [
    {
      name: 'project',
      label: :label_project_report_settings_project,
      partial: 'sort_table',
      positions: EnabledProjectReportIndiceSetting.available.includes(:indice_setting),
      url: enabled_report_indice_settings_path(type: :project)
    },
    {
      name: 'version',
      label: :label_project_report_settings_version,
      partial: 'sort_table',
      positions: EnabledVersionReportIndiceSetting.available.includes(:indice_setting),
      url: enabled_report_indice_settings_path(type: :version)
    }
  ], @setting_type
%>

<%= javascript_tag do %>
  $('table.enabled_indice_settings tbody').sortable({
    axis: 'y',
    handle: ".sort-handle",
    helper: function(event, ui){
      ui.children('td').each(function(){
        $(this).width($(this).width());
      });
      return ui;
    },
    update: function(event, ui) {
      var sortable = $(this);
      var handle = ui.item.find(".sort-handle").addClass("ajax-loading");
      var url = handle.data("reorder-url");
      var param = handle.data("reorder-param");
      var data = {};
      data[param] = {position: ui.item.index() + 1};
      $.ajax({
        url: url,
        type: 'put',
        dataType: 'script',
        data: data,
        error: function(jqXHR, textStatus, errorThrown){
          sortable.sortable("cancel");
        },
        complete: function(jqXHR, textStatus, errorThrown){
          handle.removeClass("ajax-loading");
        }
      });
    },
  });
<% end %>

<%= stylesheet_link_tag 'lychee_project_report', plugin: :lychee_project_report %>
