<p>
  <%= label(:issue_status, :lgc_color) %>
  <%= select(:issue_status, :lgc_color, color_options, selected: issue_status.lgc_color) %>
</p>

<%= javascript_include_tag('jquery.simplecolorpicker.js', plugin: :lgc) %>
<%= stylesheet_link_tag('jquery.simplecolorpicker.css', plugin: :lgc) %>
<script>
  jQuery(function($) {
    $('#issue_status_lgc_color').simplecolorpicker({theme: 'regularfont'});
  });
</script>
