<%= hidden_field_tag 'set_filter', '1' %>
<%= hidden_field_tag 'f[]', '' %>
<%= javascript_tag do %>
var operatorLabels = <%= raw_json Query.operators_labels %>;
var operatorByType = <%= raw_json Query.operators_by_filter_type %>;
var availableFilters = <%= raw_json query.available_filters_as_json %>;
var labelDayPlural = <%= raw_json l(:label_day_plural) %>;
var filtersUrl = <%= raw_json queries_filter_path(project_id: query.project.try(:id), type: query.type) %>;

$(function(){
  function isEmptyValue(values){
    if($.isArray(values)){
      return $.grep(values, function(value, _) { return !$.isEmptyObject(value); }).length < 1
    }else{
      return $.isEmptyObject(values);
    }
  }

  function groupByFilter() {
    let optgroup = $("<optgroup label='<%=  I18n.t('label_indice') -%>'>");
    let select_tag = '#add_filter_select';
    $(select_tag + " option").each((_idx, el) => {
      if (el.value.match(/^is_\d+$/)) {
        optgroup.append(el);
      }
    });
    if (optgroup.children().length >= 1) {
      $(select_tag).append(optgroup);
    }
  }

  function removeChainedCustomField(target) {
    $(target + " optgroup").each((_idx, optgroup) => {
      let field = $(optgroup).children().first().val();
      let isChainedCF = field.match(/cf_\d+$/) && field.match(/\./);
      if (isChainedCF) {
        optgroup.remove(); // optgroup を消すのではなく、ChainedCF だけを削除したい
      }
    });
  }

  initFilters();
  removeChainedCustomField('#add_filter_select');
  groupByFilter();

  <% query.filters.each do |field, options| %>
    var field = "<%= j field %>";
    var values = <%= raw_json query.values_for(field) || '' %>;

    addFilter(field, <%= raw_json query.operator_for(field) || '' %>, values);
    if(isEmptyValue(values)){
      $('#tr_' + field.replace('.', '_') + ' .values select').val(null);
    }
  <% end %>
});
<% end %>
<table id="filters-table" class="project_over_view">
</table>

<div class="add-filter">
<%= label_tag('add_filter_select', l(:label_filter_add)) %>
<%= select_tag 'add_filter_select', filters_options_for_select(query), :name => nil %>
</div>
