<div class="hide-when-print">
  <div>
    <fieldset class="collapsible <%= 'collapsed' if @project_report_query.new_record? %>">
      <legend onclick="toggleFieldset(this);" class="icon icon-<%= @project_report_query.persisted? ? "expended" : "collapsed" %>"><%= l(:label_project_report_query) -%></legend>
      <div style="display: <%= @project_report_query.persisted? ? 'block' : 'none' %>;">
        <%= select_tag :query_id,
          options_for_select(@my_queries.map { |q| [q.name, q.id] }, selected: @project_report_query.id),
          include_blank: true %>
        <% if @project_report_query.persisted? %>
          <%= link_to l(:button_edit), edit_project_report_query_path(id: @project_report_query.id), class: 'icon icon-edit' %>
          <%= delete_link project_report_query_path(id: @project_report_query.id) %>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>
<%= form_tag(project_reports_path, method: :get, id: 'query_form') do %>
  <div id="query_form_with_buttons" class="hide-when-print">
    <div id="query_form_content">
      <fieldset class="collapsible">
        <legend onclick="toggleFieldset(this);" class="icon icon-expended"><%= t(:label_filter_plural) %></legend>
        <div style="display: block;">
          <%= render 'filters', query: @project_report_query.filter_query %>
        </div>
      </fieldset>
      <fieldset class="collapsible collapsed">
        <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= l(:label_project_report_options) -%></legend>
        <div style="display: none;">
          <table>
            <tr>
              <td><%= t(:field_column_names) %></td>
              <td>
                <%= render 'project_report_queries/columns',
                           column_query: @project_report_query.column_query,
                           request_columns_name: 'c[]' %>
              </td>
            </tr>
            <tr>
              <td><%= t('project_report_queries.options.milestone_start_date') %></td>
              <td>
                <%= date_field_tag 'options[milestone_start_date]', @project_report_query.options['milestone_start_date'].presence || @project_report_query.default_milestone_start_date %>
                <%= calendar_for('options_milestone_start_date') %>
                <%= t('project_report_queries.options.milestone_months_html',
                      month_field: text_field_tag('options[milestone_months]', @project_report_query.options['milestone_months'].presence || 7)) %>
              </td>
            </tr>
          </table>
          <%= check_box_tag 'options[includes_closed_versions]', true, @project_report_query.options['includes_closed_versions'] %>
          <label for="options_includes_closed_versions">
            <%= t('project_report_queries.options.includes_closed_versions') %>
          </label>
        </div>
      </fieldset>
    </div>

    <div style="display: flex; justify-content: space-between;">
      <p id="project_report_query_buttons" class="buttons">
        <%= link_to t(:button_apply), '#', class: 'icon icon-checked' %>
        <%= link_to t(:button_clear), { clear: 1 }, class: 'icon icon-reload'  %>
        <%= link_to_function l(:button_save),
                            "$('#query_form').attr('action', '#{new_project_report_query_path}').submit()",
                            class: 'icon icon-save' %>
      </p>
      <div id="project_report_windowed_buttons" style="padding: 1em 0">
        <span><%= link_to t(:label_project_report_toggle_all_rows), '#', id: 'toggle-all-rows', class: 'icon icon-arrow-right' %></span>
        <span style="margin-left: 10px"><%= link_to t(:label_csv_download), { format: :csv, params: { set_filter: params[:set_filter], query_id: params[:query_id] } }, class: 'icon icon-download' %></span>
        <span><a id="icon-full-screen" class='icon icon-full-screen icon-full-screen-start' data-fullscreen-label-start="<%=l('label_start_fullscreen') %>" data-fullscreen-label-exit="<%= l('label_exit_fullscreen') %>" ><%=l('label_start_fullscreen') %></a></span>
      </div>
    </div>

  </div>
<% end %>
<%= hidden_field_tag 'validates_project_report_queries_path', validates_project_report_queries_path %>
