<% html_title l(:label_project_reports) -%>

<div class="contextual">
  <div id="setting_buttons">
    <% if User.current.project_reports_managable? %>
      <%= link_to l(:label_project_setting), edit_project_report_setting_path,
                  class: 'icon icon-setting' %>
      <% if User.current.project_reports_globally_managable? %>
        <%= link_to l(:label_project_report_shared_report_settings), project_report_active_shared_layouts_path, class: 'icon icon-setting' %>
        <%= link_to l(:label_indice_setting), indice_settings_path, class: 'icon icon-setting' %>
      <% end %>
    <% end %>
  </div>
  <div id="project_report_full_screen_buttons"></div>
</div>
<h2>
  <%= l(:label_project_reports) -%>
</h2>
<%= render 'query' %>

<%= content_tag :div, '', id: 'indice_setting_descriptions', style: 'display: none;',
  data: {
    descriptions: @selected_inline_columns.map {|column|
      [column, @project_report_query.column_query.column_description(column)]
    }.to_h
  }
%>

<%= content_tag :div, '', id: 'placeholder', style: 'display: none;',
  data: {
    message: controller.initial? ? t(:field_project_table_placeholder) : ""
  }
%>

<%= content_tag :div, '', id: "project-report-table",
      data: {
        columns: [{field: :project, title: t(:field_project_table_project)}] + @selected_inline_columns.map { |column|
          {
            field: column,
            short_field: @project_report_query.column_query.short_column_key(column),
            title: @eac_indices.include?(column) ? t(:field_project_table_eac) : @project_report_query.column_query.column_title(column),
            sortable: !@eac_indices.include?(column)
          }
        },
        sorts: @project_report_query.sort_query.to_a.map { |sq| [@project_report_query.sort_query.full_column_key(sq[0]), sq[1]] }.reverse,
        options: {
          milestone: {
            months: @milestone.to_a.group_by(&:month).map { |month, days| { month: month, days: days.length } },
            days: @milestone.to_a.size,
            title: l(:field_project_table_milestone),
            ext: l(:field_project_table_milestone_ext)
          },
          tooltip: {
            name: l(:field_project_table_tooltip_name),
            period: l(:field_project_table_tooltip_period)
          }
        }
      } %>
<%= stylesheet_link_tag "tabulator_simple.min.css", plugin: :lychee_project_report, media: 'all' %>
<%= stylesheet_link_tag "lychee_project_report", plugin: :lychee_project_report, media: 'all' %>
<%= javascript_include_tag "promise_polyfill.min.js", plugin: :lychee_project_report %>
<%= javascript_include_tag "jquery.cookie", plugin: :lychee_project_report %>
<%= javascript_include_tag "lychee_project_report", plugin: :lychee_project_report %>
<%= javascript_include_tag "full_screen", plugin: :lychee_project_report %>
<%= built_javascript_include_tag "overview/index", plugin: :lychee_project_report %>

<script>
$(function() {
  // workaround for <Redmine-3.3 ( see also redmine/redmine@c418fab )
  if (!$.fn.datepickerFallback) {
    $.fn.datepickerFallback = $.fn.datepicker;
  }
});
</script>
