.icon-lychee-cost-group {
  background-image: url("../images/lychee-icon_r.svg");
}
.icon-lychee-cost-cash-forecast {
  background-image: url("../images/cash-forecast.svg");
}

#content .total_amount {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

#content .total_amount .value {
  font-weight: bold;
}

.lychee_cost_expenses .description {
  word-break: break-all;
}

.lychee_cost_expenses .expense_amount {
  text-align: right;
}

.lychee-cost-cash-forecast {
  position: relative;
}

table.lychee-cost-cash-forecast__table
  tbody
  tr
  > th.lychee-cost-cash-forecast__table-header {
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  font-weight: normal;
}

table.lychee-cost-cash-forecast__table tbody tr th > .tree-expander-expanded {
  background: url(../images/expanded.png) top right no-repeat;
  width: 20px;
  height: 20px;
  margin: 2px 2px 2px 0;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

table.lychee-cost-cash-forecast__table tbody tr th > .tree-expander-collapsed {
  background: url(../images/collapsed.png) top right no-repeat;
  width: 20px;
  height: 20px;
  margin: 2px 2px 2px 0;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

table.lychee-cost-cash-forecast__table
  tbody
  tr
  > th.lychee-cost-cash-forecast__child-table-header {
  text-indent: 3em;
}

table.lychee-cost-cash-forecast__table
  tbody
  tr
  > th.lychee-cost-cash-forecast__child-table-header
  > span.lychee-cost-cash-forecast__with-tooltip {
  border-bottom: 1px dashed;
}

table.lychee-cost-cash-forecast__table
  tbody
  tr
  > td.lychee-cost-cash-forecast__table-data,
table.lychee-cost-cash-forecast__table
  tbody
  tr
  > td.lychee-cost-cash-forecast__table-ac-data {
  text-align: right;
}

table.lychee-cost-cash-forecast__table
  tbody
  tr
  > td.lychee-cost-cash-forecast__table-ac-data::before {
  content: "(";
}

table.lychee-cost-cash-forecast__table
  tbody
  tr
  > td.lychee-cost-cash-forecast__table-ac-data::after {
  content: ")";
}

.lychee-cost-cash-forecast__unit-description {
  position: absolute;
  top: 16px; /* h3の見出しの高さ */
  right: 7px; /* boxのborder 1px + padding 6px*/
}
.lychee-cost-cash-forecast__footnote {
  display: block;
  text-align: right;
}
