<% if LevmQuery.visible.global_or_on_project(@project).present? %>
  <fieldset id="levm_queries" class="collapsible <%= @levm_query.persisted? ? "" : "collapsed" %>">
    <legend onclick="toggleFieldset(this);" class="icon icon-<%= @levm_query.persisted? ? "expended" : "collapsed" %>"><%= t(:label_query) %></legend>
    <div style="display: <%= @levm_query.persisted? ? 'block' : 'none' %>;">
      <%= select_tag :query_id,
                      options_for_select(
                        LevmQuery.visible.global_or_on_project(@project).map { |q| [q.name, q.id] },
                        selected: @levm_query.try(:id)
                      ),
                      include_blank: true %>
      <% if @levm_query.persisted? && @levm_query.editable? %>
        <%= link_to l(:button_edit),
                    edit_project_levm_query_path(id: @levm_query.id),
                    class: 'icon icon-edit' %>
        <%= delete_link project_levm_query_path(id: @levm_query.id) %>
      <% end %>
    </div>
  </fieldset>
<% end %>
