<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'levm', plugin: 'levm' %>
  <%= javascript_include_tag 'levm', plugin: 'levm' %>
  <%= call_hook(:view_project_evms_index_header_tags) %>
  <script>
  $(function(){
    var line_action = '<%= line_chart_project_evms_path(@project) %>';
    var comparison_action = '<%= comparison_chart_project_evms_path(@project) %>';

    if ("<%= @levm_query.evm_type %>" === 'comparison') {
      $('#base-date').toggle();
      $('#former-date').toggle();
      $('#latter-date').toggle();
      $('#levm-unit').toggle();
      $('#levm_query_form').attr('action', comparison_action);
    }

    $('#evm_type').on('change', function(){
      $('#evm_type option:selected').each(function(){
        $('#base-date').toggle();
        $('#former-date').toggle();
        $('#latter-date').toggle();
        $('#levm-unit').toggle();

        if ($(this).val() == 'comparison') {
          $('#levm_query_form').attr('action', comparison_action);
        } else {
          $('#levm_query_form').attr('action', line_action);
        }
      });
    });

    function submit() {
      $('#ajax-indicator').show();
      $('a#levm_query_form_csv').replaceWith('CSV');
      $('.highcharts-button').toggle();
      $('#levm_query_form').submit();
    }

    $('#levm_query_form_submit').on('click', submit);
    $('#levm-unit input, #levm-y-axis-unit input, #levm-eac_method input, #levm-value_unit input, #levm-show_title input').on('change', submit);

    var csv_line_action = '<%= line_chart_project_evms_path(@project, format: :csv) %>';
    var csv_comparison_action = '<%= comparison_chart_project_evms_path(@project, format: :csv) %>';

    $('#levm_query_form_csv').on('click', function(){
      var params = $('#levm_query_form').serialize();
      if ($('#levm_query_form').attr('action') == line_action) {
        $(location).attr('href', csv_line_action + '?' + params);
      } else if ($('#levm_query_form').attr('action') == comparison_action) {
        $(location).attr('href', csv_comparison_action + '?' + params);
      }
    });
  });
  </script>
<% end %>

<h2><%= t(:label_project_evm) %></h2>

<%= render 'query' %>

<%= form_for(:evm, url: url_for(controller: 'project_evms', action: 'line_chart'), method: :get, html: { id: 'levm_query_form', class: 'condition-form' }) do |f| %>
  <fieldset class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= t(:field_type) %></legend>
    <div style="display: none;">
      <p class="condition">
        <%= select_tag 'evm_type', options_for_select_levm_type(@levm_query.evm_type) %>
      </p>
    <div>
  </fieldset>
  <fieldset class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= t(:field_condition) %></legend>
    <div style="display: none;">
      <p class="condition">
        <%= label_tag('evm_target', t(:field_version)) %>
        <%= select_tag 'evm_targets',
            options_for_select_levm_targets(@project, @levm_query.evm_targets),
            { multiple: true, class: 'levm_select2' } %>
        <% if @project.plot_lgc_milestone? %>
          <br>
          <%= label_tag('evm_milestones', t('lgc.milestone')) %>
          <%= select_tag 'evm_milestones',
              options_for_select_lgc_milestones(@project, @levm_query.evm_milestones),
              { multiple: true, class: 'levm_select2' } %>
        <% end %>
      </p>
      <p class="condition">
        <span id="former-date" style="display: none;"><!-- only for baseline chart -->
          <%= label_tag('evm_ym_before', t(:field_base_date_former)) %>
          <%= text_field_tag :evm_date1, @levm_query.evm_date1, size: 10 %><%= calendar_for('evm_date1') %>
        </span>
        <span>
          <%= label_tag('evm_ym', t(:field_base_date), id: "base-date") %>
          <%= label_tag('evm_ym_after', t(:field_base_date_latter), id: "latter-date", style: "display: none;") %>
          <%= text_field_tag :evm_date2, @levm_query.evm_date2, size: 10 %><%= calendar_for('evm_date2') %>
        </span>
      </p>
    </div>
  </fieldset>

  <p class="buttons">
    <a href="#" class="icon icon-checked" id="levm_query_form_submit"><%= t(:button_apply) %></a>
    <%= link_to_function l(:button_save),
                          "$('#levm_query_form').attr('action', '#{new_project_levm_query_path(@project)}').submit()",
                          class: 'icon icon-save' %>
    <%= link_to t(:button_clear), project_evms_path(@project), class: 'icon icon-reload'  %>
  </p>
  <hr />
  <fieldset id="levm-unit" style="display: inline-block"><!-- only for line chart -->
    <legend><%= t(:field_unit) %></legend>
    <% LevmQuery.evm_units.each_key do |value| %>
      <label>
        <%= radio_button_tag :evm_unit, value, @levm_query.evm_unit == value %>
        <%= t("label_levm_unit_#{value}") %>
      </label>
    <% end %>
  </fieldset>
  <fieldset id="levm-y-axis-unit" style="display: inline-block">
    <legend><%= t(:field_y_axis_unit) %></legend>
    <% LevmQuery.evm_y_axis_units.each_key do |value| %>
      <label>
        <%= radio_button_tag :evm_y_axis_unit, value, @levm_query.evm_y_axis_unit == value %>
        <%= t("label_levm_y_axis_unit_#{value}") %>
      </label>
    <% end %>
  </fieldset>
  <fieldset id="levm-eac_method" style="display: inline-block">
    <legend><%= t(:field_eac_method) %></legend>
    <% LevmQuery.eac_methods.each_key do |value| %>
      <label>
        <%= radio_button_tag :eac_method, value, @levm_query.eac_method == value %>
        <%= t("label_levm_eac_method_#{value}") %>
      </label>
    <% end %>
  </fieldset>
  <% if @visible_cost %>
    <fieldset id="levm-value_unit" style="display: inline-block">
      <legend><%= t(:field_value_unit) %></legend>
      <% LevmQuery.value_units.each_key do |value| %>
        <label>
          <%= radio_button_tag :value_unit, value, @levm_query.value_unit == value %>
          <%= t("label_levm_value_unit_#{value}") %>
        </label>
      <% end %>
    </fieldset>
  <% end %>
  <fieldset id="levm-show_title" style="display: inline-block">
    <legend><%= t(:field_show_title) %></legend>
    <% [true, false].each do |value| %>
      <label>
        <%= radio_button_tag :show_title, value, @levm_query.show_title? == value %>
        <%= t("label_levm_show_title_#{value}") %>
      </label>
    <% end %>
  </fieldset>
<% end %>

<% other_formats_links do |f| %>
  <a href="#" id="levm_query_form_csv"><%= 'CSV' %></a>
<% end %>

<%= render partial: 'chart', locals: { project: @project } if @chart %>
<%= call_hook(:view_project_evms_index_bottom, project: @project) %>
