<% if @issue.safe_attribute? 'start_date' %>
  <span id='label_start_date_hour'>
    <% if @issue.issue_hour.try(:start_date_hour).present? %>
      <%= "#{@issue.issue_hour.start_date_hour}#{t('lychee_issue_datetime.hour')}" %>
    <% end %>
  </span>

  <span id='label_start_date_minute'>
    <% if @issue.issue_hour.try(:start_date_minute).present? %>
      <%= "#{@issue.issue_hour.start_date_minute}#{t('lychee_issue_datetime.minute')}" %>
    <% end %>
  </span>
<% end %>

<% if @issue.safe_attribute? 'due_date' %>
  <span id='label_due_date_hour'>
    <% if @issue.issue_hour.try(:due_date_hour).present? %>
      <%= "#{@issue.issue_hour.due_date_hour}#{t('lychee_issue_datetime.hour')}" %>
    <% end %>
  </span>

  <span id='label_due_date_minute'>
    <% if @issue.issue_hour.try(:due_date_minute).present? %>
      <%= "#{@issue.issue_hour.due_date_minute}#{t('lychee_issue_datetime.minute')}" %>
    <% end %>
  </span>
<% end %>

<script>
  $(function() {
    var $start_date_hour = $('#label_start_date_hour');
    var $due_date_hour = $('#label_due_date_hour');
    var $start_date_minute = $('#label_start_date_minute');
    var $due_date_minute = $('#label_due_date_minute');

    if ($start_date_hour.length) {
      if ($('table.attributes').length) {
        // class 指定だけでは LAD のフィールドと衝突するため、テキストでフィルターする
        $('.attributes th.start-date').each(function() {
          if ($(this).text() == "<%= t(:field_start_date) %>:") $(this).next('td').append($start_date_hour);
        });
      }
      else {
        $('.start-date.attribute .label').each(function() {
          if ($(this).text() == "<%= t(:field_start_date) %>:") $(this).next('.value').append($start_date_hour);
        });
      }
    }

    if ($due_date_hour.length) {
      if ($('table.attributes').length) {
        $('.attributes th.due-date').each(function() {
          if ($(this).text() == "<%= t(:field_due_date) %>:") $(this).next('td').append($due_date_hour);
        });
      }
      else {
        $('.due-date.attribute .label').each(function() {
          if ($(this).text() == "<%= t(:field_due_date) %>:") $(this).next('.value').append($due_date_hour);
        });
      }
    }

    if ($start_date_minute.length) {
      if ($('table.attributes').length) {
        // class 指定だけでは LAD のフィールドと衝突するため、テキストでフィルターする
        $('.attributes th.start-date').each(function() {
          if ($(this).text() == "<%= t(:field_start_date) %>:") $(this).next('td').append($start_date_minute);
        });
      }
      else {
        $('.start-date.attribute .label').each(function() {
          if ($(this).text() == "<%= t(:field_start_date) %>:") $(this).next('.value').append($start_date_minute);
        });
      }
    }

    if ($due_date_minute.length) {
      if ($('table.attributes').length) {
        $('.attributes th.due-date').each(function() {
          if ($(this).text() == "<%= t(:field_due_date) %>:") $(this).next('td').append($due_date_minute);
        });
      }
      else {
        $('.due-date.attribute .label').each(function() {
          if ($(this).text() == "<%= t(:field_due_date) %>:") $(this).next('.value').append($due_date_minute);
        });
      }
    }
  }());
</script>
