<% if @issue.safe_attribute? 'start_date' %>
  <span id='start_date_hour'>
    <%= text_field_tag 'issue[issue_hour_attributes[start_date_hour]]', @issue.issue_hour.try(:start_date_hour), size: 2 %>
    <%= t('lychee_issue_datetime.hour') %>
  </span>

  <span id='start_date_minute'>
    <%= text_field_tag 'issue[issue_hour_attributes[start_date_minute]]', @issue.issue_hour.try(:start_date_minute), size: 2 %>
    <%= t('lychee_issue_datetime.minute') %>
  </span>

  <script>
    $(function() {
      $('p#start_date_area').append($('#start_date_hour'));
      $('p#start_date_area').append($('#start_date_minute'));
    }());
  </script>
<% end %>

<% if @issue.safe_attribute? 'due_date' %>
  <span id='due_date_hour'>
    <%= text_field_tag 'issue[issue_hour_attributes[due_date_hour]]', @issue.issue_hour.try(:due_date_hour), size: 2 %>
    <%= t('lychee_issue_datetime.hour') %>
  </span>

  <span id='due_date_minute'>
    <%= text_field_tag 'issue[issue_hour_attributes[due_date_minute]]', @issue.issue_hour.try(:due_date_minute), size: 2 %>
    <%= t('lychee_issue_datetime.minute') %>
  </span>

  <script>
    $(function() {
      $('p#due_date_area').append($('#due_date_hour'));
      $('p#due_date_area').append($('#due_date_minute'));
    }());
  </script>
<% end %>
