#invisible_relations {
  overflow: scroll;
  min-height: min-content;
}

.autoscroll {
  margin-bottom: 0;
}

.fixed_source {
  position: sticky;
  left: 0;
  /* background-color: white; */
  z-index: 1;
}

.fixed_name {
  position: sticky;
  top: 22px;
  background-color: white;
  z-index: 1;
}

.fixed_header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fixed_header:first-child {
  left: 0;
  z-index: 2;
}

.fixed_name:first-child {
  left: 0;
  z-index: 2;
}

.click_hint {
  font-size: 0.9em;
}

#context-menu { position: absolute; z-index: 40; font-size: 0.9em;}

#context-menu ul, #context-menu li, #context-menu a {
  display:block;
  margin:0;
  padding:0;
  border:0;
}

#context-menu ul {
  width:150px;
  border: 1px solid #ccc;
  background:white;
  list-style:none;
  padding:2px;
  border-radius:2px;
}

#context-menu li {
  position:relative;
  padding:1px;
  z-index:39;
  border:1px solid white;
}

#context-menu a {
  text-decoration:none !important;
  padding: 2px 0px 2px 20px;
  width:100%; /* IE */
}

#context-menu li:hover { border:1px solid #628db6; background-color:#eef5fd; border-radius:3px; }
#context-menu a:hover {color:#2A5685;}
#context-menu ul ul, #context-menu  li:hover ul ul { display:none; }
#context-menu li:hover ul, #context-menu li:hover li:hover ul { display:block; }

/* selected element */
.context-menu-selection { background-color:#507AAA !important; }
.context-menu-selection:hover { background-color:#507AAA !important; }