table.list {
  text-align: left;
}

table.list td {
  text-align: left;
}

.key_column {
  width: 15%;
}

.removable_item {
  border: 1px solid #cbdffd;
  border-radius: 5px;
  background-color: #eef5ff;
  margin: 2px;
}

.removable_item .close {
  padding: 4px;
}

.removable_item > a {
  text-decoration: none;
}

.removable_item .label {
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #cbdffd;
  padding: 0px 4px;
}
