.task-kanban-is-fullscreen #header {
  display: none;
}

.task-kanban-is-fullscreen #sidebar {
  display: none;
}

.task-kanban-is-fullscreen #task-kanban-queryForm > form {
  display: none;
}

.task-kanban-is-fullscreen #main {
  padding: 0;
}

.task-kanban-is-fullscreen #content {
  width: auto;
}

.task-kanban-icon {
  padding-left: 19px;
  background: 0 50% no-repeat;
}

.task-kanban-icon-fullscreen__start {
  background-image: url('fullscreen-start.png');
}

.task-kanban-icon-fullscreen__exit {
  background-image: url('fullscreen-exit.png');
}

@media screen and (max-width: 899px) {
  #content > .contextual a {
    position: absolute;
    right: 0;
    margin: 0;
    padding-left: 24px;
    line-height: 1rem;
  }
}
