<%= content_tag :h3, l(:label_invisible_custom_field_enumeration) %>

<% if @invisible_custom_fields.any? %>
<table class="list" rules="cols"><%# FIXME: rules="cols" は CSS で書きたい %>
  <thead>
    <tr>
      <%= content_tag :th, l(:label_setting_custom_field), colspan: 2 %>
    </tr>
  </thead>
  <tbody>
    <% @invisible_custom_fields.group_by {|x| x.source.custom_field }.each do |source_cf, invisible_cf_enums| %>
    <tr>
      <%= content_tag(:td, source_cf.name, class: :key_column) %>
      <td>
      <% invisible_cf_enums.map {|x| x.target.custom_field }.uniq.each do |invisible_cf| %>
        <span class="removable_item">
          <%= link_to(invisible_bulk_update_path(source_cf.to_param, invisible_cf.to_param), data: { confirm: t(:text_are_you_sure) }, method: :delete, class: 'close') do %>
            <%= content_tag :span, '✗', class: 'close' %>
          <% end %>
          <%= content_tag(:span, invisible_cf.name, class: 'label') %>
        </span>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <%= content_tag :p, l(:label_none) %>
<% end %>
