<%= content_tag :h3, l(:label_required_custom_field) %>

<% if @required_custom_fields.any? %>
<table class="list">
  <thead>
    <tr>
      <%= content_tag :th, l(:label_setting_custom_field) %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% @required_custom_fields.each do |cf| %>
          <span class="removable_item">
            <%= link_to(required_bulk_update_path(cf.to_param), data: { confirm: t(:text_are_you_sure) }, method: :delete, class: 'close') do %>
              <%= content_tag :span, '✗', class: 'close' %>
            <% end %>
            <%= content_tag(:span, cf.name, class: 'label') %>
          </span>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% else %>
  <%= content_tag :p, l(:label_none) %>
<% end %>
