<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'lychee_custom_field', plugin: :lychee_custom_field %>
<% end %>

<%= title l(:label_custom_field_setting_state) %>

<%= render partial: 'required_custom_fields/tabs' %>

<%= render 'required_table' %>
<%= render 'invisible_table' %>
