<fieldset id="lychee_message_box_notification_form" class="box">
  <legend><%= l(:field_message_box_notification) %></legend>
  <%# https://github.com/redmine/redmine/blob/5.0.1/app/views/users/_mail_notifications.html.erb#L1-L24 %>
  <p>
    <%= select_tag(
          'user[message_box_notification]',
          options_for_select(
            message_box_notification_options_for_select(user: user), user.message_box_notification),
          onchange: 'if (this.value == "selected") {$("#lychee-message-box-notified-projects").show();} else {$("#lychee-message-box-notified-projects").hide();}'
        ) %>
    </p>
    <%= content_tag(
          'fieldset',
          id: 'lychee-message-box-notified-projects',
          style: (user.message_box_notification == 'selected' ? '' : 'display: none;')
        ) do %>
      <legend><%= toggle_checkboxes_link('#lychee-message-box-notified-projects input[type=checkbox]') %><%= l(:label_project_plural) %></legend>
      <%= render_project_nested_lists(user.projects) do |project|
            content_tag('label',
              check_box_tag(
                'user[message_box_notified_project_ids][]',
                project.id,
                user.message_box_notified_project_ids.include?(project.id),
                id: nil
              ) + ' ' + h(project.name)
            )
          end %>
      <%= hidden_field_tag 'user[message_box_notified_project_ids][]', '' %>
      <p><em class="info"><%= l(:text_user_message_box_option) %></em></p>
    <% end %>
  </p>
</fieldset>
<%= javascript_tag do %>
  $(function() {
    $('.splitcontentright fieldset:eq(0)').after($('#lychee_message_box_notification_form'));
  });
<% end %>
<%= stylesheet_link_tag('message_box_notification', plugin: :lychee_message_box) %>
