<% setting = Setting.plugin_lychee_message_box %>
<p>
  <%# https://github.com/redmine/redmine/blob/5.0.1/app/views/settings/_users.html.erb#L20 %>
  <%= label_tag 'settings[plugin_lychee_message_box][default_notification_option]', t(:field_settings_plugin_lychee_message_box_default_notification_option) %>
  <%= select_tag(
        'settings[plugin_lychee_message_box][default_notification_option]',
        options_for_select(message_box_notification_options_for_select, setting[:default_notification_option])
      ) %>
</p>
<%= javascript_tag do %>
  $(function() {
    var $default_notification_option_field = $('#settings_default_notification_option').parent();
    var $lychee_message_box_default_notification_option_field = $('#settings_plugin_lychee_message_box_default_notification_option').parent();
    $default_notification_option_field.after($lychee_message_box_default_notification_option_field);
  });
<% end %>
