<%= stylesheet_link_tag 'icon', plugin: 'lychee_message_box' %>

<% if exist_unread_message_box_messages? %>
  <script>
    $(function() {
      $('.lychee-message-box-icon').addClass('unread');
    });
  </script>
<% end %>
