<% groups = project.principals.where(type: 'Group') %>
<% if groups.present? %>
  <p id="group-form" style="display: none;">
  <%= label_tag l('label_group_filter') %>
  <%= select_tag 'issue[group_id]',
    options_from_collection_for_select(
      groups.order(:lastname),
      :id,
      :name
    ),
    include_blank: true %>
  </p>

  <script>
    (()=>{
      const assigned_to_id = $('select#issue_assigned_to_id');
      if(!assigned_to_id.length) return;
      const group_form = $('#group-form');
      group_form.show();
      assigned_to_id.parent().before(group_form);
    })();
  </script>
<% end %>
