<%== render partial: 'lychee_easy_assigned_user/group_form', locals: { project: issue.project, issue: issue } %>

<%= hidden_field_tag 'assigned_to_options_by_selected_group_path', assigned_to_options_by_selected_group_path(project_id: issue.project_id, issue_id: issue.id) %>

<%= javascript_include_tag 'select2.min', plugin: 'lychee_easy_assigned_user' %>
<%= stylesheet_link_tag 'select2', plugin: 'lychee_easy_assigned_user' %>

<%= javascript_include_tag 'lychee_easy_assigned_user', plugin: 'lychee_easy_assigned_user' %>
