<option></option>

<% if @selected_group.present? %>
  <% users = @selected_group.try(:users) & @assignable_users %>
  <% if Setting.issue_group_assignment? && @assignable_groups.include?(@selected_group) %>
    <%= build_optgroup_group_elements([@selected_group]) %>
  <% end %>
  <%= build_optgroup_user_elements(@selected_group, users) %>
<% else %>
  <option value="<%= User.current.id %>"><%= "<< #{l(:label_me)} >>" %></option>

  <%= build_optgroup_group_elements(@assignable_groups) if Setting.issue_group_assignment? %>
  <% all_group_users = [] %>
  <% @project.principals.where(type: 'Group').order(:lastname).each do |group| %>
    <% group_users = group.users & @assignable_users %>
    <% all_group_users << group_users %>
    <%= build_optgroup_user_elements(group, group_users) %>
  <% end %>

  <% users = @assignable_users.group_by { |user| user.groups.first }.values.flatten.uniq - all_group_users.flatten %>
  <% if users.present? %>
    <% users.sort.each do |user| %>
      <option value="<%= user.id %>"<%= (user == @assigned_principal) ? ' selected="selected"' : '' %>><%= user.name %></option>
    <% end %>
  <% end %>
<% end %>
