.scrollFrame {
  overflow: hidden;
  position: relative;
}

.wrapper {
  height: 50px;
}

.container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.workflow {
  background-color: #204146;
  border: solid 1px #aaa;
  border-right-width: 0;
  cursor: pointer;
  display: table-cell;
  padding: 0.5rem;
  width: 1%;
  white-space: nowrap;
}

.workflow:last-child {
  border-right-width: 1px;
}

.workflow.active {
  background-color: #2e6d80;
  cursor: default;
}

.tracker {
  background-color: #aaa;
  border: #333 1px solid;
  border-radius: 0.25rem;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  margin: 0 0.25rem;
  padding: 0.5rem 0.75rem;
}

.controller {
  backface-visibility: hidden;
  bottom: 0;
  opacity: 0;
  padding: 0;
  margin: 0 0 2px 0;
  position: absolute;
  top: 0;
  transition: 0.2s linear;
  width: 16px;
}

.wrapper:hover .controller {
  opacity: 0.5;
}

.wrapper:hover .controller:hover {
  opacity: 0.9;
}

.wrapper:hover .controller:active {
  opacity: 1;
}

.controller.left {
  left: 0;
}

.controller.right {
  right: 0;
}
