<table id="list_organizations" class="list groups">
  <thead>
    <tr>
      <th><%=l(:label_group)%></th>
      <th><%=l(:label_user_plural)%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% Group.organization_tree(organizations) do |group, level| %>
      <tr id="group-<%= group.id %>" class="<%= cycle('odd', 'even') %> organization <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
        <td class="name"><%= link_to group, edit_group_path(group) %></td>
        <td class="user_count"><%= (user_count_by_group_id[group.id] || 0) unless group.builtin? %></td>
        <td class="buttons">
          <%= link_to t(:label_child_organization_new), new_group_path(parent_id: group.id), class: 'icon icon-add' if group.available_children? %>
          <% has_children = group.available_children? && !group.leaf?  %>
          <% message = has_children ? t(:text_are_you_sure_for_nested_groups) : t(:text_are_you_sure) %>
          <%= link_to t(:button_delete), group, method: :delete, data: { confirm: message }, class: 'icon icon-del'unless group.builtin? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= javascript_tag do %>
  $(function(){
    $('table.groups:not(#list_organizations)').parent().html($('#list_organizations'));
  })
<% end %>
