<% if group.available_children? %>
  <p id="edit_organization">
    <%= label_tag :group_lychee_organization_info_attributes_parent_id, l(:label_parent_organization) %>
    <%= hidden_field_tag 'group[lychee_organization_info_attributes][id]', group.lychee_organization_info.try(:id) %>
    <%= parent_organization_select_tag(group, params[:parent_id]) %>
  </p>
  <%= javascript_tag do %>
    $(function(){
      $('#group_name').parent('p').after($("#edit_organization"));
    })
  <% end %>
<% end %>
