/*------------------------------------------------------

  reset

--------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p,
ol,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

/*------------------------------------------------------

  module

--------------------------------------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

.both {
  clear: both;
}

.inline_block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*------------------------------------------------------
 result icons
--------------------------------------------------------*/
.curled-box {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.not-available {
  width: 20px;
  margin: auto;
}

.bggr,
.bg.green {
  background-color: #8ec778;
  margin: 0 auto;
}

.bgye,
.bg.yellow {
  background-color: #ffe4a2;
  margin: 0 auto;
}

.bgre,
.bg.red {
  background-color: #e4959a;
  margin: 0 auto;
}

.project-report-name {
  font-size: 14px;
}

td.report-name:hover {
  background-color: #cccccc;
}

#editable_issue_value {
  width: 110px;
}

/*------------------------------------------------------
  project-report-table
--------------------------------------------------------*/
html > body #content {
  min-height: initial; /* application.cssの指定を解除して縦スペースに余白が出ないように */
}

@media screen and (min-width: 899px) {
  .controller-project_report_overview.action-index #header {
    display: none;
  }
}

.tabulator {
  min-height: 70vh;
  border: 1px solid #ddd;
}
.tabulator .tabulator-header,
.tabulator .tabulator-header .tabulator-col {
  background-color: #eee;
}

.tabulator
  .tabulator-header
  .tabulator-col
  .tabulator-col-content
  .tabulator-col-title {
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.tabulator .tabulator-row:hover {
  background-color: #eee;
}
.tabulator .tabulator-row {
  border-bottom: none;
}
.tabulator .tabulator-row .tabulator-cell {
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
  white-space: normal;
}
.tabulator .tabulator-row .tabulator-cell.no-underline {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.tabulator .tabulator-header .tabulator-col .milestone {
  text-align: center;
}
.tabulator .tabulator-header .tabulator-col .milestone-months:after {
  content: '';
  clear: both;
}
.tabulator .tabulator-header .tabulator-col .milestone-months .milestone-month {
  float: left;
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.tabulator
  .tabulator-header
  .tabulator-col
  .milestone-months
  .milestone-month:last-of-type {
  border-right: 1px solid rgba(0, 0, 0, 0);
}

#project-report-table .tabulator-placeholder {
  align-items: start;
}

#project-report-table .tabulator-placeholder span {
  color: #888;
  margin: 2em;
}

#project-report-table .project-term {
  position: relative;
  height: 24px;
  padding: 0 !important;
}

#project-report-table .project-term .project-term-bar {
  position: absolute;
  top: 1px;
  border-collapse: collapse;
  top: 8px;
}

#project-report-table .project-term .project-term-bar .project-term-inner-bar {
  position: relative;
  top: -2px;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #888;
  border-right: 0px;
  border-left: 0px;
}

#project-report-table .project-term .project-term-bar::before {
  content: '';
  position: absolute;
  border: 4px solid #888;
  transform: rotate(45deg);
  border-radius: 2px;
  font-size: 0px;
  left: -4px;
  top: -4px;
}

#project-report-table .project-term .project-term-bar::after {
  content: '';
  position: absolute;
  border: 4px solid #888;
  transform: rotate(45deg);
  border-radius: 2px;
  font-size: 0px;
  right: -4px;
  top: -4px;
}

#project-report-table .version-actual,
#project-report-table .version-plan,
#project-report-table .version-plan-arrow {
  position: absolute;
  top: 1px;
}

#project-report-table .version-actual {
  height: 16px;
  margin: auto;
  background-color: #91c47a;
  text-align: left;
  font-size: 13px;
}

#project-report-table .version-plan {
  margin: auto;
  height: 16px;
  border-collapse: collapse;
  background-color: #c1c1c1;
  text-align: left;
  float: left;
}

#project-report-table .version-plan-arrow {
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #c1c1c1;
}

#project-report-table .version-plan.gr {
  background-color: #91c47a;
}

#project-report-table .version-plan-arrow.gr {
  border-left: 8px solid #91c47a;
}

#project-report-table .version-plan.re {
  background-color: #e4959a;
}

#project-report-table .version-plan-arrow.re {
  border-left: 8px solid #e4959a;
}

#project-report-table .small .version-actual {
  width: 66px;
}

#project-report-table .small .version-plan {
  width: 80px;
}

#project-report-table .small .version-plan-arrow {
  left: 80px;
}

#project-report-table .wrap-version.arrow4 .version-actual {
  width: 27px;
}

#project-report-table .milestone-area {
  position: relative;
  width: 100%;
  height: 16px;
}

#project-report-table .milestone-area span {
  position: absolute;
  color: #e3442d;
  font-size: 13px;
  margin-left: -6px;
  background: rgba(0, 0, 0, 0);
}

#project-report-table .milestone-area span:before {
  content: '\25bc'; /* ▼ */
}

#project-report-table .milestone-area.list {
  height: 135px;
}

#project-report-table .milestone-area.list ul {
  position: absolute;
}

#project-report-table .milestone-area.list ul,
#project-report-table .milestone-area.list li {
  width: 100%;
  display: block;
}

#project-report-table .milestone-area.list ul span,
#project-report-table .milestone-area.list li span {
  position: inherit;
}

#project-report-table .progress-line {
  border-left: 1px dashed red;
  min-height: 28px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

#project-report-table .version-title {
  overflow: hidden;
  padding: 2px 4px;
  position: absolute;
  text-align: left;
}

.ui-tooltip {
  white-space: normal;
  word-wrap: break-word;
}

dl.project-term-bar-tooltip {
  margin: 0;
}

dl.project-term-bar-tooltip dt {
  display: block;
  width: 110px;
  font-weight: bold;
  clear: left;
  float: left;
}

dl.project-term-bar-tooltip dd {
  display: block;
  float: left;
  margin-left: 0px;
}

.wrap-version {
  position: relative;
  height: 24px;
  padding: 0 !important;
}

.today {
  border-left: solid 2px red;
}

@media screen and (min-width: 1153px) {
  #index1 span.today {
    top: 67px;
    height: calc(100% - 70px);
  }
}

.tree-handle {
  background-position: 0% 50%;
  background-repeat: no-repeat;
  padding-left: 20px;
  background-image: url('../images/expand.png');
  cursor: pointer;
}
.tree-handle.tree-open {
  background-image: url('../images/collapse.png');
}

.project-report-icon {
  padding-left: 19px;
  background: 0 50% no-repeat;
}

.icon-full-screen-start {
  background-image: url('fullscreen-start.png');
  cursor: pointer;
}

.icon-full-screen-exit {
  background-image: url('fullscreen-exit.png');
  cursor: pointer;
}

/*------------------------------------------------------

  index2

--------------------------------------------------------*/

#index2 {
  padding-top: 20px;
  width: 100%;
}

#index2 .column {
  position: relative;
  width: 30%;
  height: 265px;
  float: left;
  border: solid 1px #ccc;
  margin: 0.4%;
  padding: 1%;
  overflow: hidden;
}

#index2 .column h2 {
  margin: 0;
  padding: 0 0 0.5em;
  text-align: center;
  border-bottom: dotted 2px #bbc8e6;
}

#index2 .column h3 {
  margin: 0 auto 1em;
  padding: 0;
  background: -webkit-linear-gradient(transparent 60%, #ffffcc 0%);
  background: -o-linear-gradient(transparent 60%, #ffffcc 0%);
  background: linear-gradient(transparent 60%, #ffffcc 0%);
}

#index2 .columnbox {
  margin-top: 1em;
  width: auto;
  padding: 0;
  height: 200px;
  overflow: scroll;
  line-height: 1.5;
}

#index2 .columnbox.table table,
#index2 .columnbox.table td {
  border: solid 1px #ccc;
}

#index2 .columnbox.table table {
  width: 100%;
}

#index2 .columnbox.table tr:nth-child(odd) {
  background: #f7f7f7;
}

#index2 .columnbox.table td {
  padding: 1% 3%;
  text-align: center;
}

#index2 .columnbox textarea,
#index2 .columnbox p {
  width: 99%;
}
#index2 .columnbox p.comment {
  content: '\A';
  white-space: pre-wrap;
  word-wrap: break-word;
}

#index2 .columnbox input,
#index2 .columnbox .input {
  width: 35px;
}

#index2 span.symbol {
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

#index2 span.symbol.edit {
  position: absolute;
  cursor: pointer;
  background: url('../images/edit.png') no-repeat;
  width: 16px;
  height: 16px;
  top: 10px;
  right: 5px;
  margin-right: 1em;
  margin-top: 5px;
}

#index2 .bggr {
  background-color: #8ec778;
  margin: 0 auto;
}

#index2 .bgye {
  background-color: #ffe4a2;
  margin: 0 auto;
}

#index2 .bgre {
  background-color: #e4959a;
  margin: 0 auto;
}

#index2 span.more {
  display: inline-block;
  position: absolute;
  bottom: 11px;
  right: 0;
  background-color: #bbc8e6;
  border: solid 1px #ddd;
  color: #fff;
  margin-top: 1em;
  margin-right: 1em;
  padding: 5px 15px;
}

#index2 span.before {
  color: #777;
  float: right;
  margin: 3px 0.5em 0;
}

@media screen and (max-width: 900px) {
  #index2 .column {
    position: relative;
    width: 49%;
    height: 306px;
    float: left;
    border: solid 1px #ccc;
    margin: 0.4%;
    padding: 1%;
  }
}

/*
 * Costmized
 */

#index1 .project-report .milestone {
  overflow: hidden;
  padding: 0.5em 0;
  position: relative;
}

#index1 .month th {
  width: 6%;
}

#index1 .progress-line {
  border-left: 1px dashed red;
  min-height: 28px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

#index1 .wrap-version {
  width: 100%;
}

#index1 .version-plan {
  margin-right: 8px;
  width: auto;
}

#index1 .version-plan.re {
  margin: 0;
}

#index1 .version-plan-arrow {
  border: 8px solid #fff;
  border-left: 8px solid rgba(128, 128, 128, 0.5);
  margin-left: -8px;
}

#index1 .version-actual {
  color: #333;
  margin: 0;
}

#index1 .version-title {
  overflow: hidden;
  padding: 2px 4px;
  position: absolute;
  text-align: left;
}

.invisible {
  display: none;
}

/*------------------------------------------------------

  index3

--------------------------------------------------------*/
#index3 {
  width: 100%;
  margin-top: 25px;
}
#index3 .column {
  overflow-x: scroll;
}
#index3 .minilist table,
#index3 .minilist th,
#index3 .minilist td {
  border: solid 1px #ccc;
}

#index3 table.minilist {
  width: 100%;
  table-layout: fixed;
}
#index3 .minilist th {
  font-size: 15px;
  letter-spacing: 0.3em;
}
#index3 .minilist th,
#index3 .minilist td {
  width: 110px;
  padding: 1% 3%;
  text-align: center;
  word-break: break-word;
}

#index3 .minilist th,
#index3 .minilist td:first-child {
  font-weight: bold;
  background-color: #f7f7f7;
}

#index3 span.symbol {
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

#index3 .projectReportValueChange {
  color: #777;
  float: right;
  margin: 3px 0.5em 0;
  padding-left: 21px;
  background-repeat: no-repeat;
  background-position: 3px 2px;
  background-size: 11px;
}

#index3 .projectReportValueChange.parallel {
  background-position: 1px 1px;
  background-size: 15px;
}

.projectReportValueChange.parallel {
  background-image: url(../images/parallel.png);
}

.projectReportValueChange.up.red {
  background-image: url(../images/up_red.png);
}

.projectReportValueChange.up.green {
  background-image: url(../images/up_green.png);
}

.projectReportValueChange.down.red {
  background-image: url(../images/down_red.png);
}

.projectReportValueChange.down.green {
  background-image: url(../images/down_green.png);
}

#indice-setting-form-thresholds .curled-box {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.delete-project-report-setting-button {
  display: inline-block;
}

#custom-issue-filter .use-denominator-issue-filter {
  display: block;
}

#custom-issue-filter .use-denominator-issue-filter label {
  float: none;
  margin-left: 0;
}

#custom-issue-filter .custom-issue-filter-item {
  padding: 5px 10px;
}

#custom-issue-filter .custom-issue-filter-item::after {
  content: '\A';
  white-space: pre;
}

#custom-issue-filter .custom-issue-filter-item .label {
  display: inline-block;
  min-width: 150px;
}
#custom-issue-filter .custom-issue-filter-item .ui-icon.ui-icon-close {
  vertical-align: middle;
}

#custom-issue-filter .custom-issue-filter-item .custom-issue-filter-matcher {
  min-width: 100px;
}

.icon-setting {
  background-image: url('../images/changeset.png');
}

#report_setting_indice_setting_id {
  max-width: 273px;
}

/* fallback redmine 3.2 */
.sort-handle {
  width: 16px;
  height: 16px;
  background: url(../images/reorder.png) no-repeat 0 50%;
  cursor: move;
}

table.list:not(.odd-even) tbody tr:nth-child(odd) td {
  background-color: #f6f7f8;
}

.controller-project_report_queries #filters-table .field label {
  margin-left: -10px;
  display: inline;
  font-weight: normal;
  float: none;
  margin-left: 0;
}

.controller-project_report_queries #filters-table .values select {
  width: 100%;
}

#filters-table.project_over_view td.field {
  min-width: 10em;
}

.fixed-thead {
  position: fixed;
  top: 0;
  white-space: nowrap;
}

.fixed-thead > .table-list-header {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
}

a#add-report {
  cursor: pointer;
}

#no-layouts-message {
  margin-top: 60px;
  text-align: center;
}

/* projects/:proejct_id/settings/project_report */
#tab-content-project_report .tabular p {
  padding-left: 300px;
}

#tab-content-project_report .tabular label {
  width: 295px;
  margin-left: -300px;
}

#project-report-table .tabulator-table {
  width: 100%;
}

@media print {
  .tabulator-print-table {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  .tabulator-print-table th,
  .tabulator-print-table td {
    border-bottom: 1px solid #eee !important;
    border-right: 1px solid #aaa !important;
  }

  .tabulator-print-table td.no-underline {
    border-bottom: none !important;
  }
}

div#project-report-table .tabulator-cell p {
  overflow-wrap: break-word;
  white-space: normal;
  word-wrap: break-word;
}

div#project-report-table .tabulator-cell ul,
div#project-report-table .tabulator-cell ol {
  padding-left: 40px;
}

div#project-report-table .tabulator-cell ul {
  list-style: disc;
}

div#project-report-table .tabulator-cell ul ul {
  list-style: circle;
}

div#project-report-table .tabulator-cell ul ul ul {
  list-style: square;
}

div#project-report-table .tabulator-cell ol {
  list-style: decimal;
}

div#project-report-table .tabulator-cell table,
div#project-report-table .tabulator-cell td,
div#project-report-table .tabulator-cell th {
  border: 1px solid #bbb;
}

div#project-report-table .tabulator-cell td,
div#project-report-table .tabulator-cell th {
  padding: 4px;
}

div#project-report-table .tabulator-cell table {
  border-collapse: collapse;
}
