<% if controller_name == 'groups' && action_name.in?(%w[new edit create update]) %>
  <%= render partial: 'lychee_groups/groups/new', locals: { group: @group } %>
<% end %>
<% if current_page?(controller: 'groups', action: 'index') && Array(@organizations).any? %>
  <%= render partial: 'lychee_groups/groups/index', locals: { organizations: @organizations, user_count_by_group_id: @user_count_by_group_id } %>
  <%= stylesheet_link_tag 'organization', plugin: :lychee_groups %>
<% end %>
<% if controller_name == 'projects' && action_name == 'settings' %>
  <% if @project && User.current.allowed_to?(:manage_members, @project) %>
    <%= render partial: 'lychee_groups/projects/settings/members', locals: { project: @project, member_by_group: inherited_member_by_group(@project) } %>
    <%= stylesheet_link_tag 'organization', plugin: :lychee_groups %>
    <%= javascript_include_tag 'lychee_organization', plugin: :lychee_groups %>
  <% end %>
<% end %>
