.workload {
  color: #fff;
  display: inline;
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
}

.workload > span {
  margin: 0 2px;
}

.workload > span > span {
  margin-left: 2px;
}
