$(function(){
  var all_versions_start_date = <%== start_dates.to_json %>;
  var column_title = "<%=raw t('field_start_date') %>";
  // add start_date column
  var $table_element = $('#tab-content-versions > table');
  if ($table_element) {
    var column_classes = $table_element.find('tr:first-child td').map(function() {
      return $(this).attr('class');
    }).toArray();
    var due_index = column_classes.indexOf('date');
    if (due_index == -1) {
      return;
    }
    $('<th>' + column_title  + '</th>').insertBefore($table_element.find('th:nth-of-type(' + (due_index + 1) + ')'));
    var $all_rows = $table_element.find('tbody tr');
    if ($all_rows) {
      $all_rows.map(function(index, item) {
        start_date = all_versions_start_date[index] ? all_versions_start_date[index] : '-';
        $('<td class="date">' + start_date + '</td>').insertBefore($(item).find('td:nth-of-type(' + (due_index + 1) + ')'));
      });
    }
  }
})
