<span class="sort-handle ui-icon ui-icon-arrowthick-2-n-s ui-sortable-handle"></span>
<%= hidden_field_tag "possible_value_index[#{per_project_list.custom_field.id}][position]", index, class: :position %>
<%= text_field_tag "per_project_list[available_values][]", item, size: 40 %>
<% if per_project_list.available_values.count > 1 %>
  <%= link_to t(:button_delete), destroy_possible_value_path(per_project_list.custom_field, index, project_id: @project), data: { confirm: t(:text_are_you_sure) }, method: :delete, class: 'icon icon-del' %>
<% end  %>
