<% attachment_param ||= 'attachments' %>

<span class="attachments_form">
  <span id="attachments_fields" class="attachments_fields">
  <% if saved_attachments.present? %>
    <% saved_attachments.each_with_index do |attachment, i| %>
      <span id="attachments_p<%= i %>">
        <%= text_field_tag("#{attachment_param}[p#{i}][filename]", attachment.filename, class: 'filename') %>
        <%= link_to l(:label_delete), "#", onclick: "LycheeProfileIcon.deleteInputFiles(this); return false;", class: 'icon-only icon-del' %>
        <%= hidden_field_tag "#{attachment_param}[p#{i}][id]", attachment.id %>
      </span>
    <% end %>
  <% end %>
  </span>
  <span class="add_attachment">
    <%= file_field_tag "#{attachment_param}[dummy][file]",
        id: nil,
        class: 'file_selector filedrop',
        multiple: false,
        accept: 'image/png,image/gif,image/jpeg',
        onchange: 'LycheeProfileIcon.addInputFiles(this);',
        data: {
          max_file_size: Setting.attachment_max_size.to_i.kilobytes,
          max_file_size_message: l(:error_attachment_too_big, max_size: number_to_human_size(Setting.attachment_max_size.to_i.kilobytes)),
          max_concurrent_uploads: Redmine::Configuration['max_concurrent_ajax_uploads'].to_i,
          upload_path: uploads_path(format: 'js'),
          param: attachment_param,
          description: false
        } %>
    (<%= l(:label_max_size) %>: <%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes) %>)
  </span>
</span>

<%= javascript_include_tag 'attachments' %>
<%= javascript_include_tag 'lychee_profile_icon', plugin: 'lychee_profile_icon' %>
<script>
$(function(){
  // Reset `.file_selector` when a browser is refreshed after a file value is set
  $('.file_selector').val('');
})
</script>
