<p>
  <%= hidden_field_tag 'custom_field[lgc_options][display]', '0', id: nil %>
  <%= label_tag :custom_field_lgc_options_display, t(:field_display_in_lgc) %>
  <%= check_box_tag 'custom_field[lgc_options][display]', '1', custom_field.display_in_lgc? %>
</p>
