<script id="le-template-flash" type="text/x-handlebars-template">
  <div class="le-flash">
    <div class="flash {{ type }}">
      <p>{{ message }}</p>
    </div>
  </div>
</script>

<script id="le-template-chart" type="text/x-handlebars-template">
  <ul>
    <li>
      {{> chart-issue}}
    </li>
  </ul>
</script>

<script id="le-template-chart-item" type="text/x-handlebars-template">
  <% unless request.format.pdf? %>
    <% if allowed_to_create? %>
      <span class="lac-create-issue"></span>
    <% end %>

    {{#if edit_permission}}
      <span class="lac-editable-toggle"></span>
    {{/if}}
  <% end %>

  <a href="{{ url }}">
    <div class="lac-chart-tracker">{{ tracker.name }} #{{ id }}</div>
    <div class="lac-chart-subject"><span data-editable-bind-name="subject">{{ subject }}</span></div>
    <div class="lac-chart-status"><b><%= t(:field_status) %></b>: <span data-editable-bind-name="status_id">{{ status.name }}</span></div>
    <div class="lac-chart-doneRatio"><b><%= t(:field_progress) %></b>: <span data-editable-bind-name="done_ratio">{{ done_ratio }}</span>%</div>
    <div class="lac-chart-startDate"><b><%= t(:field_start_date) %></b>: <span data-editable-bind-name="start_date">{{ start_date }}</span></div>
    <div class="lac-chart-dueDate"><b><%= t(:field_due_date) %></b>: <span data-editable-bind-name="due_date">{{ due_date }}</span></div>
    {{#unlessUndefined actual_start_date}}
      <div class="lac-chart-actualStartDate"><b><%= t(:field_actual_start_date) %></b>: <span data-editable-bind-name="actual_start_date">{{ actual_start_date }}</span></div>
    {{/unlessUndefined}}
    {{#unlessUndefined actual_due_date}}
      <div class="lac-chart-actualDueDate"><b><%= t(:field_actual_due_date) %></b>: <span data-editable-bind-name="actual_due_date">{{ actual_due_date }}</span></div>
    {{/unlessUndefined}}
    <div class="lac-chart-assignedTo"><b><%= t(:field_assigned_to) %></b>: <span data-editable-bind-name="assigned_to_id">{{ assigned_to.name }}</span></div>
    <div class="lac-chart-priority"><b><%= t(:field_priority) %></b>: <span data-editable-bind-name="priority_id">{{ priority.name }}</span></div>
  </a>
</script>

<script id="le-template-chart-item-editor" type="text/x-handlebars-template">
  <div class="lac-chart-item-editor">
    <form action="" method="post">
      <div class="lac-chart-tracker">{{ tracker.name }} #{{ id }}</div>
      <div class="lac-chart-subject">
        {{#if safe_attrs.subject}}
          <input name="subject" type="text" value="{{ subject }}">
        {{else}}
          {{ subject }}
        {{/if}}
      </div>
      <div class="lac-chart-status">
        <b><%= t(:field_status) %></b>:
        {{#if safe_attrs.status_id}}
          <select name="status_id">
            {{optionTags allowed_statuses status.id}}
          </select>
        {{else}}
          {{ status.name }}
        {{/if}}
      </div>
      <div class="lac-chart-doneRatio">
        <b><%= t(:field_progress) %></b>:
        {{#if safe_attrs.done_ratio}}
          <select name="done_ratio">
            {{optionTagsWithRange 0 100 10 done_ratio}}
          </select>%
        {{else}}
          {{ done_ratio }}%
        {{/if}}
      </div>
      <div class="lac-chart-startDate">
        <b><%= t(:field_start_date) %></b>:
        {{#if safe_attrs.start_date}}
          <input name="start_date" type="date" value="{{ start_date }}" size="10" class="lac-datePicker">
        {{else}}
          {{ start_date }}
        {{/if}}
      </div>
      <div class="lac-chart-dueDate">
        <b><%= t(:field_due_date) %></b>:
        {{#if safe_attrs.due_date}}
          <input name="due_date" type="date" value="{{ due_date }}" size="10" class="lac-datePicker">
        {{else}}
          {{ due_date }}
        {{/if}}
      </div>
      {{#unlessUndefined actual_start_date}}
        <div class="lac-chart-actualStartDate">
          <b><%= t(:field_actual_start_date) %></b>:
          {{#if safe_attrs.actual_start_date}}
            <input name="actual_start_date" type="date" value="{{ actual_start_date }}" size="10" class="lac-datePicker">
          {{else}}
            {{ actual_start_date }}
          {{/if}}
        </div>
      {{/unlessUndefined}}
      {{#unlessUndefined actual_due_date}}
        <div class="lac-chart-actualDueDate">
          <b><%= t(:field_actual_due_date) %></b>:
          {{#if safe_attrs.actual_due_date}}
            <input name="actual_due_date" type="date" value="{{ actual_due_date }}" size="10" class="lac-datePicker">
          {{else}}
            {{ actual_due_date }}
          {{/if}}
        </div>
      {{/unlessUndefined}}
      <div class="lac-chart-assignedTo">
        <b><%= t(:field_assigned_to) %></b>:
        {{#if safe_attrs.assigned_to_id}}
          <select name="assigned_to_id">
            {{optionTags assignable_users assigned_to.id}}
          </select>
        {{else}}
          {{ assigned_to.name }}
        {{/if}}
      </div>
      <div class="lac-chart-priority">
        <b><%= t(:field_priority) %></b>:
        {{#if safe_attrs.priority_id}}
          <select name="priority_id">
            {{optionTags priorities priority.id}}
          </select>
        {{else}}
          {{ priority.name }}
        {{/if}}
      </div>
      {{#each custom_fields}}
        {{#if field_info.is_visible}}
          {{> editor-field}}
        {{/if}}
      {{/each}}
      <div class="submit"><input type="submit" value="保存"></div>
    </form>
  </div>
</script>

<script id="le-template-chart-issue" type="text/x-handlebars-template">
  <div class="lac-chart-item {{ _html_class }}" data-id="{{ id }}" data-type="issue"{{#if edit_permission}} data-relatable="1"{{/if}} data-closed="{{ is_closed }}"{{#if rels}} data-rels="{{stringify rels }}"{{/if}}>
    {{> chart-item}}
  </div>

  {{#hasRelations}}
    <div class="lac-chart-relations">
      {{#each changesets}}
        {{> chart-changeset}}
      {{/each}}

      {{#each other_issues}}
        {{> chart-other}}
      {{/each}}
    </div>
  {{/hasRelations}}

  {{#if children}}
    <ul>
      {{#each children}}
        <li>{{> chart-issue}}</li>
      {{/each}}
    </ul>
  {{/if}}
</script>

<script id="le-template-chart-changeset" type="text/x-handlebars-template">
  <div class="lac-chart-item {{ _html_class }}" data-type="changeset">
    <a href="{{ url }}">
      <div class="lac-chart-rev">Rev.{{ revision }}</div>
      <div class="lac-chart-comment">{{ comments }}</div>
    </a>
  </div>
</script>

<script id="le-template-chart-other" type="text/x-handlebars-template">
  <div class="lac-chart-item {{ _html_class }} {{#unless other_issues}}lac-chart-item--no-other-issues{{/unless}}" data-id="{{ id }}" data-type="other" {{#if edit_permission}} data-relatable="1"{{/if}} data-relation-type="{{ relation_type }}" data-closed="{{ is_closed }}"{{#if rels}} data-rels="{{stringify rels}}"{{/if}}>
    {{> chart-item}}
  </div>
  {{#if other_issues}}
    <div class="lac-chart-relations">
      {{#each other_issues}}
        {{> chart-other}}
      {{/each}}
    </div>
  {{/if}}
  <div class="lac-chart-other-end"></div>
</script>

<script id="le-template-relatable-modal" type="text/x-handlebars-template">
  <div class="lac-relatable-items"></div>
  <div class="lac-relatable-types">
    <ul>
      <li data-type="child"><%= t(:button_make_child) %></li>
      <li data-type="relates"><%= t(:button_associate) %></li>
      <li data-type="blocks"><%= t(:button_block) %></li>
      <li data-type="precedes">
        <%= t(:button_precede) %> [<%= t(:field_delay) %>: <input type="number" name="delay" value="" /> <%= t(:label_day_plural) %>]
      </li>
      <li class="cancel"><%= t(:button_cancel) %></li>
    </ul>
  </div>
</script>

<script id="le-template-editor-field" type="text/x-handlebars-template">
  <div id="lac-chart-{{ field_info.id }}">
    {{#if field_info.label}}
      <b>{{ field_info.label }}</b>
    {{/if}}
    {{#if field_info.required}}
      <span class="required">*</span>
    {{/if}}
    {{editorField field_info}}
  </div>
</script>

<script id="le-template-new-issue-editor" type="text/x-handlebars-template">
  <div class="lac-chart-item lac-relatable-to">
    <div class="lac-chart-item-editor lac-chart-item-scrolling">
      <form action="" method="post">
        {{#each all_field_info}}
          {{> editor-field}}
        {{/each}}
      </form>
    </div>
  </div>
</script>
