<% include_calendar_headers_tags %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'attachments' %>
  <%= lac_stylesheet_link_tags %>
  <%= stylesheet_link_tag 'lac/print', :plugin => 'lac', :media => :print %>
<% end %>

<div class="le-header">
  <h2><%= link_to issue_heading(@issue), issue_path(@issue) %></h2>
  <div class="le-header-menu">
    <div class="lac-chart-zoom">
      <a href="javascript:void(0)" class="icon icon-zoom-out" data-zoom="in"><%= t(:text_zoom_out) %></a>
      <a href="javascript:void(0)" class="icon icon-zoom-in" data-zoom="out"><%= t(:text_zoom_in) %></a>
    </div>

    <div class="lac-downloads">
      <a href="javascript:void(0)" class="icon icon-save" data-popover-target="download">PDF</a>
      <div class="le-popover" data-popover-name="download">
        <%= form_for 'lac_download', :url => "#{issue_association_chart_path}.pdf", :method => :get do |f| %>
          <div class="lac-field">
            <%= t(:field_paper_size_html, field: f.select(:page_size, %w( A4 A3 A2 A1 A0 B4 B3 B2 B1 B0 ))) %>
            <%= t(:field_orientation_html, field: f.select(:orientation, {t(:label_orientation_portrait) => 'Portrait', t(:label_orientation_landscape) => 'Landscape'})) %>
          </div>
          <div class="lac-field">
            <%= f.submit t(:button_pdf_download),
                         data: (Alm.rails5_or_later? ? { disable_with: false } : {}) %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="lac-legend">
      <a href="javascript:void(0)" class="icon icon-help" data-popover-target="legend"><%= t(:label_legend) %></a>
      <div class="le-popover" data-popover-name="legend">
        <dl>
          <dt><%= image_tag('legends/children.png', :plugin => 'lac', :size => '40x17') %></dt>
          <dd><span><%= t(:label_relation_parent_child) %></span></dd>
          <dt><%= image_tag('legends/relates.png', :plugin => 'lac', :size => '40x17') %></dt>
          <dd><span><%= t(:label_relation_related) %></span></dd>
          <dt><%= image_tag('legends/blocks_to.png', :plugin => 'lac', :size => '40x17') %></dt>
          <dd><span><%= t(:label_relation_preceding_blocking) %></span></dd>
          <dt><%= image_tag('legends/blocks_from.png', :plugin => 'lac', :size => '40x17') %></dt>
          <dd><span><%= t(:label_relation_following_blocked) %></span></dd>
          <dt><%= image_tag('legends/revisions.png', :plugin => 'lac', :size => '40x17') %></dt>
          <dd><span><%= t(:label_relation_related_revision) %></span></dd>
        </dl>
      </div>
    </div>

    <a
      href="javascript:void(0)"
      class="icon icon-fullscreen-start"
      data-fullscreen="start"
      data-fullscreen-start="<%= t(:label_fullscreen_mode) %>"
      data-fullscreen-exit="<%= t(:label_exit_fullscreen_mode) %>">
      <%= t(:label_fullscreen_mode) %>
    </a>
  </div>
</div>

<%= javascript_include_tag 'lib/webstorage', :plugin => 'lac' %>
<%= javascript_include_tag 'le-fullscreen', :plugin => 'lac' %>

<%= form_tag({ :controller => 'association_chart', :action => 'index', :id => @issue },
            :method => :get, :id => 'association_chart_query_form') do %>
  <div id="query_form_content" class="hide-when-print">
    <fieldset id="filters" class="collapsible">
      <legend onclick="toggleFieldset(this);"><%= l(:label_issue_association_filter) %></legend>
      <div>
        <table>
          <tr>
            <td style="padding-left: 20px;">
              <%= label_tag('issue_association_filter_parent', l(:label_issue_association_filter_parent)) %>
              <%= check_box_tag "issue_association_filter_parent", "1", params[:issue_association_filter_parent] %>
            </td>
            <td style="padding-left: 20px;">
              <%= label_tag('issue_association_filter_relation', l(:label_issue_association_filter_relation)) %>
              <%= check_box_tag "issue_association_filter_relation", "1", params[:issue_association_filter_relation] %>
            </td>
            <td style="padding-left: 20px;">
              <%= label_tag('issue_association_filter_relation_max_level', l(:label_issue_association_filter_relation_max_level)) %>
              <%= select_tag('issue_association_filter_relation_max_level', options_for_select(1..5, params[:issue_association_filter_relation_max_level])) %>
            </td>
            <td style="padding-left: 20px;">
              <%= label_tag('issue_association_filter_changeset', l(:label_issue_association_filter_changeset)) %>
              <%= check_box_tag "issue_association_filter_changeset", "1", params[:issue_association_filter_changeset] %>
            </td>
            <td style="padding-left: 20px;">
              <%= link_to_function l(:button_apply), "$('#association_chart_query_form').submit();", :class => 'icon icon-checked' %>
            </td>
          </tr>
        </table>
      </div>
    </fieldset>
  </div>
<% end %>

<div class="lac-chart-container">
  <div id="lac-chart"></div>
  <div id="lac-chart-relations"></div>
</div>

<script>window.JSON || document.write('<%= lac_escaped_json3_include_tag %>');</script>
<%= lac_javascript_include_tags %>

<script>
  Le.REDMINE_VERSION = '<%= Redmine::VERSION::STRING %>';
  Le.defineURL('bulkUpdate', '<%= bulk_update_issues_path %>?back_url=<%= lac_flash_message_path %>');
  Le.defineURL('unrelatedIssues', '<%= lac_unrelated_issues_path(@issue) %>.js');
  Le.defineURL('chart', '<%= issue_association_chart_path %>.json');
  Le.defineURL('issueRelations', '<%= issue_relations_path(':issue_id') %>.js');
  Le.defineURL('dataForEditor', '<%= lac_data_for_editor_path(':issue_id') %>.json');
  Le.defineURL('newIssue', '<%= lac_issue_new_path %>.json');
  Le.defineURL('createIssue', '<%= lac_issue_create_path %>.json');

  Lac.permission('relatable', <%= (allowed_to_edit? && allowed_to_manage_relations?).to_json %>);
  Lac.setLabels(<%= translated_labels %>);
</script>

<%= javascript_include_tag 'main', :plugin => 'lac' %>

<div id="lac-modal">
  <div class="lac-modal-overlay lac-overlay"></div>
  <div class="lac-modal-container lac-overlay">
    <div class="lac-modal-content">
      <div class="lac-modal-content-body"></div>
    </div>
  </div>
</div>

<%= render :partial => 'association_chart/templates' %>
