<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>LAC</title>
  <style><%= lac_stylesheets_for_pdf %></style>
</head>
<body>

<div class="lac-chart-container">
  <div id="lac-chart"></div>
  <div id="lac-chart-relations"></div>
</div>

<%= render :partial => 'templates' %>

<script><%= lac_javascripts_for_pdf %></script>
<script>
!function($) {
  'use strict';

  $.extend(Lac, {
    $chart: $('#lac-chart'),
    $paper: $('#lac-chart-relations'),
    paper: new Raphael('lac-chart-relations')
  });

  Lac.setupPartials();
  Lac.setupModules();
  Lac.chart.onLoaded(<%= @json %>);
}(jQuery);
</script>

</body>
</html>