html {
  overflow-x: hidden;
}
#wrapper,
#content {
  overflow: unset !important; /* for sticky */
}

.tailwind {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  a {
    @apply text-[#169];
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }
  input[type="number"] {
    @apply [appearance:textfield];
  }
}

/* https://stackoverflow.com/questions/37902708/google-charts-tooltip-flickering */
svg > g > g:last-child {
  pointer-events: none;
}
