.body {
  width: 100%;
  flex-grow: 1;
  min-height: 32px;
  position: relative;
}

.button {
  display: none;
}

.body:hover > .button {
  display: block;
  position: absolute;
  right: 4px;
  bottom: 4px;
  cursor: pointer;
}
