<% if controller.controller_name == 'imports' && controller.action_name == 'mapping' %>
  <div id="imports-lad" data-url="<%= edit_lad_import_path(@import.id, @import.mapping) %>" style="display: none;"></div>
  <%= javascript_include_tag('imports', plugin: 'lad') %>
<% end %>
