<% field_tag_method = (::Redmine::VERSION.to_a <=> [3, 3]) > 0 ? :date_field_tag : :text_field_tag %>
<% safe_attributes = hook_caller.assigns['safe_attributes'] %>
<% issue_params = hook_caller.assigns['issue_params'] %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'lad', plugin: 'lad' %>
<% end %>

<div id="actual_dates_area">
  <% if safe_attributes.include?('actual_start_date') %>
    <p id="actual_start_date_area">
      <label for='issue_actual_start_date'><%= t(:field_actual_start_date) %></label>
      <%= send field_tag_method, 'issue[actual_start_date]',
                                 '',
                                 value: issue_params[:actual_start_date],
                                 size: 10 %>
      <%= calendar_for('issue_actual_start_date') %>
      <label class="inline">
        <%= check_box_tag 'issue[actual_start_date]',
          'none',
          (issue_params[:actual_start_date] == 'none'),
          id: nil,
          data: { disables: '#issue_actual_start_date' }
        %><%= t(:button_clear) %>
      </label>
    </p>
    <div id="actual_start_date_was" data-date=""></div>
  <% end %>

  <% if safe_attributes.include?('actual_due_date') %>
    <p id="actual_due_date_area">
      <label for='issue_actual_due_date'><%= t(:field_actual_due_date) %></label>
      <%= send field_tag_method, 'issue[actual_due_date]',
                                 '',
                                 value: issue_params[:actual_due_date],
                                 size: 10 %>
      <%= calendar_for('issue_actual_due_date') %>
      <label class="inline">
        <%= check_box_tag 'issue[actual_due_date]',
          'none',
          (issue_params[:actual_due_date] == 'none'),
          id: nil,
          data: { disables: '#issue_actual_due_date' }
        %><%= t(:button_clear) %>
      </label>
    </p>
    <div id="actual_due_date_was" data-date=""></div>
  <% end %>
</div>

<%= javascript_include_tag 'lad', plugin: 'lad' %>

<%# TODO: remove this after 3.3 support is expired %>
<%# less than or equeals to 3.3.x %>
<% if (Redmine::VERSION.to_a[0..1] <=> [3, 3]) <= 0 %>
  <div id="bulk-edit-url" data-url="<%= escape_javascript url_for(action: 'bulk_edit', format: 'js') %>"></div>
  <%= javascript_include_tag 'listenStatusChange', plugin: 'lad' %>
<% end %>
