<% field_method = (::Redmine::VERSION.to_a <=> [3, 3]) > 0 ? :date_field : :text_field %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'lad', plugin: 'lad' %>
<% end %>

<div id="actual_dates_area">
  <% if issue.safe_attribute?('actual_start_date') %>
    <p id="actual_start_date_area">
      <%= form.send field_method, :actual_start_date, size: 10, required: issue.required_attribute?('actual_start_date') %>
      <%= calendar_for('issue_actual_start_date') %>
    </p>
    <div id="actual_start_date_was" data-date="<%= issue.actual_start_date_was %>"></div>
  <% end %>

  <% if issue.safe_attribute?('actual_due_date') %>
    <p id="actual_due_date_area">
      <%= form.send field_method, :actual_due_date, size: 10, required: issue.required_attribute?('actual_due_date') %>
      <%= calendar_for('issue_actual_due_date') %>
    </p>
    <div id="actual_due_date_was" data-date="<%= issue.actual_due_date_was %>"></div>
  <% end %>
</div>

<%= javascript_include_tag 'lad', plugin: 'lad' %>
