<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'lychee_workdays.css', plugin: 'lychee_workdays' %>
<% end %>

<%= javascript_include_tag 'lychee_workdays', plugin: 'lychee_workdays' %>
<script>
  $(function(){
    LycheeWorkdays.addClasses(
      $('table.cal'),
      <%= raw_json non_working_week_days %>,
      <%= raw_json lychee_rest_days(Date.new(year, month), '%-d') %>,
      '<%= day_name(6) %>' // '土曜日'
    );
  });
</script>
