<%= form_tag lac_unrelated_issues_path(issue), method: 'post', remote: true, id: 'query_form_unrelated' do %>
  <div id="query_form_with_buttons" class="hide-when-print">
    <div id="query_form_content">
      <%= field_set_tag l(:label_filter_plural), id: 'filters' do %>
        <%= render :partial => 'queries/filters', :locals => {:query => query}%>
      <% end %>
    </div>
    <p class="buttons">
      <%= link_to_function l(:button_apply), 'query_form_unrelated_submit()', class: 'icon icon-checked' %>
      <%= link_to l(:button_clear), lac_unrelated_issues_path(issue), remote: true, class: 'icon icon-reload'  %>
    </p>
  </div>
<% end %>
<div class="lac-issues-list">
  <% issues.each do |queried_issue| %>
    <div class="lac-chart-item-unrelated" data-id="<%= queried_issue.id %>" data-type="issue">
      <a href="">
        <div class="lac-chart-tracker"><%= "#{queried_issue.tracker} ##{queried_issue.id}" %></div>
        <div class="lac-chart-subject"><span><%= queried_issue.subject %></span></div>
      </a>
    </div>
  <% end %>
</div>
<div class="pagination lac-issues-pagination">
  <%= pagination_links(issue, issue_pages, issue_count) %>
</div>

<%= javascript_tag do %>
  function query_form_unrelated_submit() {
    const form = $('#query_form_unrelated');
    if (typeof Rails === 'undefined') {
      form.submit();
    } else {
      Rails.fire(form[0], 'submit');
    }
  }
<% end %>
