Lac.relatable.destroyToElement();
Lac.modal.hideButtons();

var queryResultPage = "<%= escape_javascript(render partial: 'query_result', locals: { issue: @issue, query: @query, issues: @issues, issue_pages: @issue_pages, issue_count: @issue_count }) %>";

$('.lac-unrelated-issues').empty();
$('.lac-unrelated-issues').prepend(queryResultPage);

$('.lac-chart-item-unrelated').on('click', function(event) {
  event.preventDefault();
  var $el = $(event.currentTarget);
  if (Lac.relatable.$to != $el) {
    Lac.relatable.destroyToElement();
  }
  Lac.relatable.$to = $el;
  Lac.relatable.$to.addClass(Lac.relatable.activeToClass);
  Lac.modal.showButtons();
});
