.tabular .label_sharing {
  margin-left: 90px;
  text-align: left;
  float: none;
}

.tabular .label_base_date_start_date,
.tabular .label_base_date_due_date{
  margin-left: 0;
  font-weight: normal;
  float: none;
  border-bottom: 1px dotted;
  cursor: help;
}

@media screen and (max-width: 899px) {
  .tabular .label_sharing {
    margin-left: 0;
  }
}
