<% unless LycheeTimeManagement::Settings.table_mode? %>
<div id="plugin_lychee_time_management_settings">
  <%= label_tag 'settings[plugin_lychee_time_management][issues_limit]', t(:label_ltm_issues_limit) %>
  <%= text_field_tag 'settings[plugin_lychee_time_management][issues_limit]', LycheeTimeManagement::Settings.issues_limit, size: 6 %>
  <%=
    # 上書きされるのはSettings.plugin_lychee_time_management全体なので、ここに出ないフィールドの値も含めないといけない
    lychee_time_management_settings_hidden_fields(LycheeTimeManagement::Settings.all.except(:issues_limit), "settings[plugin_lychee_time_management]")
  %>
</div>

<script type="text/javascript">
$(function(){
  var $gannt_items_limit_field = $('#settings_gantt_items_limit').parent();
  var $lychee_time_management_issues_limit_field = $('#plugin_lychee_time_management_settings');

  $gannt_items_limit_field.after($('<p>').html($lychee_time_management_issues_limit_field.children()));
  $lychee_time_management_issues_limit_field.remove();
});
</script>
<% end %>
