<% calendar_sync = User.current.ltm_google_calendar_sync %>

<% if calendar_sync %>
  <div id="ltm_user_preferences" data-load-url="<%= edit_ltm_google_calendar_syncs_path %>">
    <p>
      <label><%= t(:label_ltm_google_account_connection) %></label>
    </p>
    <p>
      <label><%= t(:label_ltm_connected_google_calendar) %></label>
    </p>
  </div>
  <%= lychee_time_management_javascript_include_tag 'my_account_preferences' %>
<% else %>
  <p>
    <label><%= t(:label_ltm_google_account_connection) %></label>
    <%= link_to t(:label_connect_ltm_with_google_account), initiate_oauth_flow_ltm_google_calendar_syncs_path %>
  </p>
<% end %>
