<%= form_for @project, url: lgc_project_path(@project) do |f| %>
  <%= error_messages_for 'project' %>

  <% if lgc_pro? %>
    <fieldset class="box tabular">
      <legend><%= t(:label_critical_path) %></legend>

      <p>
        <%= f.label :slack %>
        <%= f.number_field :slack, style: 'width: 3em; box-sizing: content-box' %>
        <%= t(:label_day_plural) %>
      </p>
    </fieldset>
  <% end %>

  <% if !Lgc.export_disabled? %>
    <fieldset class="box tabular">
      <legend><%= t('lgc.pdf_settings') %></legend>

      <p>
        <%= f.label :pdf_header_left, t('lgc.header_left')  %>
        <%= f.text_area :pdf_header_left, rows: 5 %>
      </p>

      <p>
        <%= f.label :pdf_header_center, t('lgc.header_center')  %>
        <%= f.text_area :pdf_header_center, rows: 5 %>
      </p>

      <p>
        <%= f.label :pdf_header_right, t('lgc.header_right')  %>
        <%= f.text_area :pdf_header_right, rows: 5 %>
      </p>
    </fieldset>
  <% end %>

  <fieldset class="box tabular">
    <legend><%= t('lgc.custom_query') %></legend>

    <p>
      <%= f.label :default_query_id, t('lgc.settings.default_query_id')  %>
      <% queries = IssueQuery.where(visibility: IssueQuery::VISIBILITY_PUBLIC, project_id: [nil, @project.id]) %>
      <%= f.collection_select :default_query_id, queries, :id, :name, include_blank: true %>
    </p>
  </fieldset>

  <p><%= f.submit t(:button_save) %></p>
<% end %>
