<% field_name ||= 'attachments' %>
<% max_file_size ||= Setting.attachment_max_size.to_i.kilobytes %>
<% max_file_size_to_human ||= number_to_human_size(max_file_size) %>

<% if saved_attachment.present? %>
  <%= hidden_field_tag field_name, saved_attachment.id %>

  <div class="lgc-attachment lgc-customField-attachment">
    <%= hidden_field field_name, :blank, value: saved_attachment.id, disabled: true %>
    <%= link_to_attachment(saved_attachment) %>
    <span class="icon-only icon-del" data-attachment-action="delete"></span>
    <span class="icon-only icon-cancel" data-attachment-action="cancelDeleting"></span>
  </div>
<% end %>

<div class="lgc-attachment-upload lgc-customField-attachment-upload" data-name="<%= field_name %>">
  <%= file_field_tag "#{field_name}[file]", id: nil, class: 'lgc-attachment-upload-input' %>
  (<%= t(:label_max_size) %>: <%= max_file_size_to_human %>)
</div>
