<h2><%= l(:label_overview) -%></h2>
<div class="columnbox table">
  <table>
    <tbody>
      <tr>
        <td><%= l(:field_project) -%></td>
        <% start_date = project.term.try(:start_date) %>
        <% end_date = project.term.try(:end_date) %>
        <td><%= "#{project.name} (#{show_reporting_date start_date} 〜 #{show_reporting_date end_date})" %></td>
      </tr>
      <% if version %>
      <tr>
        <td><%= l(:field_version) -%></td>
        <td><%= "#{version.name} (#{show_reporting_date version.start_date} 〜 #{show_reporting_date version.effective_date})" %></td>
      </tr>
      <% end %>
      <% if pending %>
        <tr>
          <td><%= l(:field_reporting_label_cwday) -%></td>
          <td><%= I18n.t('field_reporting_weekday', cwday: day_name(project.reporting_cwday)) %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= l(:field_reporting_label_date) -%></td>
          <td><%= I18n.l reported_on %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= l(:field_reporting_label_last) -%></td>
        <td>
          <% if last_reported_on.present? %>
            <%= I18n.l last_reported_on %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
