<h2><%= t("label_project_report_comment") %></h2>
<% if User.current.project_report_managable?(project, true) %>
  <span class="symbol edit"></span>
<% end %>
<div class="columnbox">
  <p class="comment"><%= periodic_report_row.comment_text %></p>
</div>
<span class="ajax-path"
  data-show-path="<%= project_report_comment_path(periodic_report_row.project_report_comment) %>"
  data-update-path="<%= project_report_comment_path(periodic_report_row.project_report_comment) %>"
/>
