<div class="column">
  <h2>
    <%= periodic_report.try!(:indice_setting_name) %>
  </h2>
  <% if periodic_report.persisted? %>
    <% if User.current.project_report_managable?(project, true) %>
      <span class="symbol edit"></span>
    <% end %>
    <div class="columnbox">
      <h3><%= curled_box(periodic_report.decision) %>
        &nbsp;
        <%= periodic_report.indice_setting_name %>
        &nbsp;：&nbsp;
        <% if periodic_report.result.present? %>
          <span class="input"><%= report_result_value(periodic_report.result, periodic_report.unit_string) %></span>
        <% end %>
        <% result_from_prev = periodic_report.result_from_prev %>
        <% if result_from_prev.present? %>
          <span class="before">
            <%= rate_symbol_with_diff(result_from_prev) %>
            <%= report_result_value(result_from_prev.to_f.abs, periodic_report.unit_string) %>
          </span>
        <% end %>
      </h3>
      <p class="comment"><%= periodic_report.comment_text %></p>
    </div>
    <span class="ajax-path"
      data-show-path="<%= project_report_comment_path(periodic_report.project_report_comment) %>"
      data-update-path="<%= project_report_comment_path(periodic_report.project_report_comment) %>"
    />
  <% end %>
</div>
