<div class="contextual">
  <%= link_to l(:field_setting_sort_indices), enabled_report_indice_settings_path(type: :project) %>
</div>

<div class="clear"></div>

<%= form_tag bulk_update_project_report_setting_path, method: :patch, class: 'report_settings' do %>
  <div class="autoscroll">
    <table class="report_settings list project_settings">
      <thead>
        <tr>
          <th><%= l(:field_setting_separated) -%></th>
          <th><%= l(:field_project) -%></th>
          <% @enabled_project_report_indice_settings.each do |enabled_project_report_indice_setting| %>
            <th class="indice_setting">
              <%= link_to '', '#', title: "#{l(:button_check_all)}/#{l(:button_uncheck_all)}", class: 'icon-only icon-checked', data: { check_all_for: enabled_project_report_indice_setting.indice_setting_id } %> <!-- 一括チェック (project_report_setting.js) -->
              <span><%= enabled_project_report_indice_setting.indice_setting.name %></span>
              <% if User.current.project_reports_globally_managable? %>
                <%= link_to enabled_report_indice_setting_path(enabled_project_report_indice_setting, type: :project),
                  method: :delete, data: {confirm: t('report_settings.destroy.confirm')} do %>
                  <span class="ui-icon ui-icon-close delete-project-report-setting-button"></span>
                <% end %>
              <% end %>
            </th>
          <% end %>
          <th>
            <% if User.current.project_reports_globally_managable? %>
              <%=
                content_tag :span, nil,
                  class: "open-indice-setting-dialog-button ui-icon ui-icon-plus",
                  data: {
                    type: 'project',
                    indice_settings: IndiceSetting.available.where.not(id: @enabled_project_report_indice_settings.map(&:indice_setting_id))
                                                  .select(:id, :name, :indice_type).group_by(&:indice_type)
                  }
              %>
            <% end %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% setting_index = 0 %>
        <% @projects.each.with_index do |project, index| %>
          <% isroot = project.root_in_enabled_lychee_project_report? %>
          <% if User.current.project_report_managable?(project, true) %>
            <% level = @projects_tree[project.id] %>
            <tr class="<%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>" data-root-project-id="<%= isroot ? '' : project.root_in_enabled_lychee_project_report.id %>">
              <td>
                <% if isroot %>
                  <%= check_box_tag "project_report_setting[project_indivisual][#{index}][indivisual]", true, project.indivisual?, class: 'indivisual-checkbox', data: { project_id: project.id } %>
                  <%= hidden_field "project_report_setting[project_indivisual][#{index}]", :project_id, value: project.id %>
                <% end %>
              </td>
              <td class='name'>
                <span><%= project.name %></span>
              </td>
              <% @enabled_project_report_indice_settings.each do |enabled_indice_setting| %>
                <%
                  indice_setting = enabled_indice_setting.indice_setting
                  setting = indice_setting.project_report_settings.find { |setting| setting.project_id == project.id }
                  enabled = setting ? setting.enabled : true
                  index = setting_index += 1
                %>
                <td data-project-id="<%= project.id %>" data-indice-setting-id="<%= indice_setting.id %>">
                  <%= check_box_tag "project_report_setting[indice_setting][#{index}][enabled]",
                                    "1",
                                    enabled,
                                    disabled: !isroot && !project.root_in_enabled_lychee_project_report.indivisual? %>
                  <%= hidden_field_tag "project_report_setting[indice_setting][#{index}][project_id]", project.id %>
                  <%= hidden_field_tag "project_report_setting[indice_setting][#{index}][indice_setting_id]", indice_setting.id %>
                </td>
              <% end %>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <span class="pagination">
    <%= pagination_links_full(@projects_pages, @projects_count) do |text, parameters, options|
          link_to(text, { params: request.query_parameters.merge(parameters).merge(tab: :project) }, options)
        end %>
  </span>
  <%= submit_tag l(:button_save) %>
<% end %>
