<div class="contextual">
  <%= link_to l(:field_setting_sort_indices), enabled_report_indice_settings_path(type: :version) %>
</div>

<div class="clear"></div>

<%= form_tag bulk_update_project_report_setting_path, method: :patch, class: 'report_settings' do %>
  <div class="autoscroll">
    <table class="report_settings list version_settings">
      <thead>
        <tr>
          <th><%= l(:field_project) -%></th>
          <th><%= l(:field_version) -%></th>
          <th><%= l(:field_setting_share) -%></th>
          <% @enabled_version_report_indice_settings.each do |enabled_project_report_indice_setting| %>
            <th class="indice_setting">
              <%= link_to '', '#', title: "#{l(:button_check_all)}/#{l(:button_uncheck_all)}", class: 'icon-only icon-checked', data: { check_all_for: enabled_project_report_indice_setting.indice_setting_id } %> <!-- 一括チェック (project_report_setting.js) -->
              <span><%= enabled_project_report_indice_setting.indice_setting.name %></span>
              <% if User.current.project_reports_globally_managable? %>
                <%= link_to enabled_report_indice_setting_path(enabled_project_report_indice_setting, type: :version),
                  method: :delete, data: {confirm: t('report_settings.destroy.confirm')} do %>
                  <span class="ui-icon ui-icon-close delete-project-report-setting-button"></span>
                <% end %>
              <% end %>
            </th>
          <% end %>
          <th>
            <% if User.current.project_reports_globally_managable? %>
              <%=
                content_tag :span, nil,
                  class: "open-indice-setting-dialog-button ui-icon ui-icon-plus",
                  data: {
                    type: 'version',
                    indice_settings: IndiceSetting.available.where.not(id: @enabled_version_report_indice_settings.map(&:indice_setting_id))
                                                  .select(:id, :name, :indice_type).group_by(&:indice_type)
                  }
              %>
            <% end %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% setting_index = 0 %>
        <% @versions.each do |version| %>
          <% if User.current.version_report_managable?(version, true) %>
            <tr>
              <td><%= version.project.try(:name) %></td>
              <td><%= version.name %></td>
              <td><%= t("label_version_sharing_#{version.sharing}") %></td>
              <% @enabled_version_report_indice_settings.each do |enabled_indice_setting| %>
                <%
                  indice_setting = enabled_indice_setting.indice_setting
                  setting = indice_setting.version_report_settings.find { |setting| setting.version_id == version.id }
                  enabled = setting.try(:enabled)
                  index = setting_index += 1
                %>
                <td data-version-id="<%= version.id %>" data-indice-setting-id="<%= indice_setting.id %>">
                  <%= hidden_field_tag "version_report_setting[indice_setting][#{index}][enabled]", "0" %>
                  <%= check_box_tag "version_report_setting[indice_setting][#{index}][enabled]", "1", enabled %>
                  <%= hidden_field_tag "version_report_setting[indice_setting][#{index}][project_id]", version.project.id %>
                  <%= hidden_field_tag "version_report_setting[indice_setting][#{index}][version_id]", version.id %>
                  <%= hidden_field_tag "version_report_setting[indice_setting][#{index}][indice_setting_id]", indice_setting.id %>
                </td>
              <% end %>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <span class="pagination">
    <%= pagination_links_full(@versions_pages, @versions_count) do |text, parameters, options|
          link_to(text, { params: request.query_parameters.merge(parameters).merge(tab: :version) }, options)
        end %>
  </span>
  <%= submit_tag l(:button_save) %>
<% end %>
