<div class="contextual">
  <%= link_to l(:label_project_reports), project_reports_path %>
  <% if User.current.project_reports_globally_managable? %>
    <%= link_to l(:label_indice_setting), indice_settings_path, class: 'icon icon-setting' %>
  <% end %>
</div>
<h3><%= l(:label_project_setting) -%></h3>

<%= render_tabs report_settings_tabs %>


<div id="add-indice-type-dialog" title="<%= l(:label_project_report_new_indice) -%>" style="display: none">
  <div id='new-project-report-setting-column'>
    <label>
      <%= t(:field_indice_setting_indice_type) %>
      <%= select_tag :indice_type, options_for_select(t('indice_type_values').invert) %>
    </label>
    <br>
    <%= form_tag enabled_report_indice_settings_path, method: :post, id: 'indice_setting_form' do %>
      <label>
        <%= t(:label_indice_setting) %>
        <%= select_tag 'enabled_report_indice_setting[indice_setting_id]', options_for_select(IndiceSetting.available.pluck(:name, :id)) %>
      </label>
    <% end %>
  </div>
</div>

<%= stylesheet_link_tag 'lychee_project_report', plugin: :lychee_project_report %>
<%= javascript_include_tag 'project_report_setting', plugin: :lychee_project_report %>

<%= javascript_tag do %>
  var targetTable = (new URL(document.location)).searchParams.get('tab') == 'version' ? 'table.report_settings.version_settings' : 'table.report_settings.project_settings';
  var headerHeight = $(targetTable).offset().top;
  var footerHeight = $(document.body).outerHeight() - headerHeight - $(targetTable).outerHeight();
  var setAutoscrollHeight = function(){
    var windowHeight = window.innerHeight;
    $('.autoscroll').css('height', windowHeight - headerHeight - footerHeight);
  }
  $(setAutoscrollHeight);
  window.onresize = setAutoscrollHeight;
<% end %>

<style>
  .delete-project-report-setting-button:hover, .open-indice-setting-dialog-button:hover {
    box-sizing: border-box;
    border: 1px solid #628db6;
    background-color: #eef5fd;
  }

  <%# position: sticky を効かせるため %>
  table.report_settings {
    overflow: auto;
  }

  <%# プロジェクト名のセルにチェックボックスが重なったときにチェックボックスが見えてしまうのを防ぐ %>
  table.report_settings tbody tr td:first-child,
  table.report_settings tbody tr td:nth-child(2),
  table.report_settings.version_settings tbody tr:nth-child(2n) td:nth-child(3) {
    background-color: #ffffff;
  }

  table.report_settings tbody tr:hover > td {
    background-color: #ffffdd !important;
  }

  <%# サブプロジェクトでインデントされているときも別指定でチェックボックスを隠す %>
  tr.project.idnt td.name {
    background-color: #ffffff;
  }

  tr:nth-child(2n).project.idnt:hover > td.name {
    background-color: #ffffdd;
  }

  <%# テーブル上左に内容が突き抜けるのを防ぐ %>
  .autoscroll {
    padding: 0px;
    min-height: 150px;
  }

  table.report_settings td {
    word-break: break-all;
  }

  <%# プロジェクトタブ(個別、プロジェクト名カラムが固定) %>
  <%# 上固定 %>
  table.report_settings.project_settings thead tr th {
    position: sticky;
    top: 0;
  }

  <%# 上固定かつ左固定 %>
  table.report_settings.project_settings thead tr th:first-child {
    position: sticky;
    left: 1px;
    z-index: 2;
    min-width: 50px;
  }

  table.report_settings.project_settings thead tr th:nth-child(2) {
    position: sticky;
    left: 50px;
    z-index: 2;
    min-width: 20em;
  }

  table.report_settings.project_settings thead tr th:nth-child(3+n) {
    z-index: 1;
  }

  <%# 左固定 %>
  table.report_settings.project_settings tbody tr td:first-child {
    position: sticky;
    left: 1px;
    z-index: 1;
  }

  table.report_settings.project_settings tbody tr td:nth-child(2) {
    position: sticky;
    left: 50px;
    z-index: 1;
  }

  table.report_settings.project_settings tbody tr td:nth-child(3+n) {
    z-index: 0;
  }

  <%# バージョンタブ(プロジェクト名、バージョン名、共有カラムが固定) %>
  <%# 上固定 %>
  table.report_settings.version_settings thead tr th {
    position: sticky;
    top: 0;
  }

  <%# 上固定かつ左固定 %>
  table.report_settings.version_settings thead tr th:first-child {
    position: sticky;
    left: 1px;
    z-index: 2;
    min-width: 20em;
  }

  table.report_settings.version_settings thead tr th:nth-child(2) {
    position: sticky;
    left: 20em;
    z-index: 2;
    min-width: 20em;
  }

  table.report_settings.version_settings thead tr th:nth-child(3) {
    position: sticky;
    left: 40em;
    z-index: 2;
    min-width: 12em;
  }

  table.report_settings.version_settings thead tr th:nth-child(4+n) {
    z-index: 1;
  }

  <%# 左固定 %>
  table.report_settings.version_settings tbody tr td:first-child {
    position: sticky;
    left: 1px;
    z-index: 1;
  }

  table.report_settings.version_settings tbody tr td:nth-child(2) {
    position: sticky;
    left: 20em;
    z-index: 1;
  }

  table.report_settings.version_settings tbody tr td:nth-child(3) {
    position: sticky;
    left: 40em;
    z-index: 1;
  }

  table.report_settings.version_settings tbody tr td:nth-child(4+n) {
    z-index: 0;
  }

</style>
