.contentHeader {
  align-items: flex-end;
  display: flex;
  padding-bottom: 4px;
  justify-content: space-between;
  background-color: #fff;
  height: 32px;
}

.tableWrapper {
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.new {
  margin: 0 0 4px;
}

.stickyHeader {
  top: 0;
  z-index: 99;
}

.stickyStatusHeader {
  border: 1px solid #aaa;
  top: 86px;
  z-index: 98;
}

.stickyFooter {
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 97;
}

:lang(x)::-moz-placeholder,
.stickyStatusHeader div[data-sync-scroll="default"],
.tableWrapper div[data-sync-scroll="default"] {
  scrollbar-width: none;
}

@media screen and (max-width: 899px) {
  .stickyHeader {
    top: 64px;
  }

  :global(.task-kanban-is-fullscreen) .stickyHeader {
    top: 0;
  }

  .stickyStatusHeader {
    top: 146px;
  }

  :global(.task-kanban-is-fullscreen) .stickyStatusHeader {
    top: 82px;
  }
}

@media print {
  .stickyFooter {
    visibility: hidden;
  }
}
