var notes = $('#issue_notes').val();
if (notes > "") { notes = notes + "\n\n"}

$('#issue_notes').blur().focus().val(notes + "<%= raw escape_javascript(@content) %>");
<%
  # when quoting a private journal, check the private checkbox
  if @journal && @journal.private_notes?
%>
$('#issue_private_notes').prop('checked', true);
<% end %>

