<div id="csv-export-options" style="display:none;">
  <h3 class="title"><%= l(:label_export_options, export_format: 'CSV') %></h3>
  <%= form_tag(projects_path(format: 'csv'), method: :get, id: 'csv-export-form') do %>
    <%= query_as_hidden_field_tags(query) %>
    <p>
      <label><%= radio_button_tag 'c[]', '', true %> <%= l(:description_selected_columns) %></label><br />
      <label><%= radio_button_tag 'c[]', 'all_inline' %> <%= l(:description_all_columns) %></label>
    </p>
    <%= export_csv_encoding_select_tag %>
    <p class="buttons">
      <%= submit_tag l(:button_export), name: nil, onclick: "hideModal(this);",
        data: (Alm.rails5_or_later? ? { disable_with: false } : {}) %>
      <%= link_to_function l(:button_cancel), "hideModal(this);" %>
    </p>
  <% end %>
</div>
