<%= render_query_totals(@query) %>
<div class="autoscroll">
  <table class="list projects odd-even">
    <thead>
      <tr>
        <% @query.inline_columns.each do |column| %>
          <%= column_header(@query, column) %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% grouped_project_list(entries, @query) do |project, level, group_name, group_count, group_totals| %>
        <% if group_name %>
          <% reset_cycle %>
          <tr class="group open"
              data-group-value="<%= @query.group_by_column.value(project) %>">
            <td colspan="<%= @query.inline_columns.size %>">
              <span class="expander icon icon-expended">&nbsp;</span>
              <span class="name"><%= group_name %></span>
              <% if group_count %>
                <span class="count"><%= group_count %></span>
              <% end %>
              <span class="totals"><%= group_totals %></span>
              <span class='toggle-all'>
                <%= "#{l(:button_collapse_all)}/#{l(:button_expand_all)}" %>
              </span>
            </td>
          </tr>
        <% end %>
        <tr class="<%= column_row_css_classes(project, level) %>"
            data-project-id="<%= project.id %>"
            data-group-value="<%= @query.group_by_column.try(:value, project) %>">
          <% @query.inline_columns.each do |column| %>
            <td class="<%= column.css_classes %>">
              <%= content_tag('span', nil, class: 'hierarchy') if column.name == :name %>
              <%= column_content(column, project) %>
            </td>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>
<%= render partial: 'lychee_project_view/csv_export_options', locals: { query: @query } %>
