<table>
  <tr>
    <td><%= l(:field_column_names) %></td>
    <td><%= render partial: 'queries/columns', locals: { query: query, tag_name: 'c[]' } %></td>
  </tr>
  <% if @query.groupable_columns.any? %>
    <tr>
      <td><%= l(:field_group_by) %></td>
      <td><%= group_by_column_select_tag(@query) %></td>
    </tr>
  <% end %>
  <% if @query.available_totalable_columns.any? %>
    <tr>
      <td><%= l(:label_total_plural) %></td>
      <td><%= available_totalable_columns_tags(@query) %></td>
    </tr>
  <% end %>
</table>
