.container {
  border: 1px solid #000;
  margin-bottom: 5px;
}

.header {
  align-items: center;
  background-color: #666;
  color: #fff;
  display: flex;
  height: 32px;
  padding-left: 5px;
}

.header b {
  margin-left: 10px;
}

.closed {
  height: 0;
  overflow: hidden;
}
