.container {
  background: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 4px, rgba(0, 0, 0, 0.3) 0 4px 8px;
  width: 800px;
  border-radius: 3px;
}

.thin-container {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 4px, rgba(0, 0, 0, 0.3) 0 4px 8px;
  width: 360px;
  border-radius: 3px;
  padding: 2px;
}

.container header,
.thin-container header {
  align-items: center;
  background: #ddd;
  box-sizing: border-box;
  display: flex;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.25rem 1.5rem 0.25rem 0.25rem;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
}

.container.editing header,
.thin-container.editing header {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.container header .edit,
.container header .cancel,
.thin-container header .edit,
.thin-container header .cancel {
  cursor: pointer;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  padding: 0.25rem;
}

.container header .edit::before,
.thin-container header .edit::before {
  content: url(@/images/edit.png);
}

.container header .cancel::before,
.thin-container header .cancel::before {
  content: url(@/images/cancel.png);
}

.container .main {
  max-height: 700px;
  overflow: auto;
}

.container .body,
.thin-container .body {
  padding: 0 6px;
}

.item {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
}

.field {
  align-items: center;
  border-bottom: #ddd 1px solid;
  display: flex;
  padding: 0.4rem 0;
  background-color: #f9f9f9;
}

.description {
  width: 100%;
}

.description > .field {
  border-top: #ddd solid 1px;
  border-bottom: 0;
}

.notes > .field {
  width: 100%;
  padding: 15px 0;
  border-top: #ddd solid 1px;
  border-bottom: 0;
}

.project-row {
  display: flex;
  border-bottom: #ddd 1px solid;
}

.project-row .field {
  border-bottom: 0;
}

.project-row > label {
  align-items: center;
  display: flex;
  margin: 0 1.5em 0 auto;
}

.item-row {
  background-color: #f9f9f9;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item-row > .field {
  width: 50%;
}

.container header .field,
.thin-container header .field {
  background-color: transparent;
  margin-left: 0.4rem;
}

.item-row > .section > .field {
  width: 50%;
}

.item-row > .wide-section > .field {
  width: 100%;
  border-top: #ddd solid 1px;
  border-bottom: 0;
}

.item-row:last-child {
  border-bottom: 0;
}

.section,
.wide-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.section .field:last-child,
.section .field:nth-child(odd):nth-last-child(2) {
  border-bottom: 0;
}

.field > div {
  word-break: break-all;
}

.field.tracker_id {
  min-width: 7.5rem;
}

.field.subject {
  white-space: pre-line;
  word-break: break-all;
}

.field.subject,
.field.subject input {
  width: 100%;
}

.field.text {
  display: block;
  word-break: break-word;
}

.attachments {
  border-top: #ddd solid 1px;
  border-bottom: 0;
  padding: 0.4em 0;
}

.attachments label {
  margin: 0 0.75em;
  font-weight: bold;
}

.attachments > ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0 0.5em;
}

.attachments > ul > li {
  margin: 0.125em 1.5em;
}

.attachments span {
  margin: 0 0.25em;
  vertical-align: middle;
}

.attachments .upload {
  padding: 0 0.5em 0 2em;
}

.attachments .upload > span {
  margin: 4px 0;
  display: flex;
  overflow: clip;
  height: 1.6em;
  align-items: center;
}

.attachments .upload > input {
  margin: 1em 0 0 0;
  display: block;
}

.attachments .upload .filename {
  width: 25%;
  overflow: clip;
  white-space: nowrap;
}

.attachments .upload .description {
  width: 40%;
  margin: 0 0 0 20px;
  height: 1.4em;
}

.field > label {
  font-size: 12px;
  font-weight: bold;
  padding: 0 0.5rem;
  min-width: 7.5rem;
  max-width: 7.5rem;
  word-break: break-all;
}

.journals {
  background: #f9f9f9;
  padding: 0.1rem;
}

.journals .upper-space {
  box-sizing: border-box;
  margin: 15px 0 10px;
  padding: 0  0.5rem 0 0.85rem;
  background: #f5f5f5;
}

.journals label {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.25rem 0;
  min-width: 6rem;
  max-width: 20rem;
  word-break: break-all;
  display: flex;
  align-items: center;
}

.journals p {
  margin: 0 1.5rem 0.5rem 0.5rem;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.journals .icon {
  background: url("@/images/comment.png") 50% 50% no-repeat;
}

.journals .row {
  border-top: #ddd 1px solid;
  font-size: 0.9em;
  display: flex;
}

.journals .row .gravatar {
  width: 3%;
  margin: 0.5em;
}

.journals .content {
  width: 97%;
  word-break: break-word;
}

.journals .content-full {
  width: 100%;
  word-break: break-word;
}

.journals .update-info {
  display: flex;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.journals .update-info a {
  margin: 0 0 0 auto;
}

.journals .row .private {
  padding: 0.15em 0.3em;
  margin: 0 0.75em;
  border-radius: 3px;
  color: #fff;
  background: #d22;
  font-size: 0.85em;
  line-height: 1;
}

.editing .field.required > label::after {
  content: '*';
  color: red;
}

.field pre {
  margin: 0;
  max-height: 10rem;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-line;
  word-break: break-all;
}

.field textarea {
  box-sizing: border-box;
  resize: vertical;
  width: 95%;
  margin-left: 14px;
  margin-bottom: 10px;
}

.field select {
  background-color: #eee;
  border: #ccc 1px solid;
  height: 1.5rem;
  max-width: 10rem;
}

.field.tracker_id select {
  max-width: 6rem;
}

.field select[multiple] {
  height: auto;
}

.spacetext > div {
  height: 20px;
}

.container footer,
.thin-container footer {
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding: 8px 16px;
  text-align: right;
  background-color: #f9f9f9;
}

.container footer {
  margin: 0 0 40px 0;
}

.container footer .save,
.thin-container footer .save {
  background: #888;
  border: 2px solid #666;
  border-radius: 3px;
  color: #fff;
  padding: 2px 8px;
}

.container footer .cancel,
.thin-container footer .cancel {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  margin-right: 8px;
  text-decoration: none;
}

.wrapper_download_all_attachments {
  float: right;
  white-space: nowrap;
  line-height: 1.4em;
  margin: 5px 0;
  padding-left: 10px;
  font-size: 0.9em;
}
