.container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.list {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.list::after {
  content: '';
  display: block;
  height: 46px;
}

.pointBorder {
  background: red;
  height: 2px;
}
