<% content_for :header_tags do %>
  <%= javascript_include_tag 'ccpmStorage', plugin: 'lychee_ccpm' %>
<% end %>

<%= javascript_tag do %>
  ccpmSetItem({
    id: '<%= issue.id.to_s %>',
    startDate: '<%= issue.start_date.to_s %>',
    dueDate: '<%= issue.due_date.to_s %>',
    remaining: '<%= issue.remaining_estimate.to_s %>'
  });
<% end %>
