<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'due_date_recalculated', plugin: 'lychee_ccpm' %>
  <%= javascript_include_tag 'ccpmStorage', plugin: 'lychee_ccpm' %>
<% end %>

<%= javascript_tag do %>
  const ccpmCurrentItem = {
    id: '<%= issue.id.to_s %>',
    startDate: '<%= issue.start_date.to_s %>',
    dueDate: '<%= issue.due_date.to_s %>',
    remaining: '<%= issue.remaining_estimate.to_s %>'
  };
  const ccpmPrevItem = ccpmGetItem();
  if(ccpmItemChanged(ccpmPrevItem, ccpmCurrentItem)) {
    $('div.due-date > .value').first().addClass('ccpm_due_date_recalculated');
  }
<% end %>
