<%
  plugin = Redmine::Plugin.find(plugin_id)
  manifest = JSON.parse(File.read(File.join(plugin.assets_directory, 'bundle', 'manifest.json')))
  entry_manifest = manifest[entry]
  assets_dir = "/plugin_assets/#{plugin_id}/bundle"
%>
<% content_for :header_tags do %>
  <% Array.wrap(entry_manifest['css']).each do |filename| %>
    <%= stylesheet_link_tag "#{assets_dir}/#{filename}" %>
  <% end %>
<% end %>
<%= javascript_include_tag "#{assets_dir}/#{entry_manifest['file']}", type: 'module' %>
