<fieldset class="box">
  <legend><%= t(:label_connect_outlook) %></legend>
  <p>
    <%= label_tag(:settings_enable_connect_outlook, t(:button_activate)) %>
    <%= hidden_field_tag('settings[enable_connect_outlook]', '0') %>
    <%= check_box_tag('settings[enable_connect_outlook]', '1', LycheeWorkPlan::AadApplication.enabled?) %>
  </p>
  <p>
    <%= label_tag(:settings_azure_application_client_id, t(:label_oauth_client_id)) %>
    <%= text_field_tag('settings[azure_application_client_id]', LycheeWorkPlan::AadApplication.client_id, class: 'longer_text_field') %>
  </p>
  <p>
    <%= label_tag(:settings_azure_application_client_secret, t(:label_oauth_client_secret)) %>
    <%= text_field_tag('settings[azure_application_client_secret]', LycheeWorkPlan::AadApplication.client_secret, class: 'longer_text_field') %>
  </p>
</fieldset>
