<% html_title t(:label_lychee_work_plan) %>

<div id="root"></div>
<%= render Rails.env, plugin_id: 'lychee_work_plan', entry: 'src/main.tsx' %>
<script type="module">
  LycheeWorkPlan.start(document.getElementById('root'), <%= {
    baseURL: Redmine::Utils.relative_url_root,
    noticeMessage: flash.notice || '',
    errorMessage: flash[:error] || '',
    nonWorkingWeekDays: non_working_week_days,
    restdays: LycheeWorkPlan::External.restdays,
    dayHours: LycheeWorkPlan::External.day_hours,
    timespanFormat: Setting.timespan_format,
    enableConnectOutlook: LycheeWorkPlan::AadApplication.enabled?,
    enableMicrosoftGraphCalendar: (
      LycheeWorkPlan::AadApplication.enabled? &&
      !!User.current.aad_credential
    ),
    currentUser: { id: User.current.id, name: User.current.name },
    targetUsers: @editable_work_plan_users,
    locales: {
      title: t('label_lychee_work_plan'),
      distributed_workloads: t('label_your_distributed_workloads'),
      working_hours_blank: t('label_planned_working_hours_is_blank'),
      project: t('field_project'),
      parentIssue: t('field_parent_issue'),
      description: t('field_description'),
      status: t('field_status'),
      priority: t('field_priority'),
      fixedVersion: t('field_fixed_version'),
      category: t('field_category'),
      startDate: t('field_start_date'),
      dueDate: t('field_due_date'),
      estimatedHours: t('field_estimated_hours'),
      field_assigned_to: t('field_assigned_to'),
    },
  }.to_json.html_safe %>)
</script>
<% flash.delete(:notice).delete(:error) # フロントエンドで処理するため %>
