<%- tooltip_description_suffix = @project.lychee_evm_enabled? ? '_with_evm' : '' -%>
<% if User.current.allowed_to?(:manage_lychee_cost, @project) || User.current.allowed_to?(:browse_lychee_cost, @project) %>
  <% lychee_cost_info = lychee_cost_info(@project) %>
  <div class="lychee-cost-cash-forecast box" style="display: none">
    <h3 class="icon icon-lychee-cost-cash-forecast"><%= t('lychee_cost.project_description.cash_forecast') %></h3>
    <span class="lychee-cost-cash-forecast__unit-description">
      <%= t('field_unit') %> : <%= t('lychee_cost.project_description.unit') %>
    </span>
    <table class="lychee-cost-cash-forecast__table list">
      <tbody>
        <tr>
          <th class="lychee-cost-cash-forecast__table-header"><%= t('lychee_cost.project_description.budget') %></th>
          <td class="lychee-cost-cash-forecast__table-data"><%= number_with_delimiter(((lychee_cost_info[:lychee_cost_budget] || 0).to_f / 1000).round) %></td>
          <td></td>
        </tr>
        <tr>
          <th class="lychee-cost-cash-forecast__table-header">
            <span class="tree-expander tree-expander-collapsed"></span>
            <span><%= t('lychee_cost.project_description.cost_total') %></span>
          </th>
          <td class="lychee-cost-cash-forecast__table-data">
            <%= number_with_delimiter((lychee_cost_info[:total_cost].to_f / 1000).round)  %>
          </td>
          <td class="lychee-cost-cash-forecast__table-ac-data">
            <%= number_with_delimiter((lychee_cost_info[:total_actual_cost].to_f / 1000).round)  %>
          </td>
        </tr>
        <tr>
          <th class="lychee-cost-cash-forecast__table-header lychee-cost-cash-forecast__child-table-header"
              title="<%= t("lychee_cost.project_description.cost_eac_description#{tooltip_description_suffix}") %>"><span class="lychee-cost-cash-forecast__with-tooltip"><%= t('lychee_cost.project_description.cost_eac') %></span></th>
          <td class="lychee-cost-cash-forecast__table-data">
            <%= number_with_delimiter((lychee_cost_info[:estimated_at_completion].to_f / 1000).round)  %>
          </td>
          <td class="lychee-cost-cash-forecast__table-ac-data">
            <%= number_with_delimiter((lychee_cost_info[:actual_cost].to_f / 1000).round) %>
          </td>
        </tr>
        <tr>
          <th class="lychee-cost-cash-forecast__table-header lychee-cost-cash-forecast__child-table-header"
              title="<%= t("lychee_cost.project_description.cost_others_description#{tooltip_description_suffix}") %>"><span class="lychee-cost-cash-forecast__with-tooltip"><%= t('lychee_cost.project_description.cost_others') %></span></th>
          <td class="lychee-cost-cash-forecast__table-data">
            <%= number_with_delimiter((lychee_cost_info[:other_cost].to_f / 1000).round)  %>
          </td>
          <td class="lychee-cost-cash-forecast__table-ac-data">
            <%= number_with_delimiter((lychee_cost_info[:other_actual_cost].to_f / 1000).round)  %>
          </td>
        </tr>
        <tr>
          <th class="lychee-cost-cash-forecast__table-header"><%= t('lychee_cost.project_description.expenses') %></th>
          <td class="lychee-cost-cash-forecast__table-data">
            <%= number_with_delimiter((lychee_cost_info[:lychee_cost_total_expenses].to_f / 1000).round) %>
          </td>
          <td class="lychee-cost-cash-forecast__table-ac-data">
            <%= number_with_delimiter((lychee_cost_info[:lychee_cost_current_expenses].to_f / 1000).round) %>
          </td>
        </tr>
        <tr>
          <th class="lychee-cost-cash-forecast__table-header"><%= t('lychee_cost.project_description.profit') %></th>
          <td class="lychee-cost-cash-forecast__table-data">
            <%= number_with_delimiter((lychee_cost_info[:profit].to_f / 1000).round) %>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <span class="lychee-cost-cash-forecast__footnote"><%= t('lychee_cost.project_description.footnote') %></span>
  </div>
  <script>
  // 概要の直後に挿入したい
  $(document).ready(function () {
    var lycheeCostCashForecast = document.querySelector('.lychee-cost-cash-forecast');
    var splitcontentleft = document.querySelector('.splitcontentleft');
    splitcontentleft.insertBefore(lycheeCostCashForecast, splitcontentleft.querySelector('.box'));
    lycheeCostCashForecast.style.display = 'block';
  });
  </script>
<% end %>
