<%=  stylesheet_link_tag 'lychee_cost', plugin: 'lychee_cost' %>
<%= javascript_include_tag 'lychee_cost', plugin: 'lychee_cost' %>

<% if params[:controller] == 'imports' && params[:action] == 'mapping' && @import.type == 'UserImport' %>
  <p id='cost_group_mapping_field'>
    <label for="import_mapping_cost_group"><%= l(:field_cost_group) %></label>
    <%= mapping_select_tag @import, 'cost_group' %>
  </p>
  <%= javascript_tag do %>
    $(function(){
      $('.splitcontentleft').append($('#cost_group_mapping_field'));
    });
  <% end %>
<% end %>
