/* common */
#lychee_organization_principals .organization,
#list_organizations .member {
  position: relative;
}

#lychee_organization_principals .tree-expander-expanded,
#list_organizations .tree-expander-expanded {
  background-image: url(../images/expandable-expanded.png);
}

#lychee_organization_principals .tree-expander-collapsed,
#list_organizations .tree-expander-collapsed {
  background-image: url(../images/expandable-collapsed.png);
}

#lychee_organization_principals .organization .icon-user,
#list_organizations .member .icon-user {
  background-image: url(../../../images/user.png);
  background-repeat: no-repeat;
}

#lychee_organization_principals .organization .tree-expander,
#list_organizations .member .tree-expander {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 2px 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* /groups */
#list_organizations tr.organization.idnt td.name {
  background-image: url(../../../images/arrow_right.png),
                    url(../../../images/bullet_arrow_right.png);
  background-repeat: no-repeat;
}

#list_organizations tr.organization.idnt-1 td.name {padding-left: 24px; background-position: 8px 50%;}
#list_organizations tr.organization.idnt-2 td.name {padding-left: 40px; background-position: 24px 50%;}
#list_organizations tr.organization.idnt-3 td.name {padding-left: 56px; background-position: 40px 50%;}
#list_organizations tr.organization.idnt-4 td.name {padding-left: 72px; background-position: 56px 50%;}
#list_organizations tr.organization.idnt-5 td.name {padding-left: 88px; background-position: 72px 50%;}
#list_organizations tr.organization.idnt-6 td.name {padding-left: 104px; background-position: 88px 50%;}
#list_organizations tr.organization.idnt-7 td.name {padding-left: 120px; background-position: 104px 50%;}
#list_organizations tr.organization.idnt-8 td.name {padding-left: 136px; background-position: 120px 50%;}
#list_organizations tr.organization.idnt-9 td.name {padding-left: 152px; background-position: 136px 50%;}

/* projects/:project_id/settings/memberships/new */
#lychee_organization_principals {
  column-width: auto;
  -webkit-column-width:  auto;
  -moz-column-width: auto;
}

#lychee_organization_principals .organization .icon,
#lychee_organization_principals .organization .gravatar {
  margin: 0 3px;
}

#lychee_organization_principals .organization.root label {padding-left: 24px; background-position: 8px 50%;}
#lychee_organization_principals .organization.idnt-1 label {padding-left: 40px; background-position: 24px 50%;}
#lychee_organization_principals .organization.idnt-2 label {padding-left: 56px; background-position: 40px 50%;}
#lychee_organization_principals .organization.idnt-3 label {padding-left: 72px; background-position: 56px 50%;}
#lychee_organization_principals .organization.idnt-4 label {padding-left: 88px; background-position: 72px 50%;}
#lychee_organization_principals .organization.idnt-5 label {padding-left: 104px; background-position: 88px 50%;}
#lychee_organization_principals .organization.idnt-6 label {padding-left: 120px; background-position: 104px 50%;}
#lychee_organization_principals .organization.idnt-7 label {padding-left: 136px; background-position: 120px 50%;}
#lychee_organization_principals .organization.idnt-8 label {padding-left: 152px; background-position: 136px 50%;}
#lychee_organization_principals .organization.idnt-9 label {padding-left: 168px; background-position: 152px 50%;}

#lychee_organization_principals .organization.root .tree-expander {left: 4px;}
#lychee_organization_principals .organization.idnt-1 .tree-expander {left: 20px;}
#lychee_organization_principals .organization.idnt-2 .tree-expander {left: 36px;}
#lychee_organization_principals .organization.idnt-3 .tree-expander {left: 52px;}
#lychee_organization_principals .organization.idnt-4 .tree-expander {left: 68px;}
#lychee_organization_principals .organization.idnt-5 .tree-expander {left: 84px;}
#lychee_organization_principals .organization.idnt-6 .tree-expander {left: 100px;}
#lychee_organization_principals .organization.idnt-7 .tree-expander {left: 116px;}
#lychee_organization_principals .organization.idnt-8 .tree-expander {left: 132px;}
#lychee_organization_principals .organization.idnt-9 .tree-expander {left: 148px;}

/* projects/:project_id/settings/members */
#tab-content-members .contextual {
  margin: 0 auto;
}

#list_organizations {
  margin: 5px 0;
}

#list_organizations .member {
  min-height: 20px;
}

#list_organizations .member td.name {
  position: relative;
}

#list_organizations .member .tree-expander {
  background-position: 50% 0;
  margin: 0;
}

#list_organizations tr.member.root td.name {padding-left: 44px !important; background-position: 24px 50%;}
#list_organizations tr.member.idnt-1 td.name {padding-left: 60px !important; background-position: 40px 50%;}
#list_organizations tr.member.idnt-2 td.name {padding-left: 76px !important; background-position: 56px 50%;}
#list_organizations tr.member.idnt-3 td.name {padding-left: 92px !important;  background-position: 72px 50%;}
#list_organizations tr.member.idnt-4 td.name {padding-left: 108px !important; background-position: 88px 50%;}
#list_organizations tr.member.idnt-5 td.name {padding-left: 124px !important; background-position: 104px 50%;}
#list_organizations tr.member.idnt-6 td.name {padding-left: 140px !important; background-position: 120px 50%;}
#list_organizations tr.member.idnt-7 td.name {padding-left: 156px !important; background-position: 136px 50%;}
#list_organizations tr.member.idnt-8 td.name {padding-left: 172px !important; background-position: 152px 50%;}
#list_organizations tr.member.idnt-9 td.name {padding-left: 188px !important; background-position: 168px 50%;}

#list_organizations .member.root .tree-expander {left: 4px;}
#list_organizations .member.idnt-1 .tree-expander {left: 20px;}
#list_organizations .member.idnt-2 .tree-expander {left: 36px;}
#list_organizations .member.idnt-3 .tree-expander {left: 52px;}
#list_organizations .member.idnt-4 .tree-expander {left: 68px;}
#list_organizations .member.idnt-5 .tree-expander {left: 84px;}
#list_organizations .member.idnt-6 .tree-expander {left: 100px;}
#list_organizations .member.idnt-7 .tree-expander {left: 116px;}
#list_organizations .member.idnt-8 .tree-expander {left: 132px;}
#list_organizations .member.idnt-9 .tree-expander {left: 148px;}
