div.issue-set {
  background: #ffffdd;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
}

#projects_issue_sets_attributes {
  padding-left: 180px;
}

#projects_issue_sets_attributes label.project_name {
  display: inline;
}

@media screen and (max-width: 899px){
  #projects_issue_sets_attributes {
    padding-left: 0px;
  }
}

/* Redmine4.0以下で .icon-only::after の空白表示を消すため */
.icon-only.sort-handle {
  width: 0;
}
