.issue-form-table {
  display: inline-block;
}

#issue-form-table-enable-scroll {
  overflow-x: auto;
}

.issue-form-table th.exclude {
  min-width: 20px;
  width: 20px
}

.issue-form-table td.exclude {
  min-width: 12px;
  width: 12px;
  padding: 0px !important;
  background-position: center;
}

.issue-form-table tr.exclude {
  background-color: #CCC !important;
}

.issue-form-table th,
.issue-from-table td {
  min-width: 80px;
}

.issue-form-table th.checkbox,
.issue-form-table td.checkbox {
  min-width: 20px;
}

.issue-form-table td.estimated-hours{
  white-space: nowrap;
}

/*
  sidebar_hideのCSSの影響で日付選択のダイアログが後ろに隠れてしまわないようにする
  干渉しているのは以下のCSS
  https://gitlab.com/bdemirkir/sidebar_hide/blob/5edf9fac98ea9b146de8f2432cc87c2b884686bb/assets/stylesheets/sidebar_hide.css#L1-3
*/
.controller-issue_forms > #ui-datepicker-div {
  z-index: 102 !important;
}

.icon-issue-form-exclude {
  background-image: url(../images/exclude.png);
  /* カスタムテーマ(Bleuclair)で表示ずれが発生するため入れている */
  padding-left: 17px !important;
}
