div.issue-template {
  background: #ffffdd;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
}

div.issue-template .attributes {
  margin-top: 2em;
}

div.issue-template  .splitcontent  .attribute {
  padding-left: 180px;
  clear: left;
  min-height: 1.8em;
}

div.issue-template .attribute .label {
  width: 170px;
  margin-left: -180px;
  font-weight: bold;
  float: left;
}

#issue_template_tree table.issue-templates {
  border: 0;
}

p span#predecessor_fields {
  display: none;

tr.issue.idnt td.subject span {
  background: url(../../../images/bullet_arrow_right.png)
  no-repeat 0 50%;
  padding-left: 16px;
}
