.assigned_kanban_table_header {
  min-height: 26px;
}

.container {
  background-color: #2e5b63;
  border: solid 1px #aaa;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-weight: bold;
  flex-direction: row;
  overflow: hidden;
}

.status_container {
  flex-grow: 1;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column,
.status_column {
  box-sizing: border-box;
  padding-bottom: 6px;
  padding-top: 6px;
  text-align: center;
}

.column {
  box-sizing: border-box;
  width: 240px;
  min-width: 240px;
}

.status_column {
  flex: 1 0 0%;
  min-width: 250px;
}

.column,
.status_column:not(:last-child) {
  border-right: solid 1px #aaa;
}
