<%= hidden_field_tag 'project_id', @project.id %>
<%= javascript_include_tag 'submit_possible_value', plugin: :lychee_custom_field %>
<%= stylesheet_link_tag 'per_project_lists', plugin: :lychee_custom_field %>
<% smart_custom_fields_list = all_issue_smart_custom_fields(@project, :list) %>
<% smart_custom_fields_kvs = all_issue_smart_custom_fields(@project, :enumeration) %>

<% if smart_custom_fields_list.any? || smart_custom_fields_kvs.any? %>
  <%= stylesheet_link_tag :smart_custom_field, plugin: :lychee_custom_field %>

  <% smart_custom_fields_list.each do |custom_field| %>
    <%= form_tag update_all_per_project_list_path(@project, custom_field), method: :put do %>
      <fieldset class="box">
        <legend>
          <%= custom_field.name %>
        </legend>
        <% per_project_list = Lychee::PerProjectList.find_or_create_by(project: @project, custom_field: custom_field) %>
        <div id="possible_values_list_<%= custom_field.id %>" class="box">
          <% per_project_list.available_values.each_with_index do |item, index| %>
            <div id="possible_value_<%= "#{custom_field.id}_#{index}" %>">
              <%= render partial: 'per_project_lists/possible_value',
                         locals: { per_project_list: per_project_list, item: item, index: index } %>
            </div>
          <% end %>
          <div>
            <span class="list-spacer"></span>
            <%= hidden_field_tag "add_possible_value_path_#{custom_field.id}", add_possible_value_path(@project, custom_field) %>
            <%= text_field_tag :possible_value, '', id: "text_add_possible_value_#{custom_field.id}", size: 40 %>
            <%= button_to t(:button_add), 'javascript:void(0);',
                          name: :add_possible_value,
                          class: 'add_possible_value',
                          data: { 'custom-field-id' => custom_field.id } %>
          </div>
        </div>
        <p><%= submit_tag l(:button_save) %></p>
      </fieldset>
    <% end %>
    <%= javascript_tag do %>
    $(function() {
    $("#possible_values_list_<%= custom_field.id %>").sortable({
        handle: ".sort-handle",
        update: function(event, ui) {
        $("#possible_values_list_<%= custom_field.id %> div").each(function(){
            $(this).find("input.position").val($(this).index()+1);
          });
        }
      });
    });
    <% end %>
  <% end %>

  <% smart_custom_fields_kvs.each do |custom_field| %>
      <% enumerations = Lychee::PerProjectKv.project_and_cf(@project, custom_field).order(:position) %>
      <% Lychee::PerProjectKv.copy_if_empty(@project, custom_field) unless enumerations.any? %>
      <%= form_tag update_all_per_project_kv_path(@project, custom_field), method: :put do %>
        <fieldset class="box">
        <legend>
          <%= custom_field.name %>
        </legend>
        <div class="box">
          <ul id="per_project_enumerations_<%= custom_field.id %>" class="flat ui-sortable">
            <% enumerations.each_with_index do |e, idx| %>
              <%= render partial: 'per_project_kvs/possible_value',
                         locals: { project: @project,
                                   custom_field: custom_field,
                                   enumerations: enumerations,
                                   enumeration: e,
                                   index: idx } %>
             <% end %>
            <li>
              <span class="list-spacer"></span>
              <%= hidden_field_tag "add_possible_enumeration_path_#{custom_field.id}", add_possible_enumeration_path(@project, custom_field) %>
              <%= text_field_tag :possible_enumeration, '', id: "text_add_possible_enumeration_#{custom_field.id}", size: 40 %>
              <%= button_to t(:button_add), 'javascript:void(0);',
                            name: :add_possible_enumeration,
                            class: 'add_possible_enumeration',
                            data: { 'custom-field-id' => custom_field.id } %>
            </li>
          </ul>
        </div>
        <p><%= submit_tag(l(:button_save)) %></p>
        </fieldset>
      <% end %>
    <%= javascript_tag do %>
    $(function() {
      $("#per_project_enumerations_<%= custom_field.id %>").sortable({
        handle: ".sort-handle",
        update: function(event, ui) {
          $("#per_project_enumerations_<%= custom_field.id %> li").each(function(){
            $(this).find("input.position").val($(this).index()+1);
          });
        }
      });
    });
    <% end %>
  <% end %>
<% else %>
  <p class='nodata'><%= l(:label_no_data) %></p>
<% end %>
