.loadingPanel {
  height: 60px;
  width: 300px;
  background-color: black;
  text-align: center;
  margin: 0 auto;
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.loadingPanel p {
  color: white;
  line-height: 60px;
  margin: auto;
}
