<% content_for :header_tags do %>
  <%= javascript_include_tag "lrm", plugin: "lrm" %>
  <%= javascript_include_tag "select2/select2.min.js", plugin: "lrm" %>
  <%= stylesheet_link_tag "select2.css", plugin: "lrm" %>

  <%= stylesheet_link_tag('monthrangepicker.css', plugin: 'lrm') %>
  <%= javascript_include_tag('moment.min.js', plugin: 'lrm') %>
  <%= javascript_include_tag('monthrangepicker.js', plugin: 'lrm') %>
  <%= javascript_include_tag('lrm_monthrangepicker.js', plugin: 'lrm') %>
<% end %>

<script type="text/javascript">
  $(function() {
    Lrm.initialize();
    $('input[name="lrm_query[visibility]"]').on('change', function(){
      if ($('input[name="lrm_query[visibility]"]:checked').val() === '0' ) {
        $("#is_default").prop('checked', false);
        $("#is_default").prop('disabled', true);
      } else {
        $("#is_default").prop('disabled', false);
      }
    }).trigger('change');
  });
</script>

<%= error_messages_for 'query' %>

<%= form_for @query do |f| %>
  <%= hidden_field_tag :prev_action, params[:prev_action] %>
  <%= hidden_field_tag :prev_controller, params[:prev_controller] %>
  <div class="box">
    <div class="tabular">
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, size: 80 %>
      </p>
      <p>
        <%= f.label l(:field_visible) %>
        <label class="block"><%= f.radio_button :visibility, LrmQuery::VISIBILITY_PRIVATE %> <%= l(:label_visibility_private) %></label>
        <label class="block"><%= f.radio_button :visibility, LrmQuery::VISIBILITY_PUBLIC %> <%= l(:label_visibility_public) %></label>
      </p>

      <p>
        <%= f.label :period, t(:period) %>
        <span>
          <%= f.send date_field_method, :from_date, size: 10 %>
          <%= calendar_for 'lrm_query_from_date' %>
        </span>
        <span>
          〜
        </span>
        <span>
          <%= f.send date_field_method, :to_date, size: 10 %>
          <%= calendar_for 'lrm_query_to_date' %>
        </span>
        <a data-lrm-monthdatepicker-button
           data-lrm-monthdatepicker-language="<%= current_language %>"
           data-lrm-monthdatepicker-from-date="#lrm_query_from_date"
           data-lrm-monthdatepicker-to-date="#lrm_query_to_date"
           href="#"><%= l(:set_condition_period_by_month) %></a>
      </p>

      <p>
        <%= f.label :time_series, t(:time_series) %>
        <%= f.select :time_series, [
          [t('time_series_options.day'), TimeSeries::DAY],
          [t('time_series_options.week'), TimeSeries::WEEK],
          [t('time_series_options.month'), TimeSeries::MONTH]
        ] %>
      </p>

      <p>
        <%= f.label :is_default, t(:is_default) %>
        <%= f.check_box :is_default, id: :is_default %>
      </p>

      <p>
        <%= f.label :group_keys, t(:field_group_keys) %>
        <% 3.times do |i| %>
          <%= content_tag(:span, "#{i+1}:")%>
          <%= select_tag 'lrm_query[group_keys][]',
                         group_key_options(selected: @query.group_keys[i]),
                         id: :group_keys %>
          <br />
        <% end %>
      </p>
    </div>
    <fieldset id="filters">
        <legend><%= l(:label_filter_plural) %></legend>
        <%= render partial: 'lrm/shared/filters', locals: { lrm_filter: @query.lrm_filter }%>
      </fieldset>
  </div>
  <%= f.submit l(:button_save) %>
<% end %>
