<%= link_to l(:label_query_new), new_lrm_query_path(prev_controller: controller_name, prev_action: action_name), class: 'icon icon-add' %>

<% public_queries, private_queries = LrmQuery.queries_of_user(User.current).partition(&:visibility?) %>

<div id="saved-queries">
  <% {label_my_queries: private_queries, label_query_plural: public_queries}.each do |label, queries| %>
    <% if queries.present? %>
      <table class="list">
        <caption><%= l(label) %></caption>
        <tbody>
          <% queries.each do |query| %>
            <tr class="<%= cycle 'odd', 'even' %>">
              <td class="name">
                <% if query.id == current_query.try(:id) %>
                  <span class='query-selected'><%= query.name %></span>
                <% else %>
                  <%= link_to query.name, controller: 'resource_management', action: action_name, query_id: query.id %>
                <% end %>
              </td>
              <td class="buttons">
              <%= link_to l(:button_edit), edit_lrm_query_path(query, prev_controller: controller_name, prev_action: action_name), :class => 'icon icon-edit' %>
              <%= delete_link lrm_query_path(query, prev_controller: controller_name, prev_action: action_name) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>