<%- component ||= false %>
<%- plugin_name = t(lychee_module.name, scope: [:lychee_module_names]) %>
<%- users_count = lychee_module.user_ids.count %>
<tr class="<%= component ? 'component' : 'function' %>">
  <td class="name">
    <% if component || users_count.zero? %>
      <%= plugin_name %>
    <% else %>
      <details>
        <summary><%= plugin_name %></summary>
        <ul class="lychee-modules__projects">
          <% lychee_module.projects.each do |project| %>
            <li><%= link_to project.name, project %></li>
          <% end %>
        </ul>
      </details>
    <% end %>
  </td>
  <td class="count"><%= users_count %></td>
  <td class="actions">
    <%= link_to lychee_user_path(lychee_module.name, format: :csv), title: t('button_download') do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z"/>
        <path fill="none" d="M0 0h24v24H0z"/>
      </svg>
    <% end %>
  </td>
</tr>
