<h2><%= t(:label_lychee_redmine_user_count) %></h2>

<table class="list lychee-modules">
  <thead>
    <tr>
      <th class="name"><%= t(:label_plugin_name) %></th>
      <th class="count"><%= t(:label_user_count) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @lychee_modules %>
  </tbody>
</table>

<% unique_user_ids = @lychee_modules.map(&:user_ids).inject(:|) || [] %>
<div class="box lychee-modules-summary">
  <p class="title"><%= t(:text_unique_user_count, count: unique_user_ids.count) %></p>
  <p class="caption"><%= t(:text_remark_for_basic_lyicense) %></p>
  <% if @lychee_modules.any? { |lychee_module| lychee_module.module_enabled_public_projects? && lychee_module.allowed_to?(Role.non_member) } %>
    <p class="alert"><%= t(:text_count_all_users_non_member) %></p>
  <% end %>
  <% if @lychee_modules.any? { |lychee_module| lychee_module.allowed_to?(Role.anonymous) } %>
    <p class="alert"><%= t(:text_count_all_users_anonymous) %></p>
  <% end %>
</div>
<%= javascript_include_tag 'details-element-polyfill', plugin: 'alm' %>
<style>
table.list.lychee-modules tr {
  border: 1px solid #e8e8e8;
}

table.list.lychee-modules tr.function {
  font-weight: bold;
}

table.list.lychee-modules tr.function ul.lychee-modules__projects {
  font-weight: normal;
}

table.list.lychee-modules tr.function td {
  background-color: #f4f4f4;
}

table.list.lychee-modules tr.component td {
  background-color: #ffffff;
}

table.list.lychee-modules tr.component td.name {
  padding-left: 4em;
}
table.list.lychee-modules th.name,td.name {
  text-align: left;
}

table.list.lychee-modules th.count,td.count,td.actions {
  text-align: right !important;
}
table.list.lychee-modules td.actions svg {
  fill: #898989;
  width: 20px;
  height: 20px;
}

table.list.lychee-modules th:first-child, table.list.lychee-modules td:first-child {
  padding-left: 2em;
}

table.list.lychee-modules th:last-child, table.list.lychee-modules td:last-child {
  padding-right: 2em;
}

.lychee-modules-summary {
  margin-top: 15px;
  border-width: 3px;
  border-style: double;
  border-radius: 0;
  background: #ffffdd;
  text-align: center;
  padding: 10px 20px;
}

.lychee-modules-summary p {
  padding: 0;
  margin: 5px 0;
  font-size: 1.2em;
}

.lychee-modules-summary p.title {
  font-weight: bold;
  font-size: 1.5em;
}

.lychee-modules-summary p.alert {
  color: red;
  font-size: 1em;
}
</style>
