<%= stylesheet_link_tag 'issue_sets', plugin: 'lychee_issue_set' %>

<%= error_messages_for 'relation' %>

<p><%= f.select :relation_type, collection_for_relation_type_select, {}, onchange: "setPredecessorFieldsVisibility();" %>
  <%= l(:label_issue) %> #<%= f.text_field :lychee_issue_template_to_id, size: 10 %>
  <span id="predecessor_fields">
    <%= l(:field_delay) %>: <%= f.text_field :delay, size: 3 %> <%= l(:label_day_plural) %>
  </span>
  <%= submit_tag l(:button_add) %>
  <%= link_to_function l(:button_cancel), '$("#new-relation-form").hide();'%>
</p>

<%= javascript_tag "observeAutocompleteField('relation_lychee_issue_template_to_id', '#{escape_javascript lychee_issue_templates_auto_completes_path(issue_set_id: @issue_set, issue_template_id: params[:id])}')" %>
<%= javascript_tag "setPredecessorFieldsVisibility();" %>
