<%
  project.build_term if project.term.blank?
%>
<div id="lychee_project_term_controls" style='display: none;'>
<p>
  <label for='project_tab_project_term_attributes_start_date'><%= t('field_start_date') %></label>
  <%= form.fields_for :term do |f| %>
    <%= f.date_field :start_date, size: 10, id: :project_tab_project_term_attributes_start_date %>
    <%= calendar_for 'project_tab_project_term_attributes_start_date' %>
<% end %>
</p>
<p>
  <label for='project_tab_project_term_attributes_end_date'><%= t('field_end_date') %></label>
  <%= form.fields_for :term do |f| %>
    <%= f.date_field :end_date, size: 10, id: :project_tab_project_term_attributes_end_date %>
    <%= calendar_for 'project_tab_project_term_attributes_end_date' %>
<% end %>
</p>
</div>
