<%= render('lychee_message_box/header',
           selected: :system_error,
           mark_as_read_path: mark_as_read_lychee_message_box_system_error_path) %>

<%= render('lychee_message_box/message_box',
           messages_type: '',
           messages_path: lychee_message_box_system_error_messages_path,
           has_more_messages: @has_more_messages) do %>
  <%= render('lychee_message_box/summaries', tags: :system_error, messages: @messages) %>
<% end %>

<%= stylesheet_link_tag 'index', plugin: :lychee_message_box %>
<%= javascript_include_tag 'index', plugin: :lychee_message_box %>
