<p>
  <label for="settings_custom_field_id"><%== t('lychee_cost.settings_custom_field_id') %></label>
  <%= select_tag "settings[custom_field_id]",
                 content_tag(:option, l('field_assigned_to'), value: '0', selected: @settings['custom_field_id'] == '0' ? 'selected' : nil) +
                   options_from_collection_for_select(IssueCustomField.where(field_format: 'user').where.not(multiple: true),
                                                      'id', 'name', @settings['custom_field_id']) %>
  &gt;
  <%= select_tag "settings[custom_field_id2]",
                 content_tag(:option, l('field_assigned_to'), value: '0', selected: @settings['custom_field_id2'] == '0'? 'selected' : nil) +
                   options_from_collection_for_select(IssueCustomField.where(field_format: 'user').where.not(multiple: true),
                                                      'id', 'name', @settings['custom_field_id2']),
                 include_blank: true %>
</p>
