.toggle {
  background-color: #404040;
  color: #fff;
  z-index: 110;
  right: 0;
  text-align: center;
}

.toggle.open {
  right: calc(25% - 21px);
}

.title {
  box-sizing: content-box;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0.5rem;
  width: 14px;
  writing-mode: vertical-rl;
}

.container {
  background: #fff;
  border: 1px solid #aaa;
  border-right: 0;
  box-sizing: border-box;
  bottom: 0;
  overflow-y: auto;
  right: calc(-25% - 21px);
  width: calc(25% - 20px);
  z-index: 110;
}

.container.open {
  right: 0;
}

.toggle,
.container {
  top: 300px;
  position: fixed;
}

.icon {
  cursor: pointer;
  opacity: 0.5;
  padding: 0.5rem;
}

.icon:hover {
  background-color: #444;
  color: #ccc;
  opacity: 1;
}

@media (max-width: 921px) {
  .container {
    width: 251px;
    right: -251px;
  }

  .toggle.open {
    right: 251px;
  }
}
