@import "../node_modules/react-grid-layout/css/styles.css";
@import "../node_modules/react-resizable/css/styles.css";
@import "../node_modules/tippy.js/dist/tippy.css";

// Redmine4.1ではoverflow-x: auto;でツールチップが見切れるため上書き
#content {
  overflow: visible;
}

// プロジェクトレポートタイトル部を固定ヘッダ化するための記述
html {
  overflow-x: hidden;
}

#wrapper {
  overflow: unset !important;
}

#version_report_link {
  width: 128px;
}

// Popoverのテーマを定義
.tippy-box[data-theme=error] {
  color: #800;
  background-color: #ffe3e3;
  border: 1px solid #d88;

  .tippy-arrow {
    color: #ffe3e3;
  }
}
