<%= error_messages_for 'auth_source_saml' %>

<div class="box tabular">
  <%= f.fields_for :auth_source_saml_info,
                   @auth_source_saml.auth_source_saml_info || @auth_source_saml.build_auth_source_saml_info do |auth_source_saml_info_f| %>
    <p class="all">
      <%= auth_source_saml_info_f.select :type,  auth_source_saml_info_options, { required: true }, { disabled: !@auth_source_saml.auth_source_saml_info.new_record? } %>
    </p>
  <% end %>
  <%= render_saml_field(%w[all]) do %>
    <%= f.text_field :name, required: true %>
  <% end %>
  <%= render_saml_field(%w[all]) do %>
    <%= f.text_field :domain, required: true, placeholder: 'http://localhost:3000' %>
  <% end %>
  <%= render_saml_field(%w[one_login adfs], @auth_source_saml) do %>
    <%= f.text_field :app_id, required: true %>
  <% end %>
  <%= render_saml_field(%w[one_login adfs], @auth_source_saml) do %>
    <%= f.text_field :sso_slo_id, required: true %>
  <% end %>
  <%= render_saml_field(%w[other_idp], @auth_source_saml) do %>
    <%= f.text_field :idp_sso_target_url, required: false, value: @auth_source_saml.other_idp? ? @auth_source_saml.idp_sso_target_url : nil %>
  <% end %>
  <%= render_saml_field(%w[all]) do %>
    <%= f.text_field :idp_metadata_url, required: false %>
  <% end %>
  <% %i[attribute_mapping_mail attribute_mapping_firstname attribute_mapping_lastname].each do |field| %>
    <%= render_saml_field(%w[other_idp], @auth_source_saml) do %>
      <%= f.text_field field, required: true, value: @auth_source_saml.other_idp? ? @auth_source_saml.send(field) : nil %>
    <% end %>
  <% end %>
  <%= render_saml_field(%w[all]) do %>
    <%= f.select :digest_method, auth_source_saml_digest_method_options %>
  <% end %>
  <%= render_saml_field(%w[all]) do %>
    <%= f.text_field :idp_cert_fingerprint %>
  <% end %>

  <%= render_saml_field(%w[other_idp], @auth_source_saml) do %>
    <%= f.label :skip_validate_audience %>
    <label class="block">
      <%= f.radio_button :skip_validate_audience, false, checked: !@auth_source_saml.skip_validate_audience? %>
      <%= t(:label_no_skip_validate_audience) %>
    </label>
    <label class="block">
      <%= f.radio_button :skip_validate_audience, true %>
      <%= t(:label_skip_validate_audience) %>
    </label>
  <% end %>

  <%= render_saml_field(%w[all]) do %>
    <%= f.check_box :onthefly_register, label: :field_lychee_saml_auth_onthefly %>
  <% end %>
</div>
<%= javascript_include_tag 'lychee_saml_auth', plugin: 'lychee_saml_auth' %>
<%= javascript_tag do %>
  $(function(){
    LycheeSamlAuth.add_form_event($("#auth_source_saml_form"));
  });
<% end %>
