<%= title [l(:label_auth_source_saml), auth_source_saml_index_path], @auth_source_saml.name %>

<%= labelled_form_for @auth_source_saml, as: :auth_source_saml,
                                         url: auth_source_saml_path(@auth_source_saml),
                                         html: { id: 'auth_source_saml_form' } do |f| %>
  <%= render partial: 'form_auth_source_saml', locals: { f: f } %>
  <%= submit_tag l(:button_save) %>
<% end %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'lychee_saml_auth.css', plugin: 'lychee_saml_auth' %>
<% end %>
