<div class="contextual">
  <%= link_to l(:label_auth_source_saml), { action: 'new' }, class: 'icon icon-add' %>
</div>

<%= title l(:label_auth_source_saml) %>

<table class="list">
  <thead>
    <tr>
      <th><%= l(:field_type) %></th>
      <th><%= l(:field_name) %></th>
      <th><%= l(:field_config) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @auth_source_samls.each do |auth_source_saml| %>
      <tr id="auth-source-<%= auth_source_saml.id %>">
        <td class="type"><%= auth_source_saml.other_idp? ? t('other_idp_info') : auth_source_saml.provider_type %></td>
        <td class="name"><%= link_to(auth_source_saml.name, action: 'edit', id: auth_source_saml)%></td>
        <td class="config">
          <% if auth_source_saml.provider_type != :adfs && auth_source_saml.auth_source_saml_info %>
            <%= render partial: 'configuration', locals: { auth_source_saml: auth_source_saml } %>
          <% end %>
        </td>
        <td class="buttons">
          <%= link_to l(:button_test),
                      try_connection_auth_source_saml_path(auth_source_saml),
                      class: 'icon icon-test btn-try-connection',
                      data: { 'auth-source-saml-id' => auth_source_saml.id } %>
          <%= delete_link auth_source_saml_path(auth_source_saml) %>
        </td>
      </tr>
    <% end %>
    <tr class='try-connection-auth-sources' >
      <td colspan="4">
        <strong>Request URL</strong>: <span class='request_url'></span><br />
        <strong>Status code</strong>: <span class='status_code'></span><br />
      </td>
    </tr>
  </tbody>
</table>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'lychee_saml_auth.css', plugin: 'lychee_saml_auth' %>
<% end %>
<%= javascript_include_tag 'lychee_saml_auth', plugin: 'lychee_saml_auth' %>
<script>
  $('.btn-try-connection').on('click', LycheeSamlAuth.try_connection);
</script>
