<%= title [l(:label_auth_source_saml), auth_source_saml_index_path], l(:label_auth_source_saml_new) %>

<%= labelled_form_for @auth_source_saml, as: :auth_source_saml,
                                         url: auth_source_saml_index_path,
                                         html: { id: 'auth_source_saml_form' } do |f| %>
  <%= hidden_field_tag 'type', @auth_source_saml.type %>
  <%= render partial: 'form_auth_source_saml', locals: { f: f } %>
  <%= submit_tag l(:button_create) %>
<% end %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'lychee_saml_auth.css', plugin: 'lychee_saml_auth' %>
<% end %>
