<% if Lychee::IssueSet.exists? %>
  <%
    Lychee::IssueSet.all.each { |issue_set| @project.projects_issue_sets.find_or_create_by(issue_set: issue_set) }
    # 重複データ削除
    @project.projects_issue_sets.group(:lychee_issue_set_id).count.each do |issue_set_id, count|
      next if count == 1
      projects_issue_sets = @project.projects_issue_sets.where(lychee_issue_set_id: issue_set_id)
      enabled = projects_issue_sets.any?(&:enabled)
      projects_issue_sets.destroy_all
      @project.projects_issue_sets.create(lychee_issue_set_id: issue_set_id, enabled: enabled)
    end
  %>

  <%= form_for @project, url: { controller: :issue_set_settings, action: :update, project_id: @project }, html: { id: 'issue-set-setting-form' } do |f| %>
    <fieldset class="box">
      <legend><%= t('.legend') %></legend>
      <%= f.fields_for :projects_issue_sets, @project.projects_issue_sets.sorted do |projects_issue_set_f| %>
        <%= projects_issue_set_f.hidden_field :lychee_issue_set_id %>
        <p>
          <%= label_tag do %>
            <% if projects_issue_set_f.object.issue_set.for_all_projects? %>
              <%= projects_issue_set_f.check_box :enabled, {disabled: true, checked: true} %>
            <% else %>
              <%= projects_issue_set_f.check_box :enabled %>
            <% end %>
            <%= projects_issue_set_f.object.issue_set.name %>
          <% end %>
        </p>
      <% end %>
    </fieldset>
    <p><%= check_all_links 'issue-set-setting-form' %></p>

    <p><%= submit_tag t(:button_save) %></p>
  <% end %>

  <style>
    #tab-content-issue_sets fieldset p {
      margin: 3px 0 4px 0;
    }
  </style>
<% else %>
  <p class="nodata"><%= t(:label_no_data) %></p>
<% end %>

<% if User.current.allowed_to?(:issue_set_manage, @project) %>
  <hr />
  <%= link_to t('label_issue_set_manage'), lychee_issue_sets_path %>
<% end %>
