<%= form_tag(lychee_project_report_settings_path, method: :patch, tab: 'project_report') do %>
  <div class="box tabular settings">
    <p>
      <%= label_tag I18n.t(:field_reporting_label_cwday) %>
      <%= select_tag('settings[reporting_cwday]', options_for_select((1..7).map { |cwday| [day_name(cwday), cwday] }, Setting.plugin_lychee_project_report[:reporting_cwday].to_s),) %>
      <em class="info"><%= l(:text_report_weeklydata) %></em>
    </p>
    <p>
      <%= label_tag I18n.t(:field_reporting_label_default_query) %>
      <%= select_tag(
        'settings[reporting_default_query]',
        options_for_select(
          ProjectReportQuery.where(visibility: ProjectReportQuery::VISIBILITY_PUBLIC).map { |q| [q.name, q.id] },
          selected: Setting.plugin_lychee_project_report[:reporting_default_query].to_s
        ),
        include_blank: true) %>
      <em class="info"><%= l(:text_report_default_query) %></em>
    </p>
  </div>

  <%= submit_tag l(:button_save) %>
<% end %>
