.controller-calendars.action-show table.cal td.even:not(:hover):not(.rest_day).non_working_week_day.saturday {
  background-color: #e7f0f9;
}
.controller-calendars.action-show table.cal td.even:not(.rest_day).non_working_week_day.saturday .day-num {
  color: blue;
}

.controller-calendars.action-show table.cal td.even:not(:hover).non_working_week_day,
.controller-calendars.action-show table.cal td.even:not(:hover).rest_day {
  background-color: #f7e8e8;
}
.controller-calendars.action-show table.cal td.even.non_working_week_day .day-num,
.controller-calendars.action-show table.cal td.even.rest_day .day-num {
  color: red;
}
