<h2><%= t(:label_lychee_registration) %></h2>

<%= form_for @registration, url: register_lychee_license_path, method: :put do |f| %>
  <p>
    <table>
      <tbody>
        <tr>
          <td><%= t(:label_authentication_code) %></td>
          <td><%= f.text_area :authenticate_code, cols: 80, rows: 3 %></td>
        </tr>
        <tr>
          <td><%= t(:label_registration_code) %></td>
          <td><%= f.text_area :registration_code, cols: 80, rows: 3, readonly: true %></td>
        </tr>
      </tbody>
    </table>
  </p>

  <p>
    <%= submit_tag t(:button_register_license_key), disabled: @registration.registration_code.present? %>
    <%= link_to t(:button_back), admin_path %>
  </p>
<% end %>

<hr>
<%= link_to t(:label_check_user_count), lychee_users_path %>
