<p>
  <%= hidden_field_tag 'custom_field[lychee_issue_board_custom_field_option_attributes][display]', '0', id: nil %>
  <%= label_tag :custom_field_lychee_issue_board_custom_field_option_attributes_display, t(:field_editable_in_lychee_issue_board_html) %>
  <%= check_box_tag 'custom_field[lychee_issue_board_custom_field_option_attributes][display]', '1', custom_field.display_in_lychee_issue_board? , disabled: custom_field.is_required? %>
</p>
<%= javascript_tag do %>
$(function(){
  $('[name="custom_field[is_required]"]').on('change', function(event) {
    var $target = $('[name="custom_field[lychee_issue_board_custom_field_option_attributes][display]"]');
    if (event.target.checked) {
      $target.attr('disabled', true);
    } else {
      $target.attr('disabled', false);
    }
  });
});
<% end %>
