.controller-auth_source_saml.action-index table.list td.config {
  text-align: left;
}

.controller-auth_source_saml.action-index table.list .try-connection-auth-sources {
  display: none;
}

.controller-auth_source_saml.action-index table.list .try-connection-auth-sources td {
  text-align: left;
  word-break:break-all;
}

/* field_lychee_saml_auth_onthefly（「ユーザーが存在しなければ自動作成する」）のラベルが折り返されないように十分な幅を取る */
@media screen and (min-width: 900px) {
  /* フォームはnew, edit, create（新規作成エラー時）, update（更新エラー時）のactionで描画される */
  .controller-auth_source_saml .tabular p {
    padding-left: 250px;
  }

  .controller-auth_source_saml .tabular label {
    margin-left: -250px;
    width: 245px;
  }
}

#auth_source_saml_form p.hide {
  display: none;
}

#redirect_to_authn_request_box {
  padding-top: 5px;
}
