<% checked = LycheeProjectView::QuickLinks.selected_in_settings %>

<table class="list project_view_settings">
  <thead>
    <tr>
      <th></th>
      <th><%= t(:field_active) %></th>
      <th></th>
      <th><%= t(:field_name) %></th>
    </tr>
  </thead>

  <tbody>
    <% LycheeProjectView::QuickLinks.sorted_quick_links.each do |link| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td>
          <% data = { reorder_param: "quick_links[#{link}]" } %>
          <%= content_tag('span', '', class: 'icon-only icon-sort-handle sort-handle', data: data, title: l(:button_sort)) %>
        </td>
        <td class ='settings-row-available'>
          <%= check_box_tag "", link, checked.include?(link), name: "settings[quick_links][]" %>
        </td>
        <td class ='settings-row-quick-links'>
          <% link_alias = LycheeProjectView::QuickLinks.kanban_link?(link) ? 'kanban' : link %>
          <%= content_tag :span, nil, class: "icon-quick-link-#{link_alias}" %>
        </td>
        <td class='settings-row-name'>
          <%= t("project_view.settings.#{link}") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id='settings-quick_links-positions'>
  <%== render 'lychee_project_view/quick_links/positions' %>
</div>

<%= javascript_tag do %>
  $(function() { $("table.project_view_settings tbody").positionedItems(); });
<% end %>

<%= stylesheet_link_tag 'quick_links', plugin: :lychee_project_view %>
<%= stylesheet_link_tag 'settings', plugin: :lychee_project_view %>
