.container {
  border: 1px dashed #aaa;
  border-radius: 10px;
  display: block;
  margin: 10px;
  color: #aaa;
  font-size: 30px;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background-color: #ffc;
}

.hidden {
  display: none;
}
