<%= error_messages_for 'query' %>

<style>
.lgc-queryForm-months {
  width: 3em;
}

.box > fieldset {
  margin-top: 20px;
}

fieldset fieldset {
  margin-top: 10px;
}
</style>

<div class="box">
  <%= hidden_field_tag(:project_id, params[:project_id]) if params[:project_id] %>

  <div class="tabular">
    <p>
      <label for="query_name"><%= t(:field_name) %></label>
      <%= f.text_field :name, size: 80 %>
    </p>

    <% if User.current.admin? || User.current.allowed_to?(:manage_public_queries, @project) %>
      <p>
        <% if @query.respond_to?(:is_public) %>
          <label for="query_is_public"><%= t(:field_is_public) %></label>
          <%= f.check_box :is_public, onchange: (User.current.admin? ? nil : 'if (this.checked) {$("#query_is_for_all").removeAttr("checked"); $("#query_is_for_all").attr("disabled", true);} else {$("#query_is_for_all").removeAttr("disabled");}') %>
        <% else %>
          <label><%= t(:field_visible) %></label>

          <label class="block"><%= f.radio_button :visibility, Query::VISIBILITY_PRIVATE %> <%= t(:label_visibility_private) %></label>
          <label class="block"><%= f.radio_button :visibility, Query::VISIBILITY_PUBLIC %> <%= t(:label_visibility_public) %></label>
          <label class="block"><%= f.radio_button :visibility, Query::VISIBILITY_ROLES %> <%= t(:label_visibility_roles) %>:</label>
          <% Role.givable.sorted.each do |role| %>
            <label class="block role-visibility"><%= f.check_box :role_ids, {multiple: true}, role.id, nil %> <%= role.name %></label>
          <% end %>
        <% end %>
      </p>

    <% end %>

    <p>
      <label for="query_is_for_all"><%= t(:field_is_for_all) %></label>
      <%= check_box_tag 'query_is_for_all', 1, @query.project.nil?, class: (User.current.admin? ? '' : 'disable-unless-private') %></p>
    </p>

    <fieldset>
      <legend><%= t(:label_options) %></legend>
      <p>
        <label for="query_default_columns"><%= t(:label_default_columns) %></label>
        <%= check_box_tag 'default_columns', 1, @query.has_default_columns?, id: 'query_default_columns', onclick: 'if (this.checked) {$("#columns").hide();} else {$("#columns").show();}' %>
      </p>

      <p>
        <label for='group_by'><%= l(:field_group_by) %></label>
        <%= select_tag(:group_by, options_for_select(
          @query.groupable_columns.collect {|c| [c.caption, c.name.to_s]},
          @query.group_by
        ), include_blank: true) %>
      </p>

      <p>
        <label><%= t(:button_show) %></label>
        <%= f.check_box :draw_relations %><%= f.label :draw_relations, t(:label_related_issues), class: 'inline'%>
        <%= f.check_box :draw_progress_line %><%= f.label :draw_progress_line, t(:label_gantt_progress_line), class: 'inline'%>
        <%= f.check_box :show_main_and_ancestors_projects %><%= f.label :show_main_and_ancestors_projects, t('lgc.label_main_and_ancestors_projects'), class: 'inline'%>
        <%= f.check_box :with_ancestors %><%= f.label :with_ancestors, t('lgc.label_ancestor_issues'), class: 'inline'%>
        <%= f.check_box :show_empty_versions %><%= f.label :show_empty_versions, t('lgc.label_empty_versions'), class: 'inline'%>
        <%= f.check_box :parallel_view %><%= f.label :parallel_view, t('lgc.parallel_view'), class: 'inline'%>
        <%= f.check_box :show_non_working_days %><%= f.label :show_non_working_days, t(:setting_non_working_week_days), class: 'inline'%>
      </p>

      <p>
        <label><%= t('lgc.label_collapsed_row_identifiers') %></label>

        <% if @query.persisted? && @query.collapsed_row_identifiers.present? %>
          <input type="radio" name="save_collapsed_row_identifiers" id="query-saveCollapsedRowIdentifiers-noChange" checked><label for="query-saveCollapsedRowIdentifiers-noChange" class="inline" checked><%= t(:label_no_change_option) %></label>
          <input type="radio" data-action="save" name="save_collapsed_row_identifiers" id="query-saveCollapsedRowIdentifiers-save"><label for="query-saveCollapsedRowIdentifiers-save" class="inline"><%= t(:button_update) %></label>
          <input type="radio" data-action="delete" name="save_collapsed_row_identifiers" id="query-saveCollapsedRowIdentifiers-delete"><label for="query-saveCollapsedRowIdentifiers-delete" class="inline"><%= t(:button_delete) %></label>
        <% else %>
          <input type="checkbox" data-action="save" name="save_collapsed_row_identifiers" id="query-saveCollapsedRowIdentifiers-save"><label for="query-saveCollapsedRowIdentifiers-save" class="inline"><%= t(:button_save) %></label>
        <% end %>

        <input type="hidden" name="collapsed_row_identifiers">
      </p>
    </fieldset>
  </div>

  <fieldset id="filters">
    <legend><%= t(:label_filter_plural) %></legend>
    <%= render partial: 'queries/filters', locals: {query: @query}%>
  </fieldset>

  <fieldset>
    <legend><%= t(:label_sort) %></legend>

    <% 3.times do |i| %>
      <%= i + 1 %>:
      <%= label_tag "query_sort_criteria_attribute_#{i}", t(:description_query_sort_criteria_attribute), class: 'hidden-for-sighted' %>
      <%= select_tag("query[sort_criteria][#{i}][]", options_for_select([[]] + @query.available_columns.select(&:sortable).collect {|column| [column.caption, column.name.to_s]}, @query.sort_criteria_key(i)), id: "query_sort_criteria_attribute_#{i}")%>
      <%= label_tag "query_sort_criteria_direction_#{i}", t(:description_query_sort_criteria_direction), class: 'hidden-for-sighted' %>
      <%= select_tag("query[sort_criteria][#{i}][]", options_for_select([[], [t(:label_ascending), 'asc'], [t(:label_descending), 'desc']], @query.sort_criteria_order(i)), id: "query_sort_criteria_direction_#{i}") %>
      <br />
    <% end %>

    <label class="block">
      <%= hidden_field_tag 'keep_tree_structure', '0' %>
      <%= check_box_tag 'keep_tree_structure', '1', @query.keep_tree_structure? %>
      <%= t('lgc.keep_tree_structure')  %>
    </label>

    <label class="block">
      <%= hidden_field_tag 'manually_sort', '0', id: nil %>
      <%= check_box_tag 'manually_sort', '1', @query.manually_sort? %>
      <%= t('lgc.manually_sort') %>
    </label>

    <fieldset id="lgc-customizedSortOrder">
      <legend><%= t('lgc.customized_sort_orders') %></legend>
      <% if @query.persisted? && @query.manually_sort? && @query.custom_sort_orders.exists? %>
        <input type="radio" name="custom_sort_orders_action" id="query-saveCustomSortOrders-noChange" checked><label for="query-saveCustomSortOrders-noChange" class="inline" checked><%= t(:label_no_change_option) %></label>
        <input type="radio" name="custom_sort_orders_action" id="query-saveCustomSortOrders-save" value="save"><label for="query-saveCustomSortOrders-save" class="inline"><%= t(:button_update) %></label>
        <input type="radio" name="custom_sort_orders_action" id="query-saveCustomSortOrders-delete" value="delete"><label for="query-saveCustomSortOrders-delete" class="inline"><%= t(:button_delete) %></label>
      <% else %>
        <input type="checkbox" name="custom_sort_orders_action" id="query-saveCustomSortOrders-save" value="save"><label for="query-saveCustomSortOrders-save" class="inline"><%= t(:button_save) %></label>
      <% end %>
    </fieldset>
  </fieldset>

  <fieldset id="columns" style="<%= @query.has_default_columns? ? 'display:none;' : nil %>">
    <legend><%= t(:field_column_names) %></legend>
    <%= render_query_columns_selection(@query) %>
  </fieldset>

  <fieldset id="dateRange">
    <legend><%= t('lgc.date_range') %></legend>

    <label>
      <%= f.number_field :months, class: 'lgc-queryForm-months' %>
      <%= t(:label_months_from) %>
    </label>

    <%= select_month(@query.lgc_options[:month].to_i, {prefix: 'query[month]', discard_type: true, include_blank: true}, id: nil) %>
    <%= select_year(@query.lgc_options[:year].to_i, {prefix: 'query[year]', discard_type: true, include_blank: true}, id: nil) %>

    <%= select_tag(:zoom, options_for_select(
        @query.zooms.collect {|h| [h[:caption], h[:zoom]]},
        @query.zoom
    ), id: nil, include_blank: true) %>
  </fieldset>

  <%= lgc_call_hook(:view_query_save_form_after_date_range, query: @query) %>
</div>

<% content_for :header_tags do %>
  <% if Rails.env.development? %>
    <%= stylesheet_link_tag 'lgc', plugin: 'lgc' %>
  <% else %>
    <%= stylesheet_link_tag 'lgc.min', plugin: 'lgc' %>
  <% end %>
<% end %>

<script>
  <%# Redmine 3.4で追加されたremoteタイプのフィルタに対応 %>
  <% if respond_to?(:queries_filter_path) %>
    var filtersUrl = <%=raw_json queries_filter_path(project_id: @query.project_id, type: 'IssueQuery') %>;
  <% end %>

  jQuery(function($) {
    // 表示範囲
    $("input[name='query[visibility]']").change(function(){
      $("input[name='query[role_ids][]'][type=checkbox]").attr('disabled', !$('#query_visibility_1').is(':checked'))

      var isPrivate = $('#query_visibility_0').is(':checked')
      var $disableUnlessPrivate = $("input.disable-unless-private")
      isPrivate && $disableUnlessPrivate.attr('checked', false)
      $disableUnlessPrivate.attr('disabled', !isPrivate)
    }).trigger('change')

    // 行の開閉状態
    $('input[name="save_collapsed_row_identifiers"]').on('change', function() {
      var $field = $('input[name="collapsed_row_identifiers"]')

      switch ($(this).attr('data-action')) {
        case 'save':
          $field.prop('disabled', !this.checked)
          this.checked && $field.val(localStorage.getItem('lgc:expander'))
          break
        case 'delete':
          $field.prop('disabled', false).val('')
          break;
        default:
          $field.prop('disabled', true)
      }
    })

    // 手動ソート
    $('#manually_sort').on('change.lgc', function() {
      $('#lgc-customizedSortOrder').toggle(this.checked && !this.disabled)
    }).trigger('change.lgc')

    // グループ条件
    $('#group_by').on('change.lgc', function() {
      $('#manually_sort').prop('disabled', !!this.value).trigger('change.lgc')
    }).trigger('change.lgc')
  });
</script>
