<%= hidden_field_tag 'lgc_gantt_query', '1' %>
<%= hidden_field 'query', 'gantt', value: 1 %>

<div id="lgc-options">
  <% if @query.respond_to?(:draw_relations) && @query.respond_to?(:draw_progress_line) %>
    <p>
      <label><%= l(:button_show) %></label>
      <%= hidden_field 'query', 'draw_relations', value: '0' %>
      <label class="inline"><%= check_box_tag 'query[draw_relations]', '1', @query.draw_relations %> <%= l(:label_related_issues) %></label>
      <label class="inline"><%= check_box_tag 'query[draw_progress_line]', '1', @query.draw_progress_line %> <%= l(:label_gantt_progress_line) %></label>
    </p>
  <% end %>
</div>

<div id="lgc-sort-options">
  <%= check_box 'query', 'keep_tree' %>
  <%= label_tag 'query_keep_tree', l('lgc.keep_tree_structure') %>
</div>

<script>
!function($) {
  $('#query_default_columns').closest('fieldset').append($('#lgc-options'));

  $('#query_sort_criteria_direction_2').each(function() {
    var $fieldset = $(this).closest('fieldset');
    $fieldset.append($('#lgc-sort-options'));
  });

  $('#query_group_by, input[name="c[]"][value="description"]').closest('p').remove();
}(jQuery);
</script>
