<% content_for :header_tags do %>
  <%= javascript_include_tag 'patches', plugin: 'lgc' %>
<% end %>

<script>
window.QUERY_LABEL_COLUMNS = <%=raw_json Lgc::IssueQuery::LABEL_COLUMNS %>
window.QUERY_FIXED_COLUMNS = <%=raw_json Lgc::IssueQuery::FIXED_COLUMNS %>

!function($) {
  var $selectedColumns = $('.query-columns select').eq(1);
  $selectedColumns.find(QUERY_FIXED_COLUMNS.map(function(val) {
    return 'option[value="' + val + '"]'
  }).join(',')).prop('disabled', true);
  $selectedColumns.closest('form').on('submit', function() {
    $selectedColumns.find('option').prop('disabled', false);
  });
}(jQuery);
</script>
