<h2><%= t(:label_query) %></h2>

<%= form_for :query, url: lgc_query_path(@query), method: :put, html: {onsubmit: 'selectAllOptions("selected_columns");'} do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= f.submit t(:button_save) %>
<% end %>
