<h2><%= t(:label_query_new) %></h2>

<%= form_for :query, url: @project ? project_lgc_queries_path(@project) : lgc_queries_path, html: {onsubmit: 'selectAllOptions("selected_columns");'} do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= f.submit t(:button_save) %>
<% end %>
