<p>
  <%= label_tag 'settings[plugin_lychee_remaining_estimate][working_hours_per_day]', t(:label_working_hours_per_day) %>
  <%= text_field_tag 'settings[plugin_lychee_remaining_estimate][working_hours_per_day]', LycheeRemainingEstimate::Settings.hours_per_day, size: 6 %>
</p>
<script type="text/javascript">
$(document).ready(function(){
  var $gannt_items_limit_field = $('#settings_gantt_items_limit').parent();
  var $lychee_remaining_estimate_working_hours_per_day_field = $('#settings_plugin_lychee_remaining_estimate_working_hours_per_day').parent();
  $gannt_items_limit_field.after($lychee_remaining_estimate_working_hours_per_day_field);
})
</script>
