<div id="lychee_remaining_estimate_area">
  <% if issue.safe_attribute?('remaining_estimate') %>
    <p id="remaining_estimate_area">
      <%= form.hours_field :remaining_estimate, size: 3, required: issue.required_attribute?('remaining_estimate') %> <%= l(:field_hours) %>
    </p>
  <% end %>
</div>

<%= javascript_include_tag 'lychee_remaining_estimate', plugin: 'lychee_remaining_estimate' %>

