<% safe_attributes = hook_caller.assigns['safe_attributes'] %>
<% issue_params = hook_caller.assigns['issue_params'] %>

<div id="lychee_remaining_estimate_area">
  <% if safe_attributes.include?('remaining_estimate') %>
    <p id="remaining_estimate_area">
      <label for='issue_remaining_estimate'><%= l(:field_remaining_estimate) %></label>
      <%= text_field_tag 'issue[remaining_estimate]', '', value: @issue_params[:remaining_estimate], size: 10 %>
      <label class="inline">
        <%= check_box_tag 'issue[remaining_estimate]',
          'none',
          (issue_params[:remaining_estimate] == 'none'),
          id: nil,
          data: { disables: '#issue_remaining_estimate' }
        %><%= t(:button_clear) %>
      </label>
    </p>
    <div id="remaining_estimate_was" data-float=""></div>
  <% end %>
</div>

<%= javascript_include_tag 'lychee_remaining_estimate', plugin: 'lychee_remaining_estimate' %>
