<%= error_messages_for 'rest_days' %>

<div class="box tabular">
  <p><%= f.label :day, l(:field_rest_day_day), class: 'day' %><%= format_date(@rest_day.day) %></p>
  <p>
    <%= f.label :description, l(:field_rest_day_description) %>
    <span class="required">*</span>
    <%= f.text_field :description, size: 50, required: true %>
  </p>
</div>
