<h2><%= l(:label_rest_day) %></h2>

<%= error_messages_for 'rest_day' %>

<%= form_for @rest_day, url: rest_day_path(@rest_day) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= submit_tag l(:button_save) %>
  <%= link_to l(:button_cancel), rest_days_path %>
<% end %>
