<div class="box tabular">
  <p>
    <%= f.label :date do %>
      <%= f.object.class.human_attribute_name(:date) %>
      <span class='required'>*</span>
    <% end %>
    <%= f.date_field :date, size: 10, required: true %><%= calendar_for('lychee_cost_expense_date') %>
  </p>
  <p>
    <%= f.label :name do %>
      <%= f.object.class.human_attribute_name(:name) %>
      <span class='required'>*</span>
    <% end %>
    <%= f.text_field :name, required: true %>
  </p>
  <p>
    <%= f.label :amount do %>
      <%= f.object.class.human_attribute_name(:amount) %>
      <span class='required'>*</span>
    <% end %>
    <%= f.text_field :amount, required: true, placeholder: '1000' %><%= f.object.class.human_attribute_name(:unit)%>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description, size: 80 %>
  </p>
</div>
