<tr>
  <td><%= format_date(expense.date) %></td>
  <td class="description"><%= expense.name %></td>
  <td class="expense_amount"><%= number_with_yens(expense.amount, I18n.locale) %></td>
  <td class="description"><%= expense.description%></td>
  <td>
    <% if User.current.allowed_to?(:manage_lychee_cost, project) %>
      <%= link_to l(:button_edit),
                  edit_project_lychee_cost_expense_path(project, expense),
                  class:'icon icon-edit' %>
      <%= link_to l(:button_delete),
                  project_lychee_cost_expense_path(project, expense),
                  data: { confirm: l(:text_are_you_sure) },
                  method: :delete,
                  class:'icon icon-del' %>
    <% end %>
  </td>
</tr>
