<%= title [l(:label_lychee_cost_expenses), project_lychee_cost_expenses_path(@project)], "#{I18n.l(@lychee_cost_expense.date)} #{@lychee_cost_expense.name}" %>
<%= error_messages_for 'lychee_cost_expense_for_update' %>
<%= form_for([@project, @lychee_cost_expense_for_update]) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= f.submit l(:button_update) %>
<% end %>
