<div class="contextual">
  <% if User.current.allowed_to?(:manage_lychee_cost, @project) %>
    <%= link_to l(:label_lychee_cost_expense_new), new_project_lychee_cost_expense_path(@project), class: 'icon icon-add' %>
  <% end %>
  <%= link_to t(:csv_download), { action: :index, format: :csv}, class: 'icon icon-download' %>
</div>
<p>
  <%= form_tag({ tab: 'lychee_cost_expenses' }, method: :get, id: 'lychee_cost_expenses') do %>
    <%= month_field_tag :month, @month, placeholder: Date.today.strftime('%Y-%m') %><%= t('label_lychee_cost_month') %>
    <%= number_field_tag :x_months, @x_months %><%= t('label_lychee_cost_x_months') %>
    <%= link_to_function l(:button_apply), '$("#lychee_cost_expenses").submit()', class: 'icon icon-checked' %>
    <%= link_to l(:button_clear), { x_months: LycheeCostExpensesController::DEFAULT_X_MONTH, month: Date.current.strftime('%Y-%m') }, class: 'icon icon-reload' %>
  <% end %>
</p>
<p class="total_amount">
  <%= I18n.t(:label_lychee_cost_total_amount) %>:
  <span class="value"><%= number_with_yens(@lychee_cost_expenses.sum(:amount), I18n.locale) %></span>
</p>
<%= include_calendar_headers_tags %>
<%= javascript_tag do %>
  (function(){
    $('#month').addClass('date').datepickerFallback({ dateFormat: 'yy-mm' });
  })();
<% end %>
<table class="list lychee_cost_expenses">
  <thead>
    <tr>
      <th><%= LycheeCostExpense.human_attribute_name(:date) %></th>
      <th><%= LycheeCostExpense.human_attribute_name(:name) %></th>
      <th><%= LycheeCostExpense.human_attribute_name(:amount) %></th>
      <th><%= LycheeCostExpense.human_attribute_name(:description) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @lychee_cost_expenses.each do |expense| %>
    <%= render partial: 'lychee_cost_expenses/row', locals: { expense: expense, project: @project } %>
  <% end %>
</table>
