<%= title l(:label_lychee_cost_expense_new) %>
<%= error_messages_for 'lychee_cost_expense' %>
<%= form_for([@project, @lychee_cost_expense]) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= f.submit l(:button_create) %>
<% end %>
