<% return unless custom_field.is_a?(IssueCustomField) && (%w[list enumeration].include?(custom_field.field_format))  %>
<p>
  <%= hidden_field_tag 'custom_field[smart_custom_field_attributes][enabled]', '0', id: nil %>
  <%= label_tag :custom_field_smart_custom_field_attributes_enabled, t(:label_set_per_project) %>
  <%= check_box_tag 'custom_field[smart_custom_field_attributes][enabled]', '1', custom_field.smart_custom_field_enabled? %>
</p>
