<p>
  <%= label_tag "settings_user_threshold", t("alert_rows_threshold_count") %>
  <%= text_field_tag "settings[user_threshold]", @settings["user_threshold"] %>
</p>
<p>
  <%= label_tag "settings_user_highlight", t("highlight_user_count") %>
  <%= text_field_tag "settings[user_highlight]", @settings["user_highlight"] %>
</p>
<p>
  <%= label_tag "settings_distributed_workload_hours", t("default_distributed_workload_hours") %>
  <%= text_field_tag "settings[distributed_workload_hours]", DistributedWorkload.hours(@settings) %>
</p>
<% if Redmine::Plugin.installed?(:lychee_time_management) %>
  <p>
    <%= label_tag "settings_hide_work_plans", t("hide_work_plans") %>
    <%= check_box_tag "settings[hide_work_plans]", true, @settings["hide_work_plans"] %>
  </p>
<% end %>
<%= hidden_field_tag 'settings[use_time_management_work_plans]', @settings['use_time_management_work_plans'] %>
