<%= form_tag update_distributed_workloads_path, method: :put do |f| %>
  <table class="list users">
    <thead>
      <tr>
        <th><%= t("label_user") %></th>
        <th><%= t("label_distributed_workload_hours") %></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr class="<%= cycle("odd", "even") %> user">
          <td>
            <%= link_to_user user %>
          </td>
          <td>
            <% if user.distributed_workload.present? %>
              <%= text_field_tag "users[#{user.id}][hours]", user.distributed_workload.hours, class: @distributed_workloads.find { |d| d.user == user }.errors.any? ? "invalid" : "" %>
            <% else %>
              <%= text_field_tag "users[#{user.id}][hours]" %>
            <% end %>
          </td>
        </tr>
      <% end; reset_cycle %>
    </tbody>
  </table>
  <%= submit_tag t("button_save") %>
<% end %>
