<% content_for :header_tags do %>
  <%= stylesheet_link_tag "lrm_setting", plugin: "lrm" %>
<% end %>

<h2>
  <%= t("label_distributed_workloads") %>
</h2>

<% html_title(t(:label_distributed_workloads), t(:label_resource_management)) -%>

<%= error_messages_for *@distributed_workloads %>

<% if @users.any? %>
  <%= render partial: 'distributed_workloads/table', locals: { users: @users } %>
<% else %>
  <p class="nodata">
    <%= t("label_no_data") %>
  </p>
<% end %>
<%= call_hook :view_distributed_workloads_index_bottom, users: @users %>
