<table class="query-columns">
  <tr>
    <td style="padding-left: 0;">
      <%= label_tag "available_columns", l(:description_available_columns), style: 'margin-left: 0; text-align: left;' %>
      <br />
      <%= select_tag 'available_columns',
        options_for_select(column_query.available_options),
              multiple: true, size: 10,
              ondblclick: "moveOptions(this.form.available_columns, this.form.selected_columns);" %>
    </td>
    <td class="buttons">
      <input type="button" value="&#8594;" onclick="moveOptions(this.form.available_columns, this.form.selected_columns);" />
      <br />
      <input type="button" value="&#8592;" onclick="moveOptions(this.form.selected_columns, this.form.available_columns);" />
    </td>
    <td>
      <%= label_tag "selected_columns", l(:description_selected_columns), style: 'margin-left: 0; text-align: left;' %>
      <br />
      <%= select_tag request_columns_name,
              options_for_select(column_query.selected_options),
              id: 'selected_columns', multiple: true, size: 10,
              ondblclick: "moveOptions(this.form.selected_columns, this.form.available_columns);" %>
    </td>
    <td class="buttons">
      <input type="button" value="&#8648;" onclick="moveOptionTop(this.form.selected_columns);" /><br />
      <input type="button" value="&#8593;" onclick="moveOptionUp(this.form.selected_columns);" /><br />
      <input type="button" value="&#8595;" onclick="moveOptionDown(this.form.selected_columns);" /><br />
      <input type="button" value="&#8650;" onclick="moveOptionBottom(this.form.selected_columns);" />
    </td>
  </tr>
</table>

<%# Redmine4.1未満ではmin-widthではなくwidthに150pxが設定されているため4.1以降に合わせる %>
<style>
.query-columns select {
  width: initial;
  min-width: 150px;
}
</style>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('.query-columns').closest('form').submit(function() {
      $('#selected_columns option').prop('selected', true);
    });
  });
<% end %>
