<%= error_messages_for 'project_report_query' %>

<%= form_for(@project_report_query, html: {id: 'project_report_query_form'}) do |f| %>
  <div class="box">
    <div class="tabular">
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, :size => 80 %>
      </p>
      <p>
        <%= f.label :visibility %>
        <label class="block"><%= f.radio_button :visibility, ProjectReportQuery::VISIBILITY_PRIVATE %> <%= l(:label_visibility_private) %></label>
        <label class="block"><%= f.radio_button :visibility, ProjectReportQuery::VISIBILITY_PUBLIC %> <%= l(:label_visibility_public) %></label>
      </p>
    </div>
    <fieldset id="filters">
      <legend><%= l(:label_filter_plural) %></legend>
      <%= render 'project_report_overview/filters', f: f, query: @project_report_query.filter_query %>
    </fieldset>
    <fieldset id="options">
      <legend><%= l(:label_options) %></legend>
      <%= render 'options', f: f, option_query: @project_report_query.option_query %>
    </fieldset>
    <fieldset>
      <legend><%= l(:label_sort) %></legend>
      <%= render 'sort', f: f, sort_query: @project_report_query.sort_query %>
    </fieldset>
    <fieldset>
      <legend><%= l(:field_column_names) %></legend>
      <%= render 'columns', column_query: @project_report_query.column_query,
                            request_columns_name: 'project_report_query[column_names][]'  %>
    </fieldset>
  </div>
  <%= f.submit l(:button_save) %>
<% end %>
