<% option_query.each do |option| %>
  <% next if %(milestone_start_date milestone_months includes_closed_versions).include? option.key %>
  <p>
    <%= label_for_query_option(option) %>
    <%= input_field_for_query_option(option) %>
  </p>
<% end %>
<% option_query_with_struct = {}.tap { |hash| option_query.each { |struct| hash[struct.key] = struct } } %>
<p>
  <%= label_for_query_option(option_query_with_struct['milestone_start_date']) %>
  <%= input_field_for_query_option(option_query_with_struct['milestone_start_date']) %>
  <%= t('project_report_queries.options.milestone_months_html',
        month_field: input_field_for_query_option(option_query_with_struct['milestone_months'])) %>
</p>
<p>
  <%= input_field_for_query_option(option_query_with_struct['includes_closed_versions']) %>
  <%= label_for_query_option(option_query_with_struct['includes_closed_versions']) %>
</p>
