<% 3.times do |i| %>
  <%= content_tag(:span, "#{i+1}:", class: 'query_sort_criteria_count')%>
  <%= label_tag "project_report_query_sort_criteria_attribute_#{i}",
                l(:description_query_sort_criteria_attribute), class: "hidden-for-sighted" %>
  <%= select_tag("project_report_query[sort_criteria][#{i}][column]",
                 options_for_select({'' => ''}.merge(sort_query.available_options), selected: sort_query.columns[i]),
                id: "project_report_query_sort_criteria_attribute_#{i}")%>
  <%= label_tag "project_report_query_sort_criteria_direction_#{i}",
                l(:description_query_sort_criteria_direction), class: "hidden-for-sighted" %>
  <%= select_tag("project_report_query[sort_criteria][#{i}][order]",
                  options_for_select([[], [l(:label_ascending), 'asc'], [l(:label_descending), 'desc']], selected: sort_query.orders[i]),
                  id: "project_report_query_sort_criteria_direction_#{i}") %>
<br />
<% end %>
