<div class="contextual">
  <%= link_to l(:label_project_reports), project_reports_path(@project_report_query.to_query_param) %>
</div>
<h3><%= l(:label_project_report_query_new) -%></h3>

<%= render 'form' %>
<%= stylesheet_link_tag "lychee_project_report", plugin: :lychee_project_report %>
