<p>
<label><%= l(:field_indice_setting_numerator) -%></label>
  <%= select_tag 'custom_parameter[cf_numerator]', options_from_collection_for_select(custom_field_numerator_options, :id, :name, selected: indice_setting.custom_parameter[:cf_numerator]) %>
</p>
<p>
  <label><%= l(:field_indice_setting_denominator) -%></label>
  <%= select_tag 'custom_parameter[cf_denominator]', options_from_collection_for_select(custom_field_denominator_options, :id, :name, selected: indice_setting.custom_parameter[:cf_denominator]) %>
</p>
<p id='field_custom_parameter_time_entry_activity_ids_for_numerator'>
  <%= label_tag t(:field_custom_parameter_time_entry_activity_ids_for_numerator) %>
  <span>
    <%= collection_select(:custom_parameter, :time_entry_activity_ids_for_numerator, TimeEntryActivity.shared.active, :id, :name,
                          { selected: indice_setting.custom_parameter[:time_entry_activity_ids_for_numerator],
                            include_blank: l(:label_all) },
                          { multiple: true }) %>
  </span>
  <em><%= l('calculate_modules.custom_field_ratio.everything_included') -%></em>
</p>
<p id='field_custom_parameter_time_entry_activity_ids_for_denominator'>
  <%= label_tag t(:field_custom_parameter_time_entry_activity_ids_for_denominator) %>
  <span>
    <%= collection_select(:custom_parameter, :time_entry_activity_ids_for_denominator, TimeEntryActivity.shared.active, :id, :name,
                          { selected: indice_setting.custom_parameter[:time_entry_activity_ids_for_denominator],
                            include_blank: l(:label_all) },
                          { multiple: true }) %>
  </span>
  <em><%= t('.everything_included') -%></em>
</p>
<p>
  <label><%= l(:field_indice_setting_business_day) -%></label>
  <%= select_tag 'custom_parameter[cf_calc_business_day]',
    options_for_select({l(:field_indice_setting_business_day_yes) => 'yes',
                        l(:field_indice_setting_business_day_no)=> 'no'},
                        selected: custom_field_calc_business_day_selected(indice_setting.custom_parameter[:cf_calc_business_day])
                      ) %>
</p>
<p id="field_custom_parameter_include_parent_issues">
  <label><%= l(:field_indice_setting_include_parent_issues) -%></label>
  <%= check_box_tag('custom_parameter[include_parent_issues]', true, indice_setting.custom_parameter['include_parent_issues']) %>
</p>
