<p>
<label><%= l(:field_indice_setting_numerator) -%></label>
  <%= select_tag 'custom_parameter[cf_numerator]', options_from_collection_for_select(evm_custom_numerator_options, :id, :name, selected: indice_setting.custom_parameter[:cf_numerator]) %>
</p>
<p>
  <label><%= l(:field_indice_setting_denominator) -%></label>
  <%= select_tag 'custom_parameter[cf_denominator]', options_from_collection_for_select(evm_custom_denominator_options, :id, :name, selected: indice_setting.custom_parameter[:cf_denominator]) %>
</p>
