<span class='custom-issue-filter-item' data-item="<%= filter.item %>">
  <span class='label'><%= filter.name %></span>
  <span class='custom-issue-filter-content'>
    <%= select_tag "custom_parameter[#{number_type}_filters][#{filter.item}][matcher]",
                   options_for_select(filter.possible_matchers_options, selected: filter.matcher),
                   class: 'custom-issue-filter-matcher' %>
    <span class='custom-issue-filter-value-content'>
      <%= render "calculate_modules/filter_values/#{filter.value_template}", number_type: number_type, filter: filter %>
    </span>
  </span>
  <span class="ui-icon ui-icon-close delete-project-report-setting-button"></span>
</span>
