<label><%= l("label_project_report_#{number_type}_issue_filter") -%></label>
<% if number_type == 'denominator' %>
  <span class="use-denominator-issue-filter">
    <%= radio_button_tag 'custom_parameter[use_denominator_issue_filter]', false, !use_issue_filter, class: 'use_denominator_issue_filter' %>
    <%= label_tag 'custom_parameter_use_denominator_issue_filter_false', t(:label_project_report_same_conditions_as_numerator) %>
    <%= radio_button_tag 'custom_parameter[use_denominator_issue_filter]', true, use_issue_filter, class: 'use_denominator_issue_filter' %>
    <%= label_tag 'custom_parameter_use_denominator_issue_filter_true', t(:label_project_report_not_same_conditions_as_numerator) %>
  </span>
<% end %>
<span id="<%= "custom-#{number_type}-issue-filter-wrapper" %>" style="display: <%= use_issue_filter ? 'block' : 'none' %>">
  <span id="<%= "custom-#{number_type}-issue-filter-tools" %>" class="custom-issue-filter-tools">
    <%= select_tag "add_custom_#{number_type}_issue_filter",
                   options_for_select(CalculateModules::IssueFilter.filterable_options, disabled: issue_filters.map(&:item)),
                   prompt: l(:label_project_report_issue_filter_prompt),
                   data: {
                     'number_type' => number_type,
                     'item-url' => filter_item_indice_settings_path,
                     'value-url' => filter_value_indice_settings_path
                   },
                   class: 'add_custom_issue_filter' %>
  </span>
  <br/>
  <span id="<%= "custom-#{number_type}-issue-filter-items" %>" class="custom-issue-filter-items">
    <%= render partial: 'calculate_modules/filter_item', collection: issue_filters, as: :filter, locals: { number_type: number_type } %>
  </span>
</span>
