<p>
  <label><%= t('.working_hours') %></label>
  <span <%= Redmine::Plugin.installed?(:lrm) ? '' : 'disabled' %>>
  <%= check_box_tag 'custom_parameter[use_lrm]', true, indice_setting.custom_parameter[:use_lrm], disabled: Redmine::Plugin.installed?(:lrm) ? false : 'disabled' %>
  &nbsp;<%= t('.lrm_working_hours') %>
  </span>
  <br>
  <%= t('.daily_working_hours') %>&nbsp;<%= text_field_tag 'custom_parameter[distributed_hours]', indice_setting.custom_parameter[:distributed_hours], size: 2 %>&nbsp;<%= t(:field_hours) %>
</p>
<p>
  <%= label_tag t(:field_custom_parameter_time_entry_activity_ids) %>
  <span>
    <%= collection_select(:custom_parameter, :time_entry_activity_ids_for_numerator, TimeEntryActivity.shared.active, :id, :name,
                          { selected: indice_setting.custom_parameter[:time_entry_activity_ids_for_numerator], include_blank: t(:label_all) },
                          { multiple: true }) %>
  </span>
  <em><%= t('.everything_included') %></em>
</p>
