<% if controller_name == 'groups' && action_name == 'edit' && !Setting.gravatar_enabled? && @group.givable? %>
  <p id="attachments_form" class="lychee_profile_icon">
    <%= label_tag l(:label_icon) %>
    <%= lychee_preview_avatar @group %>
    <%= render partial: 'lychee_profile_icon/attachments/form',
                        locals: {
                          saved_attachments: @group.lychee_user_icon.try(:attachments)
                        } %>
  </p>
  <%= javascript_tag do %>
    $(function(){
      $('#group_name').parent('p').after($("#attachments_form"));
    })
  <% end %>
<% end %>
