<%= form_tag({}, method: :get, id: 'group_keys_form') do %>
  <% @query.group_keys.each do |group_key| %>
    <%= hidden_field_tag 'group_keys[]', group_key, id: nil %>
  <% end %>
  <%= hidden_field_tag 'set_filter', '1', id: nil %>

  <label for='group_keys'><%= l(:label_add_summary_column) %></label>:

  <%= select_tag('group_keys[]', group_key_options(hidden_options: @query.group_keys),
                                 onchange: 'this.form.submit();',
                                 style: 'width: 200px',
                                 disabled: (@query.group_keys.size >= 3),
                                 id: 'group_keys') %>
  <%= link_to l(:button_clear), { set_filter: true, group_keys: [''] }, class: 'icon icon-reload' %>
<% end %>
