<% return if table.group_key_count.zero? %>
<table
  border
  class="lrm-table workload"
  style="width: <%= 17 + (76 * table.group_key_count) + cell_width(table) * (table.date_headers.count + 1) %>px;"
>
  <thead>
    <!-- Invisible row to set column widths -->
    <tr class="column-width-row" style="visibility:collapse;">
      <% table.group_keys.each do %>
        <th style="width: 72px"><!-- Row key --></th>
      <% end %>
      <th style="width: 30px"><!-- P/WP/A --></th>
      <% table.date_headers.each do %>
        <td><!-- Date header --></td>
      <% end %>
      <td><!-- Sum column --></td>
    </tr>

    <tr class="header-row">
      <%# 集計対象項目名（ヘッダ）%>
      <% table.group_keys.each_with_index do |group_key, i| %>
        <%
          colspan = i < table.group_key_count - 1 ? 1 : 2
          row_key_left = lrm_table_cell_left_position(i)
          width = lrm_table_row_key_width(i, table.group_key_count)
        %>
        <th colspan="<%= colspan %>" class="row-key-header left-header <%= 'leftmost' if i == 0 %>" style="left: <%= row_key_left %>px; width: <%= width %>px">
          <%= group_key_label(group_key) %>
        </th>
      <% end %>
      <%# 日付ヘッダ%>
      <% table.date_headers.each do |header| %>
        <%= render_date_header header, time_series: table.time_series %>
      <% end %>
      <%# 合計ヘッダ %>
      <th id="row_total"><%= t("sum") %></th>
    </tr>
  </thead>

  <tbody>
    <%
      skip_holidays = table.time_series == TimeSeries::DAY
      rowspan = Lrm::TimeManagementSetting.use_time_management_work_plans? ? 3 : 2
      sub_header_left = lrm_table_cell_left_position(table.group_key_count)
    %>
    <% table.rows.each do |row| %>
      <% next if row.cells.all?(&:empty?) %>
      <%
        row_total = calc_row_total(row.cells)
        filtered_issues_url = issues_path(issue_index_params(row.key_ids, query))
      %>
      <tr class="planned <%= cycle('lrm-odd', 'lrm-even') %>">
        <%# 集計対象項目 %>
        <% row.key_names.each_with_index do |name, i| %>
          <% row_key_left = lrm_table_cell_left_position(i) %>
          <th class="row-key left-header <%= 'leftmost' if i == 0 %>" rowspan="<%= rowspan %>" style="left: <%= row_key_left %>px">
            <%= link_to name, filtered_issues_url, class: row.key_css_classes %>
          </th>
        <% end %>
        <%# 見出し「予工」 %>
        <th class="planned-header left-header" style="left: <%= sub_header_left %>px"><%= t("planned") %></th>
        <%# 時間数セル %>
        <% row.cells.each do |cell| %>
          <%= render_workload_cell cell.planned, class: workload_cell_class(cell, skip_holidays: skip_holidays, cell_type: :planned) %>
        <% end %>
        <%# 時間数合計 %>
        <%= render_workload_cell row_total[:planned]%>
      </tr>
      <% if Lrm::TimeManagementSetting.use_time_management_work_plans? %>
        <tr class="work_plan">
          <%# 見出し「予作」 %>
          <th class="work_plan-header left-header" style="left: <%= sub_header_left %>px"><%= t("work_plan") %></th>
          <%# 時間数セル %>
          <% row.cells.each do |cell| %>
            <%= render_workload_cell cell.work_plan, class: workload_cell_class(cell, skip_holidays: skip_holidays, cell_type: :work_plan) %>
          <% end %>
          <%# 時間数合計 %>
          <%= render_workload_cell row_total[:work_plan]%>
        </tr>
      <% end %>
      <tr class="actual">
        <%# 見出し「実作」 %>
        <th class="actual-header left-header" style="left: <%= sub_header_left %>px"><%= t("actual") %></th>
        <%# 時間数セル %>
        <% row.cells.each do |cell| %>
          <%= render_workload_cell cell.actual, class: workload_cell_class(cell, skip_holidays: skip_holidays, cell_type: :actual) %>
        <% end %>
        <%# 時間数合計 %>
        <%= render_workload_cell row_total[:actual]%>
      </tr>
    <% end %>

    <%# 合計 %>
    <% table_total = calc_row_total(table.summary_row) %>

    <tr class="planned">
      <%# 合計 %>
      <th class="total left-header leftmost" rowspan="<%= rowspan %>" colspan="<%= table.group_key_count %>" style="left: 0"><%= t("sum") %></th>

      <%# 合計「予工」 %>
      <th class="planned-header left-header" style="left: <%= sub_header_left %>px"><%= t("planned") %></th>
      <% table.summary_row.each do |cell| %>
        <%= render_workload_cell cell.planned %>
      <% end %>
      <%= render_workload_cell table_total[:planned] %>
    </tr>
    <% if Lrm::TimeManagementSetting.use_time_management_work_plans? %>
      <%# 合計「予作」 %>
      <tr class="work_plan">
        <th class="work_plan-header left-header" style="left: <%= sub_header_left %>px"><%= t("work_plan") %></th>
        <% table.summary_row.each do |cell| %>
          <%= render_workload_cell cell.work_plan %>
        <% end %>
        <%= render_workload_cell table_total[:work_plan] %>
      </tr>
    <% end %>
    <%# 合計「実作」 %>
    <tr class="actual">
      <th class="actual-header left-header" style="left: <%= sub_header_left %>px"><%= t("actual") %></th>
      <% table.summary_row.each do |cell| %>
        <%= render_workload_cell cell.actual %>
      <% end %>
      <%= render_workload_cell table_total[:actual] %>
    </tr>
  </tbody>
</table>

<style>
  .lrm-table td.holiday {
    background-color: inherit;
  }
</style>
