<table
  border
  id="<%= current_tab %>-table-main"
  class="lrm-table <%= current_tab %>"
  style="width: <%= 93 + cell_width(table) * table.date_headers.count %>px;"
>
  <thead>
    <!-- Invisible row to set column widths -->
    <tr class="column-width-row" style="visibility:collapse;">
      <th style="width: 90px"><!-- Row key --></th>
      <% table.date_headers.each do %>
        <td><!-- Date header --></td>
      <% end %>
    </tr>

    <tr class="header-row">
      <th class="row-key-header left-header leftmost" style="width: 87px; left: 0"><%= t(:field_assigned_to) %></th>
      <% table.date_headers.each do |header| %>
        <%= render_date_header header, time_series: table.time_series %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% table.rows.each do |row| %>
      <% next if row.cells.blank? %>
      <tr>
        <th class="row-key left-header leftmost <%= row.key_css_classes.join(', ') %>" style="left: 0"><%= row.key_names[0] %></th>
        <% row.cells.each do |cell| %>
          <td><%= format_content cell.content %></td>
        <% end %>
      </tr>
    <% end %>

    <tr class="selected">
      <th class="left-header leftmost" style="left: 0"><%= t('average') %></th>
      <% table.summary_row.each do |cell| %>
        <td><%= format_content cell.content %></td>
      <% end %>
    </tr>
  </tbody>
</table>
