<% content_for :header_tags do %>
  <%= stylesheet_link_tag "select2.css", plugin: "lrm" %>
  <%= stylesheet_link_tag "lrm", plugin: "lrm" %>
  <%= javascript_include_tag "highcharts/highcharts", plugin: "lrm" %>
  <%= javascript_include_tag "select2/select2.min.js", plugin: "lrm" %>
  <%= javascript_include_tag "lrm", plugin: "lrm" %>
  <%= javascript_include_tag "jquery.sticky-kit.min.js", plugin: "lrm" %>
<% end %>

<% html_title t(:label_resource_management) %>

<div class="contextual">
  <%= link_to t(:label_settings), resource_management_settings_path, class: 'icon icon-settings' if User.current.allowed_to_setting_lrm? %>
</div>

<h2>
  <%= t(:label_resource_management) %>
  <%= query_name(@query) %>
</h2>
<%== render partial: 'lrm/shared/query_form', locals: { query: @query, target_path: url_for(controller: 'resource_management', action: action_name) } %>

<div class="tabs">
  <ul>
    <li><%= tab_link_to 'workload' %></li>
    <li><%= tab_link_to 'working_rate' %></li>
    <li><%= tab_link_to 'productivity' %></li>
  </ul>
</div>

<div id="tab-content">
  <div id="tab-header">
    <div id="tab-header-left">
    </div>
    <div id="tab-header-right">
      <%= link_to t(:csv_download), { action: current_tab, format: :csv, params: { group_keys: [:user] } } %>
    </div>
  </div>
  <div id="tab-main"></div>
</div>

<p id="indicator"><%= t("indicator.loading") %></p>

<script>
  <% if action_name == 'index' && @rows_count > Lrm::Settings.rows_threshold %>
    if (confirm("<%= t(:confirm_rows_threshold_is_over, rows_threshold: Lrm::Settings.rows_threshold) %>")) {
      loadData();
    }
  <% else %>
    loadData();
  <% end %>

  function loadData() {
    Lrm.initialize();
    // jquery.sticky-kit For IE11
    $('.header-row').stick_in_parent();
    $('#indicator').show();
    $.ajax({
      type: 'GET',
      url: '<%= url_for(action: current_tab, format: :js) %>',
      data: <%= ajax_params %>,
    }).done(function() {
      $('#indicator').hide();
    });
  }
</script>
<style>
  #content {
    width: 75%;
  }
</style>
