<% chart = generate_chart(Lrm::Chart::Line, @table, y_axis_title: t('chart.productivity.y_axis_title'), cell_width: cell_width(@table)) %>

$(function() {
  $('#tab-main').append('<%= j high_chart("chart-container", chart) %>');
  $('#tab-main').append('<%= j render(partial: 'table_base', locals: { table: @table }) %>');
  Lrm.addClickHandlerForTableRows('#productivity-table-main tr');
  Lrm.initializeStickyLrmTable();
});
