<% chart = generate_chart(Lrm::Chart::Workload, @table, cell_width: cell_width(@table)) %>

$(function() {
  $('#tab-header-left').append('<%= j render(partial: 'key_selector') %>');
  $('#tab-main').append('<%= j high_chart("chart-container", chart) %>');
  $('#tab-main').append('<%= j render(partial: 'table_workload', locals: { table: @table, query: @query }) %>');
  Lrm.initializeStickyLrmTable();
});
