<p>
  <%= label(:issue_status, I18n.t(:issue_status_color)) %>
  <%= select(:issue_status, 'lychee_issue_status_color_attributes[color]', color_options, {selected: issue_status.lychee_issue_status_color.try(:color)}, {id: 'color_picker'}) %>
</p>

<%= javascript_include_tag('jquery.simplecolorpicker.js', plugin: :lychee_status_color) %>
<%= stylesheet_link_tag('jquery.simplecolorpicker.css', plugin: :lychee_status_color) %>
<%= stylesheet_link_tag('custom.jquery.simplecolorpicker.css', plugin: :lychee_status_color) %>
<script>
  jQuery(function($) {
    $('#color_picker').simplecolorpicker({theme: 'regularfont'});
  });
</script>
