.list {
  background-color: #404040;
  border: 1px #aaa solid;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  min-width: 240px;
  width: 240px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 152px;
  padding: 8px 14px;
}

.item:not(:last-child) {
  border-bottom: 1px #aaa solid;
}

.user {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 14px;
  font-weight: bold;
  word-break: break-word;
}

.avatar {
  color: #fff;
  background-color: #00ab9f;
  font-weight: bold;
  border-radius: 3px;
  margin-right: -8px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.avatar {
  background-color: #fff;
}

.workload {
  display: flex;
  font-size: 14px;
}

.workload .column {
  flex-grow: 1;
  overflow: hidden;
  min-width: 54px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.workload .column:first-child {
  margin-right: 4px;
}

.workload .column + .column {
  margin-left: 4px;
}

.workload .row {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.workload .label {
  margin-right: 4px;
}

.workload .hours {
  overflow: hidden;
  text-overflow: ellipsis;
}
