.container .container + .container {
  border: 0;
}

.container.dragging {
  opacity: 0.5;
}

.row {
  display: flex;
}

.handle {
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #ddd;
  min-width: 16px;
  max-width: 16px;
}

.handle.draggable {
  background-image: url('@/images/handle.png');
  cursor: pointer;
}

.column {
  box-sizing: border-box;
  min-width: 240px;
  flex-grow: 1;
  flex-basis: 0%;
}

.column + .column {
  border-left: 1px solid #ddd;
}

.row.highlight .handle,
.row.highlight .column {
  background-color: #ffc;
}

.container .container .handle {
  border-top: 1px solid #ddd !important;
}

.container + .container > .row > .handle,
.container + .container > .row > .column {
  border-top: 2px solid #7b99a2;
}

.container .container + .container > .row > .column {
  border-top: 0;
}
