/*
 * Issue Form CSS (ポップアップヘルプ定義）
 */

.lychee-issue-form__container_full,
.lychee-issue-form__container_half {
  .popup-help {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 90%;
    padding: 4px 16px 4px 16px;
    border: 1px solid #afbbc0;
    border-radius: 6px;
    z-index: 700;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  }

  .popup-help .help-left {
    float: left;
    text-align: left;
    width: 30%;
    padding-top: 8px;
  }

  .popup-help .help-left img {
    width: 90%;
    padding: 0;
  }

  .popup-help .help-right {
    float: left;
    text-align: left;
    width: 70%;
  }

  .popup-help .help-right h4 {
    border-bottom: 0;
    font-weight: normal;
    color: #002d40;
    font-size: 12px;
    margin-top: 7px;
  }

  .popup-help .help-right h4 b {
    font-weight: bold;
    color: #002d40;
    font-size: 12px;
  }

  .popup-help .help-right p {
    color: #002d40;
    font-size: 12px;
  }
}
