/*
 * Issue Form CSS (ポップアップチケットコンテキスト定義）
 */

.lychee-issue-form__container_full,
.lychee-issue-form__container_half {
  .popup-ticket-context,
  .popup-journal-context {
    position: absolute;
    top: 0;
    right: 29px;
    width: 170px;
    padding: 0;
    border: 1px solid #afbbc0;
    border-radius: 6px;
    z-index: 700;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  }

  .popup-ticket-context ul,
  .popup-journal-context ul {
    margin: 0;
    padding: 6px 0;
  }

  .popup-ticket-context ul li,
  .popup-journal-context ul li {
    list-style-type: none;
    padding: 4px 10px;
  }

  .popup-ticket-context ul li.separate,
  .popup-journal-context ul li.separate {
    border-bottom: 1px solid #afbbc0;
    margin-bottom: 6px;
  }

  .popup-ticket-context ul li.label,
  .popup-journal-context ul li.label {
    font-size: 12px;
    color: #637982;
  }

  .popup-ticket-context ul li button,
  .popup-journal-context ul li button {
    margin: auto 2px;
    padding: 2px;
    border: 0;
    cursor: pointer;
    text-align: left;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: flex;
  }

  .popup-ticket-context ul li button.empty_svg,
  .popup-journal-context ul li button.empty_svg {
    margin-left: 22px;
    width: 128px;
    display: inline-block;
  }

  .popup-ticket-context ul li button .svg,
  .popup-journal-context ul li button .svg {
    width: 14%;
  }

  .popup-ticket-context ul li button .tail,
  .popup-journal-context ul li button .tail {
    float: right;
  }

  .popup-ticket-context ul li button .label,
  .popup-journal-context ul li button .label {
    width: 86%;
    font-size: 12px;
  }

  .popup-ticket-context ul li button .label-short,
  .popup-journal-context ul li button .label-short {
    float: left;
    font-size: 12px;
  }

  .popup-ticket-context ul li button:hover,
  .popup-journal-context ul li button:hover {
    font-weight: bold;
    background-color: #dde9ee;
  }

  .popup-ticket-context ul li button svg,
  .popup-journal-context ul li button svg {
    display: block;
    width: 14px;
    height: 100%;
    margin-right: 6px;
    margin-top: 2px;
    float: left;
  }
}
