/*
 * Issue Form CSS (ポップアップメニュー定義）
 */

.lychee-issue-form__container_full,
.lychee-issue-form__container_half {
  #popup {
    position: fixed;
    bottom: 36px;
    right: 18px;
    width: 170px;
    padding: 0;
    border: 1px solid #afbbc0;
    border-radius: 6px;
    z-index: 700;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  }

  #popup ul {
    margin: 0;
    padding: 6px 0;
  }

  #popup ul li {
    list-style-type: none;
    padding: 4px 10px;
  }

  #popup ul li.separate {
    border-bottom: 1px solid #afbbc0;
    margin-bottom: 6px;
  }

  #popup ul li.label {
    font-size: 12px;
    color: #637982;
  }

  #popup ul li button {
    margin: auto 2px;
    padding: 2px;
    border: 0;
    cursor: pointer;
    text-align: left;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: flex;
  }

  #popup ul li button .svg {
    width: 14%;
  }

  #popup ul li button .label {
    width: 86%;
    font-size: 12px;
  }

  #popup ul li button:hover {
    font-weight: bold;
    background-color: #dde9ee;
  }

  #popup ul li button svg {
    display: block;
    width: 14px;
    height: 100%;
    margin-right: 6px;
    margin-top: 2px;
    float: left;
  }
}
