/*
 * Issue Form CSS (進捗率のゲージ）
 */

.lychee-issue-form__container_full,
.lychee-issue-form__container_half {
  .bar-holder {
    float: left;
    width: 100px;
    background-color: #d9d9d9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 2px auto 0;
    height: 11px;
  }

  .bar {
    /* width: 20%; set width at html style tag */
    background-color: #0b8749;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    height: 11px; /* same as bar-holder height */
  }

  .bar-label {
    padding-left: 4px;
    color: #002e40;
    font-size: 12px;
  }
}
