/*
 * Issue Form CSS (画面横幅調整用ノブ）
 */

.lychee-issue-form__container_full,
.lychee-issue-form__container_half {
  .handle-outside {
    position: absolute;
    top: 50vh;
    left: -13px;
    cursor: grab;
  }

  .handle-inside {
    position: absolute;
    top: 50vh;
    cursor: grab;
    margin-left: -21px;
  }
}
