/*
 * Issue Form CSS (チケット部分）
 */

.lychee-issue-form__body_full {
  padding-right: 75%; /* 元領域のスクロールはここが同じ値になればOK */
  width: 100%;
}

.lychee-issue-form__container_full {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 75%; /* 元領域のスクロールはここが同じ値になればOK */
  z-index: 500;
}

.lychee-issue-form__body_half {
  padding-right: 45%; /* 元領域のスクロールはここが同じ値になればOK */
  width: 100%;
}

.lychee-issue-form__container_half {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 45%; /* 元領域のスクロールはここが同じ値になればOK */
  z-index: 500;
}

.lychee-issue-form__container_full,
.lychee-issue-form__container_half {
  .hideView {
    display: none;
  }

  *[tabindex='0'] {
    background-color: #dde9ee;
    font-weight: bold;
  }

  div.edit[tabindex='0'] {
    background-color: inherit;
    font-weight: normal;
  }

  .__fullsize {
    width: 75%; /* 元領域のスクロールはここが同じ値になればOK */
  }

  .__halfsize {
    width: 45%;
  }

  .help {
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: inline-block;
  }

  .danger * {
    color: #a50000;
  }
  .content {
    background-color: #fff;
    border-left: 1px solid #afbbc0;
    height: 100%;
    margin: 0;
    position: sticky;
  }

  .content .dialog {
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
  }

  .content .dialog #dialog-content {
    height: calc(100% - 40px); /* footer height */
    display: block;
  }

  .content .dialog-toggle-view {
    border-radius: 5px;
    background-color: #f0f2f3;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 56px;
    top: 12px;
    padding: 1px 4px 3px;
  }

  .content .dialog-toggle-view button {
    border: 0;
    cursor: pointer;
  }

  .content .dialog-toggle-view button svg {
    border: 0;
    margin-right: 4px;
  }

  .content .dialog-toggle-view button .svg {
    width: 14%;
    display: inline-block;
    float: left;
  }

  .content .dialog-toggle-view button .label {
    width: 86%;
    font-size: 12px;
    display: inline-block;
    float: left;
    text-align: right;
  }

  .content .dialog-toggle-view .active {
    border-radius: 5px;
    background-color: #ffffff;
    color: #002e40;
  }

  .content .dialog-toggle-view .deactive {
    border-radius: 5px;
    background-color: #f0f2f3;
    color: #002e40;
  }

  .content .dialog-close {
    border: 0;
    color: #002e40;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 16px;
    top: 16px;
  }

  /*
   * content
   */
  .required {
    color: #a50000;
  }

  #dialog-content-header {
    padding: 12px;
    height: 98px;
  }

  #dialog-content-header H4 {
    border-bottom: initial;
    font-size: 16px;
  }

  #dialog-content-header H4 .tracker {
    font-size: 22px;
    line-height: 0;
    margin: 0 10px 0 0;
  }

  #dialog-content-header H4 .attribute {
    display: flex;
    align-items: center;
  }

  #dialog-content-header H3 {
    color: #002e40;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  #dialog-content-header H3 .edit input {
    width: 100%;
  }

  #dialog-content-columns {
    border-top: 1px solid #afbbc0;
    display: flex;
    width: 100%;
    height: calc(100vh - 178px); /* browser height - header & footer section */
  }

  /* footer */

  #dialog-footer {
    bottom: 0;
    right: 0;
    display: block;
    position: fixed;
    z-index: 500;
    background-color: #ffffff;
    border-width: 1px 0 0 1px;
    border-color: #afbbc0;
    border-style: solid;
    height: 40px;
    margin: 0;
    padding: 5px 7px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  #dialog-footer #lif-badge-private {
    margin-right: auto;
  }

  #dialog-footer .watch {
    margin-right: 8px;
  }

  #dialog-footer #sequential-create-issue {
    margin: 0 10px 0 auto;
    height: 30px;
    border-radius: 6px;
    color: #116699;
    cursor: pointer;
  }

  #dialog-footer #create-issue {
    margin: 0 10px 0 5px;
    height: 30px;
    color: #fff;
    border-radius: 6px;
    border: 1px solid var(--product-default, #085a79);
    background: var(--product-default, #085a79);
    /* shadow */
    box-shadow:
      0px 1px 2px -1px rgba(0, 0, 0, 0.1),
      0px 1px 3px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

  /* buttons */

  button.watch,
  button.switch-view,
  button.context {
    background-color: #f0f2f3;
    border: 0;
    font-size: 12px;
    color: #002e40;
    cursor: pointer;
  }

  button.mini-context {
    background-color: #f0f2f3;
    border: 0;
    font-size: 12px;
    color: #002e40;
    cursor: pointer;
    padding: 2px 6px 0 6px;
  }

  button.watch svg,
  button.switch-view svg,
  button.context svg {
    padding-top: 2px;
    margin-right: 5px;
  }

  button.watch .svg {
    width: 14%;
    display: inline-block;
    float: left;
  }

  button.watch .label {
    width: 86%;
    font-size: 12px;
    display: inline-block;
    float: left;
    text-align: right;
  }

  /* left */

  .lif-description {
    display: block;
    width: 100%;
  }

  .lif-description .header {
    display: flex;
    width: 100%;
  }

  .lif-description .header .left H5 {
    color: #002e40;
    font-size: 14px;
  }

  .lif-description:hover .header .right {
    float: left;
    text-align: right;
    width: 45%;
    display: block;
  }

  .lif-description .header .right {
    display: none;
  }

  .lif-description .text {
    width: 100%;
    overflow-wrap: break-word;
  }

  .lif-description .text .show:hover {
    background-color: #eee;
  }

  .lif-description .text .show,
  .lif-description .text .edit {
    min-height: 25px;
  }

  .lif-description .left {
    display: block;
    float: left;
    width: 55%;
  }

  .lif-description .right .quote {
    color: #637982;
    font-size: 30px;
  }

  #dialog-content-column-left {
    display: block;
    float: left;
    margin: 0;
    padding: 10px;
    width: 55%;
    overflow-y: scroll;
  }

  #dialog-content-column-left::-webkit-scrollbar {
    width: 15px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
  }

  #dialog-content-column-left::-webkit-scrollbar-track {
    background-color: #fff;
  }

  #dialog-content-column-left::-webkit-scrollbar-thumb {
    overflow: hidden;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background-color: #b2c0c6;
    border: 5px solid #fff;
  }

  .fields dl {
    display: flex;
    flex-wrap: wrap;
  }

  .fields dl dt {
    font-weight: bold;
    min-width: 120px;
    max-width: 120px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
  }

  .dl-max-width {
    max-width: 150px; /* 開始日など dl で横並びになっている箇所の最大横幅（バリデーションエラー表示考慮） */
  }

  .fields .attribute dd {
    width: calc(100% - 160px);
  }

  .fields .attribute dd .show {
    min-height: 20px;
    position: relative;
    top: 3px;
    padding: 3px;
    border-radius: 3px;
  }

  .fields .attribute dd .show:hover {
    background-color: #eee;
  }

  .fields .attribute dd .edit > select,
  .fields .attribute dd .edit > input {
    width: 100%;
  }
  .date-fields {
    border-bottom: 1px solid #afbbc0;
  }

  .date-fields span {
    margin: auto 4px;
    font-size: 16px;
  }

  .date-fields dl {
    display: inline-block;
  }

  .date-fields dl dt {
    font-weight: bold;
    padding-bottom: 6px;
  }

  .date-fields dl dd {
    margin-inline-start: 2px;
  }

  .date-fields dl dd .issue-item {
    display: flex;
    align-items: center;
  }

  .date-fields dl dd .issue-item .show {
    margin-left: 5px;
  }

  .date-fields dl dd .issue-item .show:hover {
    background-color: #eee;
  }

  .horizon-fields {
    border-bottom: 1px solid #afbbc0;
  }

  .horizon-fields dl {
    display: inline-block;
    padding-right: 15px;
  }

  .horizon-fields dl dt {
    font-weight: bold;
    padding-bottom: 6px;
  }

  .horizon-fields dl dd {
    margin-inline-start: 2px;
  }

  .horizon-fields dl dd .issue-item {
    display: flex;
    align-items: center;
  }

  .horizon-fields dl dd .issue-item .unit {
    margin-left: 5px;
  }

  div.flex {
    display: flex;
  }

  .details summary {
    color: #637982;
    list-style: none;
    cursor: pointer;
  }

  .details summary::-webkit-details-marker {
    display: none;
  }

  .details summary:before {
    content: '> ';
  }

  .details .content {
    margin: 10px 0 0 px;
    border-left: 1px solid #afbbc0;
  }

  .details .content dl {
    padding: 2px 8px 2px 8px;
  }

  .details .content dl dt {
    width: 150px;
    display: inline-block;
    font-weight: bold;
  }

  .details .content dl dd {
    display: inline-block;
    margin-inline-start: 2px;
  }

  /* right */

  #dialog-content-column-right {
    display: block;
    border-left: 1px solid #afbbc0;
    float: left;
    margin: 0 0 0 4px;
    padding: 8px 6px 8px 8px;
    width: 45%;
  }

  #tab-buttons {
    display: flex;
    width: 100%;
    padding: 4px 0 12px 0;
  }

  #tab-buttons button {
    flex-grow: 1;
    margin: auto 1px;
    padding: 1px;
    border: 0;
    color: #116699;
  }

  #tab-buttons button:hover {
    flex-grow: 1;
    margin: auto 2px;
    padding: 2px;
    border: 0;
    color: #002e40;
    font-weight: bold;
    background-color: #dde9ee;
    cursor: pointer;
  }

  .lif-tab-content {
    overflow-y: scroll;
    padding: 0 6px 0 6px;
    height: calc(100vh - 230px);
    position: relative;
  }

  .lif-tab-content::-webkit-scrollbar {
    width: 13px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
  }

  .lif-tab-content::-webkit-scrollbar-track {
    background-color: #fff;
  }

  .lif-tab-content::-webkit-scrollbar-thumb {
    overflow: hidden;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background-color: #b2c0c6;
    border: 4px solid #fff;
  }

  .lif-tab-content #tab-content-comments_and_journals,
  .lif-tab-content #tab-content-time_entries,
  .lif-tab-content #tab-content-files,
  .lif-tab-content #tab-content-histories,
  .lif-tab-content #tab-content-related_tickets {
    width: 99%; /* 横スクロール抑制 */
  }

  .lif-tab-content .total {
    color: #637982;
    padding-bottom: 14px;
  }

  .lif-tab-content .item {
    display: inline-block;
    width: 100%;
    padding-bottom: 6px;
  }

  .lif-tab-content .item .avatar {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    padding: 14px 9px 9px 0;
  }

  .lif-tab-content .item .avatar .stamp {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    background-color: #085a79;
    font-size: 13px;
    text-align: center;
    line-height: 23px;
  }

  .lif-tab-content .item .avatar .stamp span.gravatar,
  .lif-tab-content .item .avatar .stamp img.gravatar {
    border-radius: 50%;
    margin-bottom: 2px;
    transform: scale(1.2, 1.2);
  }

  .lif-tab-content .item .meta {
    float: left;
    width: 90%;
  }

  .lif-tab-content .item .note-header {
    display: flex;
  }

  .lif-tab-content .item .note-header .meta {
    float: right;
    width: calc(100% - 38px);
    margin: 0 0 0 auto;
  }

  .lif-tab-content .item .meta .meta-full {
    float: left;
    text-align: left;
    width: 100%;
  }

  .lif-tab-content .item .meta .meta-left {
    float: left;
    text-align: left;
    vertical-align: middle;
    width: 60%;
    padding: 12px 0;
    line-height: 28px;
  }

  .lif-tab-content .item .meta .meta-right {
    float: right;
    text-align: right;
    vertical-align: middle;
    width: 40%;
    padding: 12px 0;
    line-height: 28px;
  }

  .lif-tab-content .item .notes .wiki {
    width: 90%;
    float: right;
  }

  .lif-tab-content .item .private-notes .wiki {
    width: 90%;
    float: right;
    margin-top: 12px;
    padding-left: 10px;
    border-left: 1px solid #a50000;
  }

  .lif-tab-content .item .item-date {
    float: right;
    margin: 0 0 10px auto;
    text-align: right;
    font-size: 9px;
    width: 100%;
  }

  .lif-tab-content .item .details {
    width: 90%;
    float: right;
    background-color: #f0f2f3;
    padding: 4px 14px;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 2px auto;
  }

  .lif-tab-content .item .notes ul.details {
    width: 90%;
    padding: 10px 28px;
  }

  .lif-tab-content .item .private-notes ul.details {
    width: 90%;
    float: right;
    padding: 10px 28px;
  }

  .lif-tab-content .item .details ul.details {
    float: left;
  }

  .lif-tab-content .item .private-details {
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 8px 0;
  }

  .lif-tab-content .item .private-details ul.details {
    padding: 10px 28px;
  }

  .lif-tab-content .item .notes .comments {
    width: 100%;
    color: #637982;
    float: left;
  }

  .lif-tab-content .item .notes div.thumbnails,
  .lif-tab-content .item .private-notes div.thumbnails {
    margin: 0.6em 0.6em 0.6em 3.2em;
    width: 90%;
    float: right;
  }

  .lif-tab-content .item .notes div.thumbnails div,
  .lif-tab-content .item .private-notes div.thumbnails div {
    margin: 1em 0.7em;
  }

  .lif-tab-content #tab-content-comments_and_journals .comment-properties,
  .lif-tab-content #tab-content-comments_and_journals .comment-edit-properties {
    display: flex;
    margin: 10px 0 0 0;
  }

  .lif-tab-content
    #tab-content-comments_and_journals
    .comment-properties
    .cancel,
  .lif-tab-content
    #tab-content-comments_and_journals
    .comment-edit-properties
    .cancel {
    margin: 0 10px 0 auto;
    height: 36px;
    border-radius: 6px;
    color: #116699;
    cursor: pointer;
  }

  .lif-tab-content #tab-content-comments_and_journals .comment-properties .add,
  .lif-tab-content
    #tab-content-comments_and_journals
    .comment-edit-properties
    .add {
    margin: 0 0 0 0;
    height: 36px;
    color: #fff;
    border-radius: 6px;
    border: 1px solid var(--product-default, #085a79);
    background: var(--product-default, #085a79);
    /* shadow */
    box-shadow:
      0px 1px 2px -1px rgba(0, 0, 0, 0.1),
      0px 1px 3px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

  .lif-tab-content #tab-content-comments_and_journals .notify label {
    display: block;
    background-color: #f0f2f3;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
  }

  .lif-tab-content #tab-content-comments_and_journals .notify .label {
    height: 30px;
    padding: 12px 0 0 8px;
    display: inline-block;
    width: 100%;
  }

  .lif-tab-content #tab-content-comments_and_journals .controls {
    margin-top: 30px;
  }

  .lif-tab-content #tab-content-comments_and_journals .no-journals {
    margin-left: 5px;
    color: #637982;
  }

  .attachment_files {
    padding-bottom: 20px;
    border-bottom: 1px solid #afbbc0;
  }

  .lif-tab-content .add-file,
  .attachment_files .add-file {
    background-color: #f0f2f3;
    width: 98%;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
  }

  .lif-tab-content .add-file .label,
  .attachment_files .add-file .label {
    height: 30px;
    padding: 12px 0 0 8px;
    display: inline-block;
    width: 100%;
  }

  .lif-tab-content .added-file-name,
  .attachment_files .added-file-name {
    margin: 10px 0 5px 0;
  }

  .lif-tab-content .added-file-description,
  .attachment_files .added-file-description {
    margin: 0 5px;
    width: 95%;
  }

  .lif-tab-content .btn-area,
  .attachment_files .btn-area {
    display: flex;
  }

  .lif-tab-content .btn-files-add,
  .attachment_files .btn-files-add {
    height: 25px;
    background: #4676d7;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    margin: 10px 5px 10px auto;
  }

  .lif-tab-content .btn-files-add:hover,
  .attachment_files .btn-files-add:hover {
    opacity: 0.7;
  }

  .lif-tab-content .btn-files-add:active,
  .attachment_files .btn-files-add:active {
    margin-top: 12px;
  }

  .lif-tab-content .add-comment {
    background-color: #f0f2f3;
    width: 98%;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 12px;
  }

  .lif-tab-content .add-comment .label {
    height: 30px;
    padding: 12px 0 0 8px;
    display: inline-block;
    width: 100%;
  }

  .lif-tab-content .controls {
    margin-bottom: 12px;
    text-align: right;
  }

  .lif-tab-content .controls .filter select.dropdown-simple {
    border: 0;
  }

  .lif-tab-content .controls .filter select.dropdown-simple:hover {
    background-color: #f0f2f3;
  }
  #add-files-name .flex svg {
    vertical-align: middle;
    margin: 5px;
  }

  #add-files-name .added-file-description {
    width: 90%;
  }

  #add-files-name button.added-file-delete {
    border: 0;
    background-color: #fff;
  }

  .attachment_files .attachment-max-size {
    color: #637982;
  }

  .attachment_files .item-attach TABLE.attach_files {
    width: 100%;
  }

  .attachment_files .item-attach table.attach_files tr td {
    padding-bottom: 24px;
  }

  .attachment_files .item-attach .description {
    color: #637982;
  }

  .attachment_files .item-attach .meta {
    color: #637982;
  }

  .attachment_files .item-attach .meta p {
    float: left;
    margin-right: 4px;
  }

  .attachment_files .item-attach .meta svg {
    margin: -3px 2px;
  }

  .attachment_files .item-attach .attach-left {
    text-align: left;
    width: 80%;
  }

  .attachment_files .item-attach .attach-left .filename,
  .attachment_files .item-attach .attach-left .description,
  .attachment_files .item-attach .attach-left .meta {
    padding: 3px 8px;
    overflow-wrap: anywhere;
  }

  .attachment_files .item-attach .attach-left .file-info input {
    width: 100%;
  }

  .attachment_files
    .item-attach
    .attach-left
    .file-info
    .validation_error_message {
    color: #af0000;
    font-size: 0.75rem;
    font-weight: normal !important;
    margin: 2px auto;
  }
  .attachment_files .item-attach .attach-left .file-info .validation_error {
    border: 1px solid #af0000 !important;
  }

  .attachment_files .item-attach .attach-left .right-area {
    display: flex;
    min-width: 140px;
  }

  .attachment_files .buttons-area {
    display: flex;
    margin: 20px 0 0 auto;
    text-align: right;
  }

  .attachment_files .buttons-area button.cancel {
    margin: 0 10px 0 auto;
    height: 36px;
    border-radius: 6px;
    color: #116699;
  }

  .attachment_files .buttons-area button.update {
    margin: 0 0 0 0;
    height: 36px;
    color: #fff;
    border-radius: 6px;
    border: 1px solid var(--product-default, #085a79);
    background: var(--product-default, #085a79);
    /* shadow */
    box-shadow:
      0px 1px 2px -1px rgba(0, 0, 0, 0.1),
      0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  }

  .attachment_files .item-attach .attach-right {
    text-align: right;
    width: 20%;
    min-width: 90px;
    position: relative;
  }

  .lif-tab-content .item .context-menus,
  .lif-tab-content .item-attach .attach-right .context-menus,
  .attachment_files .item .context-menus,
  .attachment_files .item-attach .attach-right .context-menus {
    display: none;
  }

  .lif-tab-content .item:hover .context-menus,
  .lif-tab-content .item-attach .attach-right:hover .context-menus {
    position: relative;
    display: inline-block;
  }

  .attachment_files table.attach_files tr:hover .attach-right .context-menus {
    position: relative;
    display: inline-block;
  }

  .hidden-context-menus {
    position: inherit !important;
    display: none !important;
  }

  .lif-tab-content .item-tasks {
    margin-bottom: 24px;
  }

  .lif-tab-content .item-tasks .stats {
    position: relative;
  }

  .lif-tab-content .item-tasks .stats .count,
  .lif-tab-content .item-task-stats .stats .count {
    border-radius: 50%;
    background-color: #f0f2f3;
    display: inline-block;
    height: 14px;
    text-align: center;
    line-height: 14px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.7rem;
  }

  .lif-tab-content .item-tasks .stats .closed,
  .lif-tab-content .item-task-stats .stats .closed {
    color: #116699;
    display: inline-block;
    font-weight: bold;
    margin: 0 4px 0 12px;
  }

  .lif-tab-content .item-tasks .stats .open,
  .lif-tab-content .item-task-stats .stats .open {
    color: #637982;
    display: inline-block;
    font-weight: bold;
    margin: 4px;
  }

  .lif-tab-content .item-tasks .stats .stats-left {
    float: left;
    text-align: left;
    width: 90%;
  }

  .lif-tab-content .item-tasks .stats .stats-right {
    float: right;
    text-align: right;
    width: 10%;
    position: relative;
  }

  .lif-tab-content .item-tasks .tasks {
    width: 100%;
  }

  .lif-tab-content .item-tasks .tasks .tasks-left {
    text-align: left;
    width: 80%;
  }

  .lif-tab-content .item-tasks .tasks .tasks-right {
    text-align: right;
    width: 20%;
    vertical-align: middle;
    position: relative;
  }

  .lif-tab-content .item-tasks .tasks table {
    border-spacing: 0;
    width: 100%;
  }

  .lif-tab-content .item-tasks .tasks .closed-task {
    opacity: 0.5;
  }

  .lif-tab-content .item-tasks .tasks .closed-task .subject {
    text-decoration: line-through;
  }

  .lif-tab-content .item-tasks .tasks table tr td {
    border-spacing: 0;
    border-bottom: 1px solid #d5dfd2;
  }

  .lif-tab-content .item-tasks .tasks table tr td p {
    padding-top: 8px;
  }

  .lif-tab-content .item-tasks .tasks table tr td .bar-holder {
    width: 50px;
    height: 5px;
  }

  .lif-tab-content .item-tasks .tasks table tr td .bar-holder .bar {
    height: 5px;
  }

  .lif-tab-content .item-tasks .tasks table tr td .project {
    clear: both;
    margin: 1px auto;
  }

  .lif-tab-content .item-tasks .tasks table tr td .subject {
    clear: both;
  }

  .lif-tab-content .item-task-stats {
    margin-bottom: 12px;
  }

  /* time entries */
  .lif-tab-content .tab-content-time_entries-form {
    display: block;
  }

  .lif-tab-content .tab-content-time_entries-form dl {
    display: flex;
    flex-wrap: wrap;
  }
  .lif-tab-content .tab-content-time_entries-form dl dt {
    font-weight: bold;
    width: 20%;
  }
  .lif-tab-content .tab-content-time_entries-form dl dd {
    width: 70%; /* dt のパーセントと合算して100%だと溢れるので少し余裕を持たせる */
  }

  .lif-tab-content .tab-content-time_entries-form input[name='record_button'] {
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #085a79;
    color: white;
    border-radius: 6px;
    height: auto;
    padding: 8px 12px;
  }

  .lif-tab-content .tab-content-time_entries-form div {
    background-color: #f1f2f3;
    padding: 16px;
    border-radius: 6px;
  }

  #tab-content-time_entries .tab-content-time_entries-form dl dd {
    margin-inline-start: 20px;
  }

  #tab-content-time_entries .lif_validation_error {
    border-width: 1px;
    border-color: #af0000 !important;
  }

  #tab-content-time_entries .lif_validation_error_message {
    color: #af0000;
    font-size: 0.75rem;
    font-weight: normal !important;
    margin: 2px auto;
    padding: 0;
  }

  #tab-content-time_entries .lif_validation_error_message[tabindex='0'] {
    background-color: #fff;
  }

  #tab-content-time_entries .notes > * {
    float: right;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* single */

  #dialog-content-column-single {
    display: block;
    float: left;
    margin: 0;
    padding: 8px 6px 8px 8px;
    width: 100%;
  }

  /* issue items */
  .date-fields .edit input {
    font-family: Verdana, sans-serif;
    width: 100px;
    margin: 0;
    padding: 0 0 0 2px;
    font-size: 12px;
    border-radius: 5px;
  }
  .horizon-fields .edit input {
    font-family: Verdana, sans-serif;
    width: 50px;
    margin: 0;
    padding: 0 0 0 2px;
    font-size: 12px;
    border-radius: 5px;
  }

  .errors {
    margin: 0 0 10px 10px;
    color: #ff0000;
  }

  .lif-disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: graytext;
    background-color: #ebebe4;
  }

  /* prevent column colapsing on show description */
  .fields dt.lif-status {
    display: block;
  }

  /* help icon */
  .lif-status-description-icon {
    margin-left: 8px;
  }

  #lif_statuses_description {
    position: relative;
  }

  #lif_statuses_description .lif-modal {
    z-index: 1;
    display: block;
    padding: 4px;
    overflow: auto; /* Enable scroll if needed */
    position: absolute;
    width: 480px;
    border: 1px solid #555;
    font-weight: normal;
    background-color: #dde9eeff;
  }

  #lif_statuses_description .lif-modal .lif-modal-close {
    border: 0;
    color: #002e40;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: #dde9eeff;
  }

  #lif_statuses_description .lif-modal dl {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  #lif_statuses_description .lif-modal dt {
    font-weight: bold;
    max-width: 480px;
    text-decoration: none;
  }

  #lif_statuses_description .lif-modal dd {
    margin: 0;
    padding: 0 0 1em 0;
    width: 100%;
  }
}
