.lychee-issue-form__container_full,
.lychee-issue-form__container_half {
  .lif_validation_error {
    /* CF チェックボックスグループなど、そもそも border-width: 0 のものがあるため */
    border: 1px solid #af0000 !important;
  }

  .lif_validation_error_message {
    color: #af0000;
    font-size: 0.75rem;
    font-weight: normal !important;
    margin: 2px auto;
  }
}

/* 親チケットの候補 */
.ui-widget.ui-widget-content {
  z-index: 1000;
}
