<% messages.each do |message| %>
  <div class="message <%= message.read_at ? '' : 'unread' %> <%= message.id.to_s == params[:message_id] ? 'current' : '' %>"
       data-id="<%= message.id %>"
       data-notified-at="<%= message.notified_at.iso8601(9) %>"
       data-path="<%= lychee_message_box_my_box_message_path(message.id) %>">
    <div class="title-and-time">
      <div class="tags-and-time">
        <div class="message-tags">#<%= message.content.issue.id %></div>
        <div class="message-notified-at"><%= format_time(message.notified_at) %></div>
      </div>
      <div class="message-subject-wrap">
        <div class="unread-badge-wrap">
          <span class="unread-badge"></span>
        </div>
        <div class="message-subject">
          <%= message.content.issue.subject %>
        </div>
      </div>
      <div class="message-description">
        <%= message_text(message.content) %>
      </div>
    </div>
  </div>
<% end %>
