<div class="details">
  <div class="details-box">
    <div class="details-title">
      <div class="message-tags-and-time-container">
        <div class="message-tags">
          <% message.content.issue.project.self_and_ancestors.each do |project| %>
            <li><%= project.name %></li>
          <% end %>
        </div>
      </div>
      <div class="message-subject">
        <%= link_to("##{message.content.issue.id}", issue_path(message.content.issue), target: '_blank') %>
        <span><%= message.content.issue.subject %></span>
      </div>
    </div>
    <div class="details-content scroll-last">
      <div class="notes-wrap">
        <% message.content.issue_journals.each do |journal| %>
          <% next if journal.notes.blank? && journal.visible_details_without_check_list.blank? %>
          <% mine = User.current == journal.user %>
          <div id="note-<%= journal.indice %>" class="<%= mine ? :mine : :others %> <%= note_class(journal) %>">
            <div class="name-and-time">
              <% unless mine %>
                <span class="name"><%= l(:label_issue_updated_by, author: journal.user) %></span>
              <% end %>
              <span><%= format_time(journal.created_on) %></span>
            </div>
            <div class="avatar-and-balloon">
              <% unless mine %>
                <div class="avatar">
                  <%= avatar(journal.user) %>
                </div>
              <% end %>
              <div class="balloon">
                <% if journal.visible_details_without_check_list.any? %>
                  <ul class="details">
                    <% details_to_strings(journal.visible_details_without_check_list).each do |string| %>
                      <li><%= string %></li>
                    <% end %>
                  </ul>
                  <% if Setting.thumbnails_enabled? && (thumbnail_attachments = journal_thumbnail_attachments(journal)).any? %>
                    <div class="thumbnails">
                      <% thumbnail_attachments.each do |attachment| %>
                        <div><%= thumbnail_tag(attachment) %></div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
                <%= render_notes(message.content.issue, journal, reply_links: false) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="details-bottom">
      <%# https://github.com/redmine/redmine/blob/5.0.0/app/views/issues/_edit.html.erb#L1 -%>
      <%= labelled_form_for(message.content.issue, html: {id: 'issue-form', multipart: true}) do |f| %>
        <%- if respond_to?(:watchers_autocomplete_for_mention_path) %>
          <%# https://github.com/redmine/redmine/blob/5.0.1/app/views/issues/_form.html.erb#L56-L61 %>
          <%= heads_for_auto_complete(message.content.issue.project) %>
          <% if User.current.allowed_to?(:add_issue_watchers, message.content.issue.project) %>
            <%= update_data_sources_for_auto_complete(users: watchers_autocomplete_for_mention_path(project_id: message.content.issue.project, q: '', object_type: 'issue',
                                                                                                     object_id: message.content.issue.id)) %>
          <% end %>
        <%- end %>
        <%# https://github.com/redmine/redmine/blob/5.0.1/app/views/issues/_edit.html.erb#L32-L36 %>
        <%= f.text_area(:notes, rows: 1, no_label: true, data: { auto_complete: true }, placeholder: t(:notes_placeholder)) %>
        <%= f.hidden_field(:lock_version) %>
        <%= hidden_field_tag(:last_journal_id, message.content.issue.last_journal_id) %>
        <%= hidden_field_tag(:back_url, lychee_message_box_my_box_path(message_id: message.id)) %>
        <%= f.submit(l(:button_submit)) %>
      <% end %>
    </div>
  </div>
</div>
