<script>
!function() {
  var restDays = <%=raw_json rest_days %>;
  var proto = LGC.Gantt.prototype;
  var fn = proto.isNonWorkingDay;

  proto.isNonWorkingDay = function(date) {
    return fn.call(this, date) || _.include(restDays, _.toDateString(date));
  };
}();
</script>
