<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <title>LGC to PDF</title>
  <%= stylesheet_link_tag 'application' %>
  <% if Rails.env.production? %>
    <%= stylesheet_link_tag 'pdf.min', plugin: 'lgc' %>
  <% else %>
    <%= stylesheet_link_tag 'pdf', plugin: 'lgc' %>
  <% end %>

  <style>
    .pdf-page {
      width: <%= document.width %>px;
      height: <%= document.height - 2 %>px; <%# 2px減らさないと微妙にはみ出して空白ページが出来る %>
      padding: <%= document.margin_top %>px
               <%= document.margin_right %>px
               <%= document.margin_bottom %>px
               <%= document.margin_left %>px;
    }

    <%
      # ** 謎のズレを修正 **
      #
      # 前提として、（おそらく）仕様でテキストがページをまたぐとき、
      # テキストが見きれないように次ページの開始位置へ自動調整される。
      #
      # このテキスト位置の調整は、なぜかtransform前に実行されるため、
      # 縮小前の改ページ位置にあるテキストがズレて見えることになる。
      #
      # 以上の現象を回避するため、
      # ・改ページの計算時はテキストを改ページ不要な位置に移動（negative marginTop）
      # ・改ページの計算後にテキストを通常位置に戻す（transform:translateY）
      # という神ハックを用いる。
    %>
    .pdf-page-inner {
      margin-top: -<%= context.document.height %>px;
      -webkit-transform: translateY(<%= context.document.height %>px);
    }

    .lgc-gantt {
      width: <%= context.width %>px;
      -webkit-transform: scale(<%= context.scale_ratio %>);
      -webkit-transform-origin: 0 0;
    }

    .lgc-header {
      width: <%= context.inner_width %>px;
    }
    .lgc-grid {
      width: <%= grid.container_width %>px;
    }
    .lgc-grid-item {
      width: <%= grid.width %>px;
    }
    .lgc-chart,
    .lgc-annotation-container {
      width: <%= grid.total_width %>px;
    }

    <% context.params.column_widths_by_name.each do |name, width| %>
      [data-column="<%= name.to_s.camelize(:lower) %>"] { width: <%= width %>px; }
    <% end %>

    <% rows.map { |h| h['depth'] || 0 }.uniq.sort.each do |depth| %>
      .lgc-row__d<%= depth %> [data-column="subject"] .lgc-column-cell::before { margin-left: <%= 16 * depth %>px; }
      .lgc-row__d<%= depth %> .lgc-row-collapsible-icon { left: <%= 16 * depth %>px; }
    <% end %>
  </style>
</head>
<body class="lgc-zoom__<%= grid.type %>"
      data-draw-status-color="<%= @query.draw_status_color? ? 1 : 0 %>">

<div id="pdf-header" class="lgc-document-header">
  <div class="lgc-document-header-left">
    <%= simple_format(context.params.header_left) %>

    <% if context.params.draw_project_name? %>
      <h2 class="lgc-document-header-projectName"><%= @project.try(:name) %></h2>
    <% end %>
  </div>

  <div class="lgc-document-header-center">
    <%= simple_format(context.params.header_center) %>
  </div>

  <div class="lgc-document-header-right">
    <% if context.params.draw_date? %>
      <div class="lgc-document-header-date">
        <p><%= I18n.l(User.current.today, format: :long) %></p>
      </div>
    <% end %>

    <%= simple_format(context.params.header_right) %>
  </div>
</div>

<script type="text/html" id="pdf-page-template" style="display: none">
  <div class="pdf-page-inner">
    {{{ beforeContentHtml }}}
    <div class="lgc-gantt">
      <div class="lgc-header">
        <div class="lgc-header-columns lgc-columns">
          <% context.list_columns.each do |column| %>
            <div class="lgc-header-column lgc-column" data-column="<%= column.name.to_s.camelize(:lower) %>">
              <span class="lgc-header-column-cell lgc-column-cell"><%= column.caption %></span>
            </div>
          <% end %>
        </div>

        <div class="lgc-header-grid lgc-grid" style="width: <%= grid.container_width %>px">
          <% grid.each_sorted_typed_items do |typed_items| %>
            <div class="lgc-header-grid-row">
              <% typed_items.each do |typed_item| %>
                <div class="<%= typed_item.class_names %>"
                     style="width: <%= typed_item.size * grid.width %>px">
                  <%= typed_item.label %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="lgc-body lgc-stripe">
        {{{ beforeGanttBodyHtml }}}
        <div class="lgc-svg">
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0, {{ pageOffsetTop }}, <%= grid.total_width %>, {{ totalRowHeight }}"
               width="<%= grid.total_width %>"
               height="{{ totalRowHeight }}">{{{ svgString }}}</svg>
        </div>
        <div class="lgc-dataTable">{{{ treeHtml }}}</div>
        <div class="lgc-chart">{{{ chartHtml }}}</div>
        <div class="lgc-chart-grid">
          <% grid.items.each do |item| %>
            <div class="<%= item.class_names %>"></div>
          <% end %>
        </div>
        {{{ afterGanttBodyHtml }}}
      </div>
    </div>
    {{{ afterContentHtml }}}
  </div>
</script>

<% if Rails.env.production? %>
  <%= javascript_include_tag 'pdf.min', plugin: 'lgc' %>
<% else %>
  <%= javascript_include_tag 'pdf', plugin: 'lgc' %>
<% end %>

<script>
PDF.render(document.body,
           document.getElementById('pdf-header'),
           <%= rows.to_json.html_safe %>,
           document.getElementById('pdf-page-template').innerHTML,
           <%= context.rendering_options.to_json.html_safe %>);
</script>

</body>
</html>
