<%=  stylesheet_link_tag 'lychee_ccpm', plugin: 'lychee_ccpm' %>
<%
  calc_project_buffer_days_options = {
    class: 'calculate_buffer_days',
    data: {
      path: calc_buffer_days_project_ccpm_path(@project),
      buffer_start_date_target: 'project_buffer_start_date',
      buffer_days_target: 'project_ccpm_buffer_days',
      operating_days_target: 'project_ccpm_operating_days',
      effective_date_target: 'ccpm_project_end_date',
      buffer_percentage_target: 'project_ccpm_buffer_percentage',
      error_message: l(:error_calc_buffer_days_message),
    }
  }
  reflect_project_buffer_start_date_data = {
    path: reflect_project_critical_path_project_ccpm_path(@project),
    buffer_start_date_target: "project_buffer_start_date",
    effective_date_target: "ccpm_project_end_date",
    buffer_days_target: "project_ccpm_buffer_days",
    buffer_percentage_target: "project_ccpm_buffer_percentage",
    error_message: l(:error_reflect_project_critical_path_message)
  }
  calc_project_buffer_start_date_by_percentage = {
    class: 'calculate_buffer_start_date',
    data: {
      path: calc_buffer_start_date_project_ccpm_path(@project),
      buffer_start_date_target: 'project_buffer_start_date',
      buffer_days_target: 'project_ccpm_buffer_days',
      effective_date_target: 'ccpm_project_end_date',
      operating_days_target: 'project_ccpm_operating_days',
      buffer_percentage_target: 'project_ccpm_buffer_percentage',
      error_message: l(:error_calc_buffer_start_date_message),
    }
  }

  project_ccpm_form_option = {
    method: :patch,
    id: 'project_ccpm_form',
    data: {
      check_warning_path: check_warning_project_ccpm_path(@project),
      check_warning_error_message: l(:error_unknown)
    }
  }

  setting = LycheeCcpm::SettingForm.new(@project)
%>
<%= form_tag project_ccpm_path(@project), project_ccpm_form_option do %>
  <fieldset id="ccpm_project_infomation" class="box tabular">
    <legend><%= t(:label_project_information) %></legend>
    <p>
      <label><%= t(:label_project) %></label>
      <span class="ccpm_term_setting ccpm_setting_header">
        <%= t(:label_project_term) %>
      </span>
      <span class="ccpm_setting_header">
        <%= t(:label_buffer_start_date) %>
      </span>
    </p>
    <p>
      <label><%= @project.name %></label>
      <span class="ccpm_term_setting">
        <% if setting.project.term.start_date.present? %>
          <%= format_date(setting.project.term.start_date) %>
        <% end %> ~
        <%= date_field_tag 'lychee_ccpm_setting_form[project_term_end_date]', setting.project.term.end_date, calc_project_buffer_days_options.merge(id: 'ccpm_project_end_date') %>
        <%= calendar_for('ccpm_project_end_date') %>
        <span id="project_calculate_about_days">
          (<span id="project_ccpm_operating_days" class="operating_days">
            <%= @project.ccpm_operating_days %>
          </span>
          <%= t(:label_operating_day_unit) %>)
        </span>
      </span>
        <%= date_field_tag 'lychee_ccpm_setting_form[project_ccpm_buffer_start_date]', setting.project.ccpm.buffer_start_date, calc_project_buffer_days_options.merge(id: :project_buffer_start_date) %>
        <%= calendar_for('project_buffer_start_date') %>
        <span id="project_calculate_about_days">
          (<span id="project_ccpm_buffer_days" class="buffer_days">
            <%= @project.ccpm_buffer_days %>
          </span>
          <%= t(:label_buffer_day_unit) %>
          :<%= t(:label_buffer_percentage) %>
          <%= number_field_tag 'lychee_ccpm_setting_form[project_ccpm_buffer_percentage]', calculate_project_buffer_percentage(@project), calc_project_buffer_start_date_by_percentage.merge(id: 'project_ccpm_buffer_percentage', style: 'width:6em', step: '0.01') %>
          % )
        </span>
      <%= button_tag t(:label_reflect_critical_path_last_date),
        type: 'button',
        class: 'reflect_critical_path',
        data: reflect_project_buffer_start_date_data %>
    </p>
  </fieldset>

  <% if setting.versions.present? %>
    <fieldset id="ccpm_version_settings" class="box tabular">
      <legend><%= l(:label_project_version) %></legend>
      <p>
        <label><%= t(:label_project_version) %></label>
        <span class="ccpm_term_setting ccpm_setting_header">
          <%= t(:label_version_term) %>
        </span>
        <span class="ccpm_setting_header">
          <%= t(:label_buffer_start_date) %>
        </span>
      </p>
      <% setting.versions.each.with_index do |version, index| %>
        <% calc_buffer_days_options = {
             class: 'calculate_buffer_days',
             data: {
               path: calc_version_buffer_days_project_ccpm_path(@project, version_id: version.id),
               buffer_start_date_target: "versions_#{index}_buffer_start_date",
               buffer_days_target: "version_ccpm_buffer_days_#{index}",
               operating_days_target: "version_ccpm_operating_days_#{index}",
               effective_date_target: "versions_#{index}_effective_date",
               buffer_percentage_target: "version_ccpm_buffer_percentage_#{index}",
               error_message: l(:error_calc_buffer_days_message)
             }
           }
           calc_buffer_start_date_by_percentage = {
             class: 'calculate_buffer_start_date',
             data: {
               path: calc_version_buffer_start_date_project_ccpm_path(@project, version_id: version.id),
               buffer_start_date_target: "versions_#{index}_buffer_start_date",
               buffer_days_target: "version_ccpm_buffer_days_#{index}",
               operating_days_target: "version_ccpm_operating_days_#{index}",
               effective_date_target: "versions_#{index}_effective_date",
               buffer_percentage_target: "version_ccpm_buffer_percentage_#{index}",
               error_message: l(:error_calc_buffer_start_date_message),
             }
           }
         %>
       <%= hidden_field_tag "lychee_ccpm_setting_form[versions][#{index}][version_id]", version.id  %>
        <p>
          <label>
            <% if version.project.present? && version.project != @project %>
              <%= version.project.name %> -
            <% end %>
            <%= version.name %>
          </label>
          <span class="ccpm_term_setting">
            <% if Redmine::Plugin.installed?(:lychee_version_start_date) && version.start_date.present? %>
              <%= format_date(version.start_date) %>
            <% end %> ~
            <%= date_field_tag "lychee_ccpm_setting_form[versions][#{index}][effective_date]", version.effective_date, calc_buffer_days_options.merge(id: "versions_#{index}_effective_date") %>
            <%= calendar_for("versions_#{index}_effective_date") %>
            <span id="version_calculate_about_days_<%= index %>">
              (<span id="version_ccpm_operating_days_<%= index %>" class="operating_days">
                <%= version.ccpm_operating_days %>
              </span>
              <%= t(:label_operating_day_unit) %>)
            </span>
          </span>
          <% version_ccpm = version.ccpms.find_or_initialize_by(project: @project) %>
          <%= date_field_tag "lychee_ccpm_setting_form[versions][#{index}][buffer_start_date]", version_ccpm.buffer_start_date, calc_buffer_days_options.merge(id: "versions_#{index}_buffer_start_date") %>
          <%= calendar_for("versions_#{index}_buffer_start_date") %>
          <span id="version_calculate_about_days_<%= index %>">
            (<span id="version_ccpm_buffer_days_<%= index %>" class="buffer_days">
              <%= version.ccpm_buffer_days(@project) %>
            </span>
            <%= t(:label_buffer_day_unit) %>
            :<%= t(:label_buffer_percentage) %>
            <%= number_field_tag "lychee_ccpm_setting_form[versions][#{index}][project_ccpm_buffer_percentage]", calculate_version_buffer_percentage(@project, version), calc_buffer_start_date_by_percentage.merge(id: "version_ccpm_buffer_percentage_#{index}", style: 'width:6em', step: '0.01') %>
            % )
          </span>
          <%= button_tag t(:label_reflect_critical_path_last_date),
            type: 'button',
            class: 'reflect_critical_path',
            id: "reflect_version_critical_path_#{index}",
            data: {
              path: reflect_version_critical_path_project_ccpm_path(@project, version_id: version.id),
              buffer_start_date_target: "versions_#{index}_buffer_start_date",
              effective_date_target: "versions_#{index}_effective_date",
              buffer_days_target: "version_ccpm_buffer_days_#{index}",
              buffer_percentage_target: "version_ccpm_buffer_percentage_#{index}",
              error_message: l(:error_reflect_version_critical_path_message, name: version.name)
            } %>
        </p>
      <% end %>
    </fieldset>
  <% end %>
  <fieldset id="ccpm_fever_chart" class="box tabular">
    <legend><%= l(:label_fever_chart) %></legend>
    <p>
      <label>
        <%= l(:label_setting_threshold) %>
      </label>
      <table>
        <tr>
          <td rowspan="4" class="buffer_consumption_rate_td">
            <p id="label_buffer_consumption_rate">
              <%= l(:label_buffer_consumption_rate) %>
            </p>
          </td>
          <td>
          </td>
          <td rowspan="3" class="fever_chart_sample">
            <canvas id="fever_chart_setting" width="150px" height="100px"></canvas>
          </td>
          <td>
            <%= text_field_tag 'lychee_ccpm_setting_form[danger_threshold_at_end]', setting.project.ccpm.danger_threshold_at_end, id: :project_danger_threshold_at_end, size: 3 %>
          </td>
          <td rowspan="2">
            <span class="graph_guide_danger"><%= l(:label_circle) %></span><%= l(:label_danger_zone) %> <br />
            <span class="graph_guide_warning"><%= l(:label_circle) %></span><%= l(:label_warning_zone) %> <br />
            <span class="graph_guide_safe"><%= l(:label_circle) %></span><%= l(:label_safe_zone) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= text_field_tag 'lychee_ccpm_setting_form[danger_threshold_at_start]', setting.project.ccpm.danger_threshold_at_start, id: :project_danger_threshold_at_start, size: 3 %>
          </td>
          <td>
            <%= text_field_tag 'lychee_ccpm_setting_form[warning_threshold_at_end]', setting.project.ccpm.warning_threshold_at_end, id: :project_warning_threshold_at_end, size: 3 %>
          </td>
        </tr>
        <tr>
          <td>
            <%= text_field_tag 'lychee_ccpm_setting_form[warning_threshold_at_start]', setting.project.ccpm.warning_threshold_at_start, id: :project_warning_threshold_at_start, size: 3 %>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td class="label_start">
            <%= l(:label_start) %><br />
            0%
          </td>
          <td class="graph_description">
            <%= l(:label_progress_rate_in_target_term) %>
          </td>
          <td>
            <%= l(:label_complete) %><br />
            100%
          </td>
          <td>
          </td>
        </tr>
      </table>
    </p>
  </fieldset>
  <fieldset id="ccpm_execute_task_setting" class="box">
    <legend><%= l(:label_task_settings) %></legend>
    <p>
      <%= hidden_field_tag 'lychee_ccpm_setting_form[task_calculate_due_date_enabled]', false %>
      <%= check_box_tag 'lychee_ccpm_setting_form[task_calculate_due_date_enabled]', "true", setting.project.ccpm.task_calculate_due_date_enabled, id: :project_task_calculate_due_date_enabled %>
      <label for='project_task_calculate_due_date_enabled'><%= l(:label_task_calculate_due_date_enabled) %></label>
    </p>
  </fieldset>
  <%= submit_tag l(:button_save) %>
<% end %>

<%= javascript_tag do %>
  var canvas = document.getElementById('fever_chart_setting');
  var drawPolygon = function(context, fillStyle) {
    context.beginPath();
    context.moveTo(arguments[2][0], arguments[2][1]);
    for(var i=3; i<arguments.length; i++) {
      var point = arguments[i];
      context.lineTo(point[0], point[1]);
    }
    context.fillStyle = fillStyle;
    context.fill();
  }
  if(canvas.getContext){
    var context = canvas.getContext('2d');
    <%# danger %>
    drawPolygon(context, '<%=j LycheeCcpm::FeverChartHelper::COLOR[:danger] %>', [0, 0], [0, 50], [150, 20], [150, 0]);
    <%# warning %>
    drawPolygon(context, '<%=j LycheeCcpm::FeverChartHelper::COLOR[:warning] %>', [0, 50], [0, 80], [150, 50], [150, 20]);
    <%# safe %>
    drawPolygon(context, '<%=j LycheeCcpm::FeverChartHelper::COLOR[:safe] %>', [0, 80], [0, 100], [150, 100], [150, 50]);
  }
<% end %>

<%= javascript_include_tag('lychee_ccpm_project_settings', plugin: 'lychee_ccpm') %>
