<% if current_page?(controller: 'projects', action: 'index') && User.current.logged? %>
  <div id="favorite-project-wrapper">
    <h3>
      <span class="tree-expander tree-expander-expanded"></span>
      <%= t(:label_favorite_projects) %>
    </h3>
    <div class="favorite-project-container autoscroll" data-project-favorites-path="<%= project_favorites_path %>">
      <% if available_favorite_projects.empty? %>
        <p class="nodata"><%= l(:label_no_data) %></p>
      <% else %>
        <%= render template: 'project_favorites/index' %>
      <% end %>
    </div>
  </div>
  <%= javascript_tag do %>
    $(function(){
      $('#query_form').before($('#favorite-project-wrapper'));

      <%#
        見出し(Redmine4.1以降かつカスタムクエリを選択 -> カスタムクエリ名、それ以外 -> 固定値)
        を画面上部ではなく、クエリフォームのフィルタ上部に表示する。
      %>
      <%-
        query_form_heading = j(
          @query.persisted? ? @query.name : l(:label_project_plural)
        ).html_safe
      -%>
      $('#content > h2').remove();

      $('#filters').before($('<h2>', { text: "<%= query_form_heading %>" }));

      // フィルタ/オプション、ページ切り替え時はフィルタ/オプションが一番上にくるようにする
      $('form#query_form').each(function(){
        $(this).attr('action', $(this).attr('action') + '#query_form')
      });
      $('.pagination li.page a, #sidebar a.query').each(function(){
        $(this).attr('href', $(this).attr('href') + '#query_form')
      });
    });
  <% end %>

  <%= lychee_project_view_javascript_include_tag %>
  <%= stylesheet_link_tag 'project_list', plugin: :lychee_project_view %>
  <%= stylesheet_link_tag 'quick_links', plugin: :lychee_project_view %>
<% end %>
<% if params[:controller] == 'queries' &&
      %w[new edit].include?(params[:action]) &&
      @query.is_a?(LycheeProjectView::ProjectQuery) %>
  <%= javascript_tag do %>
    $(function(){
      $('#query_visibility_1, #query_is_for_all').parent().remove();
      $('label.role-visibility').remove();
      <% if LycheeProjectView.less_than_redmine_4_1? && @query && @query.available_block_columns.empty? %>
        // Redmine 4.0以下では`Query#available_block_columns`がない時`表示ラベル`を表示しない条件がありません。
        $("#options p:contains('<%= l(:button_show) %>')").hide();
      <% end %>
    });
  <% end %>
<% end %>
<% if !LycheeProjectView.less_than_redmine_4_1? && controller_name == 'settings' && action_name.in?(%w[index edit]) %>
  <span id="lychee-project-view-query-columns">
    <%= render_query_columns_selection(LycheeProjectView::ProjectQuery.new(Setting.project_list_defaults), name: 'settings[project_list_defaults][column_names]') %>
  </span>
  <%= javascript_tag do %>
    $(function() {
      $('#tab-content-projects fieldset.box legend').filter(function(){
        return $(this).text() == "<%=  I18n.t('setting_project_list_defaults') %>";
      }).siblings('.query-columns').html($('#lychee-project-view-query-columns'));

      $('#setting_project_list_display_type_board').parents('p').hide();
    });
  <% end %>
<% end %>
