<% if LycheeProjectView.less_than_redmine_4_1? && User.current.logged? %>
  <div class="lpv-contextual-favorite-button-container" style="display: none">
    <%= project_favorite_link(project, User.current.favorite?(project)) %>
  </div>

  <%= lychee_project_view_javascript_include_tag %>
  <%= stylesheet_link_tag 'project', plugin: :lychee_project_view %>
<% end %>
