<div id="users-content">
  <p><%= link_to l(:label_user_new), new_cost_group_user_path(cost_group), remote: true, class: "icon icon-add" %></p>

  <% if cost_group.users.present? %>
    <table class="list users">
      <thead><tr>
        <th><%= l(:label_user) %></th>
        <th style="width:15%"></th>
      </tr></thead>
      <tbody>
      <% cost_group.users.sort.each do |user| %>
        <tr id="user-<%= user.id %>">
          <td class="name"><%= link_to_user user %></td>
          <td class="buttons">
            <%= delete_link cost_group_user_path(cost_group, user) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>
