<%= title [CostGroup.model_name.human, cost_groups_path], @cost_group.name %>

<%= labelled_form_for @cost_group, url: cost_group_path(@cost_group) do |f| %>
<%= render partial: "form", locals: { f: f, cost_group: @cost_group } %>
<p>
  <%= submit_tag l(:button_save) %>
</p>
<% end %>

<hr />

<%= render partial: "users", locals: { cost_group: @cost_group } %>
