<div class="contextual">
<%= link_to l(:label_cost_group_new), new_cost_group_path, class: 'icon icon-add' %>
</div>

<%= title CostGroup.model_name.human %>

<% if @cost_groups.any? %>
  <div class="autoscroll">
    <table class="list groups">
      <thead>
        <tr>
          <th><%=l(:label_cost_group)%></th>
          <th><%=l(:label_hourly_wage)%></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @cost_groups.each do |group| %>
      <tr id="group-<%= group.id %>">
        <td class="name"><%= link_to group.name, edit_cost_group_path(group) %></td>
        <td class="hourly_wage"><%= number_with_delimiter(group.hourly_wage) %></td>
        <td class="buttons"><%= delete_link group %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
