<%= title [CostGroup.model_name.human, cost_groups_path], l(:label_cost_group_new) %>

<%= labelled_form_for @cost_group do |f| %>
<%= render partial: "form", locals: { f: f, cost_group: @cost_group } %>
<p>
  <%= f.submit l(:button_create) %>
</p>
<% end %>
