<script>
  LGC.IssueDetailAttributesView.prototype.behaviors.IssueDatetimeIssueDetailAttributes = {
    unit: {
      hour: "<%= t('lychee_issue_datetime.hour') %>",
      minute: "<%= t('lychee_issue_datetime.minute') %>"
    }
  };
</script>
