<fieldset id="dateTimeRange">
  <legend><%= t('lychee_issue_datetime.query_date_legend') %></legend>
  <input id="lgc-query-date" type="text" name="date" size="10" class="lgc-form-date" value="<%= query.date %>">
</fieldset>

<script>
!function($) {
  $('#lgc-query-date').datepicker($.extend({}, datepickerOptions, {showWeek: false}));
}(jQuery);
</script>
