.wrapper-class {
  padding: 0px;
}
.editor-class {
  /* background-color:lightgray; */
  padding: 0px;
  border: 1px solid #ccc;
}

.toolbar-class {
  height: 20px;
}

.icons-toolbar-class {
  height: 16px;
  padding: 0px;
}
