<div class="tabs">
  <ul>
    <li><%= link_to l(:label_required_custom_field), buf = required_custom_fields_path, select_current_tab(buf) %></li>
    <li><%= link_to l(:label_invisible_custom_field_enumeration), buf = invisible_custom_field_enumerations_path, select_current_tab(buf) %></li>
    <li><%= link_to l(:label_custom_field_setting_state), buf = custom_field_setting_state_index_path, select_current_tab(buf) %></li>
  </ul>
</div>

<%= javascript_include_tag 'custom_field_linkage_settings', plugin: :lychee_custom_field %>
<%= javascript_tag do %>
  CustomFieldLinkageSettings.setBeforeTabChangeConfirm('<%= l(:are_you_sure_it_is_not_saved) %>');
<% end %>
