<%= title l(:label_custom_field_linkage_settings) %>

<%= render partial: 'required_custom_fields/tabs' %>

<p><%=l(:text_required_custom_field_edit)%>:</p>

<%= form_tag({}, method: :get) do %>
  <p>
    <label>
      <%=l(:label_source_custom_field)%>:
      <%= select_tag 'custom_field_id', options_from_collection_for_select(@key_value_lists, :id, :name, @custom_field.try(:id)) %>
    </label>
    <%= submit_tag l(:button_edit), name: nil %>
  </p>
<% end %>

<% if @custom_field.present? %>
  <%= form_tag(bulk_update_required_custom_fields_path, method: :patch, class: :custom_field_linkage_setting) do %>
    <%= hidden_field_tag 'custom_field_id', @custom_field.id %>
    <div class="autoscroll">
    <table class="list">
      <thead>
        <tr>
          <th><%=l(:label_source_custom_field_list)%></th>
          <th colspan="<%= @other_custom_fields.count %>"><%=l(:label_choice_required_custom_field)%></th>
        </tr>
        <tr>
          <td></td>
          <% @other_custom_fields.each do |custom_field| %>
            <td style="width: <%= 75 / @other_custom_fields.count %>%;">
              <%= custom_field.name %>
            </td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @enumerations.each do |enumeration| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td class="name"><%= enumeration.name %></td>
            <% @other_custom_fields.each do |custom_field| %>
              <td>
                <%= select_tag(
                  "required_custom_field[#{custom_field.id}][#{enumeration.id}]",
                  options_for_select(
                    { l(:label_not_required) => '0', l(:label_required) => '1' },
                    selected_value(custom_field, enumeration)
                  )
                ) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <%= submit_tag l(:button_save) %>
  <% end %>
<% end %>
