<%= render('lychee_message_box/header',
           selected: :my_box,
           mark_as_read_path: mark_as_read_lychee_message_box_my_box_path) %>

<%= render('lychee_message_box/message_box',
           messages_type: :issue_update,
           messages_path: lychee_message_box_my_box_messages_path,
           has_more_messages: @has_more_messages) do %>
  <%= render('lychee_message_box_my_box/messages/issue_update_summaries', messages: @messages) %>
<% end %>

<%= stylesheet_link_tag 'index', plugin: :lychee_message_box %>
<%= javascript_include_tag 'index', plugin: :lychee_message_box %>
