<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'animate.min', plugin: 'lychee_issue_spread_sheet' %>
  <%= stylesheet_link_tag 'noty', plugin: 'lychee_issue_spread_sheet' %>
  <%= javascript_include_tag 'noty.min', plugin: 'lychee_issue_spread_sheet' %>
  <%= javascript_include_tag 'notification', plugin: 'lychee_issue_spread_sheet' %>

  <%= stylesheet_link_tag 'lychee_issue_spread_sheet', plugin: 'lychee_issue_spread_sheet' %>
  <%= javascript_include_tag 'lychee_issue_spread_sheet', plugin: 'lychee_issue_spread_sheet' %>
<% end %>

<div style="display: none;" data-allowed-edit-issue-spread-sheet-url="<%= allowed_edit_issue_spread_sheet_path %>"></div>
<div style="display: none;" data-issue-spread-sheet-url="<%= issue_spread_sheet_path %>"></div>
<div style="display: none;" data-project-id="<%= @project.try(:id) %>"></div>
<div style="display: none;" data-setting-done-ratio="<%= Setting.try(:issue_done_ratio) %>"></div>
<div style="display: none;" data-date-format="<%= LycheeIssueSpreadSheet::Setting.date_format_to_js %>"></div>
<div style="display: none;" data-visible-block-columns-caption="<%= query.block_columns.count > 1 %>"></div>
