<%
  manifest = JSON.parse(File.read(File.join(LycheeGantt.plugin.assets_directory, 'bundle', '.vite', 'manifest.json')))
  main_manifest = manifest[name]
  assets_root_url = "/plugin_assets/#{LycheeGantt::PLUGIN_ID}/bundle"
%>

<% content_for :header_tags do %>
  <% (main_manifest['css'] || []).each do |filename| %>
    <%= stylesheet_link_tag "#{assets_root_url}/#{filename}" %>
  <% end %>
<% end %>

<%= javascript_include_tag "#{assets_root_url}/#{main_manifest['file']}", type: 'module' %>
