<%= form_tag update_active_shared_layouts_project_reports_path, method: :patch  do %>
  <div class="autoscroll">
    <table class="list">
      <thead>
        <tr>
          <th><span><%= l(:field_project) -%></span></th>
          <% @shared_layouts.each do |shared_layout| %>
           <th>
              <%= link_to '', '#', title: "#{l(:button_check_all)}/#{l(:button_uncheck_all)}", class: 'icon-only icon-checked', data: { check_all_for: shared_layout.id } %> <!-- 一括チェック (active_shared_layouts.js) -->
              <span><%= shared_layout.name %></span>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <% level =  @project_tree[project.id] %>
          <tr class="<%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
            <td class='name'>
              <span><%= project.name %></span>
              <%= hidden_field_tag "project_active_shared_layouts[#{project.id}][]", '' %> <!-- チェックボックスが全部外している場合の対応 -->
            </td>
            <% @shared_layouts.each do |shared_layout| %>
              <% hidden = @project_hidden_layouts.hidden? project, shared_layout %>
              <td>
                <%= check_box_tag "project_active_shared_layouts[#{project.id}][]", shared_layout.id, !hidden, id: nil %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span class="pagination">
    <%= pagination_links_full(@projects_pages, @projects_count) do |text, parameters, options|
          link_to(text, { params: request.query_parameters.merge(parameters).merge(tab: :project) }, options)
        end %>
  </span>
  <%= submit_tag l(:button_save) %>
<% end %>
