
<%= form_tag update_active_shared_layouts_project_reports_path, method: :patch do %>
  <div class="autoscroll">
    <table class="list">
      <thead>
        <tr>
          <th><span><%= l(:field_project) -%></span></th>
          <th><span><%= l(:field_version) -%></span></th>
          <% @shared_layouts.each do |shared_layout| %>
            <th>
              <%= link_to '', '#', title: "#{l(:button_check_all)}/#{l(:button_uncheck_all)}", class: 'icon-only icon-checked', data: { check_all_for: shared_layout.id } %> <!-- 一括チェック (active_shared_layouts.js) -->
              <span><%= shared_layout.name %></span>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @versions.each do |version| %>
          <tr>
            <td class='name'>
              <span><%= version.project.name %></span>
            </td>
            <td class='name'>
              <span><%= version.name %></span>
              <%= hidden_field_tag "version_active_shared_layouts[#{version.id}][]", '' %> <!-- チェックボックスが全部外している場合の対応 -->
            </td>
            <% @shared_layouts.each do |shared_layout| %>
              <% hidden = @version_hidden_layouts.hidden? version, shared_layout %>
              <td>
                <%= check_box_tag "version_active_shared_layouts[#{version.id}][]", shared_layout.id, !hidden, id: nil %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span class="pagination">
    <%= pagination_links_full(@versions_pages, @versions_count) do |text, parameters, options|
          link_to(text, { params: request.query_parameters.merge(parameters).merge(tab: :version) }, options)
        end %>
  </span>
  <%= submit_tag l(:button_save) %>
<% end %>
