<div class="contextual">
  <%= link_to l(:label_project_reports), project_reports_path %>
</div>
<h3><%= l(:label_project_report_shared_report_settings) -%></h3>

<%= render_tabs report_settings_tabs %>

<%= stylesheet_link_tag 'lychee_project_report', plugin: :lychee_project_report %>
<%= javascript_include_tag 'active_shared_layouts', plugin: :lychee_project_report %>
