<% content_for :header_tags do %>
  <%= stylesheet_link_tag "lychee_project_report", plugin: :lychee_project_report %>
<% end %>
<%
  @project.build_project_manager if @project.project_manager.blank?
  @project.build_term if @project.term.blank?
  @project.build_project_daily_report_setting if @project.project_daily_report_setting.blank?
%>

<%= form_for @project, url: { controller: 'lychee_project_report/projects', action: 'update' } do |f| %>
  <%= error_messages_for 'project' %>

  <div class="box tabular">
    <%= f.fields_for :project_daily_report_setting do |daily_report_setting_f| %>
      <p>
        <%= daily_report_setting_f.label :use_global_reporting_cwday %>
        <%= daily_report_setting_f.check_box :use_global_reporting_cwday %>
      </p>
      <p>
        <%= daily_report_setting_f.label :reporting_cwday %>
        <%= daily_report_setting_f.select :reporting_cwday,
                                          options_for_select(
                                            (1..7).map { |cwday| [day_name(cwday), cwday] },
                                            @project.project_daily_report_setting.reporting_cwday
                                          ),
                                          include_blank: true %>
        <em class="info"><%= l(:text_report_weeklydata) %></em>                           
      </p>
    <% end %>
  </div>
  <%= submit_tag l(:button_save) %>
<% end %>
<%= javascript_tag do %>
  $(function(){
    $('#project_project_daily_report_setting_attributes_use_global_reporting_cwday').on('change', function(){
      $('#project_project_daily_report_setting_attributes_reporting_cwday').attr('disabled', $(this).prop('checked'));
    }).change();
  });
<% end %>
