.container {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 48px;
  white-space: nowrap;
  width: 100%;
}

.container > div {
  flex-shrink: 0;
}

.container > div + div {
  margin-left: 8px;
}
