.tailwind,
#headlessui-portal-root {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .wiki ul {
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-inline-start: 40px;
  }
  .wiki ol {
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-inline-start: 40px;
  }
  .wiki blockquote {
    border-left: 3px solid #e0e0e0;
  }
}

@media screen and (min-width: 900px) {
  #header {
    display: none;
  }
}
