#admin-menu .lychee-icon {
  background-image: url('../images/lychee-icon.svg');
}

#main-menu .lychee-icon:before,
#main-menu .lychee-icon.selected:before,
.flyout-menu .lychee-icon:before,
.flyout-menu .lychee-icon.selected:before {
  content: url('../images/lychee-icon.svg');
  margin-right: 3px;
  display: inline-block;
}

#top-menu .lychee-icon:before {
  content: url('../images/lychee-icon.svg');
  margin-right: 3px;
  position: relative;
  top: 1px;
  float: left;
}
